<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<style type="text/css">
#swap_button{margin:2px}.coin-logo img{text-align:center}.coin-info a{margin:5px 0}.up_change{color:#093}.down_change{color:#d14836}.text-large{font-size:28px;line-height:1.1}.text-gray{color:gray}#chuyen_doi{text-align:center;margin-top:20px}#chuyen_doi li{width:25%}#from_coin,#to_coin{margin:0}#main #coin-table{margin:5px 0 0}#coin-table th,#coin-table td{padding:7px}#coin-table tr:last-child th,#coin-table tr:last-child td{padding-bottom:5px}#gia_vang_the_gioi{height:500px}@media screen and (max-width:767px){#coin-table tr th{width:140px}.coin-logo{display:block;float:left;width:30%;padding-top:10px}.coin-info{float:left;width:70%;margin-bottom:10px}.coin-info h2{font-size:28px;margin-top:5px;margin-bottom:0}}
</style>
<div style="margin:15px 0;"></div><article class="col-xs-12">
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <div class="coin-logo">
            <img src="https://giacoin.com/assets/images/coins/128x128/1831.png" width="64" height="64" style="max-width: auto;max-height: auto;" alt="Bitcoin Cash (BCH)">
        </div>
        <div class="coin-info">
            <h2> Bitcoin Cash <small>(BCH)</small> </h2>
            <a class="btn btn-xs btn-success" href="https://webgia.com/tien-ao/" title="Bảng giá tiền ảo, tiền điện tử">Xếp hạng: 13</a>
            <br>
            <a class="btn btn-xs btn-danger" href="https://webgia.com/tien-ao/" title="Bảng giá tiền ảo, tiền điện tử">Xem các đồng khác</a>
            <br>
            <a class="btn btn-xs btn-info" href="#chuyen_doi" title="Công cụ máy tính chuyển đổi BCH sang VNĐ, ETH, BTC">Chuyển đổi sang VNĐ, ETH, BTC</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="coin-price">
            <span class="text-large" id="quote_price">$705.15</span> <span class="text-large text-green">(0.01%)</span>
            <br>
            <small class="text-gray">1 BCH = 0.01040593 BTC</small>
        </div>
        <table id="coin-table" class="table table-striped table-hover">
            <tbody><tr>
                <th>Quy đổi VNĐ</th>
                <td>
                    <strong class="text-primary">1 BCH = ~17,713,460 đồng</strong>
                    <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/coin.php?crypto=BCH" target="_blank" class="btn btn-xs btn-warning" title="Mua/bán Bitcoin Cash" rel="nofollow noopener"> Mua/bán Bitcoin Cash bằng VNĐ</a></strong>
                </td>
            </tr>
            <tr>
                <th>Vốn hóa thị trường</th>
                <td>$13,882,990,048</td>
            </tr>
            <tr>
                <th>Thanh khoản (24h)</th>
                <td>$1,791,345,998</td>
            </tr>
            <tr>
                <th>Tổng BCH hiện có</th>
                <td>19,687,894 BCH</td>
            </tr>
            <tr>
                <th>Dao động 1 giờ</th>
                <td><span class=" text-red"> -0.02%</span>
                </td>
            </tr>
            <tr>
                <th>Dao động 24 giờ</th>
                <td><span class=" text-green"> 0.01%</span>
                </td>
            </tr>
            <tr>
                <th>Dao động 7 ngày</th>
                <td><span class=" text-green"> 17.23%</span></td>
            </tr>
        </tbody></table>

    </div>
</div>
<p style="padding-top:20px;text-align: center; font-size: 16px;font-weight: bold;"><a href="https://accounts.binance.com/register?ref=20561802" target="_blank" style="color: red;">[Nhấn vào đây] Nhận Gói Voucher 600$ tại sàn BINANCE dành cho người mới.</a></p><div class="row">
    <div class="col-xs-12">
    <p style="padding-top:20px">Giá <strong>Bitcoin Cash (BCH)</strong> hôm nay là <strong>$705.15</strong> với khối lượng giao dịch trong 24 giờ là $1,791,345,998.</p>
    <p>Giá tăng 0.01% trong 24 giờ qua. Trong tuần vừa qua, giá Bitcoin Cash (BCH) đã tăng 17.23%.</p>
    </div>
</div>

<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section id="coin-live" style="margin-bottom: 2rem;">
    <h2 class="h-head">Biểu đồ giá Bitcoin Cash (BCH) - BCH/USD trực tiếp theo thời gian thực</h2>
    <div id="gia_vang_the_gioi" style="border-right:0;margin-bottom:20px;" class="text-center">
        <iframe id="coin_frame" src="https://webgia.com/widgets/coin_chart.php?ma=BINANCE:BCHUSDT" frameborder="0" width="100%" height="100%"></iframe>
        <p class="text-center">Xem biểu đồ <a href="https://vn.tradingview.com/chart/?symbol=BINANCE:BCHUSDT&amp;offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=cchart" title="Biểu đồ BCH nâng cao" target="_blank">Bitcoin Cash (BCH)</a> nâng cao, nhiều công cụ hơn tại <a href="https://vn.tradingview.com/chart/?symbol=BINANCE:BCHUSDT&amp;offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=cchart" title="TradingView" target="_blank"> TradingView</a></p>
    </div>
</section>
<section id="coin-historical">
    <h2 class="h-head">Biểu đồ lịch sử giá Bitcoin Cash (BCH)</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="charts-header">
                <div id="highcharts-loading" class="text-center" style="padding:50px 0"><a href="#" class="btn btn-primary show_coin_chart">Xem biểu đồ lịch sử giá Bitcoin Cash (BCH)</a><div><span class="loading-chart"></span></div></div>
                <div id="highcharts-nodata" class="hidden text-center">Không tìm thấy dữ liệu</div>
                <div class="clear"></div>
            </div>
            <div id="highcharts-graph"></div>
            Để đổi vùng xem biểu đồ, bấm chọn nút zoom:<br>
            <strong>1d</strong> Để xem biểu đồ <strong>1 ngày</strong>.
            <strong>7d</strong> để xem biểu đồ giá trong <strong>1 tuần</strong>.
            <strong>1m</strong> để xem biểu đồ giá trong <strong>1 tháng</strong>.
            <strong>3m</strong> để xem biểu đồ giá trong <strong>3 tháng</strong>.
            <strong>1y</strong> để xem biểu đồ giá trong <strong>1 năm</strong>.
            <strong>YTD</strong> để xem biểu đồ giá trong <strong>từ đầu năm (2024)</strong>.
            <strong>ALL</strong> để xem biểu đồ giá trong <strong>toàn thời gian</strong>.
            <div id="metadata" class="hidden" data-id="1831" data-slug="bitcoin-cash" data-name="Bitcoin Cash (BCH)" data-a="2000-01-01" data-e="1712378502" data-mobile="False"></div>
        </div>
    </div>
</section>

<div class="col-xs-12">
    <div class="source">Nguồn: Tổng hợp bởi <a href="https://webgia.com/" title="Webgia - Giá vàng, Tỷ giá ngoại tệ, Tỷ giá tiền ảo">Webgia.com</a> tại <a href="https://giacoin.com/" title="giacoin.com" target="_blank" rel="noopener">GiaCoin.com</a>, <a href="https://coinmarketsum.com/" title="Coin Market Sum" target="_blank" rel="noopener">CoinMarketSum.com</a></div>
</div></article>
<article id="main" class="col-xs-12 col-md-9">
<section>
    <h2 class="h-head">Công cụ chuyển đổi tiền Bitcoin Cash (BCH) sang VNĐ, USD, BTC</h2>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" id="chuyen_doi" role="tablist">
                <li role="presentation" class="active">
                    <a href="#vnd" id="BCH_VND" role="tab" data-toggle="tab" aria-controls="vnd" aria-expanded="true" data-t="VND" data-r="17713459.57225" data-i="https://webgia.com/img/vn.png">
                        <img src="https://webgia.com/img/vn.png" width="16" height="16" alt="VND"> VNĐ - Việt Nam Đồng
                    </a>
                </li>
                <li role="presentation">
                    <a href="#usd" role="tab" id="BCH_USD" data-toggle="tab" aria-controls="usd" data-t="USD" data-r="705.15364539212" data-i="https://webgia.com/img/us.png">
                        <img src="https://webgia.com/img/us.png" width="16" height="16" alt="USD"> USD - Đô-la Mỹ - US Dollar
                    </a>
                </li>
                <li>
                    <a href="https://vi.cocorate.com/bitcoin/" target="_blank" rel="noopener">
                        <img src="https://giacoin.com/assets/images/coins/16x16/1.png" width="16" height="16" alt="BTC"> BTC - Bitcoin
                    </a>
                </li>
                <li>
                    <a href="https://vi.cocorate.com/ethereum/" target="_blank" rel="noopener">
                        <img src="https://giacoin.com/assets/images/coins/16x16/1027.png" width="16" height="16" alt="ETH"> ETH - Ethereum
                    </a>
                </li>
            </ul>
            <div class="form-group well well-lg" style="margin-top:10px;visibility: visible; padding: 5%;padding-bottom: 20px;">
                <form class="form-inline">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5 text-center">
                            <div class="form-group" id="from_coin">
                                <div class="input-group">
                                    <div class="input-group-addon"><img src="https://giacoin.com/assets/images/coins/16x16/1831.png" width="16" height="16" alt="BCH"></div>
                                    <input type="text" class="form-control input-coin" data-rate="1">
                                    <div class="input-group-addon">BCH</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 text-center">
                            <button type="button" id="swap_button" class="btn btn-sm btn-primary"><strong>⇄</strong></button>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 text-center">
                            <div class="form-group" id="to_coin">
                                <div class="input-group">
                                    <div class="input-group-addon contry_flag"><img src="https://webgia.com/img/vn.png" width="16" height="16" alt="VND"></div>
                                    <input type="text" class="form-control input-coin input-flag" data-rate="17713459.57225">
                                    <div class="input-group-addon text-flag">VND</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div id="convert_text" style="margin-top:20px;color:#f00;font-weight:600;letter-spacing:1px">...</div>
                        <div class="text-center" style="margin-top:2rem"><a href="/coin.php?crypto=BCH" class="btn btn-warning" target="_blank" title="Mua bán BCH" rel="nofollow noopener">Mua Bán BCH ngay (ATM, Chuyển Khoản, Momo)</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.0","ratingCount":874,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 Bitcoin Cash (BCH) h\u00f4m nay 06\/04 - Bi\u1ec3u \u0111\u1ed3 BCH Bitcoin Cash - \u0110\u1ed5i BCH - VN\u0110 - USD - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="52a7991539babccaf33035ae2089b4d0">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:80%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá Bitcoin Cash (BCH) hôm nay 06/04 - Biểu đồ BCH Bitcoin Cash - Đổi BCH - VNĐ - USD - Web giá</div>4.0 trên 874 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<a href="https://webgia.com/coin.php?crypto=BTC" title="Đăng ký Binance" target="_blank" class="bnb-reg btn btn-warning" style="position:fixed;bottom:0;left:0;right:0;z-index:999;background: #FCD535;" rel="nofollow noopener">[Nhấn vào đây] Nhận Gói Voucher 600$ Binance dành cho người mới.</a></article>
{{>aside-table}}
</div>
</div>
</main>