<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ ABBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:05 03/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng ABBank được cập nhật mới nhất vào lúc 18:55:05 03/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD<span>&gt;50</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.770</td><td class="text-right">24.820</td><td class="text-right">25.120</td><td class="text-right">25.200</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.336</td><td class="text-right">26.442</td><td class="text-right">27.474</td><td class="text-right">27.560</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">15.902</td><td class="text-right">15.966</td><td class="text-right">16.556</td><td class="text-right">16.610</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.967</td><td class="text-right">18.094</td><td class="text-right">18.722</td><td class="text-right">18.780</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right">26.20<span class="xrkqb"></span></td><td class="text-right">2<span class="axmcw"></span>.<span class="axmcw"></span><span class="gytmw"></span>0</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">30.<span class="xrkqb"></span><span class="qecba"></span><span class="qecba"></span></td><td class="text-right">30.<span class="axmcw"></span>6<span class="xrkqb"></span></td><td class="text-right">3<span class="gytmw"></span>.9<span class="qecba"></span>3</td><td class="text-right">32.0<span class="qecba"></span>0</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.0<span class="qecba"></span><span class="qecba"></span></td><td class="text-right">3.339</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right"><span class="gytmw"></span>60,3<span class="xrkqb"></span></td><td class="text-right"><span class="gytmw"></span>6<span class="gytmw"></span>,0<span class="gytmw"></span></td><td class="text-right"><span class="gytmw"></span>6<span class="axmcw"></span>,<span class="rhqsk"></span><span class="rhqsk"></span></td><td class="text-right"><span class="gytmw"></span>69,0<span class="rhqsk"></span></td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">17,56</td><td class="text-right">20,49</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.617</td><td class="text-right">15.164</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">-</td><td class="text-right">18.168</td><td class="text-right">18.798</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia-1.onrender.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.720</td><td class="text-right">24.820</td><td class="text-right">25.120</td><td class="text-right">25.200</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:05 03/04/2024<br><a href="https://webgia.com/ty-gia/abbank/" title="Tỷ giá ABBank - TMCP An Bình">https://webgia.com/ty-gia/abbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP An Bình - ABBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 ABBank - Ng\u00e2n h\u00e0ng TMCP An B\u00ecnh - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="0c60b387862aeb738012d9ce126ae000">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá ABBank - Ngân hàng TMCP An Bình - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP An Bình - ABBank</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch:</strong> An Binh Commercial Joint Stock Bank</p>
    <p><strong>Năm thành lập:</strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> Số 36 Hoàng Cầu, Phường Ô Chợ Dừa, Quận Đống Đa, Hà Nội</p>
    <p><strong>VP HCM:</strong> 170 Hai Bà Trưng, Phường Đa Kao, Quận 1, Tp.HCM</p>
    <p><strong>Số điện thoại:</strong> (84-4) 37 612 888 (Hà Nội) . (84-28) 38 244 855 (Tp.HCM)</p>
    <p><strong>Số Fax:</strong> (84-28) 38 244 85</p>
    <p><strong>Hotline:</strong> 028.38365.365 - 1800.1159</p>
    <p><strong>Website:</strong> www.abbank.vn</p>
    <p><strong>Email:</strong> dichvukhachhang@abbank.vn</p>
    <p><strong>Swift Code:</strong> ABBKVNVX</p>
    <p><strong>Giờ mở cửa:</strong> Thứ 2 đến Thứ 6: 8h - 17h. Thứ 7: 8h - 12h</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP An Bình (ABBANK) được thành lập ngày 13/05/1993, với tầm nhìn trở thành một trong những Ngân hàng TMCP hàng đầu Việt Nam tập trung vào lĩnh vực bán lẻ.</p>
    <p>Theo đuổi chiến lược hoạt động gắn với hiệu quả và bền vững cùng phương châm “lấy sự hài lòng của khách hàng làm trọng tâm trong mọi hoạt động kinh doanh”, trong suốt chặng đường 27 năm phát triển, ABBANK luôn được đánh giá là một Ngân hàng uy tín, là người đồng hành tận tâm, đáng tin cậy của các Khách hàng, Đối tác và Nhà đầu tư.</p>
    <p>ABBANK chú trọng công tác nâng cao chất lượng dịch vụ với đội ngũ nhân sự chuyên nghiệp, tận tâm; phát triển các sản phẩm dịch vụ giải pháp tài chính tiện ích, hiệu quả và linh hoạt; nâng cấp cơ sở vật chất và mở rộng mạng lưới điểm giao dịch rộng khắp trên toàn quốc. Tất cả nỗ lực này nhằm tạo ra giá trị gia tăng cùng những trải nghiệm dịch vụ tài chính vượt trội cho khách hàng khi giao dịch với ABBANK.</p>
    <p>Không chỉ hướng đến sự bền vững trong hoạt động kinh doanh, ABBANK còn ghi dấu ấn là một Ngân hàng thân thiện và tích cực trong các hoạt động cộng đồng, hướng đến sự phát triển bền vững, lâu dài của xã hội thông qua các dự án đầu tư cho giáo dục, y tế, khuyến tài và những chiến dịch “sống xanh” được thực hiện trên khắp các vùng miền đất nước.</p>

    <p>VỐN ĐIỀU LỆ: 5.713 tỷ đồng</p>
    <p>CỔ ĐÔNG CHIẾN LƯỢC:</p>
    <ul>
        <li>Tập đoàn Geleximco - Công ty cổ phần</li>
        <li>Ngân hàng Malaysia Berhad (MayBank) - Ngân hàng lớn nhất Malaysia</li>
        <li>Tổ chức Tài chính Quốc tế (IFC) trực thuộc Ngân hàng Thế giới (World Bank)</li>
    </ul>
    <p>MẠNG LƯỚI GIAO DỊCH: 165 điểm tại 34 tỉnh/thành phố</p>
    <p>PHỤC VỤ: 1.000.000 khách hàng</p>
    <p>100% khách hàng cá nhân và 90% khách hàng doanh nghiệp hài lòng khi sử dụng sản phẩm dịch vụ của ABBANK" - Kết quả nghiên cứu của Công ty nghiên cứu thị trường Định hướng FTA (Thành viên của Hiệp hội Nghiên cứu Thị trường Mỹ MRA), 2011.</p>

    <p>Xem thêm tại <a href="https://www.abbank.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website ABBank">https://www.abbank.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>