<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ BIDV mới nhất ngày hôm nay <small>- Cập nhật lúc 13:35:04 06/03/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng BIDV được cập nhật mới nhất vào lúc 13:35:04 06/03/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.545</td><td class="text-right">24.545</td><td class="text-right">24.855</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.322</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2,5)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.322</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.300</td><td class="text-right">26.371</td><td class="text-right">27.520</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">15.7<span class="doxvw"></span>4</td><td class="text-right">15.<span class="dkfne"></span>1<span class="uiker"></span></td><td class="text-right">1<span class="qbvde"></span>.<span class="doxvw"></span><span class="qbvde"></span><span class="dkfne"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.7<span class="dkfne"></span>7</td><td class="text-right">17.<span class="dkfne"></span><span class="uiker"></span>4</td><td class="text-right">1<span class="dkfne"></span>.44<span class="doxvw"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="doxvw"></span>7.<span class="yuflg"></span><span class="doxvw"></span><span class="qbvde"></span></td><td class="text-right"><span class="doxvw"></span>7.4<span class="uiker"></span>1</td><td class="text-right"><span class="doxvw"></span><span class="dkfne"></span>.<span class="yuflg"></span>57</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right"><span class="yuflg"></span>.<span class="yuflg"></span><span class="uiker"></span>7</td><td class="text-right"><span class="yuflg"></span>.4<span class="dkfne"></span><span class="uiker"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">3.537</td><td class="text-right">3.654</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">30.681</td><td class="text-right">30.866</td><td class="text-right">31.851</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.091</td><td class="text-right">3.113</td><td class="text-right">3.203</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,81</td><td class="text-right">161,78</td><td class="text-right">169,29</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">16,22</td><td class="text-right">17,92</td><td class="text-right">19,05</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/lak/" class="currency-icon" title="Tỷ giá LAK"><span class="cur-icon ci-lak"></span><span>LAK</span></a></td>
<td>Kip Lào</td>
<td class="text-right">-</td><td class="text-right">0,90</td><td class="text-right">1,25</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">4.873,79</td><td class="text-right">-</td><td class="text-right">5.490,20</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.296</td><td class="text-right">2.373</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.735</td><td class="text-right">14.824</td><td class="text-right">15.237</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/rub/" class="currency-icon" title="Tỷ giá RUB"><span class="cur-icon ci-rub"></span><span>RUB</span></a></td>
<td>Rúp Nga</td>
<td class="text-right">-</td><td class="text-right">245</td><td class="text-right">315</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sar/" class="currency-icon" title="Tỷ giá SAR"><span class="cur-icon ci-sar"></span><span>SAR</span></a></td>
<td>Rian Ả-Rập-Xê-Út</td>
<td class="text-right">-</td><td class="text-right">6.479,66</td><td class="text-right">6.811,38</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.338</td><td class="text-right">2.416</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.014</td><td class="text-right">18.123</td><td class="text-right">18.642</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">659,04</td><td class="text-right">665,69</td><td class="text-right">711,06</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/twd/" class="currency-icon" title="Tỷ giá TWD"><span class="cur-icon ci-twd"></span><span>TWD</span></a></td>
<td>Đài Tệ</td>
<td class="text-right">706,24</td><td class="text-right">-</td><td class="text-right">853,88</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 13:35:04 06/03/2024<br><a href="https://webgia.com/ty-gia/bidv/" title="Tỷ giá BIDV - Đầu tư và Phát triển Việt Nam">https://webgia.com/ty-gia/bidv/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Đầu tư và Phát triển Việt Nam - BIDV</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":847,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 BIDV - Ng\u00e2n h\u00e0ng \u0110\u1ea7u t\u01b0 v\u00e0 Ph\u00e1t tri\u1ec3n Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="3fab5a6d7ce1f5adc296d6d9250b1a61">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá BIDV - Ngân hàng Đầu tư và Phát triển Việt Nam - Web giá</div>4.1 trên 847 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Đầu tư và Phát triển Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> Tháp BIDV, 35 Hàng Vôi, Hoàn Kiếm, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> 84-24-22200588</p>
    <p><strong>Số Fax:</strong> 84-24-22200399</p>
    <p><strong>Hotline:</strong> 19009247</p>
    <p><strong>Website:</strong> bidv.com.vn</p>
    <p><strong>Email:</strong> info@bidv.com.vn</p>
    <p><strong>Swift Code:</strong> BIDVVNVX</p>
    <h3>Giới thiệu</h3>
    <p>Được thành lập ngày 26/4/1957, BIDV là ngân hàng thương mại lâu đời nhất Việt Nam. Với Lĩnh vực hoạt động kinh doanh bao gồm:
        </p><ul>
            <li><strong>Ngân hàng:</strong> là một ngân hàng có kinh nghiệm hàng đầu cung cấp đầy đủ các sản phẩm, dịch vụ ngân hàng hiện đại và tiện ích.</li>
            <li><strong>Bảo hiểm:</strong> cung cấp các sản phẩm Bảo hiểm nhân thọ, phi nhân thọ được thiết kế phù hợp trong tổng thể các sản phẩm trọn gói của BIDV tới khách hàng.</li>
            <li><strong>Chứng khoán:</strong> cung cấp đa dạng các dịch vụ môi giới, đầu tư và tư vấn đầu tư cùng khả năng phát triển nhanh chóng hệ thống các đại lý nhận lệnh trên toàn quốc.</li>
            <li><strong>Đầu tư tài chính:</strong> góp vốn thành lập doanh nghiệp để đầu tư các dự án, trong đó nổi bật là vai trò chủ trì điều phối các dự án trọng điểm của đất nước như: Công ty Cổ phần cho thuê Hàng không (VALC) Công ty phát triển đường cao tốc (BEDC), Đầu tư sân bay Quốc tế Long Thành...</li>
        </ul>
    <p></p>
    <p>BIDV có nguồn nhân lực dồi dào với hơn 24.000 cán bộ, nhân viên là các chuyên gia tư vấn tài chính được đào tạo bài bản. Nhân lực có kinh nghiệm được tích luỹ và chuyển giao trong hơn nửa thế kỷ. BIDV luôn đem đến cho khách hàng lợi ích và sự tin cậy.</p>
    <p>BIDV có mạng lưới ngân hàng rộng khắp. Với 180 chi nhánh, trên 798 điểm mạng lưới, 1.822 ATM, 15.962 POS tại 63 tỉnh/thành phố trên toàn quốc. Mạng lưới phi ngân hàng: Gồm các Công ty Chứng khoán Đầu tư (BSC), Công ty Cho thuê tài chính, Công ty Bảo hiểm Phi nhân thọ (BIC).</p>
    <p>Các liên doanh với nước ngoài: <br>
        + Ngân hàng Liên doanh VID-Public (đối tác Malaysia).<br>
        + Ngân hàng Liên doanh Lào -Việt (với đối tác Lào).<br>
        + Ngân hàng Liên doanh Việt Nga - VRB (với đối tác Nga).<br>
        + Công ty Liên doanh Tháp BIDV (đối tác Singapore).<br>
        + Liên doanh quản lý đầu tư BIDV - Việt Nam Partners (đối tác Mỹ).<br>
        + Liên doanh Bảo hiểm nhân thọ BIDV Metlife
    </p>
    <p>Xem thêm tại <a href="http://bidv.com.vn/default.aspx?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website BIDV">http://bidv.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>