<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ CBBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng CBBank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.780</td><td class="text-right">24.830</td><td class="text-right">25.170</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.190</td><td class="text-right">24.830</td><td class="text-right">25.170</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">22.990</td><td class="text-right">24.830</td><td class="text-right">25.170</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.715</td><td class="text-right">26.822</td><td class="text-right">27.429</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.15<span class="ysqpa"></span></td><td class="text-right">16.<span class="dspfe"></span>64</td><td class="text-right">16.6<span class="ysqpa"></span><span class="gsyow"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right">1<span class="ysqpa"></span>.<span class="dspfe"></span><span class="fnokh"></span>6</td><td class="text-right">1<span class="ysqpa"></span>.<span class="gsyow"></span><span class="dspfe"></span><span class="ysqpa"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">-</td><td class="text-right">31.3<span class="jdqkr"></span>1</td><td class="text-right">3<span class="dspfe"></span>.<span class="jdqkr"></span><span class="jdqkr"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,<span class="gsyow"></span>1</td><td class="text-right">16<span class="dspfe"></span>,53</td><td class="text-right">16<span class="gsyow"></span>,4<span class="dspfe"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.204</td><td class="text-right">18.324</td><td class="text-right">18.756</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/cbbank/" title="Tỷ giá CBBank - TNHH MTV Xây dựng Việt Nam">https://webgia.com/ty-gia/cbbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng thương mại TNHH MTV Xây dựng Việt Nam - CBBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 CBBank - Ng\u00e2n h\u00e0ng TM TNHH MTV X\u00e2y d\u1ef1ng Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="280834b39eb748816e722c6a5226b53a">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá CBBank - Ngân hàng TM TNHH MTV Xây dựng Việt Nam - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Thương mại TNHH MTV Xây dựng Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Vietnam Construction Bank</p>
    <p><strong>Tên viết tắt:</strong> CBBank</p>
    <p><strong>Năm thành lập:</strong> 1989</p>
    <p><strong>Trụ sở chính:</strong> 145-147-149 Hùng Vương - P.2 - TP Tân An - Long An</p>
    <p><strong>Số điện thoại:</strong> (+84) (272) 3524 639</p>
    <p><strong>Số Fax:</strong> (+84) (272) 3524 900</p>
    <p><strong>Hotline:</strong> 19001816</p>
    <p><strong>Website:</strong> www.cbbank.vn</p>
    <p><strong>Email:</strong> qhcc@cbbank.vn</p>
    <p><strong>Swift Code:</strong> GTBAVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng Thương mại TNHH MTV Xây dựng Việt Nam được chuyển đổi mô hình từ Ngân hàng TMCP Xây dựng Việt Nam theo quyết định số 250/QĐ-NHNN ngày 05/03/2015 của Ngân hàng Nhà nước. Tên Tiếng Việt, tên viết tắt Tiếng Việt, tên Tiếng Anh và tên viết tắt Tiếng Anh lần lượt là: Ngân hàng thương mại trách nhiệm hữu hạn một thành viên Xây dựng Việt Nam - Ngân hàng Xây dựng - Construction Bank – CB.</p>
    <p>Sau 3 năm chính thức trở lại hoạt động, đến nay, Ngân hàng Xây dựng (CB) có vốn điều lệ đạt 3.000 tỷ đồng cùng hệ thống mạng lưới hơn 100 điểm hoạt động trên toàn quốc. Là Ngân hàng 100% vốn sở hữu Nhà nước với sự hỗ trợ toàn diện của Vietcombank về quản trị, công nghệ, khách hàng, thanh khoản…Ngân hàng Xây dựng định hướng phát triển trở thành một ngân hàng bán lẻ đa năng trên nền tảng công nghệ hiện đại.</p>

    <h3>Định hướng và Mục tiêu phát triển</h3>
    <p>Dưới sự chỉ đạo của Ngân hàng Nhà nước với sự tham gia quản trị, điều hành của Vietcombank, Ngân hàng Xây dựng hướng đến mục tiêu hoạt động hiệu quả theo quy định của pháp luật và các chuẩn mực ngân hàng quốc tế. Đặc biệt, Ngân hàng Xây dựng sẽ đề cao tính hiệu quả trên cơ sở kế thừa, phát huy những tinh hoa văn hóa doanh nghiệp, nền tảng công nghệ hiện đại đã được Vietcombank áp dụng thành công.</p>

    <p>Xem thêm tại <a href="https://www.cbbank.vn/" target="_blank" rel="nofollow" title="Website CBBank">https://www.cbbank.vn/</a></p>
</section>










</article>
{{>aside-table}}
</div>
</div>
</main>