<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Đông Á mới nhất ngày hôm nay <small>- Cập nhật lúc 17:00:10 12/12/2023</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Đông Á được cập nhật mới nhất vào lúc 17:00:10 12/12/2023</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.130</td><td class="text-right">24.130</td><td class="text-right">24.430</td><td class="text-right">24.430</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">25.800</td><td class="text-right">25.920</td><td class="text-right">26.470</td><td class="text-right">26.470</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">15.770</td><td class="text-right">15.860</td><td class="text-right">16.200</td><td class="text-right">16.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.630</td><td class="text-right">17.740</td><td class="text-right">18.110</td><td class="text-right">18.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right">27.<span class="wtidr"></span>20</td><td class="text-right">-</td><td class="text-right">2<span class="hjgyn"></span>.0<span class="uxmoe"></span>0</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="uxmoe"></span>0.120</td><td class="text-right"><span class="uxmoe"></span>0.250</td><td class="text-right"><span class="uxmoe"></span>0.<span class="vgqfc"></span>50</td><td class="text-right"><span class="uxmoe"></span>0.<span class="vgqfc"></span>00</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">2.<span class="vgqfc"></span>00</td><td class="text-right">-</td><td class="text-right"><span class="uxmoe"></span>.1<span class="fkrga"></span>0</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">1<span class="fkrga"></span>2,20</td><td class="text-right">1<span class="fkrga"></span>5,50</td><td class="text-right">1<span class="fkrga"></span><span class="vgqfc"></span>,50</td><td class="text-right">1<span class="fkrga"></span><span class="vgqfc"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.810</td><td class="text-right">-</td><td class="text-right">15.260</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">17.760</td><td class="text-right">17.920</td><td class="text-right">18.310</td><td class="text-right">18.310</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">610</td><td class="text-right">670</td><td class="text-right">700</td><td class="text-right">690</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 17:00:10 12/12/2023<br><a href="https://webgia.com/ty-gia/dongabank/" title="Tỷ giá Đông Á - TMCP Đông Á - DongA Bank">https://webgia.com/ty-gia/dongabank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng thương mại cổ phần Đông Á - DongA Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":862,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 \u0110\u00f4ng \u00c1 - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n \u0110\u00f4ng \u00c1 - DongA Bank - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="63d1362d7abda4baf44f97656e9a2393">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Đông Á - Ngân hàng thương mại cổ phần Đông Á - DongA Bank - Web giá</div>4.1 trên 862 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng thương mại cổ phần Đông Á</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> 130 Phan Đăng Lưu, P.3, Q. Phú Nhuận, Tp. HCM</p>
    <p><strong>Số điện thoại:</strong> (028) 39951483</p>
    <p><strong>Số Fax:</strong> (028) 39951614</p>
    <p><strong>Website:</strong> www.dongabank.com.vn</p>
    <p><strong>Fanpage:</strong> www.facebook.com/dongabank</p>
    <p><strong>Email:</strong> 1900545464@dongabank.com.vn</p>
    <p><strong>Swift Code:</strong> EACBVNVX</p>
    <h3>Giới thiệu</h3>
    <p>Được thành lập và chính thức đi vào hoạt động ngày 01/07/1992. Hơn 24 năm hoạt động, với tầm nhìn, mục tiêu, chiến lược hướng đến lĩnh vực bán lẻ, DongA Bank đã khẳng định vị trí hàng đầu về việc phát triển ứng dụng công nghệ không ngừng của mình trong hệ thống Ngân hàng thương mại cổ phần tại Việt Nam.</p>
    <p><strong>Tầm nhìn:</strong> Tập đoàn Tài chính Ngân hàng hàng đầu Việt Nam – Vươn ra quốc tế, được khách hàng mến yêu, tín nhiệm và giới thiệu.</p>
    <p><strong>Sứ mệnh:</strong> Bằng trách nhiệm, niềm đam mê và trí tuệ, chúng ta cùng nhau kiến tạo nên những điều kiện hợp tác hấp dẫn khách hàng, đối tác, cổ đông, cộng sự và cộng đồng.</p>
    <p><strong>Giá trị cốt lõi:</strong> Chúng tôi xác định giá trị cốt lõi của DongA Bank chính là Niềm tin – Trách nhiệm – Đoàn kết – Nhân văn – Tuân Thủ - Nghiêm Chính – Đồng hành – Sáng tạo.</p>
    <p>Xem thêm tại <a href="http://dongabank.com.vn" target="_blank" rel="nofollow" title="Website Đông Á Bank">http://dongabank.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>