<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Eximbank mới nhất ngày hôm nay <small>- Cập nhật lúc 16:50:06 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Eximbank được cập nhật mới nhất vào lúc 16:50:06 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.700</td><td class="text-right">24.780</td><td class="text-right">25.090</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.600</td><td class="text-right">24.780</td><td class="text-right">25.090</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.084</td><td class="text-right">24.780</td><td class="text-right">25.090</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.641</td><td class="text-right">26.721</td><td class="text-right">27.415</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">1<span class="jualr"></span>.1<span class="miaud"></span>1</td><td class="text-right">1<span class="jualr"></span>.<span class="xiocm"></span>30</td><td class="text-right">1<span class="jualr"></span>.<span class="jualr"></span><span class="miaud"></span><span class="rzdvm"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">1<span class="miaud"></span>.179</td><td class="text-right">1<span class="miaud"></span>.<span class="xiocm"></span>3<span class="dyght"></span></td><td class="text-right">1<span class="miaud"></span>.70<span class="miaud"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="xiocm"></span>7.071</td><td class="text-right"><span class="xiocm"></span>7.1<span class="rzdvm"></span><span class="xiocm"></span></td><td class="text-right"><span class="xiocm"></span>7.<span class="miaud"></span><span class="rzdvm"></span>7</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">3.3<span class="miaud"></span>9</td><td class="text-right">3.<span class="rzdvm"></span><span class="xiocm"></span><span class="xiocm"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.071</td><td class="text-right">31.164</td><td class="text-right">31.974</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">2.500</td><td class="text-right">3.144</td><td class="text-right">3.226</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,78</td><td class="text-right">162,27</td><td class="text-right">166,48</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.782</td><td class="text-right">14.856</td><td class="text-right">15.257</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.213</td><td class="text-right">18.268</td><td class="text-right">18.743</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">653</td><td class="text-right">669</td><td class="text-right">698</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 16:50:06 04/04/2024<br><a href="https://webgia.com/ty-gia/eximbank/" title="Tỷ giá Eximbank - TMCP Xuất Nhập khẩu Việt Nam">https://webgia.com/ty-gia/eximbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng thương mại cổ phần Xuất Nhập khẩu Việt Nam - Eximbank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Eximbank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Xu\u1ea5t Nh\u1eadp kh\u1ea9u Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="39b103833466201081cc814343c836cd">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Eximbank - Ngân hàng thương mại cổ phần Xuất Nhập khẩu Việt Nam - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng thương mại cổ phần Xuất Nhập khẩu Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> Tầng 8 - Vincom Center, 72 Lê Thánh Tôn và 45A Lý Tự Trọng, P.Bến Nghé, Q.1, TP.HCM</p>
    <p><strong>Số điện thoại:</strong> (84-28)38210056</p>
    <p><strong>Số Fax:</strong> (84-28)38216913 </p>
    <p><strong>Hotline:</strong> 18001199</p>
    <p><strong>Website:</strong> www.eximbank.com.vn</p>
    <p><strong>Email:</strong> website@eximbank.com.vn</p>
    <p><strong>Swift Code:</strong> EBVIVNVX</p>
    <h3>Giới thiệu</h3>
    <p>Eximbank được thành lập vào ngày 24/05/1989, là một trong những Ngân hàng thương mại cổ phần đầu tiên của Việt Nam.</p>
    <p>Ngân hàng đã chính thức đi vào hoạt động ngày 17/01/1990. Ngày 06/04/1992, Thống Đốc Ngân hàng Nhà nước Việt Nam ký giấy phép số 11/NH-GP cho phép Ngân hàng hoạt động trong thời hạn 50 năm với số vốn điều lệ đăng ký là 50 tỷ đồng VN tương đương 12,5 triệu USD với tên mới là Ngân hàng Thương Mại Cổ Phần Xuất Nhập Khẩu Việt Nam (Vietnam Export Import Commercial Joint - Stock Bank), gọi tắt là Vietnam Eximbank.</p>
    <p>Đến nay vốn điều lệ của Eximbank đạt 12.335 tỷ đồng. Vốn chủ sở hữu đạt 13.317 tỷ đồng. Eximbank hiện là một trong những Ngân hàng có vốn chủ sở hữu lớn nhất trong khối Ngân hàng TMCP tại Việt Nam.</p>
    <p>Ngân hàng TMCP Xuất Nhập Khẩu Việt Nam có địa bàn hoạt động rộng khắp cả nước với Trụ Sở Chính đặt tại TP. Hồ Chí Minh và 207 chi nhánh và phòng giao dịch trên toàn quốc và đã thiết lập quan hệ đại lý với 869 Ngân hàng tại 84 quốc gia trên thế giới.</p>

    <p>Xem thêm tại <a href="https://www.eximbank.com.vn/home/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Eximbank">https://www.eximbank.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>