<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ GPBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng GPBank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.750</td><td class="text-right">24.800</td><td class="text-right">25.220</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.200</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.200</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.572</td><td class="text-right">26.837</td><td class="text-right">27.390</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">-</td><td class="text-right"><span class="fuvnp"></span>6.<span class="ieckq"></span>83</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right"><span class="fuvnp"></span>8.<span class="ieckq"></span>8<span class="zsuyo"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="ieckq"></span><span class="zsuyo"></span>.<span class="ieckq"></span>3<span class="ghlxz"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">-</td><td class="text-right">3<span class="fuvnp"></span>.30<span class="gbsvr"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">-</td><td class="text-right">162,50</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">-</td><td class="text-right">18.328</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">669</td><td class="text-right">-</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/gpbank/" title="Tỷ giá GPBank - TM TNHH MTV Dầu Khí Toàn Cầu">https://webgia.com/ty-gia/gpbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu - GPBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 GPBank - Ng\u00e2n h\u00e0ng TM TNHH MTV D\u1ea7u Kh\u00ed To\u00e0n C\u1ea7u - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="4c25efc37dac51340433deb159b05bff">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá GPBank - Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Global Petro Joint Stock Commercial Bank</p>
    <p><strong>Tên viết tắt:</strong> GPBank</p>
    <p><strong>Năm thành lập:</strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> 109 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> (024) 3941 2502</p>
    <p><strong>Số Fax:</strong> (024) 3726 3999</p>
    <p><strong>Hotline:</strong> 1800 5858 66 / (024) 3514 9094</p>
    <p><strong>Website:</strong> www.gpbank.com.vn</p>
    <p><strong>Email:</strong> info@gpbank.com.vn</p>
    <p><strong>Swift Code:</strong> GBNKVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngày 7/7/2015, Ngân hàng TMCP Dầu Khí Toàn Cầu chính thức chuyển đổi mô hình hoạt động thành Ngân Hàng Thương Mại Trách Nhiệm Hữu Hạn Một Thành Viên Dầu Khí Toàn Cầu.</p>
    <h3>Hệ thống mạng lưới</h3>
    <p>Mạng lưới kinh doanh của GPBank không ngừng được mở rộng với 01 Hội sở chính và gần 80 chi nhánh/phòng giao dịch/quỹ tiết kiệm trên toàn quốc cùng đội ngũ hơn 1.400 cán bộ nhân viên được đào tạo chuyên nghiệp. Trong thời gian tới, GPBank sẽ tiếp tục phát triển mạng lưới nhằm đưa các dịch vụ tài chính - ngân hàng chất lượng cao đến gần hơn với khách hàng.</p>
    <h3>Sản phẩm - dịch vụ</h3>
    <p>GPBank cung cấp đầy đủ các loại hình dịch vụ tài chính - ngân hàng tầm cỡ quốc tế như: tiết kiệm - tiền gửi, tín dụng bảo lãnh, thanh toán quốc tế, dịch vụ tài chính - du học, kinh doanh ngoại tệ, dịch vụ thẻ, dịch vụ chuyển tiền, dịch vụ Internet Banking, Mobile Banking... và nhiều dịch vụ ngân hàng khác dựa trên nền tảng công nghệ tiên tiến nhằm tối đa hóa lợi ích của khách hàng.</p>
    <h3>Đội ngũ cán bộ nhân viên</h3>
    <p>GPBank hết sức chú trọng thu hút và xây dựng nguồn nhân lực mới, trong đó chú trọng tập hợp đội ngũ nhân lực trẻ được đào tạo chính quy từ các trường đại học và nguồn lao động giàu kinh nghiệm trong lĩnh vực ngân hàng. Hiện nay, trên 97% cán bộ nhân viên của GPBank đã có trình độ đại học, trên đại học và thành thạo nghiệp vụ chuyên môn.</p>
    <h3>Ưu thế công nghệ</h3>
    <p>Hiện đại hoá hệ thống Công nghệ thông tin là một trong những ưu tiên hàng đầu của GPBank nhằm tăng sức cạnh tranh và hơn thế là mang lại cho khách hàng những dịch vụ và tiện ích ngân hàng hàng đầu. GPBank là một trong những ngân hàng đầu tiên ứng dụng thành công phần mềm Hệ thống Ngân hàng lõi T24 (Core Banking) của hãng Temenos của Thụy Sỹ, với khả năng xử lý trên 10.000 giao dịch/giây, giúp cho ngân hàng tối ưu hóa được các quy trình hoạt động trong khi vẫn duy trì được sự linh hoạt trước các thay đổi trong kinh doanh.</p>
    <p>Xem thêm tại <a href="https://www.gpbank.com.vn/" target="_blank" rel="nofollow" title="Website GPBank">https://www.gpbank.com.vn/</a></p>
</section>










</article>
{{>aside-table}}
</div>
</div>
</main>