<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ HDBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:51:24 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng HDBank được cập nhật mới nhất vào lúc 18:51:24 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.770</td><td class="text-right">24.790</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.690</td><td class="text-right">24.790</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.690</td><td class="text-right">24.790</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.636</td><td class="text-right">26.710</td><td class="text-right">27.461</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">1<span class="txanu"></span>.12<span class="txanu"></span></td><td class="text-right">1<span class="txanu"></span>.17<span class="txanu"></span></td><td class="text-right">1<span class="txanu"></span>.7<span class="krmbl"></span><span class="tqwdj"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">1<span class="srybj"></span>.13<span class="srybj"></span></td><td class="text-right">1<span class="srybj"></span>.211</td><td class="text-right">1<span class="srybj"></span>.737</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">27.<span class="gyinv"></span>71</td><td class="text-right">27.1<span class="krmbl"></span><span class="txanu"></span></td><td class="text-right">27.<span class="srybj"></span><span class="tqwdj"></span>7</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">3.37<span class="srybj"></span></td><td class="text-right">3.<span class="krmbl"></span>7<span class="srybj"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">3.568</td><td class="text-right">3.766</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.087</td><td class="text-right">31.174</td><td class="text-right">32.019</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.133</td><td class="text-right">3.240</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">162,19</td><td class="text-right">162,73</td><td class="text-right">166,83</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">18,22</td><td class="text-right">19,27</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.777</td><td class="text-right">15.357</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.321</td><td class="text-right">2.436</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.192</td><td class="text-right">18.279</td><td class="text-right">18.783</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">659,59</td><td class="text-right">662,22</td><td class="text-right">702,58</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:51:24 04/04/2024<br><a href="https://webgia.com/ty-gia/hdbank/" title="Tỷ giá HDBank - TMCP Phát triển Nhà TP. Hồ Chí Minh">https://webgia.com/ty-gia/hdbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Phát triển Nhà TP.HCM - HDBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 HDBank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Ph\u00e1t tri\u1ec3n Nh\u00e0 TP.HCM - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="59765b3e5b2a2b55059d1cff433fbbe5">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá HDBank - Ngân hàng thương mại cổ phần Phát triển Nhà TP.HCM - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Phát triển Nhà TP.HCM</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Ho Chi Minh City Development Joint Stock Commercial Bank</p>
    <p><strong>Năm thành lập:</strong> 1990</p>
    <p><strong>Trụ sở chính:</strong> 25Bis Nguyễn Thị Minh Khai, Quận I, TP. Hồ Chí Minh</p>
    <p><strong>Số điện thoại:</strong> (+84) 028 3936 5555</p>
    <p><strong>Số Fax:</strong> (028) 62 915 900</p>
    <p><strong>Hotline:</strong> 19006060</p>
    <p><strong>Website:</strong> www.hdbank.com.vn</p>
    <p><strong>Email:</strong> info@hdbank.com.vn</p>
    <p><strong>Swift Code:</strong> HDBCVNVX</p>
    <p><strong>Giờ mở cửa:</strong> Thứ 2 đến Thứ 6; Buổi sáng: 7h30 - 11h30, Buổi chiều: 13h - 17h</p>

    <h3>Giới thiệu</h3>
    <p>HDBank thành lập năm 1990, là 1 trong những Ngân hàng TMCP đầu tiên của cả nước. Gần 30 năm hoạt động, HDBank hiện nay là ngân hàng thuộc nhóm dẫn đầu Việt Nam và đang vươn ra quốc tế.</p>
    <p>HDBank có tiềm lực tài chính mạnh mẽ và công nghệ hiện đại, cung cấp đa dạng về dịch vụ tài chính ngân hàng cá nhân, doanh nghiệp và nhà đầu tư.</p>
    <p>Tính đến 31/12/2018, HDBank có vốn điều lệ: 9.810 tỷ đồng; tổng tài sản đạt 216.108 tỷ đồng; mạng lưới 285 điểm giao dịch ngân hàng và gần 14.000 điểm giao dịch tài chính của HD SAISON; phục vụ 7 triệu khách hàng trong hệ sinh thái đặc quyền từ hàng không, siêu thị, viễn thông, tài chính- ngân hàng… , đặc biệt tại khu vực nông thôn.</p>
    <p>Ngày 5/1/2018, gần 981 triệu cổ phiếu “HDB” của HDBank đã chính thức lên sàn HOSE và nhanh chóng lọt vào top 20 cổ phiếu vốn hóa lớn nhất sàn HOSE. Sự kiện này đã mở màn cho các doanh nghiệp vốn hóa lớn gia nhập thị trường chứng khoán, góp phần nâng cao thanh khoản thị trường, mang lại cơ hội cho các nhà đầu tư trong và ngoài nước. Cổ phiếu HDB cũng lọt danh mục chỉ số VN30, Top 30 cổ phiếu có giá trị vốn hóa và thanh khoản tốt nhất.</p>
    <p>Với hệ sinh thái đặc quyền từ hàng không, siêu thị, viễn thông,...  và năng lực M &amp; A, HDBank hướng tới vị trí dẫn đầu thị trường. HDBank lựa chọn tiếp cận và phục vụ khách hàng trong hệ sinh thái xanh rộng lớn bao gồm ngân hàng- tài chính- bán lẻ- tiêu dùng- hàng không, với các sản phẩm, dịch vụ được thiết kế phù hợp với từng nhóm đối tượng, từng chuỗi giá trị, đáp ứng nhu cầu người dùng theo khu vực địa lý, đặc điểm ngành nghề, mức thu nhập. HDBank ngày nay cũng đang “xanh hóa” chất lượng hoạt động cùng sự đầu tư bài bản cho nghiên cứu, ứng dụng công nghệ vào sản phẩm, dịch vụ; đi trước, đón đầu công nghệ 4.0 trong lĩnh vực tài chính- ngân hàng.</p>
    <p>Trong hành trình 30 năm chinh phục chinh phục thị trường, HDBank còn luôn hướng đến sự phát triển bền vững, gắn kết với cộng đồng trong nỗ lực mang lại những lợi ích cao nhất cho khách hàng, cổ đông, đối tác, tập thể CBNV. Nhiều năm liền, HDBank phối hợp cùng Quỹ Bảo trợ trẻ em Việt Nam tặng 1.000 suất học bổng cho trẻ em; tặng thẻ BHYT cho người cận nghèo, tài trợ hàng ngàn ca phẫu thuật đục thủy tinh thể cho người nghèo…. Đồng hành cùng sự phát triển của thể thao Việt Nam, năm thứ 9 liên tiếp tổ chức, Giải Cờ vua Quốc tế HDBank tiếp tục gây tiếng vang trên làng cờ thế giới. Số lượng kỳ thủ tham dự giải đông nhất từ trước đến nay với 304 kỳ thủ từ 28 quốc gia và vùng lãnh thổ, trong đó có 142 kỳ thủ quốc tế. Song song đó, sau lần thứ hai tổ chức, năm 2019 HDBank tiếp tục đồng hành Giải Futsal HDBank (Vô địch Quốc gia và Cup Quốc gia) nhằm góp phần vào sự trưởng thành của Futsal Việt Nam trên đấu trường quốc tế.</p>
    <p>HDBank đang chuẩn bị mọi nền tảng cho kế hoạch 2017- 2021 tiếp theo với mục tiêu thuộc nhóm những ngân hàng lớn nhất trên thị trường, tập trung bán lẻ, SME và tiêu dùng.</p>

    <p>Xem thêm tại <a href="https://www.hdbank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website HDBank">https://www.hdbank.com.vn/</a></p>
</section>




</article>
{{>aside-table}}
</div>
</div>
</main>