<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Hong Leong Bank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Hong Leong Bank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.780</td><td class="text-right">24.800</td><td class="text-right">25.140</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.770</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.770</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.328</td><td class="text-right">26.528</td><td class="text-right">27.629</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">1<span class="scdpl"></span>.962</td><td class="text-right">16.112</td><td class="text-right">16.<span class="ykftl"></span>9<span class="scdpl"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="scjie"></span>0.<span class="dulzh"></span><span class="zrnwi"></span><span class="dulzh"></span></td><td class="text-right"><span class="scjie"></span>1.09<span class="dulzh"></span></td><td class="text-right"><span class="scjie"></span>2.11<span class="zrnwi"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,<span class="scdpl"></span>2</td><td class="text-right">162,22</td><td class="text-right">16<span class="ykftl"></span>,1<span class="scjie"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">-</td><td class="text-right"><span class="scdpl"></span>.2<span class="scjie"></span><span class="scdpl"></span></td><td class="text-right"><span class="scdpl"></span>.<span class="scjie"></span>20</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.098</td><td class="text-right">18.248</td><td class="text-right">18.813</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/hlbank/" title="Tỷ giá Hong Leong - Hong Leong Việt Nam">https://webgia.com/ty-gia/hlbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Hong Leong Việt Nam - Hong Leong Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Hong Leong Bank - Ng\u00e2n h\u00e0ng Hong Leong Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="4dd0233e007b0b481d532e92f584f26b">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Hong Leong Bank - Ngân hàng Hong Leong Việt Nam - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TNHH MTV Hong Leong Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Hong Leong Bank Vietnam Limited - Ho Chi Minh City Branch</p>
    <p><strong>Tên viết tắt:</strong> Hong Leong Bank / HLBVN</p>
    <p><strong>Năm thành lập tại Việt Nam: </strong> 2009</p>
    <p><strong>Trụ sở chính:</strong> Tầng 1, Centec Tower, 72-74 Nguyễn Thị Minh Khai, Quận 3, HCM</p>
    <p><strong>Số điện thoại:</strong> (+84 28) 6299 8100</p>
    <p><strong>Số Fax:</strong> (+84 28) 6299 8101</p>
    <p><strong>Hotline:</strong> 1900633068</p>
    <p><strong>Website:</strong> www.hlbank.com.vn</p>
    <p><strong>Email:</strong> ask@hlbvn.hongleong.com</p>
    <p><strong>Swift Code:</strong> HLBBVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng Hong Leong Berhad, công ty dịch vụ tài chính, được thành lập tại Malaysia với trụ sở tại Kuala Lumpur, Malaysia và có mặt tại Singapore, Hồng Kông, Việt Nam, Campuchia và Trung Quốc. Lấy công nghệ làm nền tảng phát triển, Ngân hàng luôn nỗ lực mang đến những giải pháp tài chính tối ưu nhất để phục vụ khách hàng khắp mọi nơi. Ngân hàng Hong Leong Berhad được niêm yết trên sàn giao dịch chứng khoán Bursa Malaysia và trực thuộc Tập đoàn Hong Leong.</p>
    <p>Năm 1905, Ngân hàng được thành lập với tư cách Công ty Thế chấp &amp; Chuyển tiền Kwong Lee tại Kuching, Sarawak đến năm 1934, tiếp tục chuyển thành TNHH Kwong Lee, đặt nền tảng vững chắc cho sự ra đời của một tổ chức tài chính địa phương lâu đời nhất ở Malaysia. Ngân hàng Kwong Lee Berhad được Tập đoàn MUI mua lại vào 05/1982 và đổi tên thành Malayan United Bank Berhad vào 02/1983. Năm 1989, Ngân hàng được đổi tên thành Ngân hàng MUI. Dưới cái tên MUI Bank, Ngân hàng đã phát triển từ 11 đến 35 chi nhánh toàn quốc.</p>
    <p>Ngày 03/01/1994, MUI Bank Berhad được Tập đoàn Hong Leong mua lại thông qua Hong Leong Credit Berhad (nay là tập đoàn tài chính Hong Leong Berhad) và đổi tên thành Ngân hàng Hong Leong Berhad. Ngày 17/10/1994, Ngân hàng được niêm yết trên sàn giao dịch chứng khoán Kuala Lumpur (nay là Bursa Malaysia Berhad) và kể từ đó đã có những bước phát triển nhảy vọt. Thương vụ sáp nhập với Tập đoàn EON Bank vào năm 2011 đã đưa Ngân hàng Hong Leong trở thành tập đoàn ngân hàng lớn thứ năm của Malaysia với tài sản hơn 180 tỷ RM vào ngày 30/06/2016.</p>
    <p>Năm 2008, HLB trở thành ngân hàng Malaysia đầu tiên gia nhập thị trường Trung Quốc với tỷ lệ sở hữu 20% cổ phần tại Ngân hàng Thành Đô. Tháng 12/2008, HLB trở thành Ngân hàng Malaysia và Đông Nam Á đầu tiên được cấp phép thành lập, vận hành với tư cách là ngân hàng thương mại 100% vốn nước ngoài tại Việt Nam. Năm 2013, chi nhánh tại Campuchia và Nam Kinh tiếp tục được thành lập đánh dấu bước tiến mới trong sự phát triển mở rộng quy mô toàn khu vực.</p>
    <p>Tính đến 2020, với hơn 10 năm hoạt động tại thị trường Việt Nam, Ngân Hàng Hong Leong không ngừng tận tâm đồng hành cùng khách hàng trên từng chặng đường tài chính và trở thành một đối tác tài chính đáng tin cậy.</p>

    <p>Xem thêm tại <a href="https://www.hlbank.com.vn/" target="_blank" rel="nofollow" title="Website Hong Leong Bank">https://www.hlbank.com.vn/</a></p>
</section>













</article>
{{>aside-table}}
</div>
</div>
</main>