<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ HSBC mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng HSBC được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.897</td><td class="text-right">24.897</td><td class="text-right">25.123</td><td class="text-right">25.123</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.575</td><td class="text-right">26.628</td><td class="text-right">27.606</td><td class="text-right">27.606</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.042</td><td class="text-right">16.157</td><td class="text-right">16.750</td><td class="text-right">16.750</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.042</td><td class="text-right">18.209</td><td class="text-right">18.801</td><td class="text-right">18.801</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="ozaym"></span>7.<span class="ozaym"></span>56</td><td class="text-right"><span class="ozaym"></span>7.<span class="ozaym"></span>56</td><td class="text-right"><span class="ozaym"></span><span class="xjrdz"></span>.1<span class="mfdth"></span><span class="mfdth"></span></td><td class="text-right"><span class="ozaym"></span><span class="xjrdz"></span>.1<span class="mfdth"></span><span class="mfdth"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="boczq"></span>0.<span class="xjrdz"></span>50</td><td class="text-right"><span class="boczq"></span>1.1<span class="boczq"></span>5</td><td class="text-right"><span class="boczq"></span><span class="ozaym"></span>.1<span class="mfdth"></span><span class="xjrdz"></span></td><td class="text-right"><span class="boczq"></span><span class="ozaym"></span>.1<span class="mfdth"></span><span class="xjrdz"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right"><span class="boczq"></span>.115,<span class="boczq"></span><span class="xjrdz"></span></td><td class="text-right"><span class="boczq"></span>.1<span class="mfdth"></span><span class="mfdth"></span>,1<span class="ozaym"></span></td><td class="text-right"><span class="boczq"></span>.<span class="ozaym"></span><span class="mfdth"></span>6,<span class="mfdth"></span>1</td><td class="text-right"><span class="boczq"></span>.<span class="ozaym"></span><span class="mfdth"></span>6,<span class="mfdth"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,<span class="xjrdz"></span><span class="mfdth"></span></td><td class="text-right">161,<span class="kwvaz"></span><span class="kwvaz"></span></td><td class="text-right">167,<span class="kwvaz"></span><span class="mfdth"></span></td><td class="text-right">167,<span class="kwvaz"></span><span class="mfdth"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.822</td><td class="text-right">14.822</td><td class="text-right">15.304</td><td class="text-right">15.304</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.094</td><td class="text-right">18.261</td><td class="text-right">18.855</td><td class="text-right">18.855</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">659</td><td class="text-right">659</td><td class="text-right">708</td><td class="text-right">708</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/hsbc/" title="Tỷ giá HSBC - HSBC Việt Nam">https://webgia.com/ty-gia/hsbc/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng HSBC Việt Nam - The Hongkong and Shanghai Banking Corporation Limited</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":847,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 HSBC - Ng\u00e2n h\u00e0ng HSBC Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="d4a3ca9e60e22b86d4c63aa1ba08e791">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá HSBC - Ngân hàng HSBC Việt Nam - Web giá</div>4.1 trên 847 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng HSBC</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> Tòa nhà Metropolitan, 235 Đồng Khởi, Quận 1, TP.HCM</p>
    <p><strong>Số điện thoại:</strong> (84 28) 37 247 247 (miền Nam) - (84 24) 62 707 707 (miền Bắc)</p>
    <p><strong>Website:</strong> www.hsbc.com.vn</p>
    <p><strong>Fanpage:</strong> https://www.facebook.com/HSBCVietnam</p>
    <p><strong>Email:</strong> direct@hsbc.com.vn</p>
    <p><strong>Swift Code:</strong> HSBCVNVX</p>
    <h3>Giới thiệu</h3>
    <p>HSBC là một trong những tổ chức dịch vụ tài chính và ngân hàng lớn nhất thế giới. Phục vụ hơn 37 triệu khách hàng thông qua bốn dịch vụ kinh doanh toàn cầu: Quản lý tài sản và ngân hàng bán lẻ, Ngân hàng thương mại, Thị trường và ngân hàng toàn cầu và Ngân hàng tư nhân toàn cầu. Mạng lưới của HSBC bao phủ 70 quốc gia và vùng lãnh thổ tại châu Âu, châu Á, Trung Đông và châu Phi, Bắc Mỹ và châu Mỹ La-tinh.</p>
    <p>Với khoảng 4.000 văn phòng trên khắp thế giới, HSBC hướng đến mục tiêu có mặt ở những nơi có tăng trưởng, kết nối khách hàng với cơ hội, hỗ trợ các doanh nghiệp kinh doanh thành công và các nền kinh tế phát triển thịnh vượng và cuối cùng là giúp mọi người hoàn thành nguyện vọng cũng như thực hiện tham vọng của họ.</p>
    <p>Được niêm yết trên sàn giao dịch chứng khoán tại London, Hồng Kông, New York, Paris và Bermuda, khoảng 204.000 cổ đông hiện đang nắm giữ cổ phần của HSBC Holdings plc tại 133 quốc gia và vùng lãnh thổ.</p>
    <h2>Giới thiệu về Ngân hàng HSBC Việt Nam</h2>
    <p>Năm 1870 HSBC mở văn phòng đầu tiên tại Sài Gòn (nay là thành phố Hồ Chí Minh). Tháng Tám năm 1995, chi nhánh tại thành phố Hồ Chí Minh được cấp phép hoạt động và cung cấp đầy đủ các dịch vụ tài chính ngân hàng. HSBC khai trương chi nhánh thứ hai tại Hà Nội và thành lập văn phòng đại diện tại thành phố Cần Thơ vào năm 2005.</p>
    <p>Ngày 01/01/2009, HSBC trở thành ngân hàng nước ngoài đầu tiên thành lập ngân hàng con tại Việt Nam. Ngân hàng TNHH một thành viên HSBC (Việt Nam) (HSBC Việt Nam) là một ngân hàng con thuộc sở hữu 100% của ngân hàng Hồng Kông và Thượng Hải. HSBC Việt Nam cũng là ngân hàng 100% vốn nước ngoài đầu tiên đồng thời đưa chi nhánh và phòng giao dịch đi vào hoạt động tại Việt Nam. Hiện tại, HSBC là một trong những ngân hàng nước ngoài lớn nhất tại Việt Nam.</p>
    <p>Với 150 năm kinh nghiệm hoạt động tại thị trường Việt Nam, HSBC cung cấp đầy đủ các dịch vụ tài chính ngân hàng bao gồm: Dịch vụ Tài chính Cá nhân và Quản lý Tài sản, Dịch vụ Ngân hàng Doanh Nghiệp, Dịch vụ Ngoại hối và thị trường vốn, Dịch vụ Quản lý Thanh khoản và Tiền tệ Toàn cầu, Dịch vụ Thanh toán Quốc tế và Tài trợ thương mại, và Dịch vụ Chứng Khoán.
    </p>
    <p>Xem thêm tại <a href="http://www.hsbc.com.vn/1/2/vi-vn?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website HSBC">http://hsbc.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>