<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Indovina Bank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:51:23 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Indovina Bank được cập nhật mới nhất vào lúc 18:51:23 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.750</td><td class="text-right">24.800</td><td class="text-right">25.100</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.740</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.730</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.574</td><td class="text-right">26.862</td><td class="text-right">27.365</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">1<span class="vserq"></span>.13<span class="mnhwz"></span></td><td class="text-right">1<span class="vserq"></span>.322</td><td class="text-right">1<span class="vserq"></span>.<span class="dljpk"></span>0<span class="bsoiz"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right">1<span class="dljpk"></span>.031</td><td class="text-right">1<span class="dljpk"></span>.<span class="dljpk"></span><span class="dljpk"></span>0</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right">2<span class="vserq"></span>.<span class="vserq"></span><span class="vserq"></span><span class="dljpk"></span></td><td class="text-right">2<span class="dljpk"></span>.33<span class="dljpk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">3.<span class="bsoiz"></span>2<span class="dljpk"></span></td><td class="text-right">3.<span class="zsalb"></span>31</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">30.999</td><td class="text-right">31.332</td><td class="text-right">31.965</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.119</td><td class="text-right">3.259</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,17</td><td class="text-right">163</td><td class="text-right">166,26</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.163</td><td class="text-right">18.366</td><td class="text-right">18.858</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">676,30</td><td class="text-right">705</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/twd/" class="currency-icon" title="Tỷ giá TWD"><span class="cur-icon ci-twd"></span><span>TWD</span></a></td>
<td>Đài Tệ</td>
<td class="text-right">-</td><td class="text-right">774</td><td class="text-right">839</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:51:23 04/04/2024<br><a href="https://webgia.com/ty-gia/indovinabank/" title="Tỷ giá Indovina - TNHH Indovina">https://webgia.com/ty-gia/indovinabank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Trách nhiệm hữu hạn Indovina - Indovina Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":871,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Indovina Bank - Ng\u00e2n h\u00e0ng Tr\u00e1ch nhi\u1ec7m h\u1eefu h\u1ea1n Indovina - IVB - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="400b00ca2685d7007e5c9e1eda2c5356">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Indovina Bank - Ngân hàng Trách nhiệm hữu hạn Indovina - IVB - Web giá</div>4.3 trên 871 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TNHH MTV Indovina Bank Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Indovina Bank Ltd</p>
    <p><strong>Tên viết tắt:</strong> IndovinaBank / Indovina Bank / IVB</p>
    <p><strong>Năm thành lập: </strong> 1990</p>
    <p><strong>Trụ sở chính:</strong>  97A Nguyễn Văn Trỗi, Phường 12, Quận Phú Nhuận, TP. Hồ Chí Minh.</p>
    <p><strong>Số điện thoại:</strong> (+84-28) 3942 1042</p>
    <p><strong>Số Fax:</strong> (+84-28) 3942 1043</p>
    <p><strong>Hotline:</strong> 1900 588 879</p>
    <p><strong>Website:</strong> www.Indovina Bank.com.vn</p>
    <p><strong>Email:</strong> support@Indovina Bank.com.vn</p>
    <p><strong>Swift Code:</strong> IABBVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng Trách nhiệm hữu hạn Indovina (Indovina Bank Ltd. - IVB) là ngân hàng liên doanh đầu tiên tại Việt Nam được thành lập ngày 21 tháng 11 năm 1990 theo Giấy phép Đầu tư số 135/GP của Ủy ban Nhà nước về Hợp tác và Giấp phép hoạt động số 08/NH-GP do Ngân hàng Nhà nước Việt Nam cấp ngày 29 tháng 10 năm 1992. Hiện nay, IVB đã được Ngân hàng Nhà nước Việt Nam cấp đổi sang Giấy phép thành lập và hoạt động số 101/GP-NHNN ngày 11 tháng 11 năm 2019. Các bên liên doanh của IVB hiện nay là Ngân hàng TMCP Công Thương Việt Nam (VietinBank) và Ngân hàng Cathay United (Cathay United Bank – CUB) của Đài Loan. Đến cuối năm 2018, vốn điều lệ của IVB là 193 triệu USD, trong đó VietinBank và Cathay United Bank mỗi bên góp 96,5 triệu USD.</p>
    <h3>Tầm nhìn</h3>
    <p>Trở thành ngân hàng chuyên biệt có uy tín hàng đầu tại Việt Nam.</p>
    <h3>Sứ mệnh</h3>
    <p>Mang đến hiệu quả tài chính cho nhà đầu tư, khách hàng, cộng đồng và nhân viên. Tập trung vào phát triển nguồn nhân lực.</p>
    <h3>Cam kết</h3>
    <p>Thỏa mãn các nhu cầu của khách hàng bằng dịch vụ nhanh chóng, nhiệt tình, chuyên nghiệp, thân thiện và uy tín.</p>
    <h3>Giá trị cốt lõi</h3>
    <p>Minh bạch: IVB luôn hành động rõ ràng, công bằng và khách quan trong việc tuân thủ các thông lệ, tập quán kinh doanh và các quy định của Chính Phủ và Ngân hàng Nhà nước Việt Nam.</p>
    <p>Chuyên nghịêp: IVB luôn cung cấp các sản phẩm và chất lượng dịch vụ tốt nhất đến với khách hàng.</p>
    <p>Hiệu quả: Các nhân viên không ngừng trau dồi kiến thức và kỹ năng để phục vụ khách hàng với hiệu suất cao nhất mang lại lợi ích thiết thực nhất cho khách hàng.</p>
    <p>Thân thiện: IVB luôn chào đón khách hàng với thái độ niềm nở và vui vẻ.</p>
    <p>An toàn: IVB luôn thận trọng trong mọi hoạt động kinh doanh của mình nhằm đảm bảo giảm tối đa rủi ro tài chính cho mình và cho khách hàng.</p>
    <p>Xem thêm tại <a href="https://www.Indovina Bank.com.vn/" target="_blank" rel="nofollow" title="Website Indovina Bank">https://www.Indovina Bank.com.vn/</a></p>
</section>













</article>
{{>aside-table}}
</div>
</div>
</main>