<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Liên Việt mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Liên Việt được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.580</td><td class="text-right">24.600</td><td class="text-right">25.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.580</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.580</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.401</td><td class="text-right">26.501</td><td class="text-right">27.939</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right"><span class="mkivz"></span>5.<span class="dblia"></span><span class="rwnix"></span><span class="bvuwd"></span></td><td class="text-right"><span class="mkivz"></span><span class="bvuwd"></span>.<span class="mkivz"></span><span class="rwnix"></span><span class="bvuwd"></span></td><td class="text-right"><span class="mkivz"></span><span class="rwnix"></span>.040</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right"><span class="mkivz"></span>8.<span class="nfkps"></span>0<span class="bvuwd"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="nfkps"></span><span class="rwnix"></span>.3<span class="mkivz"></span><span class="mkivz"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">3.<span class="nfkps"></span><span class="dblia"></span>8</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">-</td><td class="text-right">30.257</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.098</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,27</td><td class="text-right">161,27</td><td class="text-right">171,72</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.764</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">-</td><td class="text-right">18.235</td><td class="text-right">-</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/lienvietpostbank/" title="Tỷ giá Liên Việt - TMCP Bưu điện Liên Việt">https://webgia.com/ty-gia/lienvietpostbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Bưu điện Liên Việt - LienVietPostBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":883,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Li\u00ean Vi\u1ec7t - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n B\u01b0u \u0111i\u1ec7n Li\u00ean Vi\u1ec7t - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="897f9d84a7130e453f25c4f9516de2cf">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Liên Việt - Ngân hàng thương mại cổ phần Bưu điện Liên Việt - Web giá</div>4.9 trên 883 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Bưu điện Liên Việt</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Lien Viet Post Joint Stock Commercial Bank</p>
    <p><strong>Tên viết tắt:</strong> LienVietPostBank</p>
    <p><strong>Năm thành lập:</strong> 2008</p>
    <p><strong>Trụ sở chính:</strong> Tầng 1,3,4,5,6 Tòa nhà Thaiholdings Tower Số 210 đường Trần Quang Khải, P. Tràng Tiền, Quận Hoàn Kiếm, Tp. Hà Nội</p>
    <p><strong>Số điện thoại:</strong> (028) 6266 8668</p>
    <p><strong>Số Fax:</strong> (028) 6266 9669</p>
    <p><strong>Hotline:</strong> 1800 577 758</p>
    <p><strong>Website:</strong> www.lienvietpostbank.com.vn</p>
    <p><strong>Email:</strong> dichvukhachhang@lienvietpostbank.com.vn</p>
    <p><strong>Swift Code:</strong> LVBKVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng Thương mại Cổ phần Bưu điện Liên Việt (LienVietPostBank) tiền thân là Ngân hàng Thương mại Cổ phần Liên Việt (LienVietBank) được thành lập theo Giấy phép thành lập và hoạt động số 91/GP-NHNN ngày 28/03/2008 của Thống đốc Ngân hàng Nhà nước Việt Nam.</p>
    <p>Năm 2011, với việc Tổng Công ty Bưu chính Việt Nam (nay là Tổng Công ty Bưu điện Việt Nam) góp vốn vào LienVietBank bằng giá trị Công ty Dịch vụ Tiết kiệm Bưu điện (VPSC) và bằng tiền mặt. Ngân hàng Liên Việt đã được Thủ tướng Chính phủ và Thống đốc Ngân hàng Nhà nước Việt Nam cho phép đổi tên thành Ngân hàng Thương mại Cổ phần Bưu điện Liên Việt. Cùng với việc đổi tên này, Tổng Công ty Bưu chính Việt Nam chính thức trở thành cổ đông lớn nhất của LienVietPostBank.</p>
    <p>Cổ đông sáng lập của LienVietPostBank là Công ty Cổ phần Him Lam, Tổng Công ty Thương mại Sài Gòn (SATRA) và Công ty dịch vụ Hàng không sân bay Tân Sơn Nhất (SASCO). Hiện nay, với số vốn điều lệ 9.769 tỷ đồng, LienVietPostBank hiện là một trong các Ngân hàng Thương mại Cổ phần lớn nhất tại Việt Nam.</p>
    <p>Các cổ đông và đối tác chiến lược của LienVietPostBank là các tổ chức Tài chính – Ngân hàng lớn đang hoạt động tại Việt Nam và nước ngoài như Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank), Ngân hàng Wells Fargo (Mỹ), Ngân hàng Credit Suisse (Thụy Sỹ), Công ty Oracle Financial Services Software Limited…</p>
    <p>LienVietPostBank định hướng xây dựng thương hiệu mạnh trên cơ sở phát huy nội lực, hoạt động minh bạch, gắn xã hội trong kinh doanh.</p>

    <p>Xem thêm tại <a href="https://www.lienvietpostbank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website LienVietPostBank">https://www.lienvietpostbank.com.vn/</a></p>
</section>
















</article>
{{>aside-table}}
</div>
</div>
</main>