<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Maritime Bank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
Bảng tỷ giá ngoại tệ ngân hàng TMCP Hàng Hải Việt Nam (Maritime Bank - MSB) được cập nhật mới nhất vào lúc 18:55:03 04/04/2024<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.790</td><td class="text-right">24.785</td><td class="text-right">25.172</td><td class="text-right">25.107</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.819</td><td class="text-right">26.619</td><td class="text-right">27.597</td><td class="text-right">27.882</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.225</td><td class="text-right">16.195</td><td class="text-right">16.814</td><td class="text-right">16.814</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.257</td><td class="text-right">18.207</td><td class="text-right">18.813</td><td class="text-right">18.833</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="scuno"></span>7.<span class="kutzx"></span>0<span class="qpiuw"></span></td><td class="text-right"><span class="scuno"></span>7.1<span class="igtrs"></span><span class="qpiuw"></span></td><td class="text-right"><span class="scuno"></span>7.<span class="igtrs"></span><span class="aiumn"></span>1</td><td class="text-right"><span class="scuno"></span>7.<span class="igtrs"></span><span class="aiumn"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right"><span class="kutzx"></span>.<span class="kutzx"></span>54</td><td class="text-right"><span class="kutzx"></span>.<span class="kutzx"></span><span class="scuno"></span>0</td><td class="text-right"><span class="kutzx"></span>.5<span class="qpiuw"></span><span class="scuno"></span></td><td class="text-right"><span class="kutzx"></span>.577</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right"><span class="kutzx"></span>.517</td><td class="text-right">-</td><td class="text-right"><span class="kutzx"></span>.7<span class="qpiuw"></span><span class="scuno"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="kutzx"></span>1.<span class="kutzx"></span><span class="kutzx"></span><span class="scuno"></span></td><td class="text-right"><span class="kutzx"></span>1.1<span class="igtrs"></span><span class="scuno"></span></td><td class="text-right"><span class="kutzx"></span><span class="scuno"></span>.110</td><td class="text-right"><span class="kutzx"></span><span class="scuno"></span>.0<span class="qpiuw"></span>0</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.063</td><td class="text-right">3.123</td><td class="text-right">3.310</td><td class="text-right">3.250</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">162,29</td><td class="text-right">160,33</td><td class="text-right">168,45</td><td class="text-right">168,45</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">17,40</td><td class="text-right">17</td><td class="text-right">19,46</td><td class="text-right">20,06</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">4.730</td><td class="text-right">4.880</td><td class="text-right">5.656</td><td class="text-right">5.646</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.261</td><td class="text-right">2.412</td><td class="text-right">2.412</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.852</td><td class="text-right">14.852</td><td class="text-right">15.474</td><td class="text-right">15.424</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.297</td><td class="text-right">2.469</td><td class="text-right">2.469</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.298</td><td class="text-right">18.187</td><td class="text-right">18.933</td><td class="text-right">18.883</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">657</td><td class="text-right">665</td><td class="text-right">703</td><td class="text-right">697</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/twd/" class="currency-icon" title="Tỷ giá TWD"><span class="cur-icon ci-twd"></span><span>TWD</span></a></td>
<td>Đài Tệ</td>
<td class="text-right">696</td><td class="text-right">706</td><td class="text-right">829</td><td class="text-right">849</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/maritimebank/" title="Tỷ giá MSB - TMCP Hàng Hải Việt Nam">https://webgia.com/ty-gia/maritimebank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Hàng Hải Việt Nam - Maritime Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":871,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Maritime Bank (MSB) - Ng\u00e2n h\u00e0ng TMCP H\u00e0ng H\u1ea3i Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="60e0881a85f4ad7d81c0e54669b41429">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Maritime Bank (MSB) - Ngân hàng TMCP Hàng Hải Việt Nam - Web giá</div>4.3 trên 871 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Hàng Hải Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên quốc tế:</strong> Vietnam Maritime Commercial Stock Bank.</p>
    <p><strong>Trụ sở chính:</strong> Số 54A Nguyễn Chí Thanh, P. Láng Thượng, Q. Đống Đa, TP. Hà Nội.</p>
    <p><strong>Số điện thoại:</strong> (024)37718989</p>
    <p><strong>Số Fax:</strong> (024)39410944</p>
    <p><strong>Hotline:</strong> (024)39445566 - 1800599999</p>
    <p><strong>Website:</strong> https://www.msb.com.vn/</p>
    <p><strong>Email:</strong> CSKHCaNhan@msb.com.vn - CSKHDoanhNghiep@msb.com.vn</p>
    <p><strong>Swift Code:</strong> MCOBVNVXXXX</p>
    <h3>Giới thiệu</h3>
    <p>Ngân hàng Thương mại Cổ phần Hàng Hải Việt Nam (Maritime Bank) được thành lập ngày 12 tháng 7 năm 1991 tại thành phố cảng Hải Phòng. Năm 2005, Ngân hàng chính thức chuyển Hội sở lên Hà Nội, mở đầu một giai đoạn phát triển mới với phạm vi hoạt động được mở rộng đáng kể. Sau 27 năm không ngừng phát triển, Maritime Bank hiện đã vươn tới vị trí là một trong 5 ngân hàng thương mại cổ phần lớn nhất tại Việt Nam, sau khi chính thức nhận sáp nhập Ngân hàng TMCP Phát triển Mê Kông ngày 12/8/2015, với giá trị tổng tài sản 104.311 tỷ đồng, vốn điều lệ 11.750 tỷ đồng, mạng lưới gần 300 chi nhánh, phòng giao dịch và gần 500 máy ATM trên toàn quốc.</p>
    <h3>Tầm nhìn và chiến lược</h3>
    <p>Với tầm nhìn trở thành Ngân hàng TMCP tốt nhất Việt Nam, Maritime Bank đã xác định sứ mệnh quan trọng là xây dựng một ngân hàng tốt đến mức ai cũng muốn tham gia và không ai muốn rời bỏ.</p>
    <p>Dựa trên 3 thế mạnh nền tảng: tiềm lực tài chính vững mạnh, mạng lưới chi nhánh phòng giao dịch rộng khắp và đội ngũ nhân viên thân thiện, gắn kết, chiến lược nền tảng của chúng tôi là tiếp tục phát huy tối đa lợi thế cạnh tranh sẵn có để mang đến những trải nghiệm tốt nhất cho khách hàng, cổ đông, nhà cung cấp, cộng đồng và tập thể CBNV của Ngân hàng trong mỗi việc chúng tôi làm.</p>
    <p>Với tầm nhìn và chiến lược nền tảng được xác định rõ ràng, Ngân hàng chúng tôi đã và đang chú trọng triển khai thực hành Bộ Giá Trị Cốt Lõi trong từng hoạt động. Đây được xem là một hành động quan trọng trên lộ trình xây dựng văn hóa doanh nghiệp chuyên nghiệp, thân thiện, minh bạch và hiệu suất cao tại Maritime Bank, tạo nền tảng vững chắc cho những bước phát triển nhanh và bền vững trong những năm sắp tới.</p>
    <h3>Chắc nền tảng, vững bước phát triển trong tương lai</h3>
    <p>Maritime Bank hướng tới việc xây dựng một ngân hàng giao dịch thuận tiện – tin cậy – thân thiện, được khách hàng ưu tiên lựa chọn bởi những lợi ích vượt trội từ việc cung cấp các sản phẩm dịch vụ tài chính đa dạng được thiết kế phù hợp, đáp ứng nhu cầu của từng phân khúc, từ khách hàng cá nhân khu vực thành thị tới nông thôn, từ khách hàng doanh nghiệp nhỏ, vừa tới khách hàng doanh nghiệp lớn và các định chế tài chính.</p>
    <p>Ngân hàng chúng tôi đã và đang không ngừng đầu tư nâng cấp hệ thống nền tảng công nghệ hiện đại, cải tiến sản phẩm và chất lượng dịch vụ trên cơ sở am hiểu nhu cầu khách hàng; chú trọng đầu tư phát triển đội ngũ, xây dựng môi trường làm việc chuyên nghiệp, hiệu suất cao và đặc biệt, quan tâm xây dựng mô hình quản trị ngân hàng và quản trị rủi ro theo chuẩn mực quốc tế, đảm bảo sự phát triển an toàn và bền vững.</p>
    <p>Hiện nay, với mạng lưới gần 300 chi nhánh, phòng giao dịch và gần 500 ATM trên toàn quốc, Maritime Bank đang cung cấp đầy đủ và đa dạng các sản phẩm dịch vụ tài chính ngân hàng với nhiều lợi ích vượt trội, nhận được sự tin tưởng sử dụng của trên 1,3 triệu khách hàng cá nhân, 30.000 khách hàng doanh nghiệp và các định chế tài chính.</p>
    <p>Chúng tôi tin tưởng rằng, với những thế mạnh nền tảng vững chắc, định hướng chiến lược rõ ràng, sự dẫn dắt của đội ngũ lãnh đạo trong và ngoài nước giàu kinh nghiệm, tràn đầy nhiệt huyết cùng đội ngũ nhân viên trẻ trung, năng động, chuyên nghiệp, chúng tôi sẽ triển khai xuất sắc mỗi hoạt động để mang lại trải nghiệm tốt nhất cho khách hàng và đối tác, hướng tới mục tiêu trở thành Ngân hàng TMCP tốt nhất Việt Nam trong tương lai.</p>
    <p>Xem thêm tại <a href="https://www.msb.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Maritime Bank">https://www.msb.com.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>