<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ NCB mới nhất ngày hôm nay <small>- Cập nhật lúc 18:51:16 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Quốc Dân được cập nhật mới nhất vào lúc 18:51:16 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(Lớn)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.540</td><td class="text-right">24.795</td><td class="text-right">25.115</td><td class="text-right">25.239</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(Vừa)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.530</td><td class="text-right">24.795</td><td class="text-right">25.115</td><td class="text-right">25.239</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(Nhỏ)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.520</td><td class="text-right">24.795</td><td class="text-right">25.115</td><td class="text-right">25.239</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.590</td><td class="text-right">26.700</td><td class="text-right">27.505</td><td class="text-right">27.605</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">1<span class="lwgmf"></span>.09<span class="ymfzn"></span></td><td class="text-right">1<span class="lwgmf"></span>.19<span class="ymfzn"></span></td><td class="text-right">1<span class="lwgmf"></span>.<span class="bqthp"></span>1<span class="ymfzn"></span></td><td class="text-right">1<span class="lwgmf"></span>.81<span class="ymfzn"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.111</td><td class="text-right">18.<span class="qauzf"></span>11</td><td class="text-right">18.<span class="bqthp"></span>33</td><td class="text-right">18.833</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="qauzf"></span><span class="bqthp"></span>.099</td><td class="text-right"><span class="qauzf"></span><span class="bqthp"></span>.<span class="qauzf"></span><span class="qauzf"></span>9</td><td class="text-right"><span class="qauzf"></span><span class="bqthp"></span>.8<span class="ymfzn"></span>0</td><td class="text-right"><span class="qauzf"></span><span class="bqthp"></span>.9<span class="ymfzn"></span>0</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.1<span class="ymfzn"></span>3</td><td class="text-right">31.<span class="qauzf"></span><span class="lwgmf"></span>3</td><td class="text-right">31.933</td><td class="text-right">3<span class="qauzf"></span>.033</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,21</td><td class="text-right">161,41</td><td class="text-right">167,57</td><td class="text-right">168,37</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">14,52</td><td class="text-right">16,52</td><td class="text-right">20,55</td><td class="text-right">21,05</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.040</td><td class="text-right">18.261</td><td class="text-right">18.782</td><td class="text-right">18.882</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">595</td><td class="text-right">665</td><td class="text-right">698</td><td class="text-right">702</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:51:16 04/04/2024<br><a href="https://webgia.com/ty-gia/ncb/" title="Tỷ giá NCB - TMCP Quốc Dân">https://webgia.com/ty-gia/ncb/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Quốc Dân - NCB</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":844,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 NCB - Ng\u00e2n h\u00e0ng TMCP Qu\u1ed1c D\u00e2n - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="1d1d5e9ccdfb3607fe48ed86a5e3d21f">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá NCB - Ngân hàng TMCP Quốc Dân - Web giá</div>4.9 trên 844 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Quốc Dân – NCB</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> National Citizen Bank / National Citizen Commercial Joint Stock Bank</p>
    <p><strong>Tên gọi tắt:</strong> NCB</p>
    <p><strong>Năm thành lập:</strong> 1995</p>

    <p><strong>Trụ sở chính:</strong> 28C-28D Bà Triệu, Phường Hàng Bài, Quận Hoàn Kiếm, TP.Hà Nội .</p>
    <p><strong>Số điện thoại:</strong> (024) 62693355</p>
    <p><strong>FAX:</strong> (024) 6269 3535</p>
    <p><strong>Hotline:</strong> 028 38216 216 - 1800 6166</p>
    <p><strong>Website:</strong> www.ncb-bank.vn</p>
    <p><strong>Email:</strong> callcenter@ncb-bank.vn</p>
    <p><strong>Swift Code:</strong> NVBAVNVX</p>


    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Quốc Dân – NCB được thành lập từ năm 1995 theo Giấy phép số 00057/NH–CP ngày 18/09/1995 của Ngân hàng Nhà nước Việt Nam dưới tên gọi Ngân hàng Sông Kiên. Sau đó, từ một ngân hàng nông thôn, NCB đã chuyển đổi quy mô thành ngân hàng đô thị, đổi tên thành <strong>Ngân hàng TMCP Nam Việt – Navibank</strong>. Đến năm 2014, NCB chính thức được đổi tên thành NH TMCP Quốc Dân – NCB. Trải qua 25 năm hoạt động, NCB đã từng bước khẳng định được vị thế thương hiệu trên thị trường tài chính – tiền tệ Việt Nam.</p>

    <p>Từ đầu năm 2013, nhằm đáp ứng nhu cầu ngày càng tăng của thị trường và duy trì vị trí của mình trong môi trường cạnh tranh khốc liệt, Ngân hàng TMCP Quốc Dân đã bắt đầu tiến hành tái cấu trúc hệ thống với định hướng phấn đấu trở thành một trong các ngân hàng thương mại bán lẻ hiệu quả nhất. Để hoàn thành mục tiêu đó, NCB đã nỗ lực tập trung vào những yếu tố cốt lõi như: thay đổi cơ cấu tổ chức hướng đến việc tách bạch giữa các khối kinh doanh với các khối quản trị và hỗ trợ, cải tiến các quy định, quy trình, thay đổi cấu trúc kinh doanh, củng cố và nâng cao năng lực cán bộ nhân viên, tăng cường quản trị rủi ro,…</p>

    <p><strong>Ngành nghề kinh doanh:</strong> Huy động vốn, tiếp nhận vốn, ủy thác, vay vốn, cho vay, chiết khấu các thương phiếu, hùn vốn liên doanh, dịch vụ thanh toán.</p>

    <p><strong>Tình hình hoạt động:</strong> Sau 25 năm hoạt động, sự phát triển Ngân hàng với nhịp độ tăng trưởng ổn định, an toàn đã giúp NCB có được niềm tin của nhà đầu tư, khách hàng và đối tác.</p>

    <p>Xem thêm tại <a href="https://www.ncb-bank.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website NCB">https://www.ncb-bank.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>