<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ OCB mới nhất ngày hôm nay <small>- Cập nhật lúc 18:51:18 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng OCB được cập nhật mới nhất vào lúc 18:51:18 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.825</td><td class="text-right">24.875</td><td class="text-right">25.230</td><td class="text-right">25.130</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.825</td><td class="text-right">24.875</td><td class="text-right">25.230</td><td class="text-right">25.130</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.825</td><td class="text-right">24.875</td><td class="text-right">25.230</td><td class="text-right">25.130</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.805</td><td class="text-right">26.955</td><td class="text-right">28.120</td><td class="text-right">27.420</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right"><span class="pczje"></span><span class="nucew"></span>.<span class="pczje"></span><span class="nucew"></span>7</td><td class="text-right"><span class="pczje"></span><span class="nucew"></span>.<span class="mdltw"></span><span class="pczje"></span>7</td><td class="text-right"><span class="pczje"></span>7.<span class="mdltw"></span>75</td><td class="text-right"><span class="pczje"></span><span class="nucew"></span>.725</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right"><span class="pczje"></span><span class="xsnht"></span>.<span class="pczje"></span>00</td><td class="text-right"><span class="pczje"></span><span class="xsnht"></span>.200</td><td class="text-right"><span class="pczje"></span><span class="orjea"></span>.505</td><td class="text-right"><span class="pczje"></span><span class="xsnht"></span>.<span class="orjea"></span>05</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2<span class="xsnht"></span>.0<span class="orjea"></span><span class="pczje"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right"><span class="mdltw"></span>.<span class="mdltw"></span>05</td><td class="text-right">-</td><td class="text-right"><span class="mdltw"></span>.<span class="nucew"></span>0<span class="nucew"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.224</td><td class="text-right">31.374</td><td class="text-right">32.148</td><td class="text-right">32.098</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,82</td><td class="text-right">163,32</td><td class="text-right">167,86</td><td class="text-right">167,36</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">19,56</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.244</td><td class="text-right">18.394</td><td class="text-right">18.854</td><td class="text-right">18.804</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">702</td></tr>
<tr>
<td></td>
<td></td>
<td class="text-right">7.937.000</td><td class="text-right">-</td><td class="text-right">8.113.000</td><td class="text-right">-</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:51:18 04/04/2024<br><a href="https://webgia.com/ty-gia/ocb/" title="Tỷ giá OCB - TMCP Phương Đông">https://webgia.com/ty-gia/ocb/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Phương Đông - OCB</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":844,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 OCB - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Ph\u01b0\u01a1ng \u0110\u00f4ng - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="af50d1b8a208f44e52e9f941874b38b7">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá OCB - Ngân hàng thương mại cổ phần Phương Đông - Web giá</div>4.9 trên 844 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Phương Đông</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Orient Commercial Joint Stock Bank</p>
    <p><strong>Tên gọi tắt:</strong> Oricombank hay OCB</p>
    <p><strong>Năm thành lập:</strong> 1996</p>
    <p><strong>Trụ sở chính:</strong> 41 &amp; 45 Lê Duẩn, P.Bến Nghé, Quận 1, Tp. Hồ Chí Minh</p>
    <p><strong>Số điện thoại:</strong> (84-28) 38 220 960 - 38 220 961</p>
    <p><strong>Số Fax:</strong> (84-28) 38 220 963</p>
    <p><strong>Hotline:</strong> 1800 6678</p>
    <p><strong>Website:</strong> www.ocb.com.vn</p>
    <p><strong>Email:</strong> dvkh@ocb.com.vn</p>
    <p><strong>Swift Code:</strong> ORCOVNVX</p>
    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Phương Đông – Orient Commercial Joint Stock Bank (OCB) được thành lập từ ngày 10/06/1996, qua 24 năm hoạt động và phát triển, OCB luôn duy trì phương châm: khách hàng là trọng tâm, nghiên cứu và phát triển những sản phẩm dịch vụ tài chính phù hợp. Hiện OCB có hơn 200 đơn vị kinh doanh trải dài tại khắp các tỉnh thành, trung tâm kinh tế trọng điểm trên cả nước. Và được đánh giá là một trong những ngân hàng có tốc độ tăng trưởng tốt và ổn định trong vòng 05 năm trong hệ thống các tổ chức tài chính tại Việt Nam.</p>
    <p>Ngân hàng hiện đang tập trung nguồn lực, mở rộng mạng lưới giao dịch, tăng năng lực cạnh tranh, tăng cường các hoạt động quản lý rủi ro, thực thi chiến lược phát triển giai đoạn 2016 - 2020 đưa OCB trở thành một trong những ngân hàng tốt hàng đầu Việt Nam.</p>
    <p>OCB là một trong những ngân hàng đầu tiên tại Việt Nam hoàn thành các hạng mục dự án Quản lý rủi ro theo tiêu chuẩn quốc tế Basel II năm 2017 và được NHNN công nhận vào tháng 12/2018.</p>
    <p>Năm 2019, OCB đã được Moody's Investors Service, một trong 3 tổ chức xếp hạng tín nhiệm uy tín nhất thế giới, tăng bậc xếp hạng đánh giá rủi ro đối tác (CRA-counterparty risk assessment) và xếp hạng rủi ro đối tác (CRR-counterparty risk ratings) lên mức Ba3, đây là mức xếp hạng thuộc top cao nhất tại Việt Nam hiện nay.</p>
    <p>OCB được tạp chí IFM trao tặng 02 giải thưởng lớn trong lĩnh vực tài chính ngân hàng là Ngân hàng số đột phá năm 2019 (Most Innovative Digital Banking Solution) và Ngân hàng số tăng trưởng nhanh nhất Việt Nam 2019 (Fastest Growing Digital Bank – Vietnam 2019). </p>
    <p>OCB là một trong 3 tổ chức tài chính - ngân hàng tại Việt Nam nhận giải "Doanh nghiệp xuất sắc khu vực châu Á - Thái Bình Dương" tại lễ trao giải thưởng Asia Pacific Entrepreneurship Awards 2019 (APEA). Giải thưởng từ APEA chính là sự ghi nhận về năng lực kinh doanh nổi bật của OCB trong ngành tài chính - ngân hàng tại Việt Nam và là động lực để OCB tiếp tục đem lại niềm tin và thịnh vượng cho khách hàng.</p>
    <p>Năm 2020, OCB được tạp chí tài chính quốc tế International Finance Magazine (IFM) trao giải thưởng "Ngân hàng chuyển đổi số tốt nhất Việt Nam 2020". Đây là lần thứ ba liên tiếp nhà băng nhận giải thưởng từ tạp chí uy tín này. Đặc biệt, năm nay, OCB là ngân hàng duy nhất tại Việt Nam nhận giải thưởng ở hạng mục trên.</p>
    <p>Tháng 9/2020, OCB được vinh danh trong bảng xếp hạng Fast 500 &amp; Top 10 ngân hàng uy tín năm 2020. Kết quả này đánh dấu những nỗ lực không ngừng nghỉ của OCB trên chặng đường phát triển, đồng thời khẳng định vị thế vượt trội, uy tín thương hiệu của Ngân hàng trong thị trường tài chính ngân hàng. </p>

    <p>Xem thêm tại <a href="https://www.ocb.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website OCB">https://www.ocb.com.vn/</a></p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>