<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ SaigonBank mới nhất ngày hôm nay <small>- Cập nhật lúc 08:30:14 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng SaigonBank được cập nhật mới nhất vào lúc 08:30:14 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.780</td><td class="text-right">24.850</td><td class="text-right">25.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.604</td><td class="text-right">26.778</td><td class="text-right">27.514</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.148</td><td class="text-right">16.224</td><td class="text-right">16.760</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.161</td><td class="text-right">18.277</td><td class="text-right">18.818</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="kiyan"></span>7.<span class="aweug"></span><span class="kiyan"></span><span class="heoup"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right"><span class="aweug"></span>.<span class="aweug"></span>88</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right"><span class="aweug"></span>.<span class="rausb"></span>7<span class="ltfrb"></span></td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="aweug"></span>1.001</td><td class="text-right"><span class="aweug"></span>1.<span class="kiyan"></span>08</td><td class="text-right"><span class="aweug"></span><span class="kiyan"></span>.09<span class="heoup"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.156</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,07</td><td class="text-right">162,59</td><td class="text-right">168,31</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">18,36</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.293</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.878</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.308</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.209</td><td class="text-right">18.316</td><td class="text-right">18.843</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 08:30:14 04/04/2024<br><a href="https://webgia.com/ty-gia/saigonbank/" title="Tỷ giá Saigonbank - TMCP Sài Gòn Công Thương">https://webgia.com/ty-gia/saigonbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Sài Gòn Công Thương - SaigonBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":865,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 SaigonBank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n S\u00e0i G\u00f2n C\u00f4ng Th\u01b0\u01a1ng - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="2ae754ae77da83fca8fde8c0fcc6c7b2">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá SaigonBank - Ngân hàng thương mại cổ phần Sài Gòn Công Thương - Web giá</div>5 trên 865 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Sài Gòn Công Thương</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Saigon Bank for Industry and Trade</p>
    <p><strong>Tên viết tắt:</strong> SAIGONBANK</p>
    <p><strong>Năm thành lập:</strong> 1987</p>
    <p><strong>Trụ sở chính:</strong> 2C Phó Đức Chính, Phường Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</p>
    <p><strong>Số điện thoại:</strong> (+84) 028 39143183</p>
    <p><strong>Số Fax:</strong> (+84) 028 39143193</p>
    <p><strong>Hotline:</strong> 1900555511 / (+84) 028 39142343 (Dịch vụ Thẻ)</p>
    <p><strong>Website:</strong> https://www.saigonbank.com.vn/</p>
    <p><strong>Email:</strong> webadmin@saigonbank.com.vn</p>
    <p><strong>Swift Code:</strong> SBITVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Là Ngân hàng cổ phần Việt Nam đầu tiên được thành lập trong hệ thống Ngân hàng cổ phần tại Việt Nam hiện nay, ra đời ngày 16 tháng 10 năm 1987, trước khi có Luật Công ty và Pháp lệnh Ngân hàng với vốn điều lệ ban đầu là 650 triệu đồng.</p>
    <p>Sau hơn 30 năm thành lập, SAIGONBANK đã tăng vốn điều lệ từ 650 triệu đồng lên 3.080 tỷ đồng.  Nhờ vốn điều lệ tăng trưởng qua từng năm SAIGONBANK đã thúc đẩy tăng trưởng nghiệp vụ, phát triển mạng lưới hoạt động, kết quả kinh doanh liên tục có lời, cổ đông nhận cổ tức khá cao từ đồng vốn đầu tư ban đầu.</p>

    <p>Tính đến năm 2017, SAIGONBANK có quan hệ đại lý với 562 ngân hàng và chi nhánh tại 70 quốc gia và vùng lãnh thổ trên khắp thế giới. Hiện nay SAIGONBANK là đại lý thanh toán thẻ Visa, Master Card, JCB, CUP… và là đại lý chuyển tiền kiều hối Moneygram.</p>

    <p>Ngoài việc đưa các sản phẩm dịch vụ ngân hàng có chất lượng, phù hợp với nhu cầu khách hàng, mở rộng mạng lưới hoạt động… với đối tượng khách hàng là các doanh nghiệp vừa và nhỏ, SAIGONBANK còn quan tâm và mở rộng các hoạt động đến các đối tượng khách hàng là các cá nhân, công ty liên doanh, doanh nghiệp nước ngoài… hoạt động trong các khu chế xuất, khu công nghiệp, hỗ trợ sự phát triển các ngành nghề nông, lâm, ngư nghiệp, tiểu thủ công nghiệp và các ngành nghề truyền thống tại các địa phương trong cả nước.</p>

    <p>Trong thời gian tới, theo xu thế phát triển - hội nhập của hệ thống Ngân hàng thương mại Việt Nam vào nền kinh tế khu vực và thế giới, SAIGONBANK sẽ liên tục đổi mới hoạt động: cung ứng thêm nhiều sản phẩm dịch vụ, thay đổi phong cách phục vụ, ưu đãi các khách hàng giao dịch thường xuyên, mở rộng mạng lưới hoạt động, hướng tới phục vụ khách hàng bằng những sản phẩm dịch vụ ngân hàng hiện đại với chất lượng tốt nhất dựa trên nền tảng công nghệ ngân hàng tiên tiến… nhằm thực hiện thành công mục tiêu là một trong những Ngân hàng TMCP lớn mạnh hàng đầu trong hệ thống Ngân hàng TMCP.</p>

    <p>Xem thêm tại <a href="https://www.saigonbank.com.vn/" target="_blank" rel="nofollow" title="Website SaigonBank">https://www.saigonbank.com.vn/</a></p>
</section>




</article>
{{>aside-table}}
</div>
</div>
</main>