<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ SCB mới nhất ngày hôm nay <small>- Cập nhật lúc 15:35:04 04/04/2024</small></h1>
Bảng tỷ giá ngoại tệ ngân hàng SCB được cập nhật mới nhất vào lúc 15:35:04 04/04/2024<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.730</td><td class="text-right">24.810</td><td class="text-right">25.120</td><td class="text-right">25.120</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.700</td><td class="text-right">24.810</td><td class="text-right">25.120</td><td class="text-right">25.120</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5-20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.660</td><td class="text-right">24.810</td><td class="text-right">25.120</td><td class="text-right">25.120</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.530</td><td class="text-right">26.610</td><td class="text-right">27.680</td><td class="text-right">27.580</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.<span class="deyqt"></span>9<span class="deyqt"></span></td><td class="text-right">16.18<span class="deyqt"></span></td><td class="text-right">1<span class="fhgws"></span>.1<span class="fhgws"></span><span class="deyqt"></span></td><td class="text-right">1<span class="fhgws"></span>.<span class="deyqt"></span><span class="fhgws"></span><span class="deyqt"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.<span class="deyqt"></span><span class="fhgws"></span><span class="deyqt"></span></td><td class="text-right">18.1<span class="fhgws"></span><span class="deyqt"></span></td><td class="text-right">18.9<span class="roahu"></span><span class="deyqt"></span></td><td class="text-right">18.8<span class="roahu"></span><span class="deyqt"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.<span class="deyqt"></span>6<span class="deyqt"></span></td><td class="text-right">31.11<span class="deyqt"></span></td><td class="text-right">3<span class="roahu"></span>.<span class="kvasw"></span>6<span class="deyqt"></span></td><td class="text-right">3<span class="roahu"></span>.36<span class="deyqt"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">16<span class="deyqt"></span>,<span class="fhgws"></span><span class="deyqt"></span></td><td class="text-right">161,<span class="fhgws"></span><span class="deyqt"></span></td><td class="text-right">168,3<span class="deyqt"></span></td><td class="text-right">16<span class="fhgws"></span>,3<span class="deyqt"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">18,40</td><td class="text-right">-</td><td class="text-right">21,20</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.170</td><td class="text-right">18.240</td><td class="text-right">19.090</td><td class="text-right">18.870</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 15:35:04 04/04/2024<br><a href="https://webgia.com/ty-gia/scb/" title="Tỷ giá SCB - TMCP Sài Gòn">https://webgia.com/ty-gia/scb/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Sài Gòn - SCB</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":844,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 SCB - Ng\u00e2n h\u00e0ng TMCP S\u00e0i G\u00f2n - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="486b8f80983ae29b60b182ee521bd5b8">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá SCB - Ngân hàng TMCP Sài Gòn - Web giá</div>4.9 trên 844 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Sài Gòn</h2>
    <p>
        </p><ul>
            <li>Tên tiếng Việt: Ngân hàng Thương Mại Cổ Phần Sài Gòn</li>
            <li>Tên viết tắt tiếng Việt: Ngân hàng Sài Gòn</li>
            <li>Tên viết tiếng nước ngoài: Sai Gon Joint Stock Commercial Bank</li>
            <li>Tên viết tắt tiếng Anh: Sai Gon Commercial Bank</li>
            <li>Tên viết tắt: SCB</li>
            <li>Hội sở chính: 927 Trần Hưng Đạo, Phường 1, Quận 5, Tp. HCM</li>
            <li>Vốn điều lệ: Kể từ ngày 27/04/2015, vốn điều lệ của Ngân hàng Thương Mại Cổ Phần Sài Gòn là 14.294.801.040.000 đồng (mười bốn ngàn hai trăm chín mươi bốn tỷ tám trăm lẻ một triệu không trăm bốn chục ngàn đồng)</li>
            <li>SWIFT: SACLVNVX</li>
        </ul>
    <p></p>
    <p>Thành lập từ năm 1992, sau hơn 26 năm hoạt động, SCB đang không ngừng phát triển, khẳng định vị thế Top 5 Ngân hàng TMCP có quy mô lớn nhất Việt Nam, với tổng tài sản hơn 443.000 tỷ đồng, vốn điều lệ 14.295 tỷ đồng vào cuối tháng 12/2017, mạng lưới hoạt động phủ rộng khắp 28 tỉnh/thành thuộc các vùng kinh tế trọng điểm của cả nước, cùng đội ngũ nhân sự 5.400 người.</p>
    <p>Tiềm lực tài chính vững mạnh, cơ sở vật chất khang trang, hệ thống công nghệ thông tin hiện đại, cùng những chỉ đạo sát sao từ Ban Lãnh đạo và sự tâm huyết, chuyên nghiệp từ đội ngũ Cán bộ nhân viên đã giúp SCB đạt được nhiều thành công vượt bậc, thể hiện qua các chỉ tiêu như: hoạt động cho vay và huy động liên tục tăng trưởng, tỷ lệ thu ngoài lãi trên tổng thu nhập hoạt động tăng mạnh qua các năm, duy trì nợ xấu dưới 1%, trích lập dự phòng lớn. Hiện nay, SCB đang là một trong các Ngân hàng có tỷ lệ thu ngoài lãi và có nguồn vốn huy động từ dân cư và tổ chức kinh tế cao nhất toàn hệ thống các tổ chức tín dụng Việt Nam.</p>
    <p>Với danh mục sản phẩm đa dạng và chất lượng dịch vụ không ngừng được nâng cao, SCB định hướng trở thành một trong những Ngân hàng Bán lẻ đa năng, hiện đại hàng đầu Việt Nam, cung cấp các giải pháp tài chính trọn gói cho Khách hàng.</p>
    <p>Xem thêm tại <a href="https://www.scb.com.vn" target="_blank" rel="nofollow" title="Website SCB">https://www.scb.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>