<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ SHB mới nhất ngày hôm nay <small>- Cập nhật lúc 14:25:06 04/04/2024</small></h1>
Bảng tỷ giá ngoại tệ ngân hàng TMCP Sài Gòn - Hà Nội (SHB) được cập nhật mới nhất vào lúc 14:25:06 04/04/2024<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(&gt;50)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.840</td><td class="text-right">-</td><td class="text-right">25.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(&lt;=50)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">23.176</td><td class="text-right">-</td><td class="text-right">25.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.790</td><td class="text-right">26.790</td><td class="text-right">27.460</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.102</td><td class="text-right">16.202</td><td class="text-right">16.682</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.<span class="jirts"></span>6<span class="vashr"></span></td><td class="text-right">18.16<span class="vashr"></span></td><td class="text-right">18.8<span class="jirts"></span>5</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">2<span class="vashr"></span>.<span class="rvktn"></span><span class="jirts"></span>6</td><td class="text-right">2<span class="vashr"></span>.<span class="rvktn"></span>86</td><td class="text-right">28.<span class="jirts"></span>56</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right"><span class="rvktn"></span>.<span class="osmjz"></span>2<span class="jirts"></span></td><td class="text-right"><span class="rvktn"></span>.<span class="osmjz"></span><span class="bazit"></span>6</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="rvktn"></span>1.16<span class="rvktn"></span></td><td class="text-right"><span class="rvktn"></span>1.2<span class="vashr"></span><span class="rvktn"></span></td><td class="text-right"><span class="rvktn"></span>2.<span class="jirts"></span>5<span class="rvktn"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.135</td><td class="text-right">3.165</td><td class="text-right">3.235</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,95</td><td class="text-right">161,95</td><td class="text-right">167,45</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">17,09</td><td class="text-right">21,59</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.180</td><td class="text-right">18.280</td><td class="text-right">18.800</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">646</td><td class="text-right">668</td><td class="text-right">713</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 14:25:06 04/04/2024<br><a href="https://webgia.com/ty-gia/shbbank/" title="Tỷ giá SHB - TMCP Sài Gòn - Hà Nội">https://webgia.com/ty-gia/shbbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Sài Gòn - Hà Nội - SHB Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.8","ratingCount":856,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 SHB - Ng\u00e2n h\u00e0ng TMCP S\u00e0i G\u00f2n - H\u00e0 N\u1ed9i - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="68ce59fd20cea57ee622f01a8eec011e">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:96%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá SHB - Ngân hàng TMCP Sài Gòn - Hà Nội - Web giá</div>4.8 trên 856 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Sài Gòn - Hà Nội</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên quốc tế:</strong> SaiGon Hanoi Commercial Joint Stock Bank.</p>
    <p><strong>Trụ sở chính:</strong> Số 77, Phố Trần Hưng Đạo, Phường Trần Hưng Đạo, Quận Hoàn Kiếm, Hà Nội.</p>
    <p><strong>Số điện thoại:</strong> (024) 3942 3388</p>
    <p><strong>Số Fax:</strong> 024 3941 0944</p>
    <p><strong>Hotline:</strong> 1800.5888.56</p>
    <p><strong>Website:</strong> https://www.shb.com.vn/</p>
    <p><strong>Email:</strong> info@shb.com.vn</p>
    <p><strong>Swift Code:</strong> SHBAVNVX</p>
    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Sài Gòn- Hà Nội (SHB) thành lập theo Quyết định số 214/QÐ-NH5 ngày 13/11/1993; Quyết định số 93/QĐ-NHNN ngày 20/1/2006 và Quyết định số 1764/QĐ-NHNN ngày 11/9/2006. Trải qua 23 năm xây dựng và phát triển, SHB tự hào là một trong những ngân hàng thương mại có tốc độ phát triển mạnh mẽ qua từng năm, gặt hái nhiều thành công rực rỡ nhờ chiến lược phát triển toàn diện song hành với mục tiêu phát triển vì lợi ích của cộng đồng. Với tôn chỉ hoạt động <strong>“Đối tác tin cậy, Giải pháp phù hợp”</strong> và chiến lược kinh doanh luôn đổi mới nhằm mang lại giá trị lợi ích cho khách hàng và sự thịnh vượng cho các cổ đông – nhà đầu tư, SHB luôn làm hài lòng khách hàng và đối tác với những sản phẩm, dịch vụ ngân hàng đồng bộ, tiện ích, chất lượng và cạnh tranh với phong cách phục vụ chuyên nghiệp. SHB hiện nằm trong Top 5 các Ngân hàng TMCP tư nhân lớn nhất Việt Nam không do Nhà nước chi phối vốn.</p>
    <p>Tính đến hết 30/09/2017, SHB có vốn điều lệ đạt 11.197 tỷ đồng, tổng tài sản đạt hơn 265.300 tỷ đồng. Mới đây, SHB đã được NHNN chấp thuận tăng vốn điều lệ lên hơn 12.036 tỷ đồng. Với gần 7.000 cán bộ nhân viên, mạng lưới rộng gần 500 điểm giao dịch ở Việt Nam, Lào và Campuchia, SHB đang phục vụ gần 4 triệu khách hàng cá nhân và doanh nghiệp.</p>
    <p>Với những thành tích đã đạt được, SHB đã vinh dự được Chủ tịch nước trao tặng Huân chương Lao động hạng Nhì và nhiều giải thưởng cao quý của Đảng, Nhà nước, của các tổ chức uy tín trong nước và Quốc tế như: Top 10 Ngân hàng uy tín nhất Việt Nam, Top 50 thương hiệu giá trị nhất Việt Nam 2016 – trong đó SHB là Ngân hàng có tỷ lệ giá trị thương hiệu/giá trị tài sản cao nhất trong 10 Ngân hàng được đánh giá, Ngân hàng tài trợ Dự án tốt nhất Việt Nam, Ngân hàng SME tốt nhất Việt Nam, Ngân hàng nước ngoài tiêu biểu Campuchia, Ngân hàng có Sản phẩm tiền gửi tốt nhất Việt Nam và Sáng kiến thương hiệu tốt nhất, Ngân hàng có dịch vụ Internet Banking tốt nhất,….</p>
    <p>Xem thêm tại <a href="https://www.shb.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website SHB">https://www.shb.com.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>