<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Techcombank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Techcombank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50-100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.836</td><td class="text-right">24.858</td><td class="text-right">25.163</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.809</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.757</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.494</td><td class="text-right">26.803</td><td class="text-right">27.722</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">15.9<span class="snifm"></span><span class="dszxa"></span></td><td class="text-right">1<span class="dszxa"></span>.19<span class="snifm"></span></td><td class="text-right">1<span class="dszxa"></span>.<span class="atnsp"></span><span class="ohpgm"></span>9</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.97<span class="snifm"></span></td><td class="text-right">1<span class="atnsp"></span>.<span class="snifm"></span><span class="nlzvw"></span>7</td><td class="text-right">1<span class="atnsp"></span>.<span class="atnsp"></span>5<span class="atnsp"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="snifm"></span>7.<span class="ohpgm"></span>5<span class="atnsp"></span></td><td class="text-right"><span class="snifm"></span>7.<span class="nlzvw"></span><span class="snifm"></span><span class="ohpgm"></span></td><td class="text-right"><span class="snifm"></span><span class="atnsp"></span>.<span class="ohpgm"></span>5<span class="ohpgm"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">3.3<span class="dszxa"></span>1</td><td class="text-right">3.<span class="nlzvw"></span><span class="atnsp"></span>9</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">30.843</td><td class="text-right">31.220</td><td class="text-right">32.154</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.064</td><td class="text-right">3.266</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">158,15</td><td class="text-right">162,52</td><td class="text-right">169,11</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">22</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.017</td><td class="text-right">18.292</td><td class="text-right">18.813</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">598</td><td class="text-right">661</td><td class="text-right">713</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/techcombank/" title="Tỷ giá Techcombank - TMCP Kỹ thương Việt Nam">https://webgia.com/ty-gia/techcombank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Kỹ thương Việt Nam - Techcombank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.7","ratingCount":868,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Techcombank (TCB) - Ng\u00e2n h\u00e0ng TMCP K\u1ef9 th\u01b0\u01a1ng Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="3c44516619eaa22f5fd52d852bfc8b68">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:94%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Techcombank (TCB) - Ngân hàng TMCP Kỹ thương Việt Nam - Web giá</div>4.7 trên 868 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Kỹ thương Việt Nam</h2>
    <p>Ngân hàng Thương mại Cổ phần Kỹ Thương Việt Nam, thường được biết đến với tên gọi Techcombank hiện là một trong những ngân hàng thương mại cổ phần lớn tại Việt Nam. Kể từ khi thành lập vào ngày 27/9/1993 với số vốn ban đầu chỉ có 20 tỷ đồng, Techcombank đã không ngừng phát triển mạnh mẽ với thành tích kinh doanh xuất sắc và được nhiều lần ghi nhận là một tổ chức tài chính uy tín với danh hiệu Ngân hàng tốt nhất Việt Nam. Ngày nay, cùng với sự hỗ trợ của cổ đông chiến lược HSBC, chúng tôi đang có một nền tảng tài chính ổn định và vững mạnh với tổng tài sản đạt trên 158.897 tỷ đồng (tính đến hết năm 2013).</p>
    <p>Techcombank cũng sở hữu một mạng lưới dịch vụ đa dạng và rộng khắp với 315 chi nhánh và 1229 máy ATM trên toàn quốc cùng với hệ thống công nghệ ngân hàng tiên tiến bậc nhất.</p>
    <p>Techcombank còn được dẫn dắt bởi một đội ngũ quản lý tài năng có bề dày kinh nghiệm tài chính chuyên nghiệp cấp đa quốc gia và một lực lượng nhân sự lên tới trên 7000 nhân viên được đào tạo chuyên nghiệp sẵn sàng hiện thực hóa mục tiêu của Ngân hàng – trở thành Ngân hàng tốt nhất và Doanh nghiệp hàng đầu Việt Nam.</p>
    <p>Thông qua 3 lĩnh vực kinh doanh chiến lược: Dịch vụ tài chính Cá nhân, Dịch vụ ngân hàng cho doanh nghiệp vừa và nhỏ, Ngân hàng Bán Buôn và Ngân hàng giao dịch, chúng tôi cung cấp những sản phẩm và dịch vụ tài chính đáp ứng các nhu cầu đa dạng của nhiều phân  khúc khách hàng khác nhau. Đó có lẽ cũng chính là lý do hơn 3,3 triệu khách hàng các nhân và 45,368 khách hàng doanh nghiệp đã chọn Techcombank là người bạn đồng hành về tài chính.</p>
    <p>Xem thêm tại <a href="https://www.techcombank.com.vn/trang-chu?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Techcombank">https://www.techcombank.com.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>