<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ UOB mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng UOB được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.755</td><td class="text-right">24.800</td><td class="text-right">25.210</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.278</td><td class="text-right">26.549</td><td class="text-right">27.693</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">15.946</td><td class="text-right">16.110</td><td class="text-right">16.807</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.924</td><td class="text-right">18.108</td><td class="text-right">18.887</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">2<span class="qfjgo"></span>.<span class="fervd"></span>2<span class="zgcxe"></span></td><td class="text-right">27.101</td><td class="text-right">2<span class="fervd"></span>.270</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="xgjbf"></span>0.<span class="qfjgo"></span><span class="qfjgo"></span>2</td><td class="text-right"><span class="xgjbf"></span>0.<span class="lzahp"></span>7<span class="fervd"></span></td><td class="text-right"><span class="xgjbf"></span>2.<span class="xgjbf"></span>12</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right"><span class="xgjbf"></span>.0<span class="lzahp"></span>5</td><td class="text-right"><span class="xgjbf"></span>.127</td><td class="text-right"><span class="xgjbf"></span>.2<span class="qfjgo"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">15<span class="lzahp"></span>,77</td><td class="text-right">1<span class="qfjgo"></span>1,<span class="zgcxe"></span>2</td><td class="text-right">1<span class="qfjgo"></span><span class="fervd"></span>,<span class="xgjbf"></span><span class="qfjgo"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.557</td><td class="text-right">14.657</td><td class="text-right">15.497</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">17.972</td><td class="text-right">18.157</td><td class="text-right">18.939</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">648</td><td class="text-right">665</td><td class="text-right">701</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/uob/" title="Tỷ giá UOB - UOB Việt Nam">https://webgia.com/ty-gia/uob/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TNHH MTV United Overseas Bank Việt Nam - UOB</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":844,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 UOB - Ng\u00e2n h\u00e0ng TNHH MTV United Overseas Bank Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="d7d334809706142e87adc56737ccaaca">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá UOB - Ngân hàng TNHH MTV United Overseas Bank Việt Nam - Web giá</div>4.9 trên 844 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TNHH MTV UOB Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> United Overseas Bank (Vietnam) Limited</p>
    <p><strong>Tên viết tắt:</strong> UOB</p>
    <p><strong>Năm thành lập tại Việt Nam: </strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> Tầng trệt, Tòa nhà Văn phòng Central Plaza, 17 Đường Lê Duẩn, Quận 1, Thành phố Hồ Chí Minh</p>
    <p><strong>Số điện thoại:</strong> 028 3825 1424</p>
    <p><strong>Số Fax:</strong> 028 3827 2246</p>
    <p><strong>Hotline:</strong> 1800 599 921</p>
    <p><strong>Website:</strong> www.uob.com.vn</p>
    <p><strong>Swift Code:</strong> UOVBVNVX hoặc UOVBVNVXXXX</p>
    <h3>Giới thiệu</h3>
    <p>UOB gắn bó với thị trường Việt Nam từ năm 1993. Chúng tôi khởi đầu với một văn phòng đại diện chỉ có ba người, và hai năm sau, trở thành ngân hàng Singapore đầu tiên thành lập văn phòng chi nhánh tại TP. HCM. Ngày 6/8/2018, chúng tôi ghi dấu mốc tiếp theo với việc chính thức thành lập Ngân hàng UOB Việt Nam (UOB Việt Nam) và mở ra một chương mới trong lịch sử của UOB tại Việt Nam. Với đội ngũ hơn 500 nhân viên, UOB Việt Nam là ngân hàng con thứ năm của tập đoàn UOB tại châu Á, thể hiện niềm tin của tập đoàn UOB vào triển vọng thị trường Việt Nam.</p>
    <p>UOB Việt Nam cung cấp dịch vụ tài chính cá nhân và doanh nghiệp cho cả khách hàng Việt Nam và nước ngoài. Nhằm thực hiện cam kết lâu dài trong việc mang dịch vụ và giải pháp tài chính tốt nhất tới khách hàng trong toàn quốc, chi nhánh ngân hàng UOB tại Hà Nội (chi nhánh đầu tiên bên ngoài trụ sở chính tại TP. HCM) được khai trương vào tháng 6/2019. Với việc mở rộng ra khu vực phía Bắc, cùng với mạng lưới liên kết xuyên suốt của UOB trong khu vực, chúng tôi có được lợi thế tốt nhất để kết nối các khách hàng của mình với những cơ hội kinh doanh tại Việt Nam, cũng như hỗ trợ các doanh nghiệp Việt Nam nắm bắt những cơ hội kinh doanh tại thị trường ASEAN và xa hơn nữa.</p>
    <p>Xem thêm tại <a href="https://www.uob.com.vn/" target="_blank" rel="nofollow" title="Website UOB">https://www.uob.com.vn/</a></p>
</section>













</article>
{{>aside-table}}
</div>
</div>
</main>