<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Việt Bank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Việt Bank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.700</td><td class="text-right">24.790</td><td class="text-right">25.090</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.641</td><td class="text-right">26.721</td><td class="text-right">27.415</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.181</td><td class="text-right">16.230</td><td class="text-right">16.685</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.179</td><td class="text-right">18.234</td><td class="text-right">18.708</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="hqiat"></span>7.<span class="kgztm"></span>5<span class="hqiat"></span></td><td class="text-right"><span class="hqiat"></span>7.<span class="ncrgs"></span>57</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">3<span class="kgztm"></span>.<span class="lfagv"></span>7<span class="kgztm"></span></td><td class="text-right">3<span class="kgztm"></span>.<span class="kgztm"></span>64</td><td class="text-right">3<span class="kgztm"></span>.<span class="qvxul"></span>74</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right"><span class="kgztm"></span>6<span class="kgztm"></span>,7<span class="ncrgs"></span></td><td class="text-right"><span class="kgztm"></span>6<span class="hqiat"></span>,<span class="hqiat"></span>7</td><td class="text-right"><span class="kgztm"></span>66,4<span class="ncrgs"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right"><span class="kgztm"></span>7,4<span class="ncrgs"></span></td><td class="text-right"><span class="hqiat"></span><span class="lfagv"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.213</td><td class="text-right">18.268</td><td class="text-right">18.743</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vietbank/" title="Tỷ giá VietBank - TMCP Việt Nam Thương Tín">https://webgia.com/ty-gia/vietbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Việt Nam Thương Tín - Việt Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Vi\u1ec7t Bank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Vi\u1ec7t Nam Th\u01b0\u01a1ng T\u00edn - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="c3e1f9f8849703b8537c2f6d8376ff26">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Việt Bank - Ngân hàng thương mại cổ phần Việt Nam Thương Tín - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Việt Nam Thương Tín</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Viet Nam Thuong Tin Commercial Joint Stock Bank</p>
    <p><strong>Tên viết tắt:</strong> Vietbank</p>
    <p><strong>Năm thành lập:</strong> 2007</p>
    <p><strong>Trụ sở chính:</strong> 47 Trần Hưng Đạo, Tp. Sóc Trăng, Tỉnh Sóc Trăng.</p>
    <p><strong>Số điện thoại:</strong> (0299) 388 6666</p>
    <p><strong>Số Fax:</strong> (0299) 3615 666</p>
    <p><strong>Văn Phòng Vietbank TP. Hồ Chí Minh:</strong> 62A Cách Mạng Tháng 8, Phường 6, Quận 3, Tp. Hồ Chí Minh.</p>
    <p><strong>Số điện thoại:</strong> (028) 6291 3620</p>
    <p><strong>Số Fax:</strong> (028) 6291 8122</p>
    <p><strong>Hotline:</strong> 18001122</p>
    <p><strong>Website:</strong> www.vietbank.com.vn</p>
    <p><strong>Email:</strong> callcenter@vietbank.com.vn</p>
    <p><strong>Swift Code:</strong> VNTTVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Vietbank đã không ngừng đầu tư hệ thống ngân hàng lõi core banking, xây dựng trung tâm dữ liệu nhằm nâng cao chất lượng hệ thống công nghệ thông tin; tuyển dụng và thường xuyên tổ chức các khóa đào tạo nhằm nâng cao chất lượng nhân sự; đầu tư xây dựng hệ thống các điểm giao dịch khang trang, hiện đại để phục vụ khách hàng ngày một tốt hơn...</p>
    <p>Bên cạnh đó, Vietbank đã áp dụng hệ thống quản lý chất lượng theo tiêu chuẩn ISO 9001:2008 và triển khai nhiều chương trình quản lý, đào tạo nhằm kiểm soát, hoàn thiện chất lượng phục vụ khách hàng. Thương hiệu Vietbank cũng đang dần trở nên quen thuộc với khách hàng thông qua hệ thống các sản phẩm dịch vụ phong phú, phục vụ nhu cầu đa dạng cho từng nhóm khách hàng cụ thể. Các chính sách linh hoạt trong hoạt động kinh doanh cũng là một trong những thế mạnh của Vietbank trước nhu cầu ngày càng đa dạng của khách hàng.</p>
    <p>Vượt qua những khó khăn chung của nền kinh tế trong những năm vừa qua, Vietbank vẫn đạt lợi nhuận từ hoạt động kinh doanh và quản lý tốt rủi ro tín dụng. Trong thời gian tới, Vietbank vẫn tiếp tục thực hiện mục tiêu hoạt động an toàn và tăng trưởng bền vững. Ban lãnh đạo và toàn thể nhân viên của Vietbank quyết tâm phấn đấu đưa thương hiệu Vietbank đến gần hơn với khách hàng.</p>
    <p>Chúng tôi tin tưởng rằng với định hướng đúng đắn của Hội đồng Quản trị, kinh nghiệm về quản trị của Ban Điều hành, nhiệt huyết của đội ngũ Cán bộ nhân viên; cùng với sự hợp tác và ủng hộ của các Cổ đông, Quý khách hàng, Vietbank sẽ tiếp tục hoạt động ổn định và ngày càng được nhiều khách hàng tin tưởng.</p>

    <h3>Tầm nhìn</h3>
    <p>Không ngừng nâng cao chất lượng về mọi mặt để trở thành một trong những thương hiệu có uy tín trong lĩnh vực tài chính ngân hàng tại Việt Nam.</p>

    <h3>Sứ mệnh</h3>
    <p>Xây dựng Vietbank trở thành một ngân hàng bán lẻ năng động, hiện đại, có chất lượng phục vụ hàng đầu tại Việt Nam, đủ khả năng để cạnh tranh và phát triển trong giai đoạn mới.</p>

    <h3>Giá trị cốt lõi</h3>
    <p>- Nguồn nhân lực chuyên môn cao, giàu kinh nghiệm và nhiệt tình.</p>
    <p>- Hệ thống công nghệ thông tin hiện đại.</p>
    <p>- Mô hình tổ chức và quản lý khoa học.</p>

    <p>Xem thêm tại <a href="https://www.vietbank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Việt Bank">https://www.vietbank.com.vn/</a></p>
</section>










</article>
{{>aside-table}}
</div>
</div>
</main>