<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ VietABank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng VietABank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.800</td><td class="text-right">24.850</td><td class="text-right">25.150</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.700</td><td class="text-right">24.850</td><td class="text-right">25.150</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.400</td><td class="text-right">24.850</td><td class="text-right">25.150</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.700</td><td class="text-right">26.850</td><td class="text-right">27.377</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right"><span class="wbqfx"></span>6.<span class="wbqfx"></span><span class="nwbds"></span><span class="wbqfx"></span></td><td class="text-right"><span class="wbqfx"></span>6.3<span class="wbqfx"></span><span class="wbqfx"></span></td><td class="text-right"><span class="wbqfx"></span>6.662</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right"><span class="wbqfx"></span><span class="fpwsk"></span>.<span class="wbqfx"></span>77</td><td class="text-right"><span class="wbqfx"></span><span class="fpwsk"></span>.3<span class="nleto"></span>7</td><td class="text-right"><span class="wbqfx"></span><span class="fpwsk"></span>.7<span class="nleto"></span><span class="kbwnj"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">27.<span class="wbqfx"></span>2<span class="nwbds"></span></td><td class="text-right">27.3<span class="nleto"></span><span class="nwbds"></span></td><td class="text-right">27.<span class="fpwsk"></span>62</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">3.<span class="kbwnj"></span>52</td><td class="text-right">3.532</td><td class="text-right">3.73<span class="fpwsk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.130</td><td class="text-right">31.350</td><td class="text-right">31.955</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.024</td><td class="text-right">3.094</td><td class="text-right">3.295</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">161,53</td><td class="text-right">163,23</td><td class="text-right">166,54</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">17,94</td><td class="text-right">19,48</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.229</td><td class="text-right">18.369</td><td class="text-right">18.727</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vietabank/" title="Tỷ giá VietABank - TMCP Việt Á">https://webgia.com/ty-gia/vietabank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Việt Á - VietABank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":862,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 VietABank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Vi\u1ec7t \u00c1 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="f569efcb00d4252394ca7d3d16dee99f">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá VietABank - Ngân hàng thương mại cổ phần Việt Á - Web giá</div>4.1 trên 862 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Việt Á</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Vietnam Asia Commercial Joint Stock Bank</p>
    <p><strong>Tên viết tắt:</strong> VietABank</p>
    <p><strong>Năm thành lập:</strong> 2003</p>
    <p><strong>Trụ sở chính:</strong> 34A - 34B Phố Hàn Thuyên, Phường Phạm Đình Hổ, Quận Hai Bà Trưng, Hà Nội, Việt Nam</p>
    <p><strong>Số điện thoại:</strong> (024) - 39 333 636</p>
    <p><strong>Số Fax:</strong> (024) - 39 336 426</p>
    <p><strong>Hotline:</strong> 1900555590</p>
    <p><strong>Website:</strong> www.vietabank.com.vn</p>
    <p><strong>Email:</strong> vietabank@vietabank.com.vn</p>
    <p><strong>Swift Code:</strong> VNACVNVX</p>
    <p><strong>TELEX:</strong> 811554.VAB.VT</p>

    <h3>Giới thiệu</h3>
    <p>Trải qua hơn 16 năm hoạt động, VietABank luôn hướng đến trở thành một ngân hàng có Uy tín và Năng suất lao động cao nhất. Với sứ mệnh “mang đến giá trị thiết thực cho khách hàng, tăng trưởng ổn định cho cổ đông, thiết lập môi trường làm việc công bằng, hạnh phúc - thịnh vượng cho mỗi CBNV và góp phần xây dựng xã hội văn minh, giàu mạnh".</p>
    <p>Tầm nhìn và sứ mệnh đó đòi hỏi VietABank không ngừng đổi mới, hoàn thiện chính mình với những định hướng phát triển rõ ràng và các bước đi thận trọng, vững chắc.</p>

    <h3>SỨ MỆNH:</h3>
    <h4>Đối với Khách hàng:</h4>
    <p>Không ngừng nỗ lực đa dạng hóa sản phẩm dịch vụ, đáp ứng nhu cầu thiết thực và lợi ích cao nhất cho khách hàng, phục vụ mọi giao dịch tận tâm, an toàn và bảo mật.</p>
    <h4>Đối với Cán bộ nhân viên:</h4>
    <p>Cùng nhau xây đắp môi trường làm việc hạnh phúc và thịnh vượng.</p>
    <h4>Đối với Cổ đông:</h4>
    <p>Gia tăng giá trị đầu tư trên cơ sở phát triển bền vững.</p>
    <h4>Đối với Cộng đồng:</h4>
    <p>Tích cực các hoạt động xã hội vì cộng đồng, góp phần xây dựng xã hội ngày một văn minh, giàu mạnh và hưng thịnh.</p>
    <h3>TẦM NHÌN:</h3>
    <p>Trở thành ngân hàng có Uy tín &amp; Năng suất lao động cao nhất.</p>
    <h3>GIÁ TRỊ CỐT LÕI:</h3>
    <h4>1. Chính trực:</h4>
    <p>Người Việt Á luôn trung thực, sống theo những tiêu chuẩn đạo đức của xã hội và VietABank một cách mạnh mẽ, lề luật.</p>
    <h4>2. Đam mê:</h4>
    <p>Người Việt Á yêu thích, khát khao theo đuổi đến cùng một mục tiêu. Là động lực để cống hiến và tận dụng toàn bộ thế mạnh, sở trường của mình cho lĩnh vực đã chọn tại VietABank.</p>
    <h4>3. Trách nhiệm:</h4>
    <p>Người Việt Á luôn có thái độ tích cực, tư duy sáng tạo đột phá, đem lại thành tích cao nhất trong công việc.</p>
    <h4>4. Trung thành:</h4>
    <p>Người Việt Á luôn nắm bắt được và hành động vì tầm nhìn, sứ mệnh và các mục tiêu của VietABank, cam kết cho sự thành công của VietABank.</p>
    <p>Xem thêm tại <a href="https://vietabank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website VietABank">https://vietabank.com.vn/</a></p>
</section>










</article>
{{>aside-table}}
</div>
</div>
</main>