<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ VPBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
Bảng tỷ giá ngoại tệ ngân hàng VPBank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.778</td><td class="text-right">24.828</td><td class="text-right">25.138</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.508</td><td class="text-right">26.558</td><td class="text-right">27.608</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.126</td><td class="text-right">16.126</td><td class="text-right">16.782</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.155</td><td class="text-right">18.155</td><td class="text-right">18.819</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="pmzib"></span>7.<span class="pmzib"></span><span class="djhmc"></span><span class="pmzib"></span></td><td class="text-right"><span class="pmzib"></span>7.<span class="pmzib"></span><span class="ycuhd"></span><span class="pmzib"></span></td><td class="text-right"><span class="pmzib"></span>7.83<span class="djhmc"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">3<span class="djhmc"></span>.<span class="pmzib"></span>3<span class="ycuhd"></span></td><td class="text-right">3<span class="djhmc"></span>.<span class="pmzib"></span>3<span class="ycuhd"></span></td><td class="text-right">3<span class="djhmc"></span>.<span class="ygvxk"></span>87</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right"><span class="djhmc"></span><span class="ycuhd"></span><span class="pmzib"></span></td><td class="text-right"><span class="djhmc"></span><span class="ycuhd"></span><span class="pmzib"></span></td><td class="text-right"><span class="djhmc"></span><span class="ycuhd"></span>7,<span class="pmzib"></span><span class="ycuhd"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right"><span class="djhmc"></span>8.<span class="pmzib"></span>43</td><td class="text-right"><span class="djhmc"></span>8.<span class="pmzib"></span>43</td><td class="text-right"><span class="djhmc"></span>8.8<span class="lcnrg"></span><span class="ygvxk"></span></td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vpbank/" title="Tỷ giá VPBank - TMCP Việt Nam Thịnh Vượng">https://webgia.com/ty-gia/vpbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Việt Nam Thịnh Vượng - VPBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 VPBank - Ng\u00e2n h\u00e0ng TMCP Vi\u1ec7t Nam Th\u1ecbnh V\u01b0\u1ee3ng - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="30ce48199e06bb76f6e95b08f0cfd9d8">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá VPBank - Ngân hàng TMCP Việt Nam Thịnh Vượng - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Thương mại Cổ phần Việt Nam Thịnh Vượng</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Năm thành lập:</strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> Số 89, Láng Hạ, Quận Đống Đa, Hà Nội, Việt Nam.</p>
    <p><strong>Số điện thoại:</strong> 024 73000000</p>
    <p><strong>Số Fax:</strong> 024 73000000</p>
    <p><strong>Hotline:</strong> 1900545415</p>
    <p><strong>Website:</strong> https://www.vpbank.com.vn/</p>
    <p><strong>Email:</strong> chamsockhachhang@vpbank.com.vn</p>
    <p><strong>Swift Code:</strong> VPBKVNVX</p>
    <p><strong>Giờ mở cửa:</strong> Thứ 2 đến Thứ 6: 8h - 17h. Thứ 7: 8h - 12h</p>
    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Việt Nam Thịnh Vượng (trước đây là Ngân hàng TMCP Các Doanh nghiệp Ngoài Quốc Doanh, viết tắt VPBank) là một ngân hàng ở Việt Nam được thành lập ngày 12 tháng 08 năm 1993. Sau 21 năm hoạt động, VPBank đã nâng vốn điều lệ lên 6.347 tỷ đồng, phát triển mạng lưới lên hơn 200 điểm giao dịch, với đội ngũ trên 7.000 cán bộ nhân viên. </p>
    <p>Là thành viên của nhóm 12 ngân hàng hàng đầu Việt Nam (G12), VPBank đã triển khai chiến lược tăng trưởng trong giai đoạn 2012 - 2017 với sự hỗ trợ của công ty tư vấn McKinsey. Với chiến lược này, VPBank nỗ lực tăng trưởng hữu cơ trong các phân khúc khách hàng mục tiêu, khẩn trương xây dựng các hệ thống nền tảng để phục vụ tăng trưởng, và chủ động theo dõi các cơ hội trên thị trường.</p>
    <p>VPBank giành được các giải thưởng: Ngân hàng thanh toán xuất sắc nhất do Citibank, Ngân hàng New York trao tặng; giải thưởng Ngân hàng có chất lượng dịch vụ được hài lòng nhất; Thương hiệu quốc gia 2012; Top 500 doanh nghiệp lớn nhất Việt Nam.</p>
    <p>VPBank tiếp tục theo đuổi mục tiêu khẳng định vị thế của ngân hàng trên thị trường, đó là nằm trong nhóm 5 Ngân hàng TMCP tư nhân và nhóm 3 Ngân hàng TMCP tư nhân bán lẻ hàng đầu về quy mô cho vay khách hàng, huy động khách hàng và lợi nhuận và chú trọng tăng trưởng chất lượng hoạt động. </p>
    <p>Ngân hàng có 2 công ty con do Ngân hàng sở hữu 100% vốn bao gồm: Công ty tài chính TNHH MTV Ngân hàng TMCP Việt Nam Thịnh Vượng (VPB FC) hoạt động trong lĩnh vực cho vay tiêu dùng và Công ty TNHH Quản lý tài sản Ngân hàng TMCP Việt Nam Thịnh Vượng (VPB AMC) hoạt động trong lĩnh vực quản lý nợ và khai thác tài sản. </p>
    <h3>Liên hệ VPBank</h3>
    <p>Thời gian qua, rất nhiều vụ việc kẻ gian giả mạo là nhân viên ngân hàng VPBank, gọi tới khách hàng để lừa lấy các thông tin cá nhân nhằm chiếm đoạt tài sản của khách hàng tại ngân hàng. Nhằm giúp quý khách hàng dễ dàng nhận diện các số điện thoại liên lạc của tổng đài VPBank, VPBank xin trân trọng thông báo tới quý khách các số điện thoại chăm sóc khách hàng chính thức của VPBank kể từ ngày 15/6/2020 như sau:</p>
    <p>1. Các số điện thoại hiển thị khi ngân hàng gọi đến:</p>
    <p>- Từ Hà Nội: (024) 73000000; (024) 73045415</p>
    <p>- Từ Đà Nẵng: (0236) 73000000</p>
    <p>- Từ Hồ Chí Minh: (028) 73000000</p>
    <p>Quý khách hàng cũng có thể liên lạc tới VPBank qua những đầu số trên và bấm số lẻ của người cần liên hệ.</p>
    <p>2. Các số hotline tiếp nhận yêu cầu/thắc mắc từ Khách hàng:</p>
    <p>- Đối với khách hàng tiêu chuẩn: 1900 545415</p>
    <p>- Đối với khách hàng ưu tiên: 1800 545415</p>
    <p>3. Tin nhắn SMS gửi tới khách hàng: hiển thị thương hiệu VPBank.</p>
    <p>Xem thêm tại <a href="https://www.vpbank.com.vn/" title="VPBank">https://www.vpbank.com.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>