<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá NOK tại các ngân hàng <small>- Cập nhật lúc 22:10:12 05/04/2024</small></h1>
<style>#convert_text span.h2{color:red;display:block;font-size:36px;margin-top:10px;margin-bottom:0}#convert_text span.h2 small{font-weight:600;color:#002272}</style>
<section id="cong_cu_chuyen_doi_ty_gia">
<h2 class="h-head">Chuyển đổi Krone Na Uy (NOK) và Việt Nam Đồng (VNĐ)</h2>
<p>Tỷ giá Krone Na Uy hôm nay là <strong>1 NOK = 2.349,92 VND</strong>. Tỷ giá trung bình NOK được tính từ dữ liệu của <strong>13 ngân hàng (*)</strong> có hỗ trợ giao dịch Krone Na Uy.</p>
<div class="form-group" style="margin-top:30px">
<form class="form-inline">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="from_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="Krone Na Uy" class="currency-icon"><span class="cur-icon ci-nok"></span><span> NOK </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-rate="1" data-mo="NOK" value="1">
</div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-2 text-center">
<button type="button" id="swap_button" class="btn btn-lg btn-primary"><strong>⇄</strong></button>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="to_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="VND" class="currency-icon"><span class="cur-icon ci-vnd"></span><span> VND </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-mo="VND" data-rate="2349.92" value="2349.92">
</div>
</div>
</div>
</div>
<div id="convert_text" style="color:#002272;font-weight:600;font-size:22px;word-break:break-all" class="text-center">1 NOK = <span style="color:#f00">2.349,92</span> VND</div>
</form>
<div class="text-right" style="padding-top:10px;">
(Tỷ giá <strong>Trung bình</strong>: <strong style="color:#002272">1 NOK = 2.349,92 VND</strong>, 22:10:12 05/04/2024)
</div>
</div>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>(*) Các ngân hàng bao gồm: ACB, Agribank, BIDV, Kiên Long, MSB, PGBank, Sacombank, Saigonbank, TPB, VIB, Vietcombank, VietinBank, VRB.</p>
<p>Xem thêm <a href="#so_sanh_ty_gia" title="so sánh tỷ giá NOK">so sánh tỷ giá NOK</a></p>
</section><section id="so_sanh_ty_gia">
<h2 class="h-head">Bảng tỷ giá Krone Na Uy (NOK) tại <span class="text-red">13 ngân hàng</span></h2>
<p>Cập nhật <strong>tỷ giá Krone Na Uy mới nhất hôm nay</strong> tại các ngân hàng.<br>Ở bảng so sánh tỷ giá bên dưới, giá trị <strong class="text-green">màu xanh</strong> sẽ tương ứng với giá <strong class="text-green">cao nhất</strong>; <strong class="text-red">màu đỏ</strong> tương ứng với giá <strong class="text-red">thấp nhất</strong> trong cột.</p>
<p>Xem thêm <a href="#tom_tat_ty_gia" title="tóm tắt tỷ giá NOK">tóm tắt tình hình tỷ giá NOK hôm nay</a> ở bên dưới</p>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="mw700" style="margin:0 auto">
<div class="donvi">Đơn vị: đồng</div>
<div class="table-responsive">
<table class="table table-radius table-hover table-currencies" id="bang_gia">
<thead><tr><th>Ngân hàng</th><th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr><td><a href="https://webgia.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td><td class="text-right text-red" data-int="2361.00">2.361,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/agribank/" class="bank-icon" title="Tỷ giá ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam"><span class="bak-icon bi-agribank"></span><span>Agribank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2281.00">2.281,00</td><td class="text-right" data-int="2372.00">2.372,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2296.00">2.296,00</td><td class="text-right" data-int="2373.00">2.373,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/kienlongbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Kiên Long"><span class="bak-icon bi-kienlongbank"></span><span>Kiên Long</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2229.00">2.229,00</td><td class="text-right text-green" data-int="2469.00">2.469,00</td><td class="text-right" data-int="2469.00">2.469,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/pgbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Xăng dầu Petrolimex"><span class="bak-icon bi-pgbank"></span><span>PGBank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2290.00">2.290,00</td><td class="text-right" data-int="2374.00">2.374,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a></td><td data-int="NaN"></td><td class="text-right text-green" data-int="2330.00">2.330,00</td><td data-int="NaN"></td><td class="text-right text-green" data-int="2580.00">2.580,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/saigonbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2283.00">2.283,00</td><td data-int="NaN"></td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td class="text-right" data-int="2400.00">2.400,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vib/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td><td data-int="NaN"></td><td class="text-right text-red" data-int="2211.00">2.211,00</td><td data-int="NaN"></td><td class="text-right" data-int="2475.00">2.475,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/vietcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2268.89">2.268,89</td><td class="text-right" data-int="2365.29">2.365,29</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vietinbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Công Thương Việt Nam"><span class="bak-icon bi-vietinbank"></span><span>VietinBank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2250.00">2.250,00</td><td class="text-right" data-int="2370.00">2.370,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2287.00">2.287,00</td><td class="text-right text-red" data-int="2364.00">2.364,00</td><td data-int="NaN"></td></tr></tbody>
</table>
</div>
<div class="source">Nguồn: Tổng hợp bởi <a href="https://webgia.com/" title="Webgia - Giá vàng, Tỷ giá ngoại tệ">Webgia.com</a></div>
</div>
</section>
<section id="tom_tat_ty_gia">
<h2 class="h-head">Tóm tắt tình hình tỷ giá Krone Na Uy (NOK) hôm nay (05/04/2024)</h2>
<p>Dựa vào <strong>bảng so sánh tỷ giá NOK</strong> tại 13 ngân hàng ở trên, Webgia.com xin tóm tắt tỷ giá theo 2 nhóm chính như sau:</p>
<h3>Ngân hàng <strong>mua</strong> Krone Na Uy (NOK)</h3>
<p>+ Không có ngân hàng nào đang mua tiền mặt Krone Na Uy với giá <span class="text-red">thấp nhất</span>.</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vib/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a> đang mua chuyển khoản Krone Na Uy với giá <span class="text-red">thấp nhất</span> là: 1 NOK = <span class="text-red">2.211,00</span> VND</p><p>+ Không có ngân hàng nào đang mua tiền mặt Krone Na Uy với giá <span class="text-green">cao nhất</span>.</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a> đang mua chuyển khoản Krone Na Uy với giá <span class="text-green">cao nhất</span> là: 1 NOK = <span class="text-green">2.330,00</span> VND</p><h3>Ngân hàng <strong>bán</strong> Krone Na Uy (NOK)</h3>
<p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang bán tiền mặt Krone Na Uy với giá <span class="text-red">thấp nhất</span> là: 1 NOK = <span class="text-red">2.364,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a> đang bán chuyển khoản Krone Na Uy với giá <span class="text-red">thấp nhất</span> là: 1 NOK = <span class="text-red">2.361,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a> đang bán tiền mặt Krone Na Uy với giá <span class="text-green">cao nhất</span> là: 1 NOK = <span class="text-green">2.469,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a> đang bán chuyển khoản Krone Na Uy với giá <span class="text-green">cao nhất</span> là: 1 NOK = <span class="text-green">2.580,00</span> VND</p></section>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":850,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Krone Na Uy - T\u1ef7 gi\u00e1 NOK m\u1edbi nh\u1ea5t h\u00f4m nay 05\/04\/2024 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="1f2f7530778d3ca6c2e9ace2251fac6b">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Krone Na Uy - Tỷ giá NOK mới nhất hôm nay 05/04/2024 - Web giá</div>5 trên 850 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
</article>
{{>aside-table}}
</div>
</div>
</main>