<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá RUB tại các ngân hàng <small>- Cập nhật lúc 22:10:12 05/04/2024</small></h1>
<style>#convert_text span.h2{color:red;display:block;font-size:36px;margin-top:10px;margin-bottom:0}#convert_text span.h2 small{font-weight:600;color:#002272}</style>
<section id="cong_cu_chuyen_doi_ty_gia">
<h2 class="h-head">Chuyển đổi Rúp Nga (руб) (RUB) và Việt Nam Đồng (VNĐ)</h2>
<p>Tỷ giá Rúp Nga (руб) hôm nay là <strong>1 RUB = 272,78 VND</strong>. Tỷ giá trung bình RUB được tính từ dữ liệu của <strong>4 ngân hàng (*)</strong> có hỗ trợ giao dịch Rúp Nga (руб).</p>
<div class="form-group" style="margin-top:30px">
<form class="form-inline">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="from_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="Rúp Nga (руб)" class="currency-icon"><span class="cur-icon ci-rub"></span><span> RUB </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-rate="1" data-mo="RUB" value="1">
</div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-2 text-center">
<button type="button" id="swap_button" class="btn btn-lg btn-primary"><strong>⇄</strong></button>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="to_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="VND" class="currency-icon"><span class="cur-icon ci-vnd"></span><span> VND </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-mo="VND" data-rate="272.78" value="272.78">
</div>
</div>
</div>
</div>
<div id="convert_text" style="color:#002272;font-weight:600;font-size:22px;word-break:break-all" class="text-center">1 RUB = <span style="color:#f00">272,78</span> VND</div>
</form>
<div class="text-right" style="padding-top:10px;">
(Tỷ giá <strong>Trung bình</strong>: <strong style="color:#002272">1 RUB = 272,78 VND</strong>, 22:10:12 05/04/2024)
</div>
</div>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>(*) Các ngân hàng bao gồm: BIDV, TPB, Vietcombank, VRB.</p>
<p>Xem thêm <a href="#so_sanh_ty_gia" title="so sánh tỷ giá RUB">so sánh tỷ giá RUB</a></p>
</section><section id="so_sanh_ty_gia">
<h2 class="h-head">Bảng tỷ giá Rúp Nga (руб) (RUB) tại <span class="text-red">4 ngân hàng</span></h2>
<p>Cập nhật <strong>tỷ giá Rúp Nga (руб) mới nhất hôm nay</strong> tại các ngân hàng.<br>Ở bảng so sánh tỷ giá bên dưới, giá trị <strong class="text-green">màu xanh</strong> sẽ tương ứng với giá <strong class="text-green">cao nhất</strong>; <strong class="text-red">màu đỏ</strong> tương ứng với giá <strong class="text-red">thấp nhất</strong> trong cột.</p>
<p>Xem thêm <a href="#tom_tat_ty_gia" title="tóm tắt tỷ giá RUB">tóm tắt tình hình tỷ giá RUB hôm nay</a> ở bên dưới</p>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="mw700" style="margin:0 auto">
<div class="donvi">Đơn vị: đồng</div>
<div class="table-responsive">
<table class="table table-radius table-hover table-currencies" id="bang_gia">
<thead><tr><th>Ngân hàng</th><th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr><td><a href="https://webgia.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td><td data-int="NaN"></td><td class="text-right text-red" data-int="245.00">245,00</td><td class="text-right" data-int="315.00">315,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td class="text-right text-green" data-int="316.00">316,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vietcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="257.39">257,39</td><td class="text-right" data-int="284.94">284,94</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td><td class="text-right" data-int="222.24">222,24</td><td class="text-right text-green" data-int="259.93">259,93</td><td class="text-right text-red" data-int="281.70">281,70</td><td data-int="NaN"></td></tr></tbody>
</table>
</div>
<div class="source">Nguồn: Tổng hợp bởi <a href="https://webgia.com/" title="Webgia - Giá vàng, Tỷ giá ngoại tệ">Webgia.com</a></div>
</div>
</section>
<section id="tom_tat_ty_gia">
<h2 class="h-head">Tóm tắt tình hình tỷ giá Rúp Nga (руб) (RUB) hôm nay (05/04/2024)</h2>
<p>Dựa vào <strong>bảng so sánh tỷ giá RUB</strong> tại 4 ngân hàng ở trên, Webgia.com xin tóm tắt tỷ giá theo 2 nhóm chính như sau:</p>
<h3>Ngân hàng <strong>mua</strong> Rúp Nga (руб) (RUB)</h3>
<p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang mua tiền mặt Rúp Nga (руб) với giá <span class="text-red">thấp nhất</span> là: 1 RUB = <span class="text-red">222,24</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a> đang mua chuyển khoản Rúp Nga (руб) với giá <span class="text-red">thấp nhất</span> là: 1 RUB = <span class="text-red">245,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang mua tiền mặt Rúp Nga (руб) với giá <span class="text-green">cao nhất</span> là: 1 RUB = <span class="text-green">222,24</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang mua chuyển khoản Rúp Nga (руб) với giá <span class="text-green">cao nhất</span> là: 1 RUB = <span class="text-green">259,93</span> VND</p><h3>Ngân hàng <strong>bán</strong> Rúp Nga (руб) (RUB)</h3>
<p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang bán tiền mặt Rúp Nga (руб) với giá <span class="text-red">thấp nhất</span> là: 1 RUB = <span class="text-red">281,70</span> VND</p><p>+ Không có ngân hàng nào đang bán chuyển khoản Rúp Nga (руб) với giá <span class="text-red">thấp nhất</span>.</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a> đang bán tiền mặt Rúp Nga (руб) với giá <span class="text-green">cao nhất</span> là: 1 RUB = <span class="text-green">316,00</span> VND</p><p>+ Không có ngân hàng nào đang bán chuyển khoản Rúp Nga (руб) với giá <span class="text-green">cao nhất</span>.</p></section>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":850,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 R\u00fap Nga - T\u1ef7 gi\u00e1 RUB m\u1edbi nh\u1ea5t h\u00f4m nay 05\/04\/2024 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="5e540905adbcd4914d6dd5fea9d65cdd">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Rúp Nga - Tỷ giá RUB mới nhất hôm nay 05/04/2024 - Web giá</div>5 trên 850 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
</article>
{{>aside-table}}
</div>
</div>
</main>