<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá SEK tại các ngân hàng <small>- Cập nhật lúc 22:15:11 05/04/2024</small></h1>
<style>#convert_text span.h2{color:red;display:block;font-size:36px;margin-top:10px;margin-bottom:0}#convert_text span.h2 small{font-weight:600;color:#002272}</style>
<section id="cong_cu_chuyen_doi_ty_gia">
<h2 class="h-head">Chuyển đổi Krona Thụy Điển (kr) (SEK) và Việt Nam Đồng (VNĐ)</h2>
<p>Tỷ giá Krona Thụy Điển (kr) hôm nay là <strong>1 SEK = 2.381,08 VND</strong>. Tỷ giá trung bình SEK được tính từ dữ liệu của <strong>14 ngân hàng (*)</strong> có hỗ trợ giao dịch Krona Thụy Điển (kr).</p>
<div class="form-group" style="margin-top:30px">
<form class="form-inline">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="from_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="Krona Thụy Điển (kr)" class="currency-icon"><span class="cur-icon ci-sek"></span><span> SEK </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-rate="1" data-mo="SEK" value="1">
</div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-2 text-center">
<button type="button" id="swap_button" class="btn btn-lg btn-primary"><strong>⇄</strong></button>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="to_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="VND" class="currency-icon"><span class="cur-icon ci-vnd"></span><span> VND </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-mo="VND" data-rate="2381.08" value="2381.08">
</div>
</div>
</div>
</div>
<div id="convert_text" style="color:#002272;font-weight:600;font-size:22px;word-break:break-all" class="text-center">1 SEK = <span style="color:#f00">2.381,08</span> VND</div>
</form>
<div class="text-right" style="padding-top:10px;">
(Tỷ giá <strong>Trung bình</strong>: <strong style="color:#002272">1 SEK = 2.381,08 VND</strong>, 22:15:11 05/04/2024)
</div>
</div>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>(*) Các ngân hàng bao gồm: ACB, Agribank, BIDV, HDBank, MSB, MB, PublicBank, Sacombank, Saigonbank, TPB, VIB, Vietcombank, VietinBank, VRB.</p>
<p>Xem thêm <a href="#so_sanh_ty_gia" title="so sánh tỷ giá SEK">so sánh tỷ giá SEK</a></p>
</section><section id="so_sanh_ty_gia">
<h2 class="h-head">Bảng tỷ giá Krona Thụy Điển (kr) (SEK) tại <span class="text-red">14 ngân hàng</span></h2>
<p>Cập nhật <strong>tỷ giá Krona Thụy Điển (kr) mới nhất hôm nay</strong> tại các ngân hàng.<br>Ở bảng so sánh tỷ giá bên dưới, giá trị <strong class="text-green">màu xanh</strong> sẽ tương ứng với giá <strong class="text-green">cao nhất</strong>; <strong class="text-red">màu đỏ</strong> tương ứng với giá <strong class="text-red">thấp nhất</strong> trong cột.</p>
<p>Xem thêm <a href="#tom_tat_ty_gia" title="tóm tắt tỷ giá SEK">tóm tắt tình hình tỷ giá SEK hôm nay</a> ở bên dưới</p>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="mw700" style="margin:0 auto">
<div class="donvi">Đơn vị: đồng</div>
<div class="table-responsive">
<table class="table table-radius table-hover table-currencies" id="bang_gia">
<thead><tr><th>Ngân hàng</th><th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr><td><a href="https://webgia.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td><td class="text-right text-red" data-int="2381.00">2.381,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/agribank/" class="bank-icon" title="Tỷ giá ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam"><span class="bak-icon bi-agribank"></span><span>Agribank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2301.00">2.301,00</td><td class="text-right" data-int="2391.00">2.391,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2338.00">2.338,00</td><td class="text-right" data-int="2416.00">2.416,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/hdbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Phát triển Nhà TP. Hồ Chí Minh"><span class="bak-icon bi-hdbank"></span><span>HDBank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2321.00">2.321,00</td><td class="text-right" data-int="2436.00">2.436,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td><td data-int="NaN"></td><td class="text-right text-red" data-int="2269.00">2.269,00</td><td class="text-right text-green" data-int="2519.00">2.519,00</td><td class="text-right" data-int="2519.00">2.519,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/mbbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quân Đội"><span class="bak-icon bi-mbbank"></span><span>MB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/publicbank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH MTV Public Việt Nam"><span class="bak-icon bi-publicbank"></span><span>PublicBank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2285.00">2.285,00</td><td data-int="NaN"></td><td class="text-right" data-int="2394.00">2.394,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a></td><td data-int="NaN"></td><td class="text-right text-green" data-int="2360.00">2.360,00</td><td data-int="NaN"></td><td class="text-right text-green" data-int="2600.00">2.600,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/saigonbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2301.00">2.301,00</td><td data-int="NaN"></td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a></td><td data-int="NaN"></td><td data-int="NaN"></td><td class="text-right" data-int="2423.00">2.423,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vib/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2301.00">2.301,00</td><td data-int="NaN"></td><td class="text-right" data-int="2543.00">2.543,00</td></tr><tr><td><a href="https://webgia.com/ty-gia/vietcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2291.29">2.291,29</td><td class="text-right" data-int="2388.64">2.388,64</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vietinbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Công Thương Việt Nam"><span class="bak-icon bi-vietinbank"></span><span>VietinBank</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2272.00">2.272,00</td><td class="text-right" data-int="2407.00">2.407,00</td><td data-int="NaN"></td></tr><tr><td><a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td><td data-int="NaN"></td><td class="text-right" data-int="2306.00">2.306,00</td><td class="text-right text-red" data-int="2383.00">2.383,00</td><td data-int="NaN"></td></tr></tbody>
</table>
</div>
<div class="source">Nguồn: Tổng hợp bởi <a href="https://webgia.com/" title="Webgia - Giá vàng, Tỷ giá ngoại tệ">Webgia.com</a></div>
</div>
</section>
<section id="tom_tat_ty_gia">
<h2 class="h-head">Tóm tắt tình hình tỷ giá Krona Thụy Điển (kr) (SEK) hôm nay (05/04/2024)</h2>
<p>Dựa vào <strong>bảng so sánh tỷ giá SEK</strong> tại 14 ngân hàng ở trên, Webgia.com xin tóm tắt tỷ giá theo 2 nhóm chính như sau:</p>
<h3>Ngân hàng <strong>mua</strong> Krona Thụy Điển (kr) (SEK)</h3>
<p>+ Không có ngân hàng nào đang mua tiền mặt Krona Thụy Điển (kr) với giá <span class="text-red">thấp nhất</span>.</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a> đang mua chuyển khoản Krona Thụy Điển (kr) với giá <span class="text-red">thấp nhất</span> là: 1 SEK = <span class="text-red">2.269,00</span> VND</p><p>+ Không có ngân hàng nào đang mua tiền mặt Krona Thụy Điển (kr) với giá <span class="text-green">cao nhất</span>.</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a> đang mua chuyển khoản Krona Thụy Điển (kr) với giá <span class="text-green">cao nhất</span> là: 1 SEK = <span class="text-green">2.360,00</span> VND</p><h3>Ngân hàng <strong>bán</strong> Krona Thụy Điển (kr) (SEK)</h3>
<p>+ Ngân hàng <a href="https://webgia.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a> đang bán tiền mặt Krona Thụy Điển (kr) với giá <span class="text-red">thấp nhất</span> là: 1 SEK = <span class="text-red">2.383,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a> đang bán chuyển khoản Krona Thụy Điển (kr) với giá <span class="text-red">thấp nhất</span> là: 1 SEK = <span class="text-red">2.381,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a> đang bán tiền mặt Krona Thụy Điển (kr) với giá <span class="text-green">cao nhất</span> là: 1 SEK = <span class="text-green">2.519,00</span> VND</p><p>+ Ngân hàng <a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a> đang bán chuyển khoản Krona Thụy Điển (kr) với giá <span class="text-green">cao nhất</span> là: 1 SEK = <span class="text-green">2.600,00</span> VND</p></section>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":850,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Krona Th\u1ee5y \u0110i\u1ec3n - T\u1ef7 gi\u00e1 SEK m\u1edbi nh\u1ea5t h\u00f4m nay 05\/04\/2024 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="84e9b7b3e548073923410683814ed5d4">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Krona Thụy Điển - Tỷ giá SEK mới nhất hôm nay 05/04/2024 - Web giá</div>5 trên 850 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
</article>
{{>aside-table}}
</div>
</div>
</main>