<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Biểu đồ giá dầu thô thế giới</h1>
<div class="row text-center">
    <div class="col-xs-6">
        <a href="https://webgia.com/gia-xang-dau/dau-tho/#usoil" class="btn btn-warning" title="Giá dầu thô Crude Oil (WTI) - USOIL"><span class="hidden-xs">ↂ Crude Oil (</span>WTI<span class="hidden-xs">)</span> - USOIL</a>
    </div>
    <div class="col-xs-6">
        <a href="https://webgia.com/gia-xang-dau/dau-tho/#ukoil" class="btn btn-warning" title="Giá dầu thô Crude Oil (Brent) - UKOIL"><span class="hidden-xs">ↂ Crude Oil (</span>Brent<span class="hidden-xs">)</span> - UKOIL</a>
    </div>
</div>
<div class="row">
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <div class="col-xs-12" id="usoil"><br>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <h2 class="section-head">Crude Oil (WTI) - USOIL</h2>
        <div class="bn-bg" style="height:500px" id="box_usoil"><div id="tradingview_98ebc-wrapper" style="position: relative; box-sizing: content-box; font-family: -apple-system, BlinkMacSystemFont, &quot;Trebuchet MS&quot;, Roboto, Ubuntu, sans-serif; margin: 0px auto !important; padding: 0px !important; width: 100%; height: 100%;"><iframe title="advanced chart TradingView widget" lang="en" id="tradingview_98ebc" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="true" src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=vi_VN#%7B%22symbol%22%3A%22TVC%3AUSOIL%22%2C%22frameElementId%22%3A%22tradingview_98ebc%22%2C%22interval%22%3A%223%22%2C%22allow_symbol_change%22%3A%221%22%2C%22save_image%22%3A%221%22%2C%22details%22%3A%221%22%2C%22hotlist%22%3A%221%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22light%22%2C%22style%22%3A%221%22%2C%22timezone%22%3A%22Asia%2FHo_Chi_Minh%22%2C%22withdateranges%22%3A%221%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22referral_id%22%3A%221713%22%2C%22utm_source%22%3A%22webgia.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22TVC%3AUSOIL%22%2C%22page-uri%22%3A%22webgia.com%2Fgia-xang-dau%2Fdau-tho%2F%22%7D" style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe></div></div>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "autosize": true,
      "symbol": "TVC:USOIL",
      "interval": "3",
      "timezone": "Asia/Ho_Chi_Minh",
      "theme": "light",
      "style": "1",
      "locale": "vi_VN",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "withdateranges": true,
      "allow_symbol_change": true,
      "details": true,
      "hotlist": true,
      "news": [
        "headlines"
      ],
      "referral_id": "1713",
      "container_id": "box_usoil"
    }
      );
      </script>
      <p class="text-center">Xem biểu đồ <a href="https://vn.tradingview.com/symbols/TVC:USOIL/technicals/?offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=tech" title="Biểu đồ Crude Oil (WTI) - USOIL nâng cao" target="_blank">Crude Oil (WTI) - USOIL</a> nâng cao, nhiều công cụ hơn tại <a href="https://vn.tradingview.com/symbols/TVC:USOIL/technicals/?offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=tech" title="TradingView" target="_blank"> TradingView</a></p>
    </div>
</div>
<br>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="row">
    <div class="col-xs-12" id="ukoil">
        <h2 class="section-head">Crude Oil (Brent) - UKOIL</h2>
        <div class="bn-bg" style="height:500px" id="box_ukoil"><div id="tradingview_76bc8-wrapper" style="position: relative; box-sizing: content-box; font-family: -apple-system, BlinkMacSystemFont, &quot;Trebuchet MS&quot;, Roboto, Ubuntu, sans-serif; margin: 0px auto !important; padding: 0px !important; width: 100%; height: 100%;"><iframe title="advanced chart TradingView widget" lang="en" id="tradingview_76bc8" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="true" src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=vi_VN#%7B%22symbol%22%3A%22TVC%3AUKOIL%22%2C%22frameElementId%22%3A%22tradingview_76bc8%22%2C%22interval%22%3A%223%22%2C%22allow_symbol_change%22%3A%221%22%2C%22save_image%22%3A%221%22%2C%22details%22%3A%221%22%2C%22hotlist%22%3A%221%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22light%22%2C%22style%22%3A%221%22%2C%22timezone%22%3A%22Asia%2FHo_Chi_Minh%22%2C%22withdateranges%22%3A%221%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22referral_id%22%3A%221713%22%2C%22utm_source%22%3A%22webgia.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22TVC%3AUKOIL%22%2C%22page-uri%22%3A%22webgia.com%2Fgia-xang-dau%2Fdau-tho%2F%22%7D" style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe></div></div>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "autosize": true,
      "symbol": "TVC:UKOIL",
      "interval": "3",
      "timezone": "Asia/Ho_Chi_Minh",
      "theme": "light",
      "style": "1",
      "locale": "vi_VN",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "withdateranges": true,
      "allow_symbol_change": true,
      "details": true,
      "hotlist": true,
      "news": [
        "headlines"
      ],
      "referral_id": "1713",
      "container_id": "box_ukoil"
    }
      );
      </script>
      <p class="text-center">Xem biểu đồ <a href="https://vn.tradingview.com/symbols/TVC:UKOIL/technicals/?offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=tech" title="Biểu đồ Crude Oil (Brent) - UKOIL nâng cao" target="_blank">Crude Oil (Brent) - UKOIL</a> nâng cao, nhiều công cụ hơn tại <a href="https://vn.tradingview.com/symbols/TVC:UKOIL/technicals/?offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=tech" title="TradingView" target="_blank"> TradingView</a></p>
    </div>
</div>
<div class="source">Nguồn: <a href="https://vn.tradingview.com/symbols/TVC:UKOIL/technicals/?offer_id=10&amp;aff_id=1713&amp;source=wg&amp;aff_sub=tech" target="_blank">TradingView</a></div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.0","ratingCount":874,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 d\u1ea7u th\u00f4 th\u1ebf gi\u1edbi - Crude Oil (Brent) UKOIL, Crude Oil (WTI) USOIL - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="bd5d6ec7e2b5c65d1de73df51f27f932">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:80%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá dầu thô thế giới - Crude Oil (Brent) UKOIL, Crude Oil (WTI) USOIL - Web giá</div>4.0 trên 874 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
</article>
{{>aside-table}}
</div>
</div>
</main>