<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Giá cà phê hôm nay ngày 06/04/2024 <small>- Cập nhật lúc 18:00:06 27/02/2024</small></h1>

<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section>
<h2>Giá cà phê trong nước</h2>
<p style="font-size:18px;word-break:break-all">Giá cà phê trung bình: <strong class="text-red">82.025 vnđ/kg</strong></p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center" style="max-width:400px">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;">Thị trường</th>
<th colspan="6" class="text-right">Giá</th>
</tr>
</thead>
<tbody>
     {{#each caphe}}
          <tr>
          <td class="text-left">{{thi_truong}}</td>
          <td class="text-right">{{gia}}</td></tr>

          <tr>
     {{/each}}

</tbody>
</table>
</div>
</section>

<p>Đơn vị tính: VNĐ/kg.</p>
<p>Xem thêm <a href="https://webgia.com/gia-hang-hoa/ca-phe-the-gioi/" title="Giá Cà Phê Thế Giới">Giá Cà Phê Thế Giới</a>: <a href="https://webgia.com/gia-hang-hoa/ca-phe-the-gioi/" title="Giá Cà Phê Thế Giới">https://webgia.com/gia-hang-hoa/ca-phe-the-gioi/</a></p>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":871,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 c\u00e0 ph\u00ea h\u00f4m nay - Gi\u00e1 C\u00e0 ph\u00ea tr\u1ef1c tuy\u1ebfn trong n\u01b0\u1edbc m\u1edbi nh\u1ea5t ng\u00e0y nay - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="9c5a7d5fe70df08c5074c1dd66063eec">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá cà phê hôm nay - Giá Cà phê trực tuyến trong nước mới nhất ngày nay - Web giá</div>4.3 trên 871 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->

<section class="mtn">


</section>
</article>
{{>aside-table}}
</div>
</div>
</main>