<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Giá cà phê sàn London, New York, BMF ngày 06/04/2024 <small>- Cập nhật lúc 16:50:08 06/04/2024</small></h1>

<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<style type="text/css">
.bang-gia-ca-phe{position: relative;}
.bang-gia-ca-phe table tr td{
    vertical-align: middle;
}
.bang-gia-ca-phe table tr td:nth-child(2){
    font-weight: bold;
}
.bang-gia-ca-phe table tr th{
    text-align: right;
}
.bang-gia-ca-phe small{
    display: block;
  font-size: 0.875rem;
}

.price-line{
    display: block;
    height: 2px;
    background-color: #fb0000;
    margin-top: 5px;
    text-align: left;
    width: 55px;
}
.price-line small {
    height: 2px;
    background: #00b600;
    border-right: 2px solid #000;
}

</style>

    <section class="bang-gia-ca-phe">
    <h2>Giá cà phê Robusta London</h2>
    <p><small class="text-gray">Cập nhật lúc: 16:50:08 06/04/2024</small></p>
    <div style="position: absolute;right: 0;top: 0;"><span class="text-green">Đang giao dịch</span></div>
    <div class="table-responsive">
    <table class="table table-radius table-hover text-center">
    <thead>
    <tr>
    <th style="text-align: left;">Kỳ hạn</th>
    <th>Giá khớp</th>
    <th>Thay đổi</th>
    <th>Cao nhất</th>
    <th>Thấp nhất</th>
    <th>Khối lượng</th>
    <th>Mở cửa</th>
    <th>Hôm trước</th>
    <th>HĐ mở</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    <td class="text-left">05/2024<span class="price-line"><small style="width:26.5625%"></small></span></td>
    <td class="text-right">3,744</td><td class="text-right"><strong class="text-red">-22</strong><small style="color: #666;">-0.58%</small></td><td class="text-right">3,791<small class="text-green">+25</small></td><td class="text-right">3,727<small class="text-red">-39</small></td><td class="text-right">15,257</td><td class="text-right">3,768</td><td class="text-right">3,766</td><td class="text-right">42,548</td>    </tr>
        <tr>
    <td class="text-left">07/2024<span class="price-line"><small style="width:20%"></small></span></td>
    <td class="text-right">3,679</td><td class="text-right"><strong class="text-red">-19</strong><small style="color: #666;">-0.51%</small></td><td class="text-right">3,715<small class="text-green">+17</small></td><td class="text-right">3,670<small class="text-red">-28</small></td><td class="text-right">18,076</td><td class="text-right">3,690</td><td class="text-right">3,698</td><td class="text-right">43,556</td>    </tr>
        <tr>
    <td class="text-left">09/2024<span class="price-line"><small style="width:26.923076923077%"></small></span></td>
    <td class="text-right">3,584</td><td class="text-right"><strong class="text-red">-20</strong><small style="color: #666;">-0.55%</small></td><td class="text-right">3,622<small class="text-green">+18</small></td><td class="text-right">3,570<small class="text-red">-34</small></td><td class="text-right">3,177</td><td class="text-right">3,599</td><td class="text-right">3,604</td><td class="text-right">11,536</td>    </tr>
        <tr>
    <td class="text-left">11/2024<span class="price-line"><small style="width:20.93023255814%"></small></span></td>
    <td class="text-right">3,489</td><td class="text-right"><strong class="text-red">-15</strong><small style="color: #666;">-0.43%</small></td><td class="text-right">3,523<small class="text-green">+19</small></td><td class="text-right">3,480<small class="text-red">-24</small></td><td class="text-right">596</td><td class="text-right">3,495</td><td class="text-right">3,504</td><td class="text-right">3,052</td>    </tr>
        <tr>
    <td class="text-left">01/2025<span class="price-line"><small style="width:0%"></small></span></td>
    <td class="text-right">3,395</td><td class="text-right"><strong class="text-red">-15</strong><small style="color: #666;">-0.44%</small></td><td class="text-right">3,418<small class="text-green">+8</small></td><td class="text-right">3,395<small class="text-red">-15</small></td><td class="text-right">81</td><td class="text-right">3,401</td><td class="text-right">3,410</td><td class="text-right">1,226</td>    </tr>
        <tr>
    <td class="text-left">03/2025<span class="price-line"><small style="width:0%"></small></span></td>
    <td class="text-right">3,312</td><td class="text-right"><strong class="text-red">-17</strong><small style="color: #666;">-0.51%</small></td><td class="text-right">3,327<small class="text-red">-2</small></td><td class="text-right">3,312<small class="text-red">-17</small></td><td class="text-right">21</td><td class="text-right">3,322</td><td class="text-right">3,329</td><td class="text-right">362</td>    </tr>
        <tr>
    <td class="text-left">05/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">3,240</td><td class="text-right"><strong class="text-red">-25</strong><small style="color: #666;">-0.77%</small></td><td class="text-right">3,240<small class="text-red">-25</small></td><td class="text-right">3,240<small class="text-red">-25</small></td><td class="text-right">1</td><td></td><td class="text-right">3,265</td><td class="text-right">28</td>    </tr>
        <tr>
    <td class="text-left">07/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">3,158</td><td class="text-right"><strong class="text-red">-25</strong><small style="color: #666;">-0.79%</small></td><td class="text-right">3,158<small class="text-red">-25</small></td><td class="text-right">3,158<small class="text-red">-25</small></td><td></td><td></td><td class="text-right">3,183</td><td class="text-right">9</td>    </tr>
        <tr>
    <td class="text-left">09/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">3,099</td><td class="text-right"><strong class="text-red">-25</strong><small style="color: #666;">-0.80%</small></td><td class="text-right">3,099<small class="text-red">-25</small></td><td class="text-right">3,099<small class="text-red">-25</small></td><td></td><td></td><td class="text-right">3,124</td><td class="text-right">1</td>    </tr>
        <tr>
    <td class="text-left">11/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">3,059</td><td class="text-right"><strong class="text-red">-25</strong><small style="color: #666;">-0.81%</small></td><td class="text-right">3,059<small class="text-red">-25</small></td><td class="text-right">3,059<small class="text-red">-25</small></td><td></td><td></td><td class="text-right">3,084</td><td></td>    </tr>
        </tbody>
    </table>
    </div>
    <p class="text-left">Đơn vị tính: USD/tấn<br>Đơn vị giao dịch: lot = 10 tấn.<br>Giá trị hợp đồng: 10 USD<br>Thời gian giao dịch sàn ICE Futures Europe: mở cửa lúc 16:00 và đóng cửa lúc 00:30 (hôm sau), giờ Việt Nam.</p>
    </section>


<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <section class="bang-gia-ca-phe">
    <h2>Giá cà phê Arabica New York</h2>
    <p><small class="text-gray">Cập nhật lúc: 16:50:08 06/04/2024</small></p>
    <div style="position: absolute;right: 0;top: 0;"><span class="text-green">Đang giao dịch</span></div>
    <div class="table-responsive">
    <table class="table table-radius table-hover text-center">
    <thead>
    <tr>
    <th style="text-align: left;">Kỳ hạn</th>
    <th>Giá khớp</th>
    <th>Thay đổi</th>
    <th>Cao nhất</th>
    <th>Thấp nhất</th>
    <th>Khối lượng</th>
    <th>Mở cửa</th>
    <th>Hôm trước</th>
    <th>HĐ mở</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    <td class="text-left">Giao ngay<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">228.67</td><td class="text-right"><strong class="text-red">-2.17</strong><small style="color: #666;">-0.94%</small></td><td class="text-right">228.67<small class="text-red">-2.17</small></td><td class="text-right">228.67<small class="text-red">-2.17</small></td><td></td><td class="text-right">228.67</td><td class="text-right">230.84</td><td></td>    </tr>
        <tr>
    <td class="text-left">05/2024<span class="price-line"><small style="width:84.69387755102%"></small></span></td>
    <td class="text-right">212.50</td><td class="text-right"><strong class="text-green">+5.75</strong><small style="color: #666;">2.78%</small></td><td class="text-right">214.00<small class="text-green">+7.25</small></td><td class="text-right">204.20<small class="text-red">-2.55</small></td><td class="text-right">45,043</td><td class="text-right">205.10</td><td class="text-right">206.75</td><td class="text-right">78,937</td>    </tr>
        <tr>
    <td class="text-left">07/2024<span class="price-line"><small style="width:86.666666666667%"></small></span></td>
    <td class="text-right">211.00</td><td class="text-right"><strong class="text-green">+5.20</strong><small style="color: #666;">2.53%</small></td><td class="text-right">212.20<small class="text-green">+6.40</small></td><td class="text-right">203.20<small class="text-red">-2.60</small></td><td class="text-right">43,327</td><td class="text-right">204.30</td><td class="text-right">205.80</td><td class="text-right">91,812</td>    </tr>
        <tr>
    <td class="text-left">09/2024<span class="price-line"><small style="width:89.265536723164%"></small></span></td>
    <td class="text-right">210.15</td><td class="text-right"><strong class="text-green">+5.15</strong><small style="color: #666;">2.51%</small></td><td class="text-right">211.10<small class="text-green">+6.10</small></td><td class="text-right">202.25<small class="text-red">-2.75</small></td><td class="text-right">11,282</td><td class="text-right">203.20</td><td class="text-right">205.00</td><td class="text-right">38,919</td>    </tr>
        <tr>
    <td class="text-left">12/2024<span class="price-line"><small style="width:93.567251461988%"></small></span></td>
    <td class="text-right">209.30</td><td class="text-right"><strong class="text-green">+5.15</strong><small style="color: #666;">2.52%</small></td><td class="text-right">209.85<small class="text-green">+5.70</small></td><td class="text-right">201.30<small class="text-red">-2.85</small></td><td class="text-right">8,493</td><td class="text-right">202.05</td><td class="text-right">204.15</td><td class="text-right">26,075</td>    </tr>
        <tr>
    <td class="text-left">03/2025<span class="price-line"><small style="width:95.209580838323%"></small></span></td>
    <td class="text-right">209.25</td><td class="text-right"><strong class="text-green">+5.15</strong><small style="color: #666;">2.52%</small></td><td class="text-right">209.65<small class="text-green">+5.55</small></td><td class="text-right">201.30<small class="text-red">-2.80</small></td><td class="text-right">1,847</td><td class="text-right">201.65</td><td class="text-right">204.10</td><td class="text-right">9,130</td>    </tr>
        <tr>
    <td class="text-left">05/2025<span class="price-line"><small style="width:95.070422535211%"></small></span></td>
    <td class="text-right">208.85</td><td class="text-right"><strong class="text-green">+5.05</strong><small style="color: #666;">2.48%</small></td><td class="text-right">209.20<small class="text-green">+5.40</small></td><td class="text-right">202.10<small class="text-red">-1.70</small></td><td class="text-right">881</td><td class="text-right">202.10</td><td class="text-right">203.80</td><td class="text-right">4,138</td>    </tr>
        <tr>
    <td class="text-left">07/2025<span class="price-line"><small style="width:95.714285714286%"></small></span></td>
    <td class="text-right">207.95</td><td class="text-right"><strong class="text-green">+4.90</strong><small style="color: #666;">2.41%</small></td><td class="text-right">208.25<small class="text-green">+5.20</small></td><td class="text-right">201.25<small class="text-red">-1.80</small></td><td class="text-right">566</td><td class="text-right">201.25</td><td class="text-right">203.05</td><td class="text-right">1,132</td>    </tr>
        <tr>
    <td class="text-left">09/2025<span class="price-line"><small style="width:96.402877697842%"></small></span></td>
    <td class="text-right">206.75</td><td class="text-right"><strong class="text-green">+4.70</strong><small style="color: #666;">2.33%</small></td><td class="text-right">207.00<small class="text-green">+4.95</small></td><td class="text-right">200.05<small class="text-red">-2.00</small></td><td class="text-right">452</td><td class="text-right">200.05</td><td class="text-right">202.05</td><td class="text-right">799</td>    </tr>
        <tr>
    <td class="text-left">12/2025<span class="price-line"><small style="width:96.153846153846%"></small></span></td>
    <td class="text-right">205.50</td><td class="text-right"><strong class="text-green">+4.60</strong><small style="color: #666;">2.29%</small></td><td class="text-right">205.70<small class="text-green">+4.80</small></td><td class="text-right">200.50<small class="text-red">-0.40</small></td><td class="text-right">262</td><td class="text-right">200.85</td><td class="text-right">200.90</td><td class="text-right">2,078</td>    </tr>
        <tr>
    <td class="text-left">03/2026<span class="price-line"><small style="width:96.938775510204%"></small></span></td>
    <td class="text-right">205.25</td><td class="text-right"><strong class="text-green">+4.50</strong><small style="color: #666;">2.24%</small></td><td class="text-right">205.40<small class="text-green">+4.65</small></td><td class="text-right">200.50<small class="text-red">-0.25</small></td><td class="text-right">97</td><td class="text-right">201.80</td><td class="text-right">200.75</td><td class="text-right">325</td>    </tr>
        <tr>
    <td class="text-left">05/2026<span class="price-line"><small style="width:97.938144329897%"></small></span></td>
    <td class="text-right">205.25</td><td class="text-right"><strong class="text-green">+4.40</strong><small style="color: #666;">2.19%</small></td><td class="text-right">205.35<small class="text-green">+4.50</small></td><td class="text-right">200.50<small class="text-red">-0.35</small></td><td class="text-right">88</td><td class="text-right">201.00</td><td class="text-right">200.85</td><td class="text-right">56</td>    </tr>
        <tr>
    <td class="text-left">07/2026<span class="price-line"><small style="width:97.64705882353%"></small></span></td>
    <td class="text-right">205.25</td><td class="text-right"><strong class="text-green">+4.20</strong><small style="color: #666;">2.09%</small></td><td class="text-right">205.35<small class="text-green">+4.30</small></td><td class="text-right">201.10<small class="text-green">+0.05</small></td><td class="text-right">63</td><td class="text-right">201.10</td><td class="text-right">201.05</td><td class="text-right">20</td>    </tr>
        <tr>
    <td class="text-left">09/2026<span class="price-line"><small style="width:97.560975609756%"></small></span></td>
    <td class="text-right">205.00</td><td class="text-right"><strong class="text-green">+4.05</strong><small style="color: #666;">2.02%</small></td><td class="text-right">205.10<small class="text-green">+4.15</small></td><td class="text-right">201.00<small class="text-green">+0.05</small></td><td class="text-right">50</td><td class="text-right">201.00</td><td class="text-right">200.95</td><td class="text-right">17</td>    </tr>
        <tr>
    <td class="text-left">12/2026<span class="price-line"><small style="width:97.222222222222%"></small></span></td>
    <td class="text-right">204.50</td><td class="text-right"><strong class="text-green">+2.50</strong><small style="color: #666;">1.24%</small></td><td class="text-right">204.60<small class="text-green">+2.60</small></td><td class="text-right">201.00<small class="text-red">-1.00</small></td><td class="text-right">19</td><td class="text-right">201.00</td><td class="text-right">202.00</td><td class="text-right">9</td>    </tr>
        <tr>
    <td class="text-left">03/2027<span class="price-line"><small style="width:100%"></small></span></td>
    <td class="text-right">204.00</td><td class="text-right"><strong class="text-green">+2.50</strong><small style="color: #666;">1.24%</small></td><td class="text-right">204.00<small class="text-green">+2.50</small></td><td class="text-right">202.15<small class="text-green">+0.65</small></td><td class="text-right">2</td><td class="text-right">202.35</td><td class="text-right">201.50</td><td></td>    </tr>
        </tbody>
    </table>
    </div>
    <p class="text-left">Đơn vị tính: 0.05 cent (USD)/lb; 1lb ~= 0.45kg<br>Đơn vị giao dịch: lot = 37500 lbs (17 tấn).<br>Giá trị hợp đồng: 187 USD<br>Thời gian giao dịch sàn ICE Futures US: mở cửa lúc 16:15 và đóng cửa lúc 01:30 (hôm sau), giờ Việt Nam.</p>
    </section>


<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <section class="bang-gia-ca-phe">
    <h2>Giá cà phê Arabica Brazil</h2>
    <p><small class="text-gray">Cập nhật lúc: 16:50:08 06/04/2024</small></p>
    <div style="position: absolute;right: 0;top: 0;"><span class="text-gray">Đóng cửa</span></div>
    <div class="table-responsive">
    <table class="table table-radius table-hover text-center">
    <thead>
    <tr>
    <th style="text-align: left;">Kỳ hạn</th>
    <th>Giá khớp</th>
    <th>Thay đổi</th>
    <th>Cao nhất</th>
    <th>Thấp nhất</th>
    <th>Khối lượng</th>
    <th>Mở cửa</th>
    <th>Hôm trước</th>
    <th>HĐ mở</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    <td class="text-left">05/2024<span class="price-line"><small style="width:100%"></small></span></td>
    <td class="text-right">263.80</td><td class="text-right"><strong class="text-green">+7.60</strong><small style="color: #666;">2.97%</small></td><td class="text-right">263.80<small class="text-green">+7.60</small></td><td class="text-right">254.10<small class="text-red">-2.10</small></td><td class="text-right">1</td><td class="text-right">254.10</td><td class="text-right">256.20</td><td class="text-right">79</td>    </tr>
        <tr>
    <td class="text-left">07/2024<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">263.70</td><td class="text-right"><strong class="text-green">+6.90</strong><small style="color: #666;">2.69%</small></td><td class="text-right">263.70<small class="text-green">+6.90</small></td><td class="text-right">263.70<small class="text-green">+6.90</small></td><td></td><td class="text-right">263.70</td><td class="text-right">256.80</td><td></td>    </tr>
        <tr>
    <td class="text-left">09/2024<span class="price-line"><small style="width:89.952153110048%"></small></span></td>
    <td class="text-right">255.95</td><td class="text-right"><strong class="text-green">+5.10</strong><small style="color: #666;">2.03%</small></td><td class="text-right">257.00<small class="text-green">+6.15</small></td><td class="text-right">246.55<small class="text-red">-4.30</small></td><td class="text-right">1,259</td><td class="text-right">246.55</td><td class="text-right">250.85</td><td class="text-right">5,980</td>    </tr>
        <tr>
    <td class="text-left">12/2024<span class="price-line"><small style="width:97.222222222222%"></small></span></td>
    <td class="text-right">254.00</td><td class="text-right"><strong class="text-green">+5.70</strong><small style="color: #666;">2.30%</small></td><td class="text-right">254.20<small class="text-green">+5.90</small></td><td class="text-right">247.00<small class="text-red">-1.30</small></td><td class="text-right">183</td><td class="text-right">247.95</td><td class="text-right">248.30</td><td class="text-right">933</td>    </tr>
        <tr>
    <td class="text-left">03/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">252.65</td><td class="text-right"><strong class="text-green">+6.80</strong><small style="color: #666;">2.77%</small></td><td class="text-right">252.65<small class="text-green">+6.80</small></td><td class="text-right">252.65<small class="text-green">+6.80</small></td><td></td><td class="text-right">252.65</td><td class="text-right">245.85</td><td></td>    </tr>
        <tr>
    <td class="text-left">05/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">251.95</td><td class="text-right"><strong class="text-green">+6.70</strong><small style="color: #666;">2.73%</small></td><td class="text-right">251.95<small class="text-green">+6.70</small></td><td class="text-right">251.95<small class="text-green">+6.70</small></td><td></td><td class="text-right">251.95</td><td class="text-right">245.25</td><td></td>    </tr>
        <tr>
    <td class="text-left">09/2025<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">249.45</td><td class="text-right"><strong class="text-green">+6.20</strong><small style="color: #666;">2.55%</small></td><td class="text-right">249.45<small class="text-green">+6.20</small></td><td class="text-right">249.45<small class="text-green">+6.20</small></td><td></td><td class="text-right">0.00</td><td class="text-right">243.25</td><td class="text-right">401</td>    </tr>
        <tr>
    <td class="text-left">12/2025<span class="price-line"><small style="width:100%"></small></span></td>
    <td class="text-right">245.10</td><td class="text-right"><strong class="text-green">+6.10</strong><small style="color: #666;">2.55%</small></td><td class="text-right">245.10<small class="text-green">+6.10</small></td><td class="text-right">238.50<small class="text-red">-0.50</small></td><td class="text-right">5</td><td class="text-right">238.50</td><td class="text-right">239.00</td><td class="text-right">125</td>    </tr>
        <tr>
    <td class="text-left">03/2026<span class="price-line"><small style="width:%"></small></span></td>
    <td class="text-right">247.85</td><td class="text-right"><strong class="text-green">+5.95</strong><small style="color: #666;">2.46%</small></td><td class="text-right">247.85<small class="text-green">+5.95</small></td><td class="text-right">247.85<small class="text-green">+5.95</small></td><td></td><td class="text-right">247.85</td><td class="text-right">241.90</td><td></td>    </tr>
        </tbody>
    </table>
    </div>
    <p class="text-left">Đơn vị tính: 0.05 USD / 60kg.<br>Đơn vị giao dịch: lot = 6 tấn (100 bao 60kg).<br>Giá trị hợp đồng: 5 USD<br>Thời gian giao dịch sàn B3 Brazil: mở cửa từ 19:00 - 02:35 (hôm sau), giờ Việt Nam.</p>
    </section>


<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>



<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":898,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 c\u00e0 ph\u00ea th\u1ebf gi\u1edbi s\u00e0n London, New York, BMF - Gi\u00e1 c\u00e0 ph\u00ea qu\u1ed1c t\u1ebf tr\u1ef1c tuy\u1ebfn - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="fb649e51174ef09cd1860d0141c91b86">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá cà phê thế giới sàn London, New York, BMF - Giá cà phê quốc tế trực tuyến - Web giá</div>4.2 trên 898 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->

<section class="mtn">


</section>
{{>aside-table}}
</div>
</div>
</main>