<link rel="stylesheet" href="../../css/home.css">
<link rel="stylesheet" href="../../css/gia_vang/giavang.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Giá vàng DOJI Việt Nam <small>- Cập nhật lúc 22:55:02 02/04/2024</small></h1>
<p>Giá vàng tại hệ thống DOJI được cập nhật mới nhất vào lúc 22:55:02 02/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng / chỉ</div>
<div class="table-ads-160"><div>
<div class="table-responsive">
<table class="table table-radius table-hover"><thead><tr><th rowspan="2">Loại vàng</th><th colspan="2" class="text-center">Hà Nội</th><th colspan="2" class="text-center">Đà Nẵng</th><th colspan="2" class="text-center">Tp. Hồ Chí Minh</th></tr><tr><th class="text-right">Mua vào</th><th class="text-right">Bán ra</th><th class="text-right">Mua vào</th><th class="text-right">Bán ra</th><th class="text-right">Mua vào</th><th class="text-right">Bán ra</th></tr></thead><tbody>
<tr><td>SJC Lẻ</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td></tr><tr><td>AVPL</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td><td class="text-right">7.860.000</td><td class="text-right">8.110.000</td></tr><tr><td>Nhẫn tròn 999 Hưng Thịnh Vượng</td><td class="text-right">7.000.000</td><td class="text-right">7.115.000</td><td class="text-right">7.000.000</td><td class="text-right">7.115.000</td><td class="text-right">7.000.000</td><td class="text-right">7.115.000</td></tr><tr><td>Nguyên liệu 99.99</td><td class="text-right">6.945.000</td><td class="text-right">6.990.000</td><td class="text-right">6.925.000</td><td class="text-right">6.980.000</td><td class="text-right">6.900.000</td><td class="text-right">7.000.000</td></tr><tr><td>Nguyên liệu 99.9</td><td class="text-right">6.940.000</td><td class="text-right">6.985.000</td><td class="text-right">6.920.000</td><td class="text-right">6.975.000</td><td class="text-right">6.890.000</td><td class="text-right">6.990.000</td></tr><tr><td>Nữ trang 99.99</td><td class="text-right">6.865.000</td><td class="text-right">7.040.000</td><td class="text-right">6.865.000</td><td class="text-right">7.040.000</td><td class="text-right">6.865.000</td><td class="text-right">7.040.000</td></tr><tr><td>Nữ trang 99.9</td><td class="text-right">6.855.000</td><td class="text-right">7.030.000</td><td class="text-right">6.855.000</td><td class="text-right">7.030.000</td><td class="text-right">6.855.000</td><td class="text-right">7.030.000</td></tr><tr><td>Nữ trang 99</td><td class="text-right">6.785.000</td><td class="text-right">6.995.000</td><td class="text-right">6.785.000</td><td class="text-right">6.995.000</td><td class="text-right">6.785.000</td><td class="text-right">6.995.000</td></tr><tr><td>Nguyên liệu 18k</td><td class="text-right">4.800.000</td><td class="text-right">-</td><td class="text-right">4.800.000</td><td class="text-right">-</td><td class="text-right">4.800.000</td><td class="text-right">-</td></tr><tr><td>Nguyên liệu 16k</td><td class="text-right">4.360.000</td><td class="text-right">-</td><td class="text-right">4.360.000</td><td class="text-right">-</td><td class="text-right">4.360.000</td><td class="text-right">-</td></tr><tr><td>Nguyên liệu 15k</td><td class="text-right">4.311.000</td><td class="text-right">-</td><td class="text-right">4.311.000</td><td class="text-right">-</td><td class="text-right">4.311.000</td><td class="text-right">-</td></tr><tr><td>Nguyên liệu 14k</td><td class="text-right">3.590.000</td><td class="text-right">-</td><td class="text-right">3.590.000</td><td class="text-right">-</td><td class="text-right">3.590.000</td><td class="text-right">-</td></tr><tr><td>Nguyên liệu 10k</td><td class="text-right">3.048.000</td><td class="text-right">-</td><td class="text-right">3.048.000</td><td class="text-right">-</td><td class="text-right">3.048.000</td><td class="text-right">-</td></tr></tbody></table>
</div>
</div>
</div>
<div class="source">Nguồn: Tập đoàn Vàng Bạc Đá Quý DOJI, <a href="https://giavang.org" title="giavang.org" target="_blank">giavang.org</a></div>
<div>
    <h2>Code chèn Bảng giá DOJI vào Website / Wordpress</h2>
    <pre>&lt;div id="webgia_box_gold_doji"&gt;&lt;/div&gt;&lt;script src="https://webgia.com/tools/widgets/gold/doji.js"&gt;&lt;/script&gt;</pre>
</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 v\u00e0ng DOJI Vi\u1ec7t Nam - gia vang doji - T\u1eadp \u0111o\u00e0n V\u00e0ng b\u1ea1c \u0110\u00e1 qu\u00fd DOJI - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="adb53067bcf43415ac0e27c1da399816">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá vàng DOJI Việt Nam - gia vang doji - Tập đoàn Vàng bạc Đá quý DOJI - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Tập đoàn Vàng Bạc Đá Quý DOJI</h2>
    <p>Tập đoàn Vàng Bạc Đá Quý DOJI (DOJI) được thành lập ngày 28/07/1994.</p>
    <p>Tập đoàn DOJI đã tạo một dấu ấn mạnh mẽ trong cộng đồng doanh nghiệp Việt Nam nói chung và trong lĩnh vực vàng bạc đá quý nói riêng. Với tốc độ tăng trưởng doanh thu ấn tượng và giá trị thương hiệu ngày càng lớn mạnh. Chiếm lĩnh thị trường nội địa với hệ thống kinh doanh Vàng miếng, phân phối Kim cương và trang sức cao cấp khắp ba miền Bắc – Trung – Nam. Thương hiệu DOJI đang bước đi vững chãi trong lộ trình chinh phục khách hàng bằng uy tín và chất lượng sản phẩm. Luôn chú trọng đầu tư thiết bị và công nghệ sản xuất, Tập đoàn DOJI thể hiện nhiều lợi thế cạnh tranh so với các sản phẩm cùng phân khúc và thành danh với các thương hiệu nổi tiếng như: Trang sức Kim cương Diamond House, Trang sức Đá màu Gems City, Trang sức Cưới Wedding Land, Trang sức Bạc Silver d’amour, Trang sức Vàng ta Lộc Phát Tài.</p>
    <p>Với tầm nhìn chiến lược, quan điểm phát triển bền vững, tiềm lực hùng mạnh, Tập đoàn DOJI khẳng định đẳng cấp thương hiệu quốc gia Việt Nam, sẵn sàng tâm thế hội nhập và vươn xa trong khu vực cũng như quốc tế trong tương lai.</p>
    <p>Xem thêm tại <a href="http://doji.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website DOJI">http://doji.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>