<link rel="stylesheet" href="../../css/home.css">
<link rel="stylesheet" href="../../css/gia_vang/giavang.css">
<main id="page">
<div class="container">
<div class="row" style = "width:100%">
<article id="main" class="col-md-9" style = 'width:74%;'>
<h1 class="h-head">Giá vàng Mi Hồng <small>- Cập nhật lúc 22:55:03 02/04/2024</small></h1>
<p>Giá vàng tại hệ thống Mi Hồng được cập nhật mới nhất vào lúc 22:55:03 02/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div>
<div class="donvi">Đơn vị: đồng / chỉ</div>
<div class="table-ads-160"><div>
    <table class="table table-radius table-hover"><thead><tr><th>Loại vàng</th><th class="text-right">Mua vào</th><th class="text-right">Bán ra</th></tr></thead><tbody>
    <tr><th>Vàng miếng SJC</th><td class="text-right">7.990.000</td><td class="text-right">8.100.000</td></tr><tr><th>Vàng 99,9%</th><td class="text-right">6.890.000</td><td class="text-right">7.000.000</td></tr><tr><th>Vàng 98,5%</th><td class="text-right">6.760.000</td><td class="text-right">6.890.000</td></tr><tr><th>Vàng 98,0%</th><td class="text-right">6.730.000</td><td class="text-right">6.860.000</td></tr><tr><th>Vàng 95,0%</th><td class="text-right">6.520.000</td><td class="text-right">-</td></tr><tr><th>Vàng 75,0%</th><td class="text-right">4.770.000</td><td class="text-right">4.920.000</td></tr><tr><th>Vàng 68,0%</th><td class="text-right">4.240.000</td><td class="text-right">4.390.000</td></tr><tr><th>Vàng 61,0%</th><td class="text-right">4.140.000</td><td class="text-right">4.290.000</td></tr>    </tbody>
    </table>
</div>
</div>
<div class="source">Nguồn: mihong.vn - Công Ty TNHH Mi Hồng, <a href="https://giavang.org" title="giavang.org" target="_blank">giavang.org</a></div>
</div>


<section class="mtn">
    <h2>Giới thiệu về Mi Hồng</h2>

    <p>Tên doanh nghiệp: Công Ty Trách Nhiệm Hữu Hạn Mi Hồng</p>

    <p>Tên tiếng Anh: Mi Hong Company Limited</p>

    <p>Người đại diện theo pháp luật: Ông Nguyễn Tu Mi – Chức danh Tổng giám đốc</p>

    <p>Địa chỉ: 306 Bùi Hữu Nghĩa, Phường 2, Quận Bình Thạnh, Tp.HCM, Việt Nam</p>

    <p>Điện thoại: +84 (28) 3841 0068</p>

    <p>Fax: +84 (28) 3841 0954</p>

    <p>Email: <a href="mailto:info@mihong.vn">info@mihong.vn</a></p>

    <p>Giấy chứng nhận đăng ký kinh doanh: 0304663538</p>

    <p>Đăng ký: ngày 20/10/2006</p>

    <p>Đăng ký thay đổi: ngày 10/01/2013</p>

    <p>Nơi cấp: Sở Kế Hoạch Và Đầu Tư Thành Phố Hồ Chí Minh</p>

    <h2>Ngành nghề kinh doanh chính:</h2>

    <p>- Sản xuất kinh doanh Vàng Bạc Trang sức, đá quý</p>

    <p>- Mua bán Vàng miếng</p>

    <p>- Dịch vụ Cầm đồ</p>

    <p>- Kinh doanh bất động sản</p>
    <p>Xem thêm tại <a href="https://mihong.vn/gioi-thieu-blog-1.html?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Mi Hồng">https://mihong.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>