<link rel="stylesheet" href="../../css/home.css">
<link rel="stylesheet" href="../../css/gia_vang/giavang.css">

<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Giá vàng SJC Việt Nam <small>- Cập nhật lúc 22:30:03 02/04/2024</small></h1>
<p>Bảng giá vàng SJC Việt Nam được cập nhật <strong>mới nhất ngày hôm nay</strong> - <strong>22:30:03 02/04/2024</strong></p>
<p>Tra cứu thêm <a href="https://webgia.com/gia-vang/sjc/#tracuu" title="Tra cứu Lịch sử giá vàng SJC" class="den_tra_cuu"><strong>lịch sử giá vàng SJC</strong></a> <a href="https://webgia.com/gia-vang/sjc/#tracuu" title="Tra cứu Lịch sử giá vàng SJC" class="den_tra_cuu">tại đây</a></p>
<p><a href="https://webgia.com/gia-vang/sjc/bieu-do-1-thang.html" title="Biểu đồ giá vàng SJC"><strong>Biểu đồ giá vàng SJC trong 1 tháng qua</strong></a></p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="donvi">Đơn vị: đồng / chỉ</div>
<div class="table-ads-160"><div>
<table class="table table-radius table-hover"><thead><tr><th>Khu vực</th><th>Loại vàng</th><th class="text-right">Mua vào</th><th class="text-right">Bán ra</th></tr></thead><tbody>
<tr><th rowspan="8">Hồ Chí Minh</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.130.000</td></tr><tr><td>Vàng nhẫn SJC 99,99 1 chỉ, 2 chỉ, 5 chỉ</td><td class="text-right">6.975.000</td><td class="text-right">7.090.000</td></tr><tr><td>Vàng nhẫn SJC 99,99 0,5 chỉ</td><td class="text-right">6.975.000</td><td class="text-right">7.100.000</td></tr><tr><td>Vàng nữ trang 99,99%</td><td class="text-right">6.955.000</td><td class="text-right">7.040.000</td></tr><tr><td>Vàng nữ trang 99%</td><td class="text-right">6.820.300</td><td class="text-right">6.970.300</td></tr><tr><td>Vàng nữ trang 75%</td><td class="text-right">5.095.500</td><td class="text-right">5.295.500</td></tr><tr><td>Vàng nữ trang 58,3%</td><td class="text-right">3.919.700</td><td class="text-right">4.119.700</td></tr><tr><td>Vàng nữ trang 41,7%</td><td class="text-right">2.751.000</td><td class="text-right">2.951.000</td></tr><tr><th rowspan="1">Hà Nội</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Đà Nẵng</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Nha Trang</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Cà Mau</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Huế</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.927.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Biên Hòa</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.130.000</td></tr><tr><th rowspan="1">Miền Tây</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.130.000</td></tr><tr><th rowspan="1">Quãng Ngãi</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.130.000</td></tr><tr><th rowspan="1">Bạc Liêu</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.930.000</td><td class="text-right">8.132.000</td></tr><tr><th rowspan="1">Hạ Long</th><td>Vàng SJC 1L - 10L - 1KG</td><td class="text-right">7.928.000</td><td class="text-right">8.132.000</td></tr></tbody></table></div></div>
<div class="source">Nguồn: Công Ty TNHH Một Thành Viên Vàng Bạc Đá Quý Sài Gòn – SJC, <a href="https://giavang.org" title="giavang.org" target="_blank">giavang.org</a></div>
<p>Xem thêm: <a href="https://webgia.com/gia-vang/sjc/01-04-2024.html" title="Giá vàng SJC ngày 01/04/2024">Giá vàng SJC ngày hôm qua 01/04/2024</a></p>
<div>
    <h2>Code chèn Bảng giá SJC vào Website / Wordpress</h2>
    <pre>&lt;div id="webgia_box_gold_sjc"&gt;&lt;/div&gt;&lt;script src="https://webgia.com/tools/widgets/gold/sjc.js"&gt;&lt;/script&gt;</pre>
</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":850,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 v\u00e0ng SJC Vi\u1ec7t Nam - V\u00e0ng B\u1ea1c \u0110\u00e1 Qu\u00fd S\u00e0i G\u00f2n - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="696ffcc1ec9ba759e0677390df808026">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá vàng SJC Việt Nam - Vàng Bạc Đá Quý Sài Gòn - Web giá</div>5 trên 850 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section>
    <h2 class="h-head">Tra cứu lịch sử Giá vàng SJC Việt Nam</h2>
    <div class="row" id="tracuu">
        <div class="col-xs-12">
            <p>Vui lòng điền ngày cần tra cứu giá vàng SJC vào ô bên dưới, sau đó bấm <strong>Tra cứu</strong>.<br><br></p>
            <form class="form-inline text-center" method="POST">
                <div class="form-group">
                    <label class="sr-only" for="hcalendar">Tra cứu giá vàng SJC</label>
                    <div class="input-group">
                        <input type="text" name="date" class="form-control" value="02/04/2024" id="hcalendar" placeholder="02/04/2024">
                        <div class="input-group-addon bn-icon-calendar">ↆ</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Tra cứu</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</section>
<section class="mtn">
    <h2>Giới thiệu về Công Ty TNHH Một Thành Viên Vàng Bạc Đá Quý Sài Gòn – SJC</h2>
    <p>Được thành lập năm 1988, là doanh nghiệp nhà nước trực thuộc UBND TP.HCM. Hoạt động theo mô hình công ty mẹ – con như một tập đoàn kinh doanh đa ngành. Trong đó sản xuất, kinh doanh vàng và trang sức là ngành kinh doanh chính, địa ốc, đầu tư tài chính và dịch vụ.</p>
    <p>SJC định hướng phát triển thành một tập đoàn kinh tế đầu ngành của quốc gia trong vòng vài năm tới, phát triển ngành kinh doanh vàng và trang sức với nền tảng một thương hiệu quốc gia để trở thành thương hiệu quốc tế. Mạng lưới kinh doanh phân phối gồm hơn 200 cửa hàng, 43 đại lý chính thức, trên 3.000 cửa hàng liên kết bán lẻ toàn quốc. Bên cạnh đó, SJC còn có một xí nghiệp sản xuất nữ trang tập trung, xuất xưởng hơn 500.000 sản phẩm một năm.</p>
    <p>Thương hiệu SJC đã đi vào tâm trí của khách hàng là sản phẩm của niềm tin, uy tín, chất lượng. Xứng đáng là danh hiệu thương hiệu Quốc gia, sản phẩm SJC đa dạng với nhiều chủng loại từ phổ thông đến cao cấp, được chia làm 2 dòng sản phẩm: dòng phổ thông nữ trang SJC và dòng nữ trang cao cấp SJC Diagold. Dòng phổ thông nữ trang SJC có nhiều mẫu mã độc đáo, thời trang từ công nghệ đúc, đột dập, kết dây, khắc máy… Đặc biệt giá tiền vừa phải phù hợp với nhiều đối tượng khách hàng và đáp ứng được nhu cầu của các cửa hàng đại lý tại các tỉnh trong cả nước.</p>
    <p>Các sản phẩm nữ trang SJC đáp ứng đầy đủ các tiêu chuẩn theo yêu cầu của Thông tư 22 về việc quản lý đo lường trong kinh doanh vàng và quản lý chất lượng vàng trang sức, mỹ nghệ lưu thông trên thị trường với khả năng đáp ứng số lượng lớn và nhanh chóng. Khách hàng khi mua sản phẩm nữ trang SJC hoàn toàn yên tâm về uy tín và chất lượng sản phẩm, cộng với chế độ hậu mãi tốt. SJC được đánh giá cao trong nước và trong khu vực: Danh hiệu Thương hiệu Quốc gia, đứng thứ 4 trong 500 Doanh nghiệp lớn nhất Việt Nam, giải Vàng Top 500 nhà bán lẻ hàng đầu châu Á – Thái Bình Dương…., cùng nhiều giải thưởng cao quý khác.</p>
    <p>Xem thêm tại <a href="http://www.sjc.com.vn/trang-chu.html?utm_source=webgia.com" target="_blank" rel="nofollow" title="SJC Việt Nam">http://sjc.com.vn</a></p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>