
<link rel="stylesheet" href="css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">So sánh lãi suất ngân hàng - Lãi suất tiền gửi tiết kiệm<small>- Cập nhật lúc 18:50:22 01/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm VND dành cho khách hàng cá nhân tại <strong>30 ngân hàng</strong> được cập nhật <strong>mới nhất.</strong></p>
<p>Bảng so sánh lãi suất gửi tiết kiệm tại quầy và gửi tiết kiệm trực tuyến.</p>
<p>Hai loại lãi suất này có khác nhau. Ngân hàng nào có lãi suất cao nhất tháng 04/2024? Cùng WebGiá.com xem bảng bên dưới</p>
<p>Dữ liệu được cập nhật lúc 18:50:22 01/04/2024</p>
<p>Chú thích màu sắc:</p>
<ul>
<li><span class="text-green">Màu xanh lá cây</span> là lãi suất %/năm cao nhất trong kỳ hạn gửi tiết kiệm.</li>
<li><span class="text-red">Màu đỏ</span> là lãi suất %/năm thấp nhất trong kỳ hạn gửi tiết kiệm</li>
</ul>
<p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính lãi tiết kiệm</a></strong></p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section id="lai_suat_tiet_kiem_tai_quay">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong></h2>
<div class="donvi">Lãi suất: %/năm</div>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-left">Ngân hàng</th>
<th colspan="10" class="text-center">Kỳ hạn gửi tiết kiệm (tháng)</th>
</tr>
<tr>
<th class="text-center">K<span class="hidden-xs">hông </span>K<span class="hidden-xs">ỳ </span>H<span class="hidden-xs">ạn </span></th>
<th class="text-center" style="white-space:normal">01 tháng</th>
<th class="text-center" style="white-space:normal">03 tháng</th>
<th class="text-center" style="white-space:normal">06 tháng</th>
<th class="text-center" style="white-space:normal">09 tháng</th>
<th class="text-center" style="white-space:normal">12 tháng</th>
<th class="text-center" style="white-space:normal">13 tháng</th>
<th class="text-center" style="white-space:normal">18 tháng</th>
<th class="text-center" style="white-space:normal">24 tháng</th>
<th class="text-center" style="white-space:normal">36 tháng</th>
</tr>
</thead>
<tbody>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/abbank/" class="bank-icon" title="Lãi suất ABBank - Ngân hàng TMCP An Bình"><span class="bak-icon bi-abbank"></span><span>ABBank</span></a></td><td class="text-right">0,10</td><td class="text-right">2,65</td><td class="text-right">3,00</td><td class="text-right">4,40</td><td class="text-right">4,10</td><td class="text-right">4,10</td><td class="text-right">4,20</td><td class="text-right">4,20</td><td class="text-right">4,20</td><td class="text-right">4,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/agribank/" class="bank-icon" title="Lãi suất Agribank - Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam"><span class="bak-icon bi-agribank"></span><span>Agribank</span></a></td><td class="text-right">0,20</td><td class="text-right"><span class="text-red">1,60</span></td><td class="text-right"><span class="text-red">1,90</span></td><td class="text-right">3,00</td><td class="text-right">3,00</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/bacabank/" class="bank-icon" title="Lãi suất Bắc Á - Ngân hàng TMCP Bắc Á"><span class="bak-icon bi-bacabank"></span><span>Bắc Á</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,80</td><td class="text-right">3,00</td><td class="text-right">4,20</td><td class="text-right">4,30</td><td class="text-right">4,60</td><td class="text-right">4,60</td><td class="text-right">5,10</td><td class="text-right">5,10</td><td class="text-right">5,10</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/baovietbank/" class="bank-icon" title="Lãi suất Bảo Việt - Ngân hàng TMCP Bảo Việt - BAOVIET Bank"><span class="bak-icon bi-baovietbank"></span><span>Bảo Việt</span></a></td><td class="text-right">0,30</td><td class="text-right">2,90</td><td class="text-right">3,25</td><td class="text-right">4,20</td><td class="text-right">4,30</td><td class="text-right">4,70</td><td class="text-right">4,90</td><td class="text-right">5,50</td><td class="text-right">5,50</td><td class="text-right">5,50</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/bidv/" class="bank-icon" title="Lãi suất BIDV - Ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td><td class="text-right">0,10</td><td class="text-right">1,70</td><td class="text-right">2,00</td><td class="text-right">3,00</td><td class="text-right">3,00</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">4,70</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/cbbank/" class="bank-icon" title="Lãi suất CBBank - Ngân hàng TNHH MTV Xây dựng Việt Nam"><span class="bak-icon bi-cbbank"></span><span>CBBank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">3,00</td><td class="text-right">3,20</td><td class="text-right">3,90</td><td class="text-right">3,85</td><td class="text-right">4,05</td><td class="text-right">4,30</td><td class="text-right">4,30</td><td class="text-right">4,30</td><td class="text-right">4,30</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/dongabank/" class="bank-icon" title="Lãi suất Đông Á - Ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a></td><td class="text-right">-</td><td class="text-right"><span class="text-green">3,90</span></td><td class="text-right">3,90</td><td class="text-right"><span class="text-green">4,90</span></td><td class="text-right"><span class="text-green">5,10</span></td><td class="text-right">5,40</td><td class="text-right"><span class="text-green">5,80</span></td><td class="text-right"><span class="text-green">5,60</span></td><td class="text-right">5,60</td><td class="text-right">5,60</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/gpbank/" class="bank-icon" title="Lãi suất GPBank - Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu"><span class="bak-icon bi-gpbank"></span><span>GPBank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,30</td><td class="text-right">2,82</td><td class="text-right">3,70</td><td class="text-right">3,95</td><td class="text-right">4,40</td><td class="text-right">4,50</td><td class="text-right">4,50</td><td class="text-right">4,50</td><td class="text-right">4,50</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/hlbank/" class="bank-icon" title="Lãi suất Hong Leong - Ngân hàng Hong Leong Việt Nam"><span class="bak-icon bi-hlbank"></span><span>Hong Leong</span></a></td><td class="text-right">-</td><td class="text-right">2,30</td><td class="text-right">2,70</td><td class="text-right">3,40</td><td class="text-right">3,40</td><td class="text-right">3,60</td><td class="text-right">3,60</td><td class="text-right">-</td><td class="text-right"><span class="text-red">2,50</span></td><td class="text-right"><span class="text-red">2,50</span></td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/indovinabank/" class="bank-icon" title="Lãi suất Indovina - Ngân hàng TNHH Indovina"><span class="bak-icon bi-indovinabank"></span><span>Indovina</span></a></td><td class="text-right">-</td><td class="text-right">2,90</td><td class="text-right">3,10</td><td class="text-right">4,30</td><td class="text-right">4,50</td><td class="text-right">5,10</td><td class="text-right">5,30</td><td class="text-right">5,45</td><td class="text-right">5,50</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/kienlongbank/" class="bank-icon" title="Lãi suất Kiên Long - Ngân hàng TMCP Kiên Long"><span class="bak-icon bi-kienlongbank"></span><span>Kiên Long</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/maritimebank/" class="bank-icon" title="Lãi suất MSB - Ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td><td class="text-right"><span class="text-red">0,00</span></td><td class="text-right">-</td><td class="text-right">3,25</td><td class="text-right">3,10</td><td class="text-right">3,10</td><td class="text-right"><span class="text-red">3,50</span></td><td class="text-right"><span class="text-red">3,50</span></td><td class="text-right"><span class="text-red">3,50</span></td><td class="text-right">3,50</td><td class="text-right">3,50</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/mbbank/" class="bank-icon" title="Lãi suất MB - Ngân hàng TMCP Quân Đội"><span class="bak-icon bi-mbbank"></span><span>MB</span></a></td><td class="text-right">0,10</td><td class="text-right">2,10</td><td class="text-right">2,50</td><td class="text-right">3,50</td><td class="text-right">3,60</td><td class="text-right">4,50</td><td class="text-right">4,50</td><td class="text-right">4,60</td><td class="text-right">5,60</td><td class="text-right">5,60</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/namabank/" class="bank-icon" title="Lãi suất Nam Á Bank - Ngân hàng TMCP Nam Á"><span class="bak-icon bi-namabank"></span><span>Nam Á Bank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right"><span class="text-green">5,60</span></td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/ocb/" class="bank-icon" title="Lãi suất OCB - Ngân hàng TMCP Phương Đông"><span class="bak-icon bi-ocb"></span><span>OCB</span></a></td><td class="text-right">0,10</td><td class="text-right">2,90</td><td class="text-right">3,10</td><td class="text-right">4,50</td><td class="text-right">4,60</td><td class="text-right">4,80</td><td class="text-right">4,80</td><td class="text-right">5,40</td><td class="text-right"><span class="text-green">5,80</span></td><td class="text-right"><span class="text-green">6,00</span></td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/oceanbank/" class="bank-icon" title="Lãi suất OceanBank - Ngân hàng TM TNHH một thành viên Đại Dương"><span class="bak-icon bi-oceanbank"></span><span>OceanBank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,60</td><td class="text-right">3,10</td><td class="text-right">3,80</td><td class="text-right">4,00</td><td class="text-right">4,80</td><td class="text-right">4,80</td><td class="text-right">5,10</td><td class="text-right">5,10</td><td class="text-right">5,10</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/pgbank/" class="bank-icon" title="Lãi suất PGBank - Ngân hàng TMCP Xăng dầu Petrolimex"><span class="bak-icon bi-pgbank"></span><span>PGBank</span></a></td><td class="text-right">-</td><td class="text-right">2,60</td><td class="text-right">3,00</td><td class="text-right">3,80</td><td class="text-right">3,80</td><td class="text-right">4,30</td><td class="text-right">4,50</td><td class="text-right">4,80</td><td class="text-right">5,20</td><td class="text-right">5,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/publicbank/" class="bank-icon" title="Lãi suất PublicBank - Ngân hàng TNHH MTV Public Việt Nam"><span class="bak-icon bi-publicbank"></span><span>PublicBank</span></a></td><td class="text-right">0,10</td><td class="text-right">3,50</td><td class="text-right"><span class="text-green">4,00</span></td><td class="text-right">4,80</td><td class="text-right">5,00</td><td class="text-right"><span class="text-green">5,50</span></td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/pvcombank/" class="bank-icon" title="Lãi suất PVcomBank - Ngân hàng TMCP Đại Chúng Việt Nam"><span class="bak-icon bi-pvcombank"></span><span>PVcomBank</span></a></td><td class="text-right">-</td><td class="text-right">2,85</td><td class="text-right">2,85</td><td class="text-right">4,00</td><td class="text-right">4,00</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,80</td><td class="text-right">4,80</td><td class="text-right">4,80</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/saigonbank/" class="bank-icon" title="Lãi suất Saigonbank - Ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a></td><td class="text-right">0,10</td><td class="text-right">2,30</td><td class="text-right">2,50</td><td class="text-right">3,80</td><td class="text-right">4,10</td><td class="text-right">5,00</td><td class="text-right">5,20</td><td class="text-right"><span class="text-green">5,60</span></td><td class="text-right">5,70</td><td class="text-right">5,80</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/scb/" class="bank-icon" title="Lãi suất SCB - Ngân hàng TMCP Sài Gòn"><span class="bak-icon bi-scb"></span><span>SCB</span></a></td><td class="text-right">0,01</td><td class="text-right"><span class="text-red">1,60</span></td><td class="text-right"><span class="text-red">1,90</span></td><td class="text-right">3,00</td><td class="text-right">3,00</td><td class="text-right">4,00</td><td class="text-right">-</td><td class="text-right">4,00</td><td class="text-right">4,00</td><td class="text-right">4,00</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/seabank/" class="bank-icon" title="Lãi suất SeABank - Ngân hàng TMCP Đông Nam Á"><span class="bak-icon bi-seabank"></span><span>SeABank</span></a></td><td class="text-right">-</td><td class="text-right">2,70</td><td class="text-right">2,90</td><td class="text-right">3,00</td><td class="text-right">3,20</td><td class="text-right">3,55</td><td class="text-right">-</td><td class="text-right">4,60</td><td class="text-right">4,60</td><td class="text-right">4,60</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/shb/" class="bank-icon" title="Lãi suất SHB - Ngân hàng TMCP Sài Gòn - Hà Nội"><span class="bak-icon bi-shb"></span><span>SHB</span></a></td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/tpbank/" class="bank-icon" title="Lãi suất TPBank - Ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPBank</span></a></td><td class="text-right">-</td><td class="text-right">2,50</td><td class="text-right">2,80</td><td class="text-right">3,60</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">5,00</td><td class="text-right">-</td><td class="text-right">5,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vib/" class="bank-icon" title="Lãi suất VIB - Ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td><td class="text-right">-</td><td class="text-right">2,50</td><td class="text-right">2,80</td><td class="text-right">4,00</td><td class="text-right">4,00</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,80</td><td class="text-right">5,00</td><td class="text-right">5,00</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vietcapitalbank/" class="bank-icon" title="Lãi suất VietCapitalBank - Ngân hàng TMCP Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span>VietCapitalBank</span></a></td><td class="text-right">-</td><td class="text-right">2,90</td><td class="text-right">3,10</td><td class="text-right">4,10</td><td class="text-right">4,40</td><td class="text-right">4,70</td><td class="text-right">-</td><td class="text-right">5,40</td><td class="text-right">5,50</td><td class="text-right">5,70</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vietcombank/" class="bank-icon" title="Lãi suất Vietcombank - Ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td><td class="text-right">0,10</td><td class="text-right"><span class="text-red">1,60</span></td><td class="text-right"><span class="text-red">1,90</span></td><td class="text-right"><span class="text-red">2,90</span></td><td class="text-right"><span class="text-red">2,90</span></td><td class="text-right">4,60</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,70</td><td class="text-right">4,70</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vietinbank/" class="bank-icon" title="Lãi suất VietinBank - Ngân hàng TMCP Công Thương Việt Nam"><span class="bak-icon bi-vietinbank"></span><span>VietinBank</span></a></td><td class="text-right">0,10</td><td class="text-right">1,70</td><td class="text-right">2,00</td><td class="text-right">3,00</td><td class="text-right">3,00</td><td class="text-right">4,70</td><td class="text-right">-</td><td class="text-right">4,70</td><td class="text-right">4,80</td><td class="text-right">4,80</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vpbank/" class="bank-icon" title="Lãi suất VPBank - Ngân hàng TMCP Việt Nam Thịnh Vượng"><span class="bak-icon bi-vpbank"></span><span>VPBank</span></a></td><td class="text-right">-</td><td class="text-right">2,30</td><td class="text-right">-</td><td class="text-right">4,10</td><td class="text-right">-</td><td class="text-right">4,40</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,80</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vrbank/" class="bank-icon" title="Lãi suất VRB - Ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td><td class="text-right">0,30</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,50</td><td class="text-right">4,70</td><td class="text-right">4,90</td><td class="text-right">4,90</td><td class="text-right">4,90</td></tr>
</tbody>
</table>
</div>
<div class="source">Tổng hợp bởi <a href="https://webgia.onrender.com/lai-suat/" title="Web Giá">https://webgia.com/lai-suat/</a></div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section id="lai_suat_tiet_kiem_online">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong></h2>
<div class="donvi">Lãi suất: %/năm</div>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-left">Ngân hàng</th>
<th colspan="10" class="text-center">Kỳ hạn gửi tiết kiệm (tháng)</th>
</tr>
<tr>
<th class="text-center">K<span class="hidden-xs">hông </span>K<span class="hidden-xs">ỳ </span>H<span class="hidden-xs">ạn </span></th>
<th class="text-center" style="white-space:normal">01 tháng</th>
<th class="text-center" style="white-space:normal">03 tháng</th>
<th class="text-center" style="white-space:normal">06 tháng</th>
<th class="text-center" style="white-space:normal">09 tháng</th>
<th class="text-center" style="white-space:normal">12 tháng</th>
<th class="text-center" style="white-space:normal">13 tháng</th>
<th class="text-center" style="white-space:normal">18 tháng</th>
<th class="text-center" style="white-space:normal">24 tháng</th>
<th class="text-center" style="white-space:normal">36 tháng</th>
</tr>
</thead>
<tbody>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/abbank/" class="bank-icon" title="Lãi suất ABBank - Ngân hàng TMCP An Bình"><span class="bak-icon bi-abbank"></span><span>ABBank</span></a></td><td class="text-right">-</td><td class="text-right">3,00</td><td class="text-right">3,20</td><td class="text-right">4,70</td><td class="text-right">4,30</td><td class="text-right">4,30</td><td class="text-right">4,40</td><td class="text-right">4,40</td><td class="text-right">4,40</td><td class="text-right">4,40</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/bacabank/" class="bank-icon" title="Lãi suất Bắc Á - Ngân hàng TMCP Bắc Á"><span class="bak-icon bi-bacabank"></span><span>Bắc Á</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,80</td><td class="text-right">3,00</td><td class="text-right">4,30</td><td class="text-right">4,40</td><td class="text-right">4,70</td><td class="text-right">4,70</td><td class="text-right">5,20</td><td class="text-right">5,20</td><td class="text-right">5,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/baovietbank/" class="bank-icon" title="Lãi suất Bảo Việt - Ngân hàng TMCP Bảo Việt - BAOVIET Bank"><span class="bak-icon bi-baovietbank"></span><span>Bảo Việt</span></a></td><td class="text-right">-</td><td class="text-right">3,00</td><td class="text-right">3,25</td><td class="text-right">4,30</td><td class="text-right">4,40</td><td class="text-right">4,70</td><td class="text-right">4,90</td><td class="text-right">5,50</td><td class="text-right">5,50</td><td class="text-right">5,50</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/cbbank/" class="bank-icon" title="Lãi suất CBBank - Ngân hàng TNHH MTV Xây dựng Việt Nam"><span class="bak-icon bi-cbbank"></span><span>CBBank</span></a></td><td class="text-right">-</td><td class="text-right">3,10</td><td class="text-right">3,30</td><td class="text-right">4,00</td><td class="text-right">3,95</td><td class="text-right">4,15</td><td class="text-right">4,40</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/gpbank/" class="bank-icon" title="Lãi suất GPBank - Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu"><span class="bak-icon bi-gpbank"></span><span>GPBank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,30</td><td class="text-right">2,82</td><td class="text-right">3,95</td><td class="text-right">4,20</td><td class="text-right">4,65</td><td class="text-right">4,75</td><td class="text-right">4,75</td><td class="text-right">4,75</td><td class="text-right">4,75</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/hlbank/" class="bank-icon" title="Lãi suất Hong Leong - Ngân hàng Hong Leong Việt Nam"><span class="bak-icon bi-hlbank"></span><span>Hong Leong</span></a></td><td class="text-right">-</td><td class="text-right">2,60</td><td class="text-right">2,90</td><td class="text-right">3,60</td><td class="text-right">3,60</td><td class="text-right"><span class="text-red">3,70</span></td><td class="text-right"><span class="text-red">3,70</span></td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/maritimebank/" class="bank-icon" title="Lãi suất MSB - Ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td><td class="text-right"><span class="text-red">0,00</span></td><td class="text-right">3,00</td><td class="text-right">3,00</td><td class="text-right">3,60</td><td class="text-right">3,60</td><td class="text-right">4,00</td><td class="text-right">4,00</td><td class="text-right"><span class="text-red">4,00</span></td><td class="text-right"><span class="text-red">4,00</span></td><td class="text-right"><span class="text-red">4,00</span></td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/namabank/" class="bank-icon" title="Lãi suất Nam Á Bank - Ngân hàng TMCP Nam Á"><span class="bak-icon bi-namabank"></span><span>Nam Á Bank</span></a></td><td class="text-right">-</td><td class="text-right">2,90</td><td class="text-right">3,40</td><td class="text-right">4,50</td><td class="text-right">4,80</td><td class="text-right">5,30</td><td class="text-right">5,30</td><td class="text-right">5,70</td><td class="text-right">5,70</td><td class="text-right">5,70</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/ocb/" class="bank-icon" title="Lãi suất OCB - Ngân hàng TMCP Phương Đông"><span class="bak-icon bi-ocb"></span><span>OCB</span></a></td><td class="text-right">0,10</td><td class="text-right">3,00</td><td class="text-right">3,20</td><td class="text-right">4,60</td><td class="text-right">4,70</td><td class="text-right">4,90</td><td class="text-right">4,90</td><td class="text-right">5,40</td><td class="text-right">5,80</td><td class="text-right">6,00</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/oceanbank/" class="bank-icon" title="Lãi suất OceanBank - Ngân hàng TM TNHH một thành viên Đại Dương"><span class="bak-icon bi-oceanbank"></span><span>OceanBank</span></a></td><td class="text-right"><span class="text-green">0,50</span></td><td class="text-right">2,60</td><td class="text-right">3,10</td><td class="text-right">3,90</td><td class="text-right">4,10</td><td class="text-right">4,90</td><td class="text-right">4,90</td><td class="text-right">5,20</td><td class="text-right">5,20</td><td class="text-right">5,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/pvcombank/" class="bank-icon" title="Lãi suất PVcomBank - Ngân hàng TMCP Đại Chúng Việt Nam"><span class="bak-icon bi-pvcombank"></span><span>PVcomBank</span></a></td><td class="text-right">-</td><td class="text-right">2,85</td><td class="text-right">2,85</td><td class="text-right">4,30</td><td class="text-right">4,30</td><td class="text-right">4,80</td><td class="text-right">-</td><td class="text-right">5,10</td><td class="text-right">5,10</td><td class="text-right">5,10</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/scb/" class="bank-icon" title="Lãi suất SCB - Ngân hàng TMCP Sài Gòn"><span class="bak-icon bi-scb"></span><span>SCB</span></a></td><td class="text-right">-</td><td class="text-right"><span class="text-red">1,65</span></td><td class="text-right"><span class="text-red">1,95</span></td><td class="text-right"><span class="text-red">3,05</span></td><td class="text-right"><span class="text-red">3,05</span></td><td class="text-right">4,05</td><td class="text-right">4,05</td><td class="text-right">4,05</td><td class="text-right">4,05</td><td class="text-right">4,05</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/shb/" class="bank-icon" title="Lãi suất SHB - Ngân hàng TMCP Sài Gòn - Hà Nội"><span class="bak-icon bi-shb"></span><span>SHB</span></a></td><td class="text-right">-</td><td class="text-right"><span class="text-green">3,50</span></td><td class="text-right"><span class="text-green">3,80</span></td><td class="text-right"><span class="text-green">5,00</span></td><td class="text-right"><span class="text-green">5,20</span></td><td class="text-right"><span class="text-green">5,40</span></td><td class="text-right"><span class="text-green">5,50</span></td><td class="text-right"><span class="text-green">5,80</span></td><td class="text-right"><span class="text-green">6,20</span></td><td class="text-right"><span class="text-green">6,20</span></td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/tpbank/" class="bank-icon" title="Lãi suất TPBank - Ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPBank</span></a></td><td class="text-right">-</td><td class="text-right">2,50</td><td class="text-right">2,80</td><td class="text-right">3,80</td><td class="text-right">-</td><td class="text-right">4,70</td><td class="text-right">-</td><td class="text-right">5,00</td><td class="text-right">5,10</td><td class="text-right">5,20</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vib/" class="bank-icon" title="Lãi suất VIB - Ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td><td class="text-right">-</td><td class="text-right">2,50</td><td class="text-right">2,80</td><td class="text-right">4,00</td><td class="text-right">4,00</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">4,80</td><td class="text-right">5,00</td><td class="text-right">5,00</td></tr>
<tr><td class="text-left"><a href="https://webgia.onrender.com/lai-suat/vietcapitalbank/" class="bank-icon" title="Lãi suất VietCapitalBank - Ngân hàng TMCP Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span>VietCapitalBank</span></a></td><td class="text-right">-</td><td class="text-right">3,00</td><td class="text-right">3,20</td><td class="text-right">4,20</td><td class="text-right">4,50</td><td class="text-right">4,80</td><td class="text-right">-</td><td class="text-right">5,50</td><td class="text-right">5,60</td><td class="text-right">-</td></tr>
</tbody>
</table>
</div>
<div class="source">Tổng hợp bởi <a href="https://webgia.onrender.com/lai-suat/" title="Web Giá">https://webgia.com/lai-suat/</a></div>
</section>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":838,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t ng\u00e2n h\u00e0ng th\u00e1ng 04\/2024, l\u00e3i su\u1ea5t g\u1eedi ti\u1ebft ki\u1ec7m cao nh\u1ea5t - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="b1ad5d247cc9468bbb87bcad60c1f6cb">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất ngân hàng tháng 04/2024, lãi suất gửi tiết kiệm cao nhất - Web giá</div>4.3 trên 838 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value="" > VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-select" id="ccls_time_type" style="width:100px;display:inline-block">
                            <option value="2">Tháng</option>
                            <option value="1">Ngày</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value="" > % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a  class="btn btn-danger" id="ccls_calc" onclick="callaisuat()">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0; color:green">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<div class="mtn">

</div></article>
{{>aside-table}}

<script>
    function callaisuat(){
        const tiengui = document.getElementById('ccls_money').value.replace(/\D/g,'');
        const kyhan = document.getElementById('ccls_time').value;
        const laisuat = document.getElementById('ccls_percent').value;
        const thoigian = document.getElementById('ccls_time_type').value;
        var option = thoigian==2? 12:365;
        const lai = (tiengui * parseFloat(kyhan) * parseFloat(laisuat) / 100 / parseFloat(option)).toFixed(3);
        
        const tongtien = (parseFloat(tiengui) + parseFloat(lai)).toFixed(3);
        document.getElementById('ccls_tlai').innerHTML = addCommas((tongtien)) + ' VND';
        document.getElementById('ccls_goc').innerHTML = addCommas((tiengui)) + ' VND';
        document.getElementById('ccls_lai').innerHTML = addCommas((lai)) + ' VND';
        document.getElementById('ccls_glai').innerHTML = addCommas((tongtien)) + ' VND';

    }
    var numberInput = ['ccls_money', 'ccls_time', 'ccls_percent']
    
    document.addEventListener("DOMContentLoaded", function() {
        var numberInput = document.getElementById("ccls_money");

            numberInput.addEventListener("input", function() {
                var value = numberInput.value.replace(/\D/g, ''); // Lọc bỏ tất cả các ký tự không phải là số
                var formattedValue = addCommas(value);
                numberInput.value = formattedValue;
            });
    });

   
   
    function addCommas(number) {
    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>
</div>
</div>

</main>
