<link rel="stylesheet" href="css/ngoai-te.css">

<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá USD tại các ngân hàng <small>- Cập nhật lúc 21:05:12 01/04/2024</small></h1>
<style>#convert_text span.h2{color:red;display:block;font-size:36px;margin-top:10px;margin-bottom:0}#convert_text span.h2 small{font-weight:600 color:#002272}</style>
<section id="cong_cu_chuyen_doi_ty_gia">
<h2 class="h-head">Chuyển đổi Đô la Mỹ (USD) và Việt Nam Đồng (VNĐ)</h2>
<p>Tỷ giá Đô la Mỹ hôm nay là <strong>1 USD = 24.754 VND</strong>. Tỷ giá trung bình USD được tính từ dữ liệu của <strong>40 ngân hàng (*)</strong> có hỗ trợ giao dịch Đô la Mỹ.</p>
<div class="form-group" style="margin-top:30px">
<form class="form-inline">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-5 text-center" style = "box-sizing:border-box;">
<div class="form-group" id="from_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="Đô la Mỹ" class="currency-icon"><span class="cur-icon ci-usd"></span><span> USD </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-rate="1" data-mo="USD" value="1">
</div>
</div>
</div>
<div class="hidden-xs hidden-sm col-md-2 text-center">
<button type="button" id="swap_button" class="btn btn-lg btn-primary"><strong>⇄</strong></button>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 text-center">
<div class="form-group" id="to_coin" style="margin-bottom:20px">
<div class="input-group">
<div class="input-group-addon"><a href="#" title="VND" class="currency-icon"><span class="cur-icon ci-vnd"></span><span> VND </span></a>
</div>
<input type="text" class="form-control input-coin input-lg text-right" data-mo="VND" data-rate="24754" value="24754">
</div>
</div>
</div>
</div>
<div id="convert_text" style="color:#002272;font-weight:600;font-size:22px;word-break:break-all" class="text-center">1 USD = <span style="color:#f00">24.754</span> VND</div>
</form>
<div class="text-right" style="padding-top:10px;">
(Tỷ giá <strong>Trung bình</strong>: <strong style="color:#002272">1 USD = 24.754 VND</strong>, 21:05:12 01/04/2024)
</div>
</div>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>(*) Các ngân hàng bao gồm: ABBank, ACB, Agribank, Bảo Việt, BIDV, CBBank, Đông Á, Eximbank, GPBank, HDBank, Hong Leong, HSBC, Indovina, Kiên Long, Liên Việt, MSB, MB, Nam Á, NCB, OCB, OceanBank, PGBank, PublicBank, PVcomBank, Sacombank, Saigonbank, SCB, SeABank, SHB, Techcombank, TPB, UOB, VIB, VietABank, VietBank, VietCapitalBank, Vietcombank, VietinBank, VPBank, VRB.</p>
<p>Xem thêm <a href="#so_sanh_ty_gia" title="so sánh tỷ giá USD">so sánh tỷ giá USD</a></p>
</section><section id="so_sanh_ty_gia">
<h2 class="h-head">Bảng tỷ giá Đô la Mỹ (USD) tại <span class="text-red">40 ngân hàng</span></h2>
<p>Cập nhật <strong>tỷ giá Đô la Mỹ mới nhất hôm nay</strong> tại các ngân hàng.<br>Ở bảng so sánh tỷ giá bên dưới, giá trị <strong class="text-green">màu xanh</strong> sẽ tương ứng với giá <strong class="text-green">cao nhất</strong>; <strong class="text-red">màu đỏ</strong> tương ứng với giá <strong class="text-red">thấp nhất</strong> trong cột.</p>
<p>Xem thêm <a href="#tom_tat_ty_gia" title="tóm tắt tỷ giá USD">tóm tắt tình hình tỷ giá USD hôm nay</a> ở bên dưới</p>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="mw700" style="margin:0 auto">
<div class="donvi">Đơn vị: đồng</div>
<div class="table-responsive">
<table class="table table-radius table-hover table-currencies" id="bang_gia"><thead>
    <tr>
        <th>Ngân hàng</th>
        <th class="text-right">Mua<span> tiền mặt</span></th>
        <th class="text-right">Mua<span> chuyển khoản</span></th>
        <th class="text-right">Bán<span> tiền mặt</span></th>
        <th class="text-right">Bán<span> chuyển khoản</span></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/abbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP An Bình"><span class="bak-icon bi-abbank"></span><span>ABBank</span></a></td>
        <td class="text-right" data-int="24620">24.620</td>
        <td class="text-right" data-int="24640">24.640</td>
        <td class="text-right" data-int="25000">25.000</td>
        <td class="text-right" data-int="25150">25.150</td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a></td>
        <td class="text-right" data-int="24620">24.620</td>
        <td class="text-right" data-int="24670">24.670</td>
        <td class="text-right" data-int="25020">25.020</td>
        <td class="text-right" data-int="24970">24.970</td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/agribank/" class="bank-icon" title="Tỷ giá ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam"><span class="bak-icon bi-agribank"></span><span>Agribank</span></a></td>
        <td class="text-right" data-int="24625">24.625</td>
        <td class="text-right" data-int="24645">24.645</td>
        <td class="text-right" data-int="24965">24.965</td>
        <td data-int="NaN"></td>
    </tr>
    <tr>
        <td><a href="https://webgia.com/ty-gia/baovietbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bảo Việt - BAOVIET Bank"><span class="bak-icon bi-baovietbank"></span><span>Bảo Việt</span></a></td>
        <td class="text-right" data-int="24640">24.640</td>
        <td class="text-right" data-int="24660">24.660</td>
        <td data-int="NaN"></td>
        <td class="text-right" data-int="24960">24.960</td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td>
        <td class="text-right" data-int="24545">24.545</td>
        <td class="text-right" data-int="24545">24.545</td>
        <td class="text-right" data-int="24855">24.855</td>
        <td data-int="NaN"></td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/cbbank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH MTV Xây dựng Việt Nam"><span class="bak-icon bi-cbbank"></span><span>CBBank</span></a></td>
        <td class="text-right" data-int="24610">24.610</td>
        <td class="text-right" data-int="24660">24.660</td>
        <td data-int="NaN"></td>
        <td class="text-right" data-int="24980">24.980</td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a></td>
        <td class="text-right text-red" data-int="24130">24.130</td>
        <td class="text-right text-red" data-int="24130">24.130</td>
        <td class="text-right text-red" data-int="24430">24.430</td>
        <td class="text-right text-red" data-int="24430">24.430</td>
    </tr>
    <tr>
        <td><a href="https://webgia.onrender.com/ty-gia/eximbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Xuất Nhập khẩu Việt Nam"><span class="bak-icon bi-eximbank"></span><span>Eximbank</span></a></td>
        <td class="text-right" data-int="24560">24.560</td>
        <td class="text-right" data-int="24640">24.640</td>
        <td class="text-right" data-int="24950">24.950</td>
        <td data-int="NaN"></td>
    </tr><tr>
    <td><a href="https://webgia.onrender.com/ty-gia/gpbank/" class="bank-icon" title="Tỷ giá ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu"><span class="bak-icon bi-gpbank"></span><span>GPBank</span></a></td>
    <td class="text-right" data-int="24620">24.620</td>
    <td class="text-right" data-int="24670">24.670</td>
    <td class="text-right text-green" data-int="25200">25.200</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/hdbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Phát triển Nhà TP. Hồ Chí Minh"><span class="bak-icon bi-hdbank"></span><span>HDBank</span></a></td>
    <td class="text-right" data-int="24610">24.610</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24950">24.950</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/hlbank/" class="bank-icon" title="Tỷ giá ngân hàng Hong Leong Việt Nam"><span class="bak-icon bi-hlbank"></span><span>Hong Leong</span></a></td>
    <td class="text-right" data-int="24625">24.625</td>
    <td class="text-right" data-int="24645">24.645</td>
    <td class="text-right" data-int="24985">24.985</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/hsbc/" class="bank-icon" title="Tỷ giá ngân hàng HSBC Việt Nam"><span class="bak-icon bi-hsbc"></span><span>HSBC</span></a></td>
    <td class="text-right text-green" data-int="24703">24.703</td>
    <td class="text-right text-green" data-int="24703">24.703</td>
    <td class="text-right" data-int="24927">24.927</td>
    <td class="text-right" data-int="24927">24.927</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/indovinabank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH Indovina"><span class="bak-icon bi-indovinabank"></span><span>Indovina</span></a></td>
    <td class="text-right" data-int="24580">24.580</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24920">24.920</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/kienlongbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Kiên Long"><span class="bak-icon bi-kienlongbank"></span><span>Kiên Long</span></a></td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="24670">24.670</td>
    <td class="text-right" data-int="25010">25.010</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/lienvietpostbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bưu điện Liên Việt"><span class="bak-icon bi-lienvietpostbank"></span><span>Liên Việt</span></a></td>
    <td class="text-right" data-int="24420">24.420</td>
    <td class="text-right" data-int="24440">24.440</td>
    <td class="text-right" data-int="25100">25.100</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td>
    <td class="text-right" data-int="24654">24.654</td>
    <td class="text-right" data-int="24649">24.649</td>
    <td class="text-right" data-int="25046">25.046</td>
    <td class="text-right" data-int="24966">24.966</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/mbbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quân Đội"><span class="bak-icon bi-mbbank"></span><span>MB</span></a></td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="24980">24.980</td>
    <td class="text-right" data-int="25055">25.055</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/namabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Nam Á"><span class="bak-icon bi-namabank"></span><span>Nam Á</span></a></td>
    <td class="text-right" data-int="24615">24.615</td>
    <td class="text-right" data-int="24665">24.665</td>
    <td class="text-right" data-int="24955">24.955</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/ncb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc Dân"><span class="bak-icon bi-ncb"></span><span>NCB</span></a></td>
    <td class="text-right" data-int="24390">24.390</td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="24950">24.950</td>
    <td class="text-right text-green" data-int="25195">25.195</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/ocb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Phương Đông"><span class="bak-icon bi-ocb"></span><span>OCB</span></a></td>
    <td class="text-right" data-int="24614">24.614</td>
    <td class="text-right" data-int="24664">24.664</td>
    <td class="text-right" data-int="25078">25.078</td>
    <td class="text-right" data-int="24918">24.918</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/oceanbank/" class="bank-icon" title="Tỷ giá ngân hàng TM TNHH MTV Đại Dương"><span class="bak-icon bi-oceanbank"></span><span>OceanBank</span></a></td>
    <td class="text-right" data-int="24420">24.420</td>
    <td class="text-right" data-int="24440">24.440</td>
    <td class="text-right" data-int="25100">25.100</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/pgbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Xăng dầu Petrolimex"><span class="bak-icon bi-pgbank"></span><span>PGBank</span></a></td>
    <td class="text-right" data-int="24620">24.620</td>
    <td class="text-right" data-int="24670">24.670</td>
    <td class="text-right" data-int="24970">24.970</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/publicbank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH MTV Public Việt Nam"><span class="bak-icon bi-publicbank"></span><span>PublicBank</span></a></td>
    <td class="text-right" data-int="24595">24.595</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24970">24.970</td>
    <td class="text-right" data-int="24970">24.970</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/pvcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đại Chúng Việt Nam"><span class="bak-icon bi-pvcombank"></span><span>PVcomBank</span></a></td>
    <td class="text-right" data-int="24590">24.590</td>
    <td class="text-right" data-int="24580">24.580</td>
    <td class="text-right" data-int="24980">24.980</td>
    <td class="text-right" data-int="24980">24.980</td>
</tr>
<tr>
    <td><a href="https://webgia.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a></td>
    <td class="text-right" data-int="24595">24.595</td>
    <td class="text-right" data-int="24645">24.645</td>
    <td class="text-right" data-int="24985">24.985</td>
    <td class="text-right" data-int="24945">24.945</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/saigonbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a></td>
    <td class="text-right" data-int="24590">24.590</td>
    <td class="text-right" data-int="24660">24.660</td>
    <td class="text-right text-green" data-int="25200">25.200</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/scb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn"><span class="bak-icon bi-scb"></span><span>SCB</span></a></td>
    <td class="text-right" data-int="24550">24.550</td>
    <td class="text-right" data-int="24650">24.650</td>
    <td class="text-right" data-int="24970">24.970</td>
    <td class="text-right" data-int="24970">24.970</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/seabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Nam Á"><span class="bak-icon bi-seabank"></span><span>SeABank</span></a></td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="25060">25.060</td>
    <td class="text-right" data-int="24970">24.970</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/shbbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn - Hà Nội"><span class="bak-icon bi-shbbank"></span><span>SHB</span></a></td>
    <td class="text-right" data-int="24650">24.650</td>
    <td data-int="NaN"></td>
    <td class="text-right" data-int="25000">25.000</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/techcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Kỹ thương Việt Nam"><span class="bak-icon bi-techcombank"></span><span>Techcombank</span></a></td>
    <td class="text-right" data-int="24629">24.629</td>
    <td class="text-right" data-int="24651">24.651</td>
    <td class="text-right" data-int="24961">24.961</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a></td>
    <td class="text-right" data-int="24592">24.592</td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="25112">25.112</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/uob/" class="bank-icon" title="Tỷ giá ngân hàng UOB Việt Nam"><span class="bak-icon bi-uob"></span><span>UOB</span></a></td>
    <td class="text-right" data-int="24570">24.570</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="25000">25.000</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vib/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td>
    <td class="text-right" data-int="24570">24.570</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="25090">25.090</td>
    <td class="text-right" data-int="24970">24.970</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vietabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Á"><span class="bak-icon bi-vietabank"></span><span>VietABank</span></a></td>
    <td class="text-right" data-int="24590">24.590</td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="24940">24.940</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vietbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Nam Thương Tín"><span class="bak-icon bi-vietbank"></span><span>VietBank</span></a></td>
    <td class="text-right" data-int="24560">24.560</td>
    <td class="text-right" data-int="24650">24.650</td>
    <td data-int="NaN"></td>
    <td class="text-right" data-int="24950">24.950</td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vietcapitalbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span>VietCapitalBank</span></a></td>
    <td class="text-right" data-int="24640">24.640</td>
    <td class="text-right" data-int="24660">24.660</td>
    <td class="text-right" data-int="25100">25.100</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vietcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td>
    <td class="text-right" data-int="24600">24.600</td>
    <td class="text-right" data-int="24630">24.630</td>
    <td class="text-right" data-int="24970">24.970</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vietinbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Công Thương Việt Nam"><span class="bak-icon bi-vietinbank"></span><span>VietinBank</span></a></td>
    <td class="text-right" data-int="24555">24.555</td>
    <td class="text-right" data-int="24595">24.595</td>
    <td class="text-right" data-int="25015">25.015</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Nam Thịnh Vượng"><span class="bak-icon bi-vpbank"></span><span>VPBank</span></a></td>
    <td class="text-right" data-int="24596">24.596</td>
    <td class="text-right" data-int="24646">24.646</td>
    <td class="text-right" data-int="24956">24.956</td>
    <td data-int="NaN"></td>
</tr>
<tr>
    <td><a href="https://webgia.onrender.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td>
    <td class="text-right" data-int="24580">24.580</td>
    <td class="text-right" data-int="24590">24.590</td>
    <td class="text-right" data-int="25000">25.000</td>
    <td data-int="NaN"></td>
</tr>
</tbody>
</table>
</div>
<div class="source">Nguồn: Tổng hợp bởi <a href="https://webgia.onrender.com/" title="Webgia - Giá vàng, Tỷ giá ngoại tệ">Webgia.com</a></div>
</div>
<section id="tom_tat_ty_gia" >
    <h2 class="h-head">Tóm tắt tình hình tỷ giá Đô la Mỹ (USD) hôm nay (01/04/2024)</h2>
    <p>Dựa vào <strong>bảng so sánh tỷ giá USD</strong> tại 40 ngân hàng ở trên, Webgia.com xin tóm tắt tỷ giá theo 2 nhóm chính như sau:</p>
    <h3>Ngân hàng mua</strong> Đô la Mỹ (USD)</h3>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a> đang mua tiền mặt Đô la Mỹ với giá <span class="text-red"> thấp nhất </span> là: 1 USD = <span class="text-red">24.130</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a> đang mua chuyển khoản Đô la Mỹ với giá <span class="text-red">thấp nhất</span> là: 1 USD = <span class="text-red">24.130</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/hsbc/" class="bank-icon" title="Tỷ giá ngân hàng HSBC Việt Nam"><span class="bak-icon bi-hsbc"></span><span>HSBC</span></a> đang mua tiền mặt Đô la Mỹ với giá <span class="text-green">cao nhất</span> là: 1 USD = <span class="text-green">24.703</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/hsbc/" class="bank-icon" title="Tỷ giá ngân hàng HSBC Việt Nam"><span class="bak-icon bi-hsbc"></span><span>HSBC</span></a> đang mua chuyển khoản Đô la Mỹ với giá <span class="text-green">cao nhất</span> là: 1 USD = <span class="text-green">24.703</span> VND
    </p>
    <h3>Ngân hàng <strong>bán</strong> Đô la Mỹ (USD)</h3>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a> đang bán tiền mặt Đô la Mỹ với giá <span class="text-red">thấp nhất</span> là: 1 USD = <span class="text-red">24.430</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a> đang bán chuyển khoản Đô la Mỹ với giá <span class="text-red">thấp nhất</span> là: 1 USD = <span class="text-red">24.430</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/gpbank/" class="bank-icon" title="Tỷ giá ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu"><span class="bak-icon bi-gpbank"></span><span>GPBank</span></a>,<a href="https://webgia.com/ty-gia/saigonbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a> đang bán tiền mặt Đô la Mỹ với giá <span class="text-green">cao nhất</span> là: 1 USD = <span class="text-green">25.200</span> VND
    </p>
    <p>
        + Ngân hàng <a href="https://webgia.onrender.com/ty-gia/ncb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc Dân"><span class="bak-icon bi-ncb"></span><span>NCB</span></a> đang bán chuyển khoản Đô la Mỹ với giá <span class="text-green">cao nhất</span> là: 1 USD = <span class="text-green">25.195</span> VND
    </p>
</section>

</article>




{{>aside-table}}
<script>

</script>
</div>
</div>
</main>