<main id="page">
<div class="container">
<div class="row">
<style type="text/css">
.coin-logo img{max-width: 50%;text-align: center;max-height: 100px;}
.up_change {color:#093}
.down_change {color:#d14836}
.text-large {font-size: 28px;line-height: 1.1;}
.text-gray {color: gray;}
#coin_table td img{
    margin-right: 5px;
    vertical-align: text-bottom;
    display: inline-block;
}
#coin_table td, #coin_table th{
    text-align: right;
}
#coin_table th:nth-child(1),#coin_table th:nth-child(2), #coin_table td:nth-child(1),#coin_table td:nth-child(2){
    text-align: left;
}
#coin_table .bn-abg{
    width: 16px;
    color: #fff;
}
.coin-name span{padding-right:4px}
.coin-name small{color:#757557}
@media screen and (max-width:767px){
    .coin-name span{display:none}
    .coin-name small{color: inherit;font-size: inherit;}
}
</style>
<article id="main" class="col-xs-12">
<h1 class="h-head">Tỷ giá tiền ảo, tiền điện tử hôm nay <small>- Cập nhật lúc 23:32:00 01/04/2024</small></h1>
<p>Bảng bên dưới đây tổng hợp giá của <strong>9,381</strong> đồng tiền điện tử phổ biến nhất. (bao gồm cả Coin và Token)</p>
<p>Vốn hóa thị trường đang đạt <strong>$2,586,521,247,006</strong> trong đó giá trị <strong>BTC chiếm 52.19%</strong>, <strong>ETH chiếm 16.05%</strong> toàn thị trường.</p>
<p>Khối lượng giao dịch trong 24 giờ qua là <strong>$98,228,592,595</strong>.</p>
<p>Bảng tỷ giá được sắp xếp theo giá trị <strong>Vốn hóa thị trường</strong> từ cao đến thấp.</p>
<p>Dữ liệu được cập nhật liên tục, nhanh chóng và kịp thời. Thời gian cập nhật 23:32:00 01/04/2024.</p>
<p style="padding-top:20px;text-align: center; font-size: 16px;font-weight: bold;"><a href="https://accounts.binance.com/register?ref=20561802" target="_blank" style="color: red;">[Nhấn vào đây] Nhận Gói Voucher 600$ tại sàn BINANCE dành cho người mới.</a></p><div style="margin:15px 0;"></div><div class="donvi">Đơn vị: USD</div>
<div class="table-responsive" id="coin_table">
    <table class="table table-radius table-hover">
        <thead>
            <tr>
                <th class="text-left">#</th>
                <th class="text-left">Tiền ảo</th>
                <th>Giá (USD)</th>
                <th>%(24h)</th>
                <th>%(7d)</th>
                <th>Vốn hóa</th>
                <th>Giao dịch (24h)</th>
            </tr>
        </thead>
        <tbody class="coin-main">
            <tr>
        <td>1</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1.png" class="lazy bn-abg" alt="BTC" src="https://giacoin.com/assets/images/coins/16x16/1.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1.png"></noscript> <a href="https://webgia.com/tien-ao/bitcoin/" title="Giá Bitcoin" class="coin-name"><span>Bitcoin</span> <small>BTC</small></a></td>
        <td>$68,640.78</td>
        <td><span class=" text-red">-2.69%</span></td>
        <td><span class=" text-red">-1.4%</span></td>
        <td>$1,350,192,017,588</td>
        <td>$31,563,326,301</td>
        </tr><tr>
        <td>2</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1027.png" class="lazy bn-abg" alt="ETH" src="https://giacoin.com/assets/images/coins/16x16/1027.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1027.png"></noscript> <a href="https://webgia.com/tien-ao/ethereum/" title="Giá Ethereum" class="coin-name"><span>Ethereum</span> <small>ETH</small></a></td>
        <td>$3,458.59</td>
        <td><span class=" text-red">-4.64%</span></td>
        <td><span class=" text-red">-3.39%</span></td>
        <td>$415,276,333,407</td>
        <td>$14,389,927,205</td>
        </tr><tr>
        <td>3</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/825.png" class="lazy bn-abg" alt="USDT" src="https://giacoin.com/assets/images/coins/16x16/825.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/825.png"></noscript> <a href="https://webgia.com/tien-ao/tether/" title="Giá Tether USDt" class="coin-name"><span>Tether USDt</span> <small>USDT</small></a></td>
        <td>$1.00</td>
        <td><span class="">0%</span></td>
        <td><span class=" text-red">-0.01%</span></td>
        <td>$104,458,004,405</td>
        <td>$70,481,894,700</td>
        </tr><tr>
        <td>4</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1839.png" class="lazy bn-abg" alt="BNB" src="https://giacoin.com/assets/images/coins/16x16/1839.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1839.png"></noscript> <a href="https://webgia.com/tien-ao/bnb/" title="Giá BNB" class="coin-name"><span>BNB</span> <small>BNB</small></a></td>
        <td>$575.66</td>
        <td><span class=" text-red">-4.49%</span></td>
        <td><span class=" text-red">-2.74%</span></td>
        <td>$86,081,660,253</td>
        <td>$1,921,878,169</td>
        </tr><tr>
        <td>5</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/5426.png" class="lazy bn-abg" alt="SOL" src="https://giacoin.com/assets/images/coins/16x16/5426.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/5426.png"></noscript> <a href="https://webgia.com/tien-ao/solana/" title="Giá Solana" class="coin-name"><span>Solana</span> <small>SOL</small></a></td>
        <td>$190.77</td>
        <td><span class=" text-red">-2.6%</span></td>
        <td><span class=" text-red">-0.01%</span></td>
        <td>$84,834,964,131</td>
        <td>$3,973,760,014</td>
        </tr><tr>
        <td>6</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/52.png" class="lazy bn-abg" alt="XRP" src="https://giacoin.com/assets/images/coins/16x16/52.png" style=""><noscript><img src="https://giacoin.com/assets/images/coins/16x16/52.png"></noscript> <a href="https://webgia.com/tien-ao/xrp/" title="Giá XRP" class="coin-name"><span>XRP</span> <small>XRP</small></a></td>
        <td>$0.603117</td>
        <td><span class=" text-red">-3.94%</span></td>
        <td><span class=" text-red">-6.71%</span></td>
        <td>$33,136,687,849</td>
        <td>$1,625,439,101</td>
        </tr><tr>
        <td>7</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3408.png" class="lazy bn-abg" alt="USDC" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3408.png"></noscript> <a href="https://webgia.com/tien-ao/usd-coin/" title="Giá USDC" class="coin-name"><span>USDC</span> <small>USDC</small></a></td>
        <td>$1.00</td>
        <td><span class=" text-green">0.02%</span></td>
        <td><span class=" text-green">0.02%</span></td>
        <td>$32,412,836,637</td>
        <td>$8,451,139,876</td>
        </tr><tr>
        <td>8</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/74.png" class="lazy bn-abg" alt="DOGE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/74.png"></noscript> <a href="https://webgia.com/tien-ao/dogecoin/" title="Giá Dogecoin" class="coin-name"><span>Dogecoin</span> <small>DOGE</small></a></td>
        <td>$0.201663</td>
        <td><span class=" text-red">-4.63%</span></td>
        <td><span class=" text-green">11.38%</span></td>
        <td>$28,980,814,978</td>
        <td>$3,604,876,159</td>
        </tr><tr>
        <td>9</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2010.png" class="lazy bn-abg" alt="ADA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2010.png"></noscript> <a href="https://webgia.com/tien-ao/cardano/" title="Giá Cardano" class="coin-name"><span>Cardano</span> <small>ADA</small></a></td>
        <td>$0.614522</td>
        <td><span class=" text-red">-5.16%</span></td>
        <td><span class=" text-red">-7.02%</span></td>
        <td>$21,869,582,465</td>
        <td>$601,740,010</td>
        </tr><tr>
        <td>10</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/5805.png" class="lazy bn-abg" alt="AVAX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/5805.png"></noscript> <a href="https://webgia.com/tien-ao/avalanche/" title="Giá Avalanche" class="coin-name"><span>Avalanche</span> <small>AVAX</small></a></td>
        <td>$51.20</td>
        <td><span class=" text-red">-4.02%</span></td>
        <td><span class=" text-red">-11.49%</span></td>
        <td>$19,323,639,727</td>
        <td>$750,366,472</td>
        </tr><tr>
        <td>11</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/11419.png" class="lazy bn-abg" alt="TON" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/11419.png"></noscript> <a href="https://webgia.com/tien-ao/toncoin/" title="Giá Toncoin" class="coin-name"><span>Toncoin</span> <small>TON</small></a></td>
        <td>$5.32</td>
        <td><span class=" text-green">2.46%</span></td>
        <td><span class=" text-red">-2.48%</span></td>
        <td>$18,465,685,328</td>
        <td>$265,287,931</td>
        </tr><tr>
        <td>12</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/5994.png" class="lazy bn-abg" alt="SHIB" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/5994.png"></noscript> <a href="https://webgia.com/tien-ao/shiba-inu/" title="Giá Shiba Inu" class="coin-name"><span>Shiba Inu</span> <small>SHIB</small></a></td>
        <td>$0.000028</td>
        <td><span class=" text-red">-6.61%</span></td>
        <td><span class=" text-red">-2.91%</span></td>
        <td>$16,718,559,027</td>
        <td>$918,685,423</td>
        </tr><tr>
        <td>13</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6636.png" class="lazy bn-abg" alt="DOT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6636.png"></noscript> <a href="https://webgia.com/tien-ao/polkadot-new/" title="Giá Polkadot" class="coin-name"><span>Polkadot</span> <small>DOT</small></a></td>
        <td>$9.06</td>
        <td><span class=" text-red">-5.51%</span></td>
        <td><span class=" text-red">-6.55%</span></td>
        <td>$12,943,520,014</td>
        <td>$290,300,995</td>
        </tr><tr>
        <td>14</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1831.png" class="lazy bn-abg" alt="BCH" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1831.png"></noscript> <a href="https://webgia.com/tien-ao/bitcoin-cash/" title="Giá Bitcoin Cash" class="coin-name"><span>Bitcoin Cash</span> <small>BCH</small></a></td>
        <td>$639.37</td>
        <td><span class=" text-green">5.93%</span></td>
        <td><span class=" text-green">27.98%</span></td>
        <td>$12,586,523,198</td>
        <td>$1,889,280,018</td>
        </tr><tr>
        <td>15</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1975.png" class="lazy bn-abg" alt="LINK" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1975.png"></noscript> <a href="https://webgia.com/tien-ao/chainlink/" title="Giá Chainlink" class="coin-name"><span>Chainlink</span> <small>LINK</small></a></td>
        <td>$18.10</td>
        <td><span class=" text-red">-5.33%</span></td>
        <td><span class=" text-red">-6.32%</span></td>
        <td>$10,625,669,096</td>
        <td>$414,267,015</td>
        </tr><tr>
        <td>16</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1958.png" class="lazy bn-abg" alt="TRX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1958.png"></noscript> <a href="https://webgia.com/tien-ao/tron/" title="Giá TRON" class="coin-name"><span>TRON</span> <small>TRX</small></a></td>
        <td>$0.120106</td>
        <td><span class=" text-red">-2.38%</span></td>
        <td><span class=" text-red">-0.21%</span></td>
        <td>$10,536,583,536</td>
        <td>$299,817,621</td>
        </tr><tr>
        <td>17</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3890.png" class="lazy bn-abg" alt="MATIC" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3890.png"></noscript> <a href="https://webgia.com/tien-ao/polygon/" title="Giá Polygon" class="coin-name"><span>Polygon</span> <small>MATIC</small></a></td>
        <td>$0.939827</td>
        <td><span class=" text-red">-6.01%</span></td>
        <td><span class=" text-red">-10.3%</span></td>
        <td>$9,306,395,409</td>
        <td>$354,850,592</td>
        </tr><tr>
        <td>18</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/8916.png" class="lazy bn-abg" alt="ICP" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/8916.png"></noscript> <a href="https://webgia.com/tien-ao/internet-computer/" title="Giá Internet Computer" class="coin-name"><span>Internet Computer</span> <small>ICP</small></a></td>
        <td>$17.78</td>
        <td><span class=" text-red">-2.56%</span></td>
        <td><span class=" text-green">5.17%</span></td>
        <td>$8,207,187,001</td>
        <td>$305,450,242</td>
        </tr><tr>
        <td>19</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2.png" class="lazy bn-abg" alt="LTC" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2.png"></noscript> <a href="https://webgia.com/tien-ao/litecoin/" title="Giá Litecoin" class="coin-name"><span>Litecoin</span> <small>LTC</small></a></td>
        <td>$99.29</td>
        <td><span class=" text-red">-3.77%</span></td>
        <td><span class=" text-green">9.2%</span></td>
        <td>$7,384,999,753</td>
        <td>$1,409,832,530</td>
        </tr><tr>
        <td>20</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7083.png" class="lazy bn-abg" alt="UNI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7083.png"></noscript> <a href="https://webgia.com/tien-ao/uniswap/" title="Giá Uniswap" class="coin-name"><span>Uniswap</span> <small>UNI</small></a></td>
        <td>$12.34</td>
        <td><span class=" text-red">-4.63%</span></td>
        <td><span class=" text-red">-2.41%</span></td>
        <td>$7,387,152,235</td>
        <td>$192,940,731</td>
        </tr><tr>
        <td>21</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6535.png" class="lazy bn-abg" alt="NEAR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6535.png"></noscript> <a href="https://webgia.com/tien-ao/near-protocol/" title="Giá NEAR Protocol" class="coin-name"><span>NEAR Protocol</span> <small>NEAR</small></a></td>
        <td>$6.72</td>
        <td><span class=" text-red">-8.53%</span></td>
        <td><span class=" text-red">-10.31%</span></td>
        <td>$7,078,003,497</td>
        <td>$390,792,606</td>
        </tr><tr>
        <td>22</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/21794.png" class="lazy bn-abg" alt="APT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/21794.png"></noscript> <a href="https://webgia.com/tien-ao/aptos/" title="Giá Aptos" class="coin-name"><span>Aptos</span> <small>APT</small></a></td>
        <td>$17.39</td>
        <td><span class=" text-green">3.58%</span></td>
        <td><span class=" text-green">5.6%</span></td>
        <td>$6,913,611,229</td>
        <td>$532,876,764</td>
        </tr><tr>
        <td>23</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3957.png" class="lazy bn-abg" alt="LEO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3957.png"></noscript> <a href="https://webgia.com/tien-ao/unus-sed-leo/" title="Giá UNUS SED LEO" class="coin-name"><span>UNUS SED LEO</span> <small>LEO</small></a></td>
        <td>$6.09</td>
        <td><span class=" text-green">2.17%</span></td>
        <td><span class=" text-red">-0.07%</span></td>
        <td>$5,642,132,176</td>
        <td>$3,937,992</td>
        </tr><tr>
        <td>24</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4943.png" class="lazy bn-abg" alt="DAI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4943.png"></noscript> <a href="https://webgia.com/tien-ao/multi-collateral-dai/" title="Giá Dai" class="coin-name"><span>Dai</span> <small>DAI</small></a></td>
        <td>$1.00</td>
        <td><span class=" text-red">-0.03%</span></td>
        <td><span class=" text-red">-0.01%</span></td>
        <td>$5,348,025,853</td>
        <td>$191,217,823</td>
        </tr><tr>
        <td>25</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4847.png" class="lazy bn-abg" alt="STX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4847.png"></noscript> <a href="https://webgia.com/tien-ao/stacks/" title="Giá Stacks" class="coin-name"><span>Stacks</span> <small>STX</small></a></td>
        <td>$3.48</td>
        <td><span class=" text-red">-1.98%</span></td>
        <td><span class=" text-red">-3.85%</span></td>
        <td>$5,048,593,612</td>
        <td>$296,439,050</td>
        </tr><tr>
        <td>26</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2280.png" class="lazy bn-abg" alt="FIL" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2280.png"></noscript> <a href="https://webgia.com/tien-ao/filecoin/" title="Giá Filecoin" class="coin-name"><span>Filecoin</span> <small>FIL</small></a></td>
        <td>$9.21</td>
        <td><span class=" text-red">-5.05%</span></td>
        <td><span class=" text-red">-1.2%</span></td>
        <td>$4,894,683,117</td>
        <td>$493,408,929</td>
        </tr><tr>
        <td>27</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1321.png" class="lazy bn-abg" alt="ETC" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1321.png"></noscript> <a href="https://webgia.com/tien-ao/ethereum-classic/" title="Giá Ethereum Classic" class="coin-name"><span>Ethereum Classic</span> <small>ETC</small></a></td>
        <td>$32.28</td>
        <td><span class=" text-red">-4.84%</span></td>
        <td><span class=" text-green">0.33%</span></td>
        <td>$4,723,100,745</td>
        <td>$352,799,855</td>
        </tr><tr>
        <td>28</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3794.png" class="lazy bn-abg" alt="ATOM" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3794.png"></noscript> <a href="https://webgia.com/tien-ao/cosmos/" title="Giá Cosmos" class="coin-name"><span>Cosmos</span> <small>ATOM</small></a></td>
        <td>$11.56</td>
        <td><span class=" text-red">-5.96%</span></td>
        <td><span class=" text-red">-4.8%</span></td>
        <td>$4,519,466,009</td>
        <td>$223,290,509</td>
        </tr><tr>
        <td>29</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/28752.png" class="lazy bn-abg" alt="WIF" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/28752.png"></noscript> <a href="https://webgia.com/tien-ao/dogwifhat/" title="Giá dogwifhat" class="coin-name"><span>dogwifhat</span> <small>WIF</small></a></td>
        <td>$4.15</td>
        <td><span class=" text-red">-11.18%</span></td>
        <td><span class=" text-green">48.73%</span></td>
        <td>$4,144,832,322</td>
        <td>$795,846,688</td>
        </tr><tr>
        <td>30</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/11841.png" class="lazy bn-abg" alt="ARB" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/11841.png"></noscript> <a href="https://webgia.com/tien-ao/arbitrum/" title="Giá Arbitrum" class="coin-name"><span>Arbitrum</span> <small>ARB</small></a></td>
        <td>$1.56</td>
        <td><span class=" text-red">-5.35%</span></td>
        <td><span class=" text-red">-9.81%</span></td>
        <td>$4,135,806,254</td>
        <td>$399,868,697</td>
        </tr><tr>
        <td>31</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/10603.png" class="lazy bn-abg" alt="IMX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/10603.png"></noscript> <a href="https://webgia.com/tien-ao/immutable-x/" title="Giá Immutable" class="coin-name"><span>Immutable</span> <small>IMX</small></a></td>
        <td>$2.82</td>
        <td><span class=" text-red">-5.84%</span></td>
        <td><span class=" text-red">-8.2%</span></td>
        <td>$4,019,860,245</td>
        <td>$65,057,545</td>
        </tr><tr>
        <td>32</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3635.png" class="lazy bn-abg" alt="CRO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3635.png"></noscript> <a href="https://webgia.com/tien-ao/cronos/" title="Giá Cronos" class="coin-name"><span>Cronos</span> <small>CRO</small></a></td>
        <td>$0.149386</td>
        <td><span class=" text-red">-1.31%</span></td>
        <td><span class=" text-green">1.55%</span></td>
        <td>$3,969,428,866</td>
        <td>$38,360,291</td>
        </tr><tr>
        <td>33</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/27075.png" class="lazy bn-abg" alt="MNT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/27075.png"></noscript> <a href="https://webgia.com/tien-ao/mantle/" title="Giá Mantle" class="coin-name"><span>Mantle</span> <small>MNT</small></a></td>
        <td>$1.22</td>
        <td><span class=" text-red">-5.95%</span></td>
        <td><span class=" text-green">42.68%</span></td>
        <td>$3,957,967,602</td>
        <td>$188,267,909</td>
        </tr><tr>
        <td>34</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/512.png" class="lazy bn-abg" alt="XLM" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/512.png"></noscript> <a href="https://webgia.com/tien-ao/stellar/" title="Giá Stellar" class="coin-name"><span>Stellar</span> <small>XLM</small></a></td>
        <td>$0.133423</td>
        <td><span class=" text-red">-4.77%</span></td>
        <td><span class=" text-red">-3.08%</span></td>
        <td>$3,844,318,960</td>
        <td>$138,485,590</td>
        </tr><tr>
        <td>35</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/5690.png" class="lazy bn-abg" alt="RNDR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/5690.png"></noscript> <a href="https://webgia.com/tien-ao/render/" title="Giá Render" class="coin-name"><span>Render</span> <small>RNDR</small></a></td>
        <td>$9.77</td>
        <td><span class=" text-red">-8.46%</span></td>
        <td><span class=" text-red">-12.02%</span></td>
        <td>$3,729,706,406</td>
        <td>$256,818,773</td>
        </tr><tr>
        <td>36</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3897.png" class="lazy bn-abg" alt="OKB" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3897.png"></noscript> <a href="https://webgia.com/tien-ao/okb/" title="Giá OKB" class="coin-name"><span>OKB</span> <small>OKB</small></a></td>
        <td>$61.00</td>
        <td><span class=" text-red">-3.79%</span></td>
        <td><span class=" text-red">-6.88%</span></td>
        <td>$3,659,888,888</td>
        <td>$8,754,798</td>
        </tr><tr>
        <td>37</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4642.png" class="lazy bn-abg" alt="HBAR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4642.png"></noscript> <a href="https://webgia.com/tien-ao/hedera/" title="Giá Hedera" class="coin-name"><span>Hedera</span> <small>HBAR</small></a></td>
        <td>$0.108129</td>
        <td><span class=" text-red">-7.6%</span></td>
        <td><span class=" text-red">-6.69%</span></td>
        <td>$3,646,078,605</td>
        <td>$76,134,659</td>
        </tr><tr>
        <td>38</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/11840.png" class="lazy bn-abg" alt="OP" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/11840.png"></noscript> <a href="https://webgia.com/tien-ao/optimism-ethereum/" title="Giá Optimism" class="coin-name"><span>Optimism</span> <small>OP</small></a></td>
        <td>$3.46</td>
        <td><span class=" text-red">-6.07%</span></td>
        <td><span class=" text-red">-9.62%</span></td>
        <td>$3,479,248,461</td>
        <td>$227,430,596</td>
        </tr><tr>
        <td>39</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6719.png" class="lazy bn-abg" alt="GRT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6719.png"></noscript> <a href="https://webgia.com/tien-ao/the-graph/" title="Giá The Graph" class="coin-name"><span>The Graph</span> <small>GRT</small></a></td>
        <td>$0.366543</td>
        <td><span class=" text-red">-5.59%</span></td>
        <td><span class=" text-red">-7.99%</span></td>
        <td>$3,466,388,285</td>
        <td>$132,242,789</td>
        </tr><tr>
        <td>40</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1518.png" class="lazy bn-abg" alt="MKR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1518.png"></noscript> <a href="https://webgia.com/tien-ao/maker/" title="Giá Maker" class="coin-name"><span>Maker</span> <small>MKR</small></a></td>
        <td>$3,674.16</td>
        <td><span class=" text-red">-6.14%</span></td>
        <td><span class=" text-green">9.88%</span></td>
        <td>$3,397,103,115</td>
        <td>$149,524,027</td>
        </tr><tr>
        <td>41</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/22974.png" class="lazy bn-abg" alt="TAO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/22974.png"></noscript> <a href="https://webgia.com/tien-ao/bittensor/" title="Giá Bittensor" class="coin-name"><span>Bittensor</span> <small>TAO</small></a></td>
        <td>$499.45</td>
        <td><span class=" text-red">-3.95%</span></td>
        <td><span class=" text-red">-18.76%</span></td>
        <td>$3,256,374,790</td>
        <td>$42,095,127</td>
        </tr><tr>
        <td>42</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/24478.png" class="lazy bn-abg" alt="PEPE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/24478.png"></noscript> <a href="https://webgia.com/tien-ao/pepe/" title="Giá Pepe" class="coin-name"><span>Pepe</span> <small>PEPE</small></a></td>
        <td>$0.000008</td>
        <td><span class=" text-red">-12.62%</span></td>
        <td><span class=" text-red">-6.87%</span></td>
        <td>$3,247,708,476</td>
        <td>$970,313,858</td>
        </tr><tr>
        <td>43</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7226.png" class="lazy bn-abg" alt="INJ" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7226.png"></noscript> <a href="https://webgia.com/tien-ao/injective/" title="Giá Injective" class="coin-name"><span>Injective</span> <small>INJ</small></a></td>
        <td>$34.41</td>
        <td><span class=" text-red">-6.95%</span></td>
        <td><span class=" text-red">-9.15%</span></td>
        <td>$3,213,752,898</td>
        <td>$165,314,447</td>
        </tr><tr>
        <td>44</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3077.png" class="lazy bn-abg" alt="VET" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3077.png"></noscript> <a href="https://webgia.com/tien-ao/vechain/" title="Giá VeChain" class="coin-name"><span>VeChain</span> <small>VET</small></a></td>
        <td>$0.043672</td>
        <td><span class=" text-red">-5.19%</span></td>
        <td><span class=" text-red">-1.56%</span></td>
        <td>$3,175,613,640</td>
        <td>$97,701,038</td>
        </tr><tr>
        <td>45</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/20396.png" class="lazy bn-abg" alt="KAS" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/20396.png"></noscript> <a href="https://webgia.com/tien-ao/kaspa/" title="Giá Kaspa" class="coin-name"><span>Kaspa</span> <small>KAS</small></a></td>
        <td>$0.132776</td>
        <td><span class=" text-red">-1.98%</span></td>
        <td><span class=" text-red">-9.73%</span></td>
        <td>$3,080,597,526</td>
        <td>$61,898,046</td>
        </tr><tr>
        <td>46</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/23254.png" class="lazy bn-abg" alt="CORE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/23254.png"></noscript> <a href="https://webgia.com/tien-ao/core-dao/" title="Giá Core" class="coin-name"><span>Core</span> <small>CORE</small></a></td>
        <td>$3.41</td>
        <td><span class=" text-green">65.03%</span></td>
        <td><span class=" text-green">256.42%</span></td>
        <td>$2,982,906,498</td>
        <td>$561,155,925</td>
        </tr><tr>
        <td>47</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2416.png" class="lazy bn-abg" alt="THETA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2416.png"></noscript> <a href="https://webgia.com/tien-ao/theta-network/" title="Giá Theta Network" class="coin-name"><span>Theta Network</span> <small>THETA</small></a></td>
        <td>$2.80</td>
        <td><span class=" text-red">-4.51%</span></td>
        <td><span class=" text-red">-9.91%</span></td>
        <td>$2,796,103,605</td>
        <td>$129,779,016</td>
        </tr><tr>
        <td>48</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4157.png" class="lazy bn-abg" alt="RUNE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4157.png"></noscript> <a href="https://webgia.com/tien-ao/thorchain/" title="Giá THORChain" class="coin-name"><span>THORChain</span> <small>RUNE</small></a></td>
        <td>$8.04</td>
        <td><span class=" text-red">-6.14%</span></td>
        <td><span class=" text-red">-11.09%</span></td>
        <td>$2,696,341,689</td>
        <td>$319,557,556</td>
        </tr><tr>
        <td>49</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3513.png" class="lazy bn-abg" alt="FTM" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3513.png"></noscript> <a href="https://webgia.com/tien-ao/fantom/" title="Giá Fantom" class="coin-name"><span>Fantom</span> <small>FTM</small></a></td>
        <td>$0.925473</td>
        <td><span class=" text-red">-7.82%</span></td>
        <td><span class=" text-red">-22.13%</span></td>
        <td>$2,594,689,547</td>
        <td>$223,566,679</td>
        </tr><tr>
        <td>50</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/26081.png" class="lazy bn-abg" alt="FDUSD" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/26081.png"></noscript> <a href="https://webgia.com/tien-ao/first-digital-usd/" title="Giá First Digital USD" class="coin-name"><span>First Digital USD</span> <small>FDUSD</small></a></td>
        <td>$0.999338</td>
        <td><span class=" text-red">-0.47%</span></td>
        <td><span class=" text-red">-0.04%</span></td>
        <td>$2,565,841,492</td>
        <td>$7,390,835,092</td>
        </tr><tr>
        <td>51</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/20947.png" class="lazy bn-abg" alt="SUI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/20947.png"></noscript> <a href="https://webgia.com/tien-ao/sui/" title="Giá Sui" class="coin-name"><span>Sui</span> <small>SUI</small></a></td>
        <td>$1.96</td>
        <td><span class=" text-green">3.45%</span></td>
        <td><span class=" text-green">14.6%</span></td>
        <td>$2,540,700,959</td>
        <td>$668,472,240</td>
        </tr><tr>
        <td>52</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/8000.png" class="lazy bn-abg" alt="LDO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/8000.png"></noscript> <a href="https://webgia.com/tien-ao/lido-dao/" title="Giá Lido DAO" class="coin-name"><span>Lido DAO</span> <small>LDO</small></a></td>
        <td>$2.78</td>
        <td><span class=" text-red">-5.5%</span></td>
        <td><span class=" text-red">-13.95%</span></td>
        <td>$2,476,871,412</td>
        <td>$98,684,848</td>
        </tr><tr>
        <td>53</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3773.png" class="lazy bn-abg" alt="FET" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3773.png"></noscript> <a href="https://webgia.com/tien-ao/fetch/" title="Giá Fetch.ai" class="coin-name"><span>Fetch.ai</span> <small>FET</small></a></td>
        <td>$2.87</td>
        <td><span class=" text-red">-6.47%</span></td>
        <td><span class=" text-green">7.12%</span></td>
        <td>$2,415,742,811</td>
        <td>$334,231,172</td>
        </tr><tr>
        <td>54</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/5632.png" class="lazy bn-abg" alt="AR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/5632.png"></noscript> <a href="https://webgia.com/tien-ao/arweave/" title="Giá Arweave" class="coin-name"><span>Arweave</span> <small>AR</small></a></td>
        <td>$36.13</td>
        <td><span class=" text-red">-6.8%</span></td>
        <td><span class=" text-red">-17.31%</span></td>
        <td>$2,365,164,488</td>
        <td>$62,805,903</td>
        </tr><tr>
        <td>55</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/22861.png" class="lazy bn-abg" alt="TIA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/22861.png"></noscript> <a href="https://webgia.com/tien-ao/celestia/" title="Giá Celestia" class="coin-name"><span>Celestia</span> <small>TIA</small></a></td>
        <td>$13.16</td>
        <td><span class=" text-red">-8.92%</span></td>
        <td><span class=" text-red">-7.52%</span></td>
        <td>$2,297,650,390</td>
        <td>$152,243,201</td>
        </tr><tr>
        <td>56</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/29210.png" class="lazy bn-abg" alt="JUP" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/29210.png"></noscript> <a href="https://webgia.com/tien-ao/jupiter-ag/" title="Giá Jupiter" class="coin-name"><span>Jupiter</span> <small>JUP</small></a></td>
        <td>$1.68</td>
        <td><span class=" text-green">12.31%</span></td>
        <td><span class=" text-green">27.2%</span></td>
        <td>$2,267,160,940</td>
        <td>$799,353,218</td>
        </tr><tr>
        <td>57</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/328.png" class="lazy bn-abg" alt="XMR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/328.png"></noscript> <a href="https://webgia.com/tien-ao/monero/" title="Giá Monero" class="coin-name"><span>Monero</span> <small>XMR</small></a></td>
        <td>$121.87</td>
        <td><span class=" text-red">-5.33%</span></td>
        <td><span class=" text-red">-14.4%</span></td>
        <td>$2,244,587,192</td>
        <td>$54,124,478</td>
        </tr><tr>
        <td>58</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/10804.png" class="lazy bn-abg" alt="FLOKI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/10804.png"></noscript> <a href="https://webgia.com/tien-ao/floki-inu/" title="Giá FLOKI" class="coin-name"><span>FLOKI</span> <small>FLOKI</small></a></td>
        <td>$0.000230</td>
        <td><span class=" text-red">-7.73%</span></td>
        <td><span class=" text-red">-8.89%</span></td>
        <td>$2,197,581,702</td>
        <td>$373,555,265</td>
        </tr><tr>
        <td>59</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/23149.png" class="lazy bn-abg" alt="SEI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/23149.png"></noscript> <a href="https://webgia.com/tien-ao/sei/" title="Giá Sei" class="coin-name"><span>Sei</span> <small>SEI</small></a></td>
        <td>$0.769208</td>
        <td><span class=" text-red">-6.15%</span></td>
        <td><span class=" text-red">-8.2%</span></td>
        <td>$2,057,630,925</td>
        <td>$179,412,297</td>
        </tr><tr>
        <td>60</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4030.png" class="lazy bn-abg" alt="ALGO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4030.png"></noscript> <a href="https://webgia.com/tien-ao/algorand/" title="Giá Algorand" class="coin-name"><span>Algorand</span> <small>ALGO</small></a></td>
        <td>$0.249730</td>
        <td><span class=" text-red">-5.82%</span></td>
        <td><span class=" text-red">-5.96%</span></td>
        <td>$2,018,394,400</td>
        <td>$83,195,082</td>
        </tr><tr>
        <td>61</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7080.png" class="lazy bn-abg" alt="GALA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7080.png"></noscript> <a href="https://webgia.com/tien-ao/gala/" title="Giá Gala" class="coin-name"><span>Gala</span> <small>GALA</small></a></td>
        <td>$0.062578</td>
        <td><span class=" text-red">-7.17%</span></td>
        <td><span class=" text-red">-7.7%</span></td>
        <td>$1,899,530,645</td>
        <td>$202,600,604</td>
        </tr><tr>
        <td>62</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4558.png" class="lazy bn-abg" alt="FLOW" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4558.png"></noscript> <a href="https://webgia.com/tien-ao/flow/" title="Giá Flow" class="coin-name"><span>Flow</span> <small>FLOW</small></a></td>
        <td>$1.24</td>
        <td><span class=" text-red">-6.89%</span></td>
        <td><span class=" text-red">-9.54%</span></td>
        <td>$1,862,473,085</td>
        <td>$80,484,622</td>
        </tr><tr>
        <td>63</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7278.png" class="lazy bn-abg" alt="AAVE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7278.png"></noscript> <a href="https://webgia.com/tien-ao/aave/" title="Giá Aave" class="coin-name"><span>Aave</span> <small>AAVE</small></a></td>
        <td>$124.65</td>
        <td><span class=" text-red">-1.83%</span></td>
        <td><span class=" text-red">-3.17%</span></td>
        <td>$1,844,228,196</td>
        <td>$140,729,531</td>
        </tr><tr>
        <td>64</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3602.png" class="lazy bn-abg" alt="BSV" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3602.png"></noscript> <a href="https://webgia.com/tien-ao/bitcoin-sv/" title="Giá Bitcoin SV" class="coin-name"><span>Bitcoin SV</span> <small>BSV</small></a></td>
        <td>$93.46</td>
        <td><span class=" text-red">-3.36%</span></td>
        <td><span class=" text-green">4.81%</span></td>
        <td>$1,838,935,700</td>
        <td>$140,477,766</td>
        </tr><tr>
        <td>65</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/28298.png" class="lazy bn-abg" alt="BEAM" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/28298.png"></noscript> <a href="https://webgia.com/tien-ao/onbeam/" title="Giá Beam" class="coin-name"><span>Beam</span> <small>BEAM</small></a></td>
        <td>$0.032754</td>
        <td><span class=" text-red">-4.34%</span></td>
        <td><span class=" text-red">-7.77%</span></td>
        <td>$1,727,402,548</td>
        <td>$35,729,175</td>
        </tr><tr>
        <td>66</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/23095.png" class="lazy bn-abg" alt="BONK" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/23095.png"></noscript> <a href="https://webgia.com/tien-ao/bonk1/" title="Giá Bonk" class="coin-name"><span>Bonk</span> <small>BONK</small></a></td>
        <td>$0.000025</td>
        <td><span class=" text-red">-8.42%</span></td>
        <td><span class=" text-green">2.08%</span></td>
        <td>$1,654,545,843</td>
        <td>$207,592,863</td>
        </tr><tr>
        <td>67</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7334.png" class="lazy bn-abg" alt="CFX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7334.png"></noscript> <a href="https://webgia.com/tien-ao/conflux-network/" title="Giá Conflux" class="coin-name"><span>Conflux</span> <small>CFX</small></a></td>
        <td>$0.411934</td>
        <td><span class=" text-red">-13.27%</span></td>
        <td><span class=" text-red">-19.86%</span></td>
        <td>$1,585,220,316</td>
        <td>$343,051,094</td>
        </tr><tr>
        <td>68</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/3155.png" class="lazy bn-abg" alt="QNT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/3155.png"></noscript> <a href="https://webgia.com/tien-ao/quant/" title="Giá Quant" class="coin-name"><span>Quant</span> <small>QNT</small></a></td>
        <td>$126.18</td>
        <td><span class=" text-red">-5.69%</span></td>
        <td><span class=" text-red">-12.06%</span></td>
        <td>$1,523,298,326</td>
        <td>$33,928,217</td>
        </tr><tr>
        <td>69</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2424.png" class="lazy bn-abg" alt="AGIX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2424.png"></noscript> <a href="https://webgia.com/tien-ao/singularitynet/" title="Giá SingularityNET" class="coin-name"><span>SingularityNET</span> <small>AGIX</small></a></td>
        <td>$1.18</td>
        <td><span class=" text-red">-6.24%</span></td>
        <td><span class=" text-green">1.71%</span></td>
        <td>$1,511,526,693</td>
        <td>$198,095,678</td>
        </tr><tr>
        <td>70</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6892.png" class="lazy bn-abg" alt="EGLD" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6892.png"></noscript> <a href="https://webgia.com/tien-ao/multiversx-egld/" title="Giá MultiversX" class="coin-name"><span>MultiversX</span> <small>EGLD</small></a></td>
        <td>$56.40</td>
        <td><span class=" text-red">-5.84%</span></td>
        <td><span class=" text-red">-11.39%</span></td>
        <td>$1,509,396,628</td>
        <td>$37,463,846</td>
        </tr><tr>
        <td>71</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/28324.png" class="lazy bn-abg" alt="DYDX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/28324.png"></noscript> <a href="https://webgia.com/tien-ao/dydx-chain/" title="Giá dYdX (Native)" class="coin-name"><span>dYdX (Native)</span> <small>DYDX</small></a></td>
        <td>$3.22</td>
        <td><span class=" text-red">-5.64%</span></td>
        <td><span class=" text-red">-7.37%</span></td>
        <td>$1,494,933,892</td>
        <td>$12,243,421</td>
        </tr><tr>
        <td>72</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/11092.png" class="lazy bn-abg" alt="BGB" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/11092.png"></noscript> <a href="https://webgia.com/tien-ao/bitget-token-new/" title="Giá Bitget Token" class="coin-name"><span>Bitget Token</span> <small>BGB</small></a></td>
        <td>$1.07</td>
        <td><span class=" text-green">3.65%</span></td>
        <td><span class=" text-green">12.96%</span></td>
        <td>$1,504,390,090</td>
        <td>$53,360,571</td>
        </tr><tr>
        <td>73</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6210.png" class="lazy bn-abg" alt="SAND" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6210.png"></noscript> <a href="https://webgia.com/tien-ao/the-sandbox/" title="Giá The Sandbox" class="coin-name"><span>The Sandbox</span> <small>SAND</small></a></td>
        <td>$0.651956</td>
        <td><span class=" text-red">-6.88%</span></td>
        <td><span class=" text-red">-5.5%</span></td>
        <td>$1,468,030,546</td>
        <td>$148,512,819</td>
        </tr><tr>
        <td>74</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/22691.png" class="lazy bn-abg" alt="STRK" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/22691.png"></noscript> <a href="https://webgia.com/tien-ao/starknet-token/" title="Giá Starknet" class="coin-name"><span>Starknet</span> <small>STRK</small></a></td>
        <td>$2.00</td>
        <td><span class=" text-red">-7.22%</span></td>
        <td><span class=" text-red">-12.02%</span></td>
        <td>$1,458,975,830</td>
        <td>$170,659,515</td>
        </tr><tr>
        <td>75</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/6783.png" class="lazy bn-abg" alt="AXS" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/6783.png"></noscript> <a href="https://webgia.com/tien-ao/axie-infinity/" title="Giá Axie Infinity" class="coin-name"><span>Axie Infinity</span> <small>AXS</small></a></td>
        <td>$10.16</td>
        <td><span class=" text-red">-6.78%</span></td>
        <td><span class=" text-red">-6.76%</span></td>
        <td>$1,450,090,595</td>
        <td>$64,962,772</td>
        </tr><tr>
        <td>76</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/16086.png" class="lazy bn-abg" alt="BTT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/16086.png"></noscript> <a href="https://webgia.com/tien-ao/bittorrent-new/" title="Giá BitTorrent (New)" class="coin-name"><span>BitTorrent (New)</span> <small>BTT</small></a></td>
        <td>$0.000001</td>
        <td><span class=" text-red">-6.33%</span></td>
        <td><span class=" text-red">-4.17%</span></td>
        <td>$1,444,188,198</td>
        <td>$40,248,352</td>
        </tr><tr>
        <td>77</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2586.png" class="lazy bn-abg" alt="SNX" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2586.png"></noscript> <a href="https://webgia.com/tien-ao/synthetix/" title="Giá Synthetix" class="coin-name"><span>Synthetix</span> <small>SNX</small></a></td>
        <td>$4.37</td>
        <td><span class=" text-red">-6.7%</span></td>
        <td><span class=" text-red">-14.13%</span></td>
        <td>$1,432,435,802</td>
        <td>$58,263,437</td>
        </tr><tr>
        <td>78</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/28177.png" class="lazy bn-abg" alt="PYTH" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/28177.png"></noscript> <a href="https://webgia.com/tien-ao/pyth-network/" title="Giá Pyth Network" class="coin-name"><span>Pyth Network</span> <small>PYTH</small></a></td>
        <td>$0.933702</td>
        <td><span class=" text-red">-1.03%</span></td>
        <td><span class=" text-red">-2.9%</span></td>
        <td>$1,400,543,464</td>
        <td>$243,297,804</td>
        </tr><tr>
        <td>79</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7950.png" class="lazy bn-abg" alt="FLR" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7950.png"></noscript> <a href="https://webgia.com/tien-ao/flare/" title="Giá Flare" class="coin-name"><span>Flare</span> <small>FLR</small></a></td>
        <td>$0.037218</td>
        <td><span class=" text-red">-12.23%</span></td>
        <td><span class=" text-red">-0.66%</span></td>
        <td>$1,371,077,260</td>
        <td>$50,026,040</td>
        </tr><tr>
        <td>80</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/25028.png" class="lazy bn-abg" alt="ORDI" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/25028.png"></noscript> <a href="https://webgia.com/tien-ao/ordi/" title="Giá ORDI" class="coin-name"><span>ORDI</span> <small>ORDI</small></a></td>
        <td>$63.82</td>
        <td><span class=" text-red">-10.73%</span></td>
        <td><span class=" text-red">-4.45%</span></td>
        <td>$1,340,303,105</td>
        <td>$347,422,785</td>
        </tr><tr>
        <td>81</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/10791.png" class="lazy bn-abg" alt="XEC" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/10791.png"></noscript> <a href="https://webgia.com/tien-ao/ecash/" title="Giá eCash" class="coin-name"><span>eCash</span> <small>XEC</small></a></td>
        <td>$0.000066</td>
        <td><span class=" text-green">0.96%</span></td>
        <td><span class=" text-red">-3.32%</span></td>
        <td>$1,298,752,636</td>
        <td>$237,053,496</td>
        </tr><tr>
        <td>82</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2011.png" class="lazy bn-abg" alt="XTZ" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2011.png"></noscript> <a href="https://webgia.com/tien-ao/tezos/" title="Giá Tezos" class="coin-name"><span>Tezos</span> <small>XTZ</small></a></td>
        <td>$1.33</td>
        <td><span class=" text-red">-4.91%</span></td>
        <td><span class=" text-red">-0.74%</span></td>
        <td>$1,297,958,656</td>
        <td>$38,325,658</td>
        </tr><tr>
        <td>83</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/9481.png" class="lazy bn-abg" alt="PENDLE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/9481.png"></noscript> <a href="https://webgia.com/tien-ao/pendle/" title="Giá Pendle" class="coin-name"><span>Pendle</span> <small>PENDLE</small></a></td>
        <td>$5.40</td>
        <td><span class=" text-green">1.88%</span></td>
        <td><span class=" text-green">37.31%</span></td>
        <td>$1,286,514,332</td>
        <td>$229,577,225</td>
        </tr><tr>
        <td>84</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/13502.png" class="lazy bn-abg" alt="WLD" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/13502.png"></noscript> <a href="https://webgia.com/tien-ao/worldcoin-org/" title="Giá Worldcoin" class="coin-name"><span>Worldcoin</span> <small>WLD</small></a></td>
        <td>$7.56</td>
        <td><span class=" text-red">-8.06%</span></td>
        <td><span class=" text-red">-14.04%</span></td>
        <td>$1,277,185,881</td>
        <td>$314,337,492</td>
        </tr><tr>
        <td>85</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/8646.png" class="lazy bn-abg" alt="MINA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/8646.png"></noscript> <a href="https://webgia.com/tien-ao/mina/" title="Giá Mina" class="coin-name"><span>Mina</span> <small>MINA</small></a></td>
        <td>$1.15</td>
        <td><span class=" text-red">-6.89%</span></td>
        <td><span class=" text-red">-10.17%</span></td>
        <td>$1,235,105,349</td>
        <td>$60,684,719</td>
        </tr><tr>
        <td>86</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/17799.png" class="lazy bn-abg" alt="AXL" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/17799.png"></noscript> <a href="https://webgia.com/tien-ao/axelar/" title="Giá Axelar" class="coin-name"><span>Axelar</span> <small>AXL</small></a></td>
        <td>$1.99</td>
        <td><span class=" text-red">-2.69%</span></td>
        <td><span class=" text-red">-0.9%</span></td>
        <td>$1,226,647,086</td>
        <td>$47,757,737</td>
        </tr><tr>
        <td>87</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4066.png" class="lazy bn-abg" alt="CHZ" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4066.png"></noscript> <a href="https://webgia.com/tien-ao/chiliz/" title="Giá Chiliz" class="coin-name"><span>Chiliz</span> <small>CHZ</small></a></td>
        <td>$0.137873</td>
        <td><span class=" text-red">-7.63%</span></td>
        <td><span class=" text-red">-5.04%</span></td>
        <td>$1,225,452,855</td>
        <td>$70,644,105</td>
        </tr><tr>
        <td>88</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/21159.png" class="lazy bn-abg" alt="ONDO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/21159.png"></noscript> <a href="https://webgia.com/tien-ao/ondo-finance/" title="Giá Ondo" class="coin-name"><span>Ondo</span> <small>ONDO</small></a></td>
        <td>$0.860892</td>
        <td><span class=" text-red">-7.58%</span></td>
        <td><span class=" text-red">-7.46%</span></td>
        <td>$1,196,432,615</td>
        <td>$496,756,793</td>
        </tr><tr>
        <td>89</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1966.png" class="lazy bn-abg" alt="MANA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1966.png"></noscript> <a href="https://webgia.com/tien-ao/decentraland/" title="Giá Decentraland" class="coin-name"><span>Decentraland</span> <small>MANA</small></a></td>
        <td>$0.621276</td>
        <td><span class=" text-red">-6.24%</span></td>
        <td><span class=" text-red">-6.59%</span></td>
        <td>$1,185,594,127</td>
        <td>$90,015,478</td>
        </tr><tr>
        <td>90</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1765.png" class="lazy bn-abg" alt="EOS" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1765.png"></noscript> <a href="https://webgia.com/tien-ao/eos/" title="Giá EOS" class="coin-name"><span>EOS</span> <small>EOS</small></a></td>
        <td>$1.03</td>
        <td><span class=" text-red">-5.52%</span></td>
        <td><span class=" text-red">-3.65%</span></td>
        <td>$1,154,736,858</td>
        <td>$159,228,689</td>
        </tr><tr>
        <td>91</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/14101.png" class="lazy bn-abg" alt="RON" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/14101.png"></noscript> <a href="https://webgia.com/tien-ao/ronin/" title="Giá Ronin" class="coin-name"><span>Ronin</span> <small>RON</small></a></td>
        <td>$3.73</td>
        <td><span class=" text-red">-6.06%</span></td>
        <td><span class=" text-red">-11.4%</span></td>
        <td>$1,141,464,812</td>
        <td>$27,772,096</td>
        </tr><tr>
        <td>92</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/4846.png" class="lazy bn-abg" alt="KAVA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/4846.png"></noscript> <a href="https://webgia.com/tien-ao/kava/" title="Giá Kava" class="coin-name"><span>Kava</span> <small>KAVA</small></a></td>
        <td>$1.05</td>
        <td><span class=" text-green">0.36%</span></td>
        <td><span class=" text-green">9.57%</span></td>
        <td>$1,136,144,170</td>
        <td>$88,619,060</td>
        </tr><tr>
        <td>93</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/18876.png" class="lazy bn-abg" alt="APE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/18876.png"></noscript> <a href="https://webgia.com/tien-ao/apecoin-ape/" title="Giá ApeCoin" class="coin-name"><span>ApeCoin</span> <small>APE</small></a></td>
        <td>$1.87</td>
        <td><span class=" text-red">-6.54%</span></td>
        <td><span class=" text-red">-8.86%</span></td>
        <td>$1,132,267,893</td>
        <td>$73,968,638</td>
        </tr><tr>
        <td>94</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1376.png" class="lazy bn-abg" alt="NEO" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1376.png"></noscript> <a href="https://webgia.com/tien-ao/neo/" title="Giá Neo" class="coin-name"><span>Neo</span> <small>NEO</small></a></td>
        <td>$15.37</td>
        <td><span class=" text-red">-4.57%</span></td>
        <td><span class=" text-red">-2.57%</span></td>
        <td>$1,083,885,402</td>
        <td>$56,622,741</td>
        </tr><tr>
        <td>95</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/2087.png" class="lazy bn-abg" alt="KCS" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/2087.png"></noscript> <a href="https://webgia.com/tien-ao/kucoin-token/" title="Giá KuCoin Token" class="coin-name"><span>KuCoin Token</span> <small>KCS</small></a></td>
        <td>$11.06</td>
        <td><span class=" text-red">-3.71%</span></td>
        <td><span class=" text-red">-23.42%</span></td>
        <td>$1,062,953,944</td>
        <td>$3,978,064</td>
        </tr><tr>
        <td>96</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/28683.png" class="lazy bn-abg" alt="1000SATS" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/28683.png"></noscript> <a href="https://webgia.com/tien-ao/sats/" title="Giá SATS" class="coin-name"><span>SATS</span> <small>1000SATS</small></a></td>
        <td>$0.000503</td>
        <td><span class=" text-red">-8.66%</span></td>
        <td><span class=" text-red">-3.49%</span></td>
        <td>$1,055,958,426</td>
        <td>$60,034,476</td>
        </tr><tr>
        <td>97</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7431.png" class="lazy bn-abg" alt="AKT" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7431.png"></noscript> <a href="https://webgia.com/tien-ao/akash-network/" title="Giá Akash Network" class="coin-name"><span>Akash Network</span> <small>AKT</small></a></td>
        <td>$4.53</td>
        <td><span class=" text-red">-5.69%</span></td>
        <td><span class=" text-red">-21.82%</span></td>
        <td>$1,051,698,765</td>
        <td>$11,758,522</td>
        </tr><tr>
        <td>98</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/7186.png" class="lazy bn-abg" alt="CAKE" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/7186.png"></noscript> <a href="https://webgia.com/tien-ao/pancakeswap/" title="Giá PancakeSwap" class="coin-name"><span>PancakeSwap</span> <small>CAKE</small></a></td>
        <td>$4.28</td>
        <td><span class=" text-red">-7.45%</span></td>
        <td><span class=" text-red">-3.96%</span></td>
        <td>$1,049,887,980</td>
        <td>$158,247,743</td>
        </tr><tr>
        <td>99</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/1720.png" class="lazy bn-abg" alt="IOTA" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/1720.png"></noscript> <a href="https://webgia.com/tien-ao/iota/" title="Giá IOTA" class="coin-name"><span>IOTA</span> <small>IOTA</small></a></td>
        <td>$0.320672</td>
        <td><span class=" text-red">-7.42%</span></td>
        <td><span class=" text-red">-5.29%</span></td>
        <td>$1,023,338,082</td>
        <td>$29,859,663</td>
        </tr><tr>
        <td>100</td>
        <td><img data-original="https://giacoin.com/assets/images/coins/16x16/8425.png" class="lazy bn-abg" alt="JASMY" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="><noscript><img src="https://giacoin.com/assets/images/coins/16x16/8425.png"></noscript> <a href="https://webgia.com/tien-ao/jasmy/" title="Giá JasmyCoin" class="coin-name"><span>JasmyCoin</span> <small>JASMY</small></a></td>
        <td>$0.020444</td>
        <td><span class=" text-red">-7.18%</span></td>
        <td><span class=" text-red">-4.2%</span></td>
        <td>$1,007,879,230</td>
        <td>$91,574,222</td>
        </tr>        </tbody>
    </table>
</div>
<div class="box_pagination text-center"><div class="box_total_page">Trang 1/94</div><ul class="pagination"><li data-page="1" class="active"><a href="https://webgia.com/tien-ao/?trang=1">1</a></li><li data-page="2"><a href="https://webgia.com/tien-ao/?trang=2">2</a></li><li data-page="3"><a href="https://webgia.com/tien-ao/?trang=3">3</a></li><li data-page="4"><a href="https://webgia.com/tien-ao/?trang=4">4</a></li><li data-page="5"><a href="https://webgia.com/tien-ao/?trang=5">5</a></li><li data-page="6"><a href="https://webgia.com/tien-ao/?trang=6">6</a></li><li data-page="7"><a href="https://webgia.com/tien-ao/?trang=7">7</a></li><li data-page="8"><a href="https://webgia.com/tien-ao/?trang=8">8</a></li><li data-page="9"><a href="https://webgia.com/tien-ao/?trang=9">9</a></li><li data-page="10"><a href="https://webgia.com/tien-ao/?trang=10">10</a></li><li data-page="94"><a href="https://webgia.com/tien-ao/?trang=94">»</a></li></ul></div><div class="source">Nguồn: Tổng hợp bởi webgia.com</div>
<div>
    <h2>Code chèn Bảng giá tiền ảo vào Website / Wordpress</h2>
    <pre>&lt;div id="webgia_box_coin"&gt;&lt;/div&gt;&lt;script src="https://webgia.com/tools/widgets/coins/box.js"&gt;&lt;/script&gt;</pre>
</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":835,"itemReviewed":{"@type":"CreativeWorkSeries","name":"Gi\u00e1 ti\u1ec1n \u1ea3o, ti\u1ec1n \u0111i\u1ec7n t\u1eed h\u00f4m nay 01\/04 - T\u1ef7 gi\u00e1 ti\u1ec1n \u1ea3o Bitcoin (BTC), Ethereum (ETH), Bitcoin Cash (BCH), Litecoin (LTC), Binance Coin (BNB) - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="b5faeeee2bcee4a581e55232cea94c87">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Giá tiền ảo, tiền điện tử hôm nay 01/04 - Tỷ giá tiền ảo Bitcoin (BTC), Ethereum (ETH), Bitcoin Cash (BCH), Litecoin (LTC), Binance Coin (BNB) - Web giá</div>5 trên 835 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->

</article>
<article class="col-md-9">
</article><aside class="col-xs-12 col-md-3" style="margin-top:0">
<div id="sidebar">
<div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-center" style="margin-bottom:5px">
            <thead>
                <tr>
                    <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/gia-vang/the-gioi/" title="Xem trực tiếp giá vàng thế giới" style="color:#002272">ↀ Giá vàng thế giới</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr>
                    <td style="width:50%">$2,241.85</td>
                    <td style="width:25%" class="text-red">-3.34</td>
                    <td style="width:25%" class="text-red">-0.15%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-center" style="margin-bottom:5px;">
            <thead>
                <tr>
                    <th colspan="4" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/gia-xang-dau/dau-tho/" title="Giá dầu thô thế giới" style="color:#002272">ↂ Giá dầu thô thế giới</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr>
                    <td style="width:20%" class="text-left"><a href="https://webgia.com/gia-xang-dau/dau-tho/#usoil" title="Giá dầu WTI">WTI</a></td>
                    <td style="width:30%">$83.97</td>
                    <td style="width:25%" class="text-green">+6.54</td>
                    <td style="width:25%" class="text-green">0.08%</td>
                </tr>
                <tr>
                    <td style="width:20%" class="text-left"><a href="https://webgia.com/gia-xang-dau/dau-tho/#ukoil" title="Giá dầu Brent">Brent</a></td>
                    <td style="width:30%">$87.77</td>
                    <td style="width:25%" class="text-green">+6.13</td>
                    <td style="width:25%" class="text-green">0.08%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>	<div class="box">
		<div class="hidden-xs hidden-sm" style="width: 100%;min-height: 10px;">
<!-- webgia - responsive right -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</div>
    <div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-right" style="margin-bottom:5px;">
            <thead>
                <tr>
                    <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/ty-gia/vietcombank/" title="Tỷ giá ngoại tệ Vietcombank" style="color:#002272">$ Tỷ giá Vietcombank</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr class="text-brown text-right"><td class="text-left">Ngoại tệ</td><td>Mua vào</td><td>Bán ra</td></tr>
                <tr><th class="text-left"><a href="https://webgia.com/ngoai-te/usd/" title="Tỷ giá Đô La Mỹ (USD) hôm nay">USD</a></th><td><span id="wdg-usd-m">24.600,00</span></td><td><span id="wdg-usd-b">24.970,00</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/eur/" title="Tỷ giá EUR hôm nay">EUR</a></th><td><span id="wdg-eur-m">26.061,11</span></td><td><span id="wdg-eur-b">27.491,12</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/gbp/" title="Tỷ giá Bảng Anh (GBP) hôm nay">GBP</a></th><td><span id="wdg-gbp-m">30.512,16</span></td><td><span id="wdg-gbp-b">31.810,32</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/jpy/" title="Tỷ giá Yên Nhật (JPY) hôm nay">JPY</a></th><td><span id="wdg-jpy-m">158,94</span></td><td><span id="wdg-jpy-b">168,23</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/krw/" title="Tỷ giá Won (KRW) hôm nay">KRW</a></th><td><span id="wdg-krw-m">15,91</span></td><td><span id="wdg-krw-b">19,29</span></td></tr><tr><td colspan="3" style="text-align:right; color:#777;"><i>Cập nhật lúc 18:49:10 01/04/2024</i><br><i class="tc_sr" style="margin-top: 5px;"><a href="https://webgia.com/ty-gia/vietcombank/" title="Tỷ giá hối đoái Vietcombank">Xem bảng tỷ giá hối đoái webgia.com</a></i></td></tr>            </tbody>
        </table>
    </div>
</div>
<div class="box">
<div class="box-content">
    <table class="table table-radius table-hover text-right">
        <thead>
            <tr>
                <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/gia-xang-dau/" title="Giá bán lẻ xăng dầu hôm nay" style="color:#002272">ʘ Giá bán lẻ xăng dầu</a></th>
            </tr>
        </thead>
        <tbody style="font-size:0.875rem">
            <tr class="text-brown">
                <td class="text-left">Sản phẩm</td>
                <td>Vùng 1</td>
                <td>Vùng 2</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng RON 95 hôm nay">RON 95-V</a></th><td>24.690</td><td>25.180</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng RON 95 hôm nay">RON 95-III</a></th><td>24.280</td><td>24.760</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng E5 hôm nay">E5 RON 92-II</a></th><td>23.210</td><td>23.670</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Điêzen 0,05S hôm nay">DO 0.05S</a></th><td>21.010</td><td>21.430</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Điêzen 0,001S-V hôm nay">DO 0,001S-V</a></th><td>21.640</td><td>22.070</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Dầu hỏa hôm nay">Dầu hỏa 2-K</a></th><td>21.260</td><td>21.680</td>
            </tr>
        </tbody>
    </table>
</div>
</div></div>
</aside>
</div>
</div>
</main>