

<link rel="stylesheet" href="css/ty-gia-ngan-hang.css">
<div class="container">
<div class="row">
<div id="main" class="col-md-9-ty-gia">
<h1 class="h-head">Tỷ giá ngân hàng mới nhất hôm nay</h1>
<p>Danh sách <strong style = "font-weight: bold;">40 ngân hàng</strong> mà webgia.com hỗ trợ.</p>
<p>Dữ liệu được <strong style = "font-weight: bold;">cập nhật liên tục</strong> và <strong style = "font-weight: bold;">hoàn toàn tự động</strong> bởi máy tính.</p>
<p>Vui lòng bấm vào tên ngân hàng để xem tỷ giá.</p>


<div class="donvi">Đơn vị: đồng </div>
<div class="table-ads-160"><div>
    <table class="table-ti-gia table-radius table-hover table-currencies "  id="bang_gia">
        <thead>
            <tr>
                <th>Ngân hàng</th>
                <th>Tên đầy đủ</th>
                <th class="text-right">Thời gian cập nhật</th>
            </tr>
            </thead>
            <tbody><tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/abbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP An Bình"><span class="bak-icon bi-abbank"></span><span>ABBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/abbank/" title="Tỷ giá ngân hàng TMCP An Bình">TMCP An Bình</a></td>
    <td class="text-right">18:55:05 29/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/acb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Á Châu"><span class="bak-icon bi-acb"></span><span>ACB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/acb/" title="Tỷ giá ngân hàng TMCP Á Châu">TMCP Á Châu</a></td>
    <td class="text-right">08:20:05 30/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/agribank/" class="bank-icon" title="Tỷ giá ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam"><span class="bak-icon bi-agribank"></span><span>Agribank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/agribank/" title="Tỷ giá ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam">Nông nghiệp và Phát triển Nông thôn Việt Nam</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/baovietbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bảo Việt - BAOVIET Bank"><span class="bak-icon bi-baovietbank"></span><span>Bảo Việt</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/baovietbank/" title="Tỷ giá ngân hàng TMCP Bảo Việt - BAOVIET Bank">TMCP Bảo Việt - BAOVIET Bank</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/bidv/" class="bank-icon" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam"><span class="bak-icon bi-bidv"></span><span>BIDV</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/bidv/" title="Tỷ giá ngân hàng Đầu tư và Phát triển Việt Nam">Đầu tư và Phát triển Việt Nam</a></td>
    <td class="text-right">13:35:04 06/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/cbbank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH MTV Xây dựng Việt Nam"><span class="bak-icon bi-cbbank"></span><span>CBBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/cbbank/" title="Tỷ giá ngân hàng TNHH MTV Xây dựng Việt Nam">TNHH MTV Xây dựng Việt Nam</a></td>
    <td class="text-right">18:55:04 29/03/2024</td>
</tr><tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/dongabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank"><span class="bak-icon bi-dongabank"></span><span>Đông Á</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/dongabank/" title="Tỷ giá ngân hàng TMCP Đông Á - DongA Bank">TMCP Đông Á - DongA Bank</a></td>
    <td class="text-right">17:00:10 12/12/2023</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/eximbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Xuất Nhập khẩu Việt Nam"><span class="bak-icon bi-eximbank"></span><span>Eximbank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/eximbank/" title="Tỷ giá ngân hàng TMCP Xuất Nhập khẩu Việt Nam">TMCP Xuất Nhập khẩu Việt Nam</a></td>
    <td class="text-right">16:30:03 29/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/gpbank/" class="bank-icon" title="Tỷ giá ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu"><span class="bak-icon bi-gpbank"></span><span>GPBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/gpbank/" title="Tỷ giá ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu">TM TNHH MTV Dầu Khí Toàn Cầu</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hdbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Phát triển Nhà TP. Hồ Chí Minh"><span class="bak-icon bi-hdbank"></span><span>HDBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hdbank/" title="Tỷ giá ngân hàng TMCP Phát triển Nhà TP. Hồ Chí Minh">TMCP Phát triển Nhà TP. Hồ Chí Minh</a></td>
    <td class="text-right">17:37:40 27/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hlbank/" class="bank-icon" title="Tỷ giá ngân hàng Hong Leong Việt Nam"><span class="bak-icon bi-hlbank"></span><span>Hong Leong</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hlbank/" title="Tỷ giá ngân hàng Hong Leong Việt Nam">Hong Leong Việt Nam</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hsbc/" class="bank-icon" title="Tỷ giá ngân hàng HSBC Việt Nam"><span class="bak-icon bi-hsbc"></span><span>HSBC</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/hsbc/" title="Tỷ giá ngân hàng HSBC Việt Nam">HSBC Việt Nam</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/indovinabank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH Indovina"><span class="bak-icon bi-indovinabank"></span><span>Indovina</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/indovinabank/" title="Tỷ giá ngân hàng TNHH Indovina">TNHH Indovina</a></td>
    <td class="text-right">17:31:39 27/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/kienlongbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Kiên Long"><span class="bak-icon bi-kienlongbank"></span><span>Kiên Long</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/kienlongbank/" title="Tỷ giá ngân hàng TMCP Kiên Long">TMCP Kiên Long</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/lienvietpostbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bưu điện Liên Việt"><span class="bak-icon bi-lienvietpostbank"></span><span>Liên Việt</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/lienvietpostbank/" title="Tỷ giá ngân hàng TMCP Bưu điện Liên Việt">TMCP Bưu điện Liên Việt</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/maritimebank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam"><span class="bak-icon bi-maritimebank"></span><span>MSB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/maritimebank/" title="Tỷ giá ngân hàng TMCP Hàng Hải Việt Nam">TMCP Hàng Hải Việt Nam</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/mbbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quân Đội"><span class="bak-icon bi-mbbank"></span><span>MB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/mbbank/" title="Tỷ giá ngân hàng TMCP Quân Đội">TMCP Quân Đội</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/namabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Nam Á"><span class="bak-icon bi-namabank"></span><span>Nam Á</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/namabank/" title="Tỷ giá ngân hàng TMCP Nam Á">TMCP Nam Á</a></td>
    <td class="text-right">18:55:06 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/ncb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc Dân"><span class="bak-icon bi-ncb"></span><span>NCB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/ncb/" title="Tỷ giá ngân hàng TMCP Quốc Dân">TMCP Quốc Dân</a></td>
    <td class="text-right">17:39:02 27/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/ocb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Phương Đông"><span class="bak-icon bi-ocb"></span><span>OCB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/ocb/" title="Tỷ giá ngân hàng TMCP Phương Đông">TMCP Phương Đông</a></td>
    <td class="text-right">17:39:28 27/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/oceanbank/" class="bank-icon" title="Tỷ giá ngân hàng TM TNHH MTV Đại Dương"><span class="bak-icon bi-oceanbank"></span><span>OceanBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/oceanbank/" title="Tỷ giá ngân hàng TM TNHH MTV Đại Dương">TM TNHH MTV Đại Dương</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/pgbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Xăng dầu Petrolimex"><span class="bak-icon bi-pgbank"></span><span>PGBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/pgbank/" title="Tỷ giá ngân hàng TMCP Xăng dầu Petrolimex">TMCP Xăng dầu Petrolimex</a></td>
    <td class="text-right">18:55:04 30/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/publicbank/" class="bank-icon" title="Tỷ giá ngân hàng TNHH MTV Public Việt Nam"><span class="bak-icon bi-publicbank"></span><span>PublicBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/publicbank/" title="Tỷ giá ngân hàng TNHH MTV Public Việt Nam">TNHH MTV Public Việt Nam</a></td>
    <td class="text-right">18:55:04 29/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/pvcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đại Chúng Việt Nam"><span class="bak-icon bi-pvcombank"></span><span>PVcomBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/pvcombank/" title="Tỷ giá ngân hàng TMCP Đại Chúng Việt Nam">TMCP Đại Chúng Việt Nam</a></td>
    <td class="text-right">18:55:05 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/sacombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín"><span class="bak-icon bi-sacombank"></span><span>Sacombank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/sacombank/" title="Tỷ giá ngân hàng TMCP Sài Gòn Thương Tín">TMCP Sài Gòn Thương Tín</a></td>
    <td class="text-right">06:00:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/saigonbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương"><span class="bak-icon bi-saigonbank"></span><span>Saigonbank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/saigonbank/" title="Tỷ giá ngân hàng TMCP Sài Gòn Công Thương">TMCP Sài Gòn Công Thương</a></td>
    <td class="text-right">08:15:03 28/03/2024</td>
</tr><tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/scb/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn"><span class="bak-icon bi-scb"></span><span>SCB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/scb/" title="Tỷ giá ngân hàng TMCP Sài Gòn">TMCP Sài Gòn</a></td>
    <td class="text-right">08:15:04 29/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/seabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Đông Nam Á"><span class="bak-icon bi-seabank"></span><span>SeABank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/seabank/" title="Tỷ giá ngân hàng TMCP Đông Nam Á">TMCP Đông Nam Á</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/shbbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Sài Gòn - Hà Nội"><span class="bak-icon bi-shbbank"></span><span>SHB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/shbbank/" title="Tỷ giá ngân hàng TMCP Sài Gòn - Hà Nội">TMCP Sài Gòn - Hà Nội</a></td>
    <td class="text-right">06:00:05 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/techcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Kỹ thương Việt Nam"><span class="bak-icon bi-techcombank"></span><span>Techcombank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/techcombank/" title="Tỷ giá ngân hàng TMCP Kỹ thương Việt Nam">TMCP Kỹ thương Việt Nam</a></td>
    <td class="text-right">18:55:04 30/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/tpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Tiên Phong"><span class="bak-icon bi-tpbank"></span><span>TPB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/tpbank/" title="Tỷ giá ngân hàng TMCP Tiên Phong">TMCP Tiên Phong</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/uob/" class="bank-icon" title="Tỷ giá ngân hàng UOB Việt Nam"><span class="bak-icon bi-uob"></span><span>UOB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/uob/" title="Tỷ giá ngân hàng UOB Việt Nam">UOB Việt Nam</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vib/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam"><span class="bak-icon bi-vib"></span><span>VIB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vib/" title="Tỷ giá ngân hàng TMCP Quốc tế Việt Nam">TMCP Quốc tế Việt Nam</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietabank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Á"><span class="bak-icon bi-vietabank"></span><span>VietABank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietabank/" title="Tỷ giá ngân hàng TMCP Việt Á">TMCP Việt Á</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr><tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Nam Thương Tín"><span class="bak-icon bi-vietbank"></span><span>VietBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietbank/" title="Tỷ giá ngân hàng TMCP Việt Nam Thương Tín">TMCP Việt Nam Thương Tín</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietcapitalbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span>VietCapitalBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietcapitalbank/" title="Tỷ giá ngân hàng TMCP Bản Việt">TMCP Bản Việt</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietcombank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam"><span class="bak-icon bi-vietcombank"></span><span>Vietcombank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietcombank/" title="Tỷ giá ngân hàng TMCP Ngoại thương Việt Nam">TMCP Ngoại thương Việt Nam</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietinbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Công Thương Việt Nam"><span class="bak-icon bi-vietinbank"></span><span>VietinBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vietinbank/" title="Tỷ giá ngân hàng TMCP Công Thương Việt Nam">TMCP Công Thương Việt Nam</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vpbank/" class="bank-icon" title="Tỷ giá ngân hàng TMCP Việt Nam Thịnh Vượng"><span class="bak-icon bi-vpbank"></span><span>VPBank</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vpbank/" title="Tỷ giá ngân hàng TMCP Việt Nam Thịnh Vượng">TMCP Việt Nam Thịnh Vượng</a></td>
    <td class="text-right">18:55:03 31/03/2024</td>
</tr>
<tr>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vrbank/" class="bank-icon" title="Tỷ giá ngân hàng Liên doanh Việt - Nga"><span class="bak-icon bi-vrbank"></span><span>VRB</span></a></td>
    <td><a href="https://webgia-1.onrender.com/ty-gia/vrbank/" title="Tỷ giá ngân hàng Liên doanh Việt - Nga">Liên doanh Việt - Nga</a></td>
    <td class="text-right">18:55:04 31/03/2024</td>
</tr>
          </tbody>
    </table>
</div>
</div>

</div>
{{>aside-table}}

</div>

</div>

