<link rel="stylesheet" href="css/home.css"><aside class="col-xs-12 col-md-3" style="margin-top:5px; width:330px;">
<div id="sidebar">
<div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-center" style="margin-bottom:5px">
            <thead>
                <tr>
                    <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/gia-vang/the-gioi/" title="Xem trực tiếp giá vàng thế giới" style="color:#002272">ↀ Giá vàng thế giới</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr>
                    <td style="width:50%">$2,232.75</td>
                    <td style="width:25%" class="text-red">-1.61</td>
                    <td style="width:25%" class="text-red">-0.07%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-center" style="margin-bottom:5px;">
            <thead>
                <tr>
                    <th colspan="4" style="border-radius: 4px 4px 0 0;"><a href="gia-xang-dau/dau-tho/" title="Giá dầu thô thế giới" style="color:#002272">ↂ Giá dầu thô thế giới</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr>
                    <td style="width:20%" class="text-left"><a href="gia-xang-dau/dau-tho/#usoil" title="Giá dầu WTI">WTI</a></td>
                    <td style="width:30%">$82.82</td>
                    <td style="width:25%" class="text-green">+5.39</td>
                    <td style="width:25%" class="text-green">0.07%</td>
                </tr>
                <tr>
                    <td style="width:20%" class="text-left"><a href="gia-xang-dau/dau-tho/#ukoil" title="Giá dầu Brent">Brent</a></td>
                    <td style="width:30%">$86.82</td>
                    <td style="width:25%" class="text-green">+5.18</td>
                    <td style="width:25%" class="text-green">0.06%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>	<div class="box">
		<div class="hidden-xs hidden-sm" style="width: 100%;min-height: 10px;">

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</div>
    <div class="box">
    <div class="box-content">
        <table class="table table-radius table-hover text-right" style="margin-bottom:5px;">
            <thead>
                <tr>
                    <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/ty-gia/vietcombank/" title="Tỷ giá ngoại tệ Vietcombank" style="color:#002272">$ Tỷ giá Vietcombank</a></th>
                </tr>
            </thead>
            <tbody style="font-size:0.875rem">
                <tr class="text-brown text-right"><td class="text-left">Ngoại tệ</td><td>Mua vào</td><td>Bán ra</td></tr>
                <tr><th class="text-left"><a href="https://webgia.com/ngoai-te/usd/" title="Tỷ giá Đô La Mỹ (USD) hôm nay">USD</a></th><td><span id="wdg-usd-m">24.600,00</span></td><td><span id="wdg-usd-b">24.970,00</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/eur/" title="Tỷ giá EUR hôm nay">EUR</a></th><td><span id="wdg-eur-m">26.020,03</span></td><td><span id="wdg-eur-b">27.447,78</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/gbp/" title="Tỷ giá Bảng Anh (GBP) hôm nay">GBP</a></th><td><span id="wdg-gbp-m">30.490,41</span></td><td><span id="wdg-gbp-b">31.787,64</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/jpy/" title="Tỷ giá Yên Nhật (JPY) hôm nay">JPY</a></th><td><span id="wdg-jpy-m">158,93</span></td><td><span id="wdg-jpy-b">168,22</span></td></tr><tr><th class="text-left"><a href="https://webgia.com/ngoai-te/krw/" title="Tỷ giá Won (KRW) hôm nay">KRW</a></th><td><span id="wdg-krw-m">15,91</span></td><td><span id="wdg-krw-b">19,28</span></td></tr><tr><td colspan="3" style="text-align:right; color:#777;"><i>Cập nhật lúc 18:52:49 31/03/2024</i><br><i class="tc_sr" style="margin-top: 5px;"><a href="https://webgia.com/ty-gia/vietcombank/" title="Tỷ giá hối đoái Vietcombank">Xem bảng tỷ giá hối đoái webgia.com</a></i></td></tr>            </tbody>
        </table>
    </div>
</div>
<div class="box">
<div class="box-content">
    <table class="table table-radius table-hover text-right">
        <thead>
            <tr>
                <th colspan="3" style="border-radius: 4px 4px 0 0;"><a href="https://webgia.com/gia-xang-dau/" title="Giá bán lẻ xăng dầu hôm nay" style="color:#002272">ʘ Giá bán lẻ xăng dầu</a></th>
            </tr>
        </thead>
        <tbody style="font-size:0.875rem">
            <tr class="text-brown">
                <td class="text-left">Sản phẩm</td>
                <td>Vùng 1</td>
                <td>Vùng 2</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng RON 95 hôm nay">RON 95-V</a></th><td>24.690</td><td>25.180</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng RON 95 hôm nay">RON 95-III</a></th><td>24.280</td><td>24.760</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Xăng E5 hôm nay">E5 RON 92-II</a></th><td>23.210</td><td>23.670</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Điêzen 0,05S hôm nay">DO 0.05S</a></th><td>21.010</td><td>21.430</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Điêzen 0,001S-V hôm nay">DO 0,001S-V</a></th><td>21.640</td><td>22.070</td>
            </tr>
            <tr>
                <th class="text-left"><a href="https://webgia.com/gia-xang-dau/" title="Giá Dầu hỏa hôm nay">Dầu hỏa 2-K</a></th><td>21.260</td><td>21.680</td>
            </tr>
        </tbody>
    </table>
</div>
</div></div>
</aside>