<link rel="stylesheet" href="../../public/css/app.css">
<div style = "padding-left:0px; background-color: #061890; justify-content:center; display:flex; flex-direction:row; height:50px;" >
<nav class="navbar navbar-expand-lg bg-body-tertiary" style = "background-color: #061890;padding:0px">
  <div class="container-fluid" style = "background-color: #061890;">
    <a class="navbar-brand" href="/" style = "color: #fff;
    font-size: 24px;
    margin: 0; padding-right:35px;" >Web<span style = "font-size: 24px;">Giá</span><span style = "color: #ffb935;
    font-weight: 700;font-size: 24px;
    margin: 0;">.com</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style = "display:flex; align-items:center; height:50px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style = "color:white; margin-right: auto; ">
        
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/gia-vang" style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; " id="title-giavang">
            Giá vàng
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px; width:auto;'>
            <li>
            <ul style = "list-style-type:none;text-decoration:none; padding-left:0px; width:180px; display:inline-block;" class = "item-header">
                <li class="dropdown-header" style="padding-left:20px;">Giá vàng trong nước</li>
                <li><a href="sjc/" itemprop="url" title="Giá vàng SJC"><span itemprop="name">Giá vàng SJC</span></a></li>
                <li><a href="doji/" itemprop="url" title="Giá vàng DOJI"><span itemprop="name">Giá vàng DOJI</span></a></li>
                <li><a href="pnj/" itemprop="url" title="Giá vàng PNJ"><span itemprop="name">Giá vàng PNJ</span></a></li>
                <li><a href="bao-tin-minh-chau/" itemprop="url" title="Giá vàng Bảo Tín Minh Châu"><span itemprop="name">Bảo Tín Minh Châu</span></a></li>
                <li><a href="bao-tin-manh-hai/" itemprop="url" title="Giá vàng Bảo Tín Mạnh Hải"><span itemprop="name">Bảo Tín Mạnh Hải</span></a></li>
                <li><a href="phu-quy/" itemprop="url" title="Giá vàng Phú Quý"><span itemprop="name">Giá vàng Phú Quý</span></a></li>
                <li><a href="mi-hong/" itemprop="url" title="Giá vàng Mi Hồng"><span itemprop="name">Giá vàng Mi Hồng</span></a></li>
                <li><a href="ngoc-tham/" itemprop="url" title="Giá vàng Ngọc Thẩm"><span itemprop="name">Giá vàng Ngọc Thẩm</span></a></li>
                </ul>
            </li>
            <li>
                <ul style = "list-style-type:none;text-decoration:none; padding-left:0px; width:auto; " class = "item-header">
                <li class="dropdown-header" style="padding-left:20px;">Giá vàng thế giới</li>
                <li><a href="gia-vang/" itemprop="url" title="Giá vàng thế giới"><span itemprop="name">Giá vàng thế giới</span></a></li>
                <li class="dropdown-header"style="padding-left:20px;">Biểu đồ giá vàng SJC</li>
                <li><a href="gia-vang/sjc/bieu-do-1-ngay.html" itemprop="url" title="Biểu đồ giá vàng SJC Hôm nay"><span itemprop="name">Biểu đồ giá vàng SJC hôm nay</span></a></li>
                <li><a href="gia-vang/sjc/bieu-do-1-thang.html" itemprop="url" title="Biểu đồ giá vàng SJC Tháng này"><span itemprop="name">Biểu đồ giá vàng SJC 1 tháng</span></a></li>
                <li><a href="http://localhost:3000/gia-vang/sjc/bieu-do-3-thang.html" itemprop="url" title="Biểu đồ giá vàng SJC 3 tháng"><span itemprop="name">Biểu đồ giá vàng SJC 3 tháng</span></a></li>
                <li><a href="http://localhost:3000/gia-vang/sjc/bieu-do-6-thang.html" itemprop="url" title="Biểu đồ giá vàng SJC 6 tháng"><span itemprop="name">Biểu đồ giá vàng SJC 6 tháng</span></a></li>
                <li><a href="http://localhost:3000/gia-vang/sjc/bieu-do-1-nam.html" itemprop="url" title="Biểu đồ giá vàng SJC năm này"><span itemprop="name">Biểu đồ giá vàng SJC 1 năm</span></a></li>
                </ul>
            </li>
            
           
          </ul>
        </li>
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/ty-gia"   style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; "  id="title-tygia">
            Tỷ giá ngân hàng
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
                <li>
                <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ty-gia/abbank/" class="bank-icon" itemprop="url" title="Tỷ giá ABBank"><span class="bak-icon bi-abbank"></span><span itemprop="name"  class = "icon-name">ABBank</span></a></li>
                <li><a href="ty-gia/acb/" class="bank-icon" itemprop="url" title="Tỷ giá ACB"><span class="bak-icon bi-acb"></span><span itemprop="name" class = "icon-name">ACB</span></a></li>
                <li><a href="ty-gia/agribank/" class="bank-icon" itemprop="url" title="Tỷ giá Agribank"><span class="bak-icon bi-agribank"></span><span itemprop="name" class = "icon-name">Agribank</span></a></li>
                <li><a href="ty-gia/vietcapitalbank/" class="bank-icon" itemprop="url" title="Tỷ giá Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span itemprop="name" class = "icon-name">Bản Việt</span></a></li>
                <li><a href="ty-gia/baovietbank/" class="bank-icon" itemprop="url" title="Tỷ giá Bảo Việt Bank"><span class="bak-icon bi-baovietbank"></span><span itemprop="name" class = "icon-name">Bảo Việt Bank</span></a></li>
                <li><a href="ty-gia/bidv/" class="bank-icon" itemprop="url" title="Tỷ giá BIDV"><span class="bak-icon bi-bidv"></span><span itemprop="name" class = "icon-name">BIDV</span></a></li>
                <li><a href="ty-gia/cbbank/" class="bank-icon" itemprop="url" title="Tỷ giá BIDV"><span class="bak-icon bi-cbbank"></span><span itemprop="name" class = "icon-name">CPBank</span></a></li>
                <li><a href="ty-gia/dongabank/" class="bank-icon" itemprop="url" title="Tỷ giá Đông Á"><span class="bak-icon bi-dongabank"></span><span itemprop="name" class = "icon-name">Đông Á</span></a></li>
                <li><a href="ty-gia/eximbank/" class="bank-icon" itemprop="url" title="Tỷ giá Eximbank"><span class="bak-icon bi-eximbank"></span><span itemprop="name" class = "icon-name">Eximbank</span></a></li>
                <li><a href="ty-gia/gpbank/" class="bank-icon" itemprop="url" title="Tỷ giá GPBank"><span class="bak-icon bi-gpbank"></span><span itemprop="name" class = "icon-name">GPBank</span></a></li>
                <li><a href="ty-gia/hdbank/" class="bank-icon" itemprop="url" title="Tỷ giá HDBank"><span class="bak-icon bi-hdbank"></span><span itemprop="name" class = "icon-name">HDBank</span></a></li>
                <li><a href="ty-gia/hlbank/" class="bank-icon" itemprop="url" title="Tỷ giá Hong Leong"><span class="bak-icon bi-hlbank"></span><span itemprop="name" class = "icon-name">Hong Leong</span></a></li>
                <li><a href="ty-gia/hsbc/" class="bank-icon" itemprop="url" title="Tỷ giá HSBC"><span class="bak-icon bi-hsbc"></span><span itemprop="name" class = "icon-name">HSBC</span></a></li>
                <li><a href="ty-gia/indovinabank/" class="bank-icon" itemprop="url" title="Tỷ giá Indovina"><span class="bak-icon bi-indovinabank"></span><span itemprop="name" class = "icon-name">Indovina</span></a></li>
                </ul>
                </li>
                <li>
                <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ty-gia/kienlongbank/" class="bank-icon" itemprop="url" title="Tỷ giá Kiên Long Bank"><span class="bak-icon bi-kienlongbank"></span><span itemprop="name" class = "icon-name">Kiên Long</span></a></li>
                <li><a href="ty-gia/lienvietpostbank/" class="bank-icon" itemprop="url" title="Tỷ giá Liên Việt"><span class="bak-icon bi-lienvietpostbank"></span><span itemprop="name" class = "icon-name">Liên Việt</span></a></li>
                <li><a href="ty-gia/maritimebank/" class="bank-icon" itemprop="url" title="Tỷ giá MSB"><span class="bak-icon bi-maritimebank"></span><span itemprop="name" class = "icon-name">MSB</span></a></li>
                <li><a href="ty-gia/mbbank/" class="bank-icon" itemprop="url" title="Tỷ giá MB"><span class="bak-icon bi-mbbank"></span><span itemprop="name" class = "icon-name">MB</span></a></li>
                <li><a href="ty-gia/namabank/" class="bank-icon" itemprop="url" title="Tỷ giá Nam Á Bank"><span class="bak-icon bi-namabank"></span><span itemprop="name" class = "icon-name">Nam Á</span></a></li>
                <li><a href="ty-gia/ncb/" class="bank-icon" itemprop="url" title="Tỷ giá NCB"><span class="bak-icon bi-ncb"></span><span itemprop="name" class = "icon-name">NCB</span></a></li>
                <li><a href="ty-gia/ocb/" class="bank-icon" itemprop="url" title="Tỷ giá OCB"><span class="bak-icon bi-ocb"></span><span itemprop="name" class = "icon-name">OCB</span></a></li>
                <li><a href="ty-gia/oceanbank/" class="bank-icon" itemprop="url" title="Tỷ giá OceanBank"><span class="bak-icon bi-oceanbank"></span><span itemprop="name" class = "icon-name">OceanBank</span></a></li>
                <li><a href="ty-gia/pgbank/" class="bank-icon" itemprop="url" title="Tỷ giá PGBank"><span class="bak-icon bi-pgbank"></span><span itemprop="name" class = "icon-name">PGBank</span></a></li>
                <li><a href="ty-gia/publicbank/" class="bank-icon" itemprop="url" title="Tỷ giá PublicBank"><span class="bak-icon bi-publicbank"></span><span itemprop="name" class = "icon-name">PublicBank</span></a></li>
                <li><a href="ty-gia/pvcombank/" class="bank-icon" itemprop="url" title="Tỷ giá PVcomBank"><span class="bak-icon bi-pvcombank"></span><span itemprop="name" class = "icon-name">PVcomBank</span></a></li>
                <li><a href="ty-gia/sacombank/" class="bank-icon" itemprop="url" title="Tỷ giá Sacombank"><span class="bak-icon bi-sacombank"></span><span itemprop="name" class = "icon-name">Sacombank</span></a></li>
                <li><a href="ty-gia/saigonbank/" class="bank-icon" itemprop="url" title="Tỷ giá SaigonBank"><span class="bak-icon bi-saigonbank"></span><span itemprop="name" class = "icon-name">SaigonBank</span></a></li>
                <li><a href="ty-gia/scb/" class="bank-icon" itemprop="url" title="Tỷ giá SCB"><span class="bak-icon bi-scb"></span><span itemprop="name" class = "icon-name">SCB</span></a></li>
                </ul>
                </li>
                <li>
                <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ty-gia/seabank/" class="bank-icon" itemprop="url" title="Tỷ giá SeABank"><span class="bak-icon bi-seabank"></span><span itemprop="name" class = "icon-name">SeABank</span></a></li>
                <li><a href="ty-gia/shbbank/" class="bank-icon" itemprop="url" title="Tỷ giá SHB"><span class="bak-icon bi-shbbank"></span><span itemprop="name" class = "icon-name">SHB</span></a></li>
                <li><a href="ty-gia/techcombank/" class="bank-icon" itemprop="url" title="Tỷ giá Techcombank"><span class="bak-icon bi-techcombank"></span><span itemprop="name" class = "icon-name">Techcombank</span></a></li>
                <li><a href="ty-gia/tpbank/" class="bank-icon" itemprop="url" title="Tỷ giá TPBank"><span class="bak-icon bi-tpbank"></span><span itemprop="name" class = "icon-name">TPBank</span></a></li>
                <li><a href="ty-gia/uob/" class="bank-icon" itemprop="url" title="Tỷ giá UOB"><span class="bak-icon bi-uob"></span><span itemprop="name" class = "icon-name">UOB</span></a></li>
                <li><a href="ty-gia/vib/" class="bank-icon" itemprop="url" title="Tỷ giá VIB"><span class="bak-icon bi-vib"></span><span itemprop="name" class = "icon-name">VIB</span></a></li>
                <li><a href="ty-gia/vietabank/" class="bank-icon" itemprop="url" title="Tỷ giá VietABank"><span class="bak-icon bi-vietabank"></span><span itemprop="name" class = "icon-name">VietABank</span></a></li>
                <li><a href="ty-gia/vietbank/" class="bank-icon" itemprop="url" title="Tỷ giá VietBank"><span class="bak-icon bi-vietbank"></span><span itemprop="name" class = "icon-name">VietBank</span></a></li>
                <li><a href="ty-gia/vietcombank/" class="bank-icon" itemprop="url" title="Tỷ giá Vietcombank"><span class="bak-icon bi-vietcombank"></span><span itemprop="name" class = "icon-name">Vietcombank</span></a></li>
                <li><a href="ty-gia/vietinbank/" class="bank-icon" itemprop="url" title="Tỷ giá Vietinbank"><span class="bak-icon bi-vietinbank"></span><span itemprop="name" class = "icon-name">VietinBank</span></a></li>
                <li><a href="ty-gia/vpbank/" class="bank-icon" itemprop="url" title="Tỷ giá VPBank"><span class="bak-icon bi-vpbank"></span><span itemprop="name" class = "icon-name">VPBank</span></a></li>
                <li><a href="ty-gia/vrbank/" class="bank-icon" itemprop="url" title="Tỷ giá VRBank"><span class="bak-icon bi-vrbank"></span><span itemprop="name" class = "icon-name">VRBank</span></a></li>
                </ul>
                </li>
                </ul>
        </li>
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/ngoai-te"  style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; " id="title-ngoaite">
            Ngoại tệ
          </a>

          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ngoai-te/aud/" itemprop="url" title="Tỷ giá ngoại tệ Đô Úc" class="currency-icon"><span class="cur-icon ci-aud"></span> <span itemprop="name"class="icon-name">AUD</span></a></li>
                <li><a href="ngoai-te/cad/" itemprop="url" title="Tỷ giá ngoại tệ Đô Canada" class="currency-icon"><span class="cur-icon ci-cad"></span> <span itemprop="name"class="icon-name">CAD</span></a></li>
                <li><a href="ngoai-te/chf/" itemprop="url" title="Tỷ giá ngoại tệ Franc Thụy Sĩ" class="currency-icon"><span class="cur-icon ci-chf"></span> <span itemprop="name"class="icon-name">CHF</span></a></li>
                <li><a href="ngoai-te/cny/" itemprop="url" title="Tỷ giá ngoại tệ Nhân dân tệ - Yuan Trung Quốc - RMB - Ren Min Bi" class="currency-icon"><span class="cur-icon ci-cny"></span> <span itemprop="name"class="icon-name">CNY</span></a></li>
                <li><a href="ngoai-te/czk/" itemprop="url" title="Tỷ giá ngoại tệ Koruna Séc" class="currency-icon"><span class="cur-icon ci-czk"></span> <span itemprop="name"class="icon-name">CZK</span></a></li>
                <li><a href="ngoai-te/dkk/" itemprop="url" title="Tỷ giá ngoại tệ Krone Đan Mạch" class="currency-icon"><span class="cur-icon ci-dkk"></span> <span itemprop="name"class="icon-name">DKK</span></a></li>
                <li><a href="ngoai-te/eur/" itemprop="url" title="Tỷ giá ngoại tệ Euro" class="currency-icon"><span class="cur-icon ci-eur"></span> <span itemprop="name"class="icon-name">EUR</span></a></li>
                <li><a href="ngoai-te/gbp/" itemprop="url" title="Tỷ giá ngoại tệ Bảng Anh" class="currency-icon"><span class="cur-icon ci-gbp"></span> <span itemprop="name"class="icon-name">GBP</span></a></li>
                <li><a href="ngoai-te/hkd/" itemprop="url" title="Tỷ giá ngoại tệ Đô Hồng Kông" class="currency-icon"><span class="cur-icon ci-hkd"></span> <span itemprop="name"class="icon-name">HKD</span></a></li>
              </ul>
            </li>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ngoai-te/huf/" itemprop="url" title="Tỷ giá ngoại tệ Forint Hungary" class="currency-icon"><span class="cur-icon ci-huf"></span> <span itemprop="name"class="icon-name">HUF</span></a></li>
                <li><a href="ngoai-te/idr/" itemprop="url" title="Tỷ giá ngoại tệ Rupiah Indonesia" class="currency-icon"><span class="cur-icon ci-idr"></span> <span itemprop="name"class="icon-name">IDR</span></a></li>
                <li><a href="ngoai-te/inr/" itemprop="url" title="Tỷ giá ngoại tệ Rupee Ấn Độ - Rupi Ấn Độ" class="currency-icon"><span class="cur-icon ci-inr"></span> <span itemprop="name"class="icon-name">INR</span></a></li>
                <li><a href="ngoai-te/jpy/" itemprop="url" title="Tỷ giá ngoại tệ Yên Nhật" class="currency-icon"><span class="cur-icon ci-jpy"></span> <span itemprop="name"class="icon-name">JPY</span></a></li>
                <li><a href="ngoai-te/khr/" itemprop="url" title="Tỷ giá ngoại tệ Riel Campuchia" class="currency-icon"><span class="cur-icon ci-khr"></span> <span itemprop="name"class="icon-name">KHR</span></a></li>
                <li><a href="ngoai-te/krw/" itemprop="url" title="Tỷ giá ngoại tệ Won Hàn Quốc" class="currency-icon"><span class="cur-icon ci-krw"></span> <span itemprop="name"class="icon-name">KRW</span></a></li>
                <li><a href="ngoai-te/kwd/" itemprop="url" title="Tỷ giá ngoại tệ Đồng Dinar" class="currency-icon"><span class="cur-icon ci-kwd"></span> <span itemprop="name"class="icon-name">KWD</span></a></li>
                <li><a href="ngoai-te/lak/" itemprop="url" title="Tỷ giá ngoại tệ Kip Lào" class="currency-icon"><span class="cur-icon ci-lak"></span> <span itemprop="name"class="icon-name">LAK</span></a></li>
                <li><a href="ngoai-te/myr/" itemprop="url" title="Tỷ giá ngoại tệ Ringgit Malaysia" class="currency-icon"><span class="cur-icon ci-myr"></span> <span itemprop="name"class="icon-name">MYR</span></a></li>
              </ul>
            </li>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ngoai-te/nok/" itemprop="url" title="Tỷ giá ngoại tệ Krone Na Uy" class="currency-icon"><span class="cur-icon ci-nok"></span> <span itemprop="name"class="icon-name">NOK</span></a></li>
                <li><a href="ngoai-te/nzd/" itemprop="url" title="Tỷ giá ngoại tệ Đô New Zealand" class="currency-icon"><span class="cur-icon ci-nzd"></span> <span itemprop="name"class="icon-name">NZD</span></a></li>
                <li><a href="ngoai-te/php/" itemprop="url" title="Tỷ giá n

          goại tệ Peso Philippine" class="currency-icon"><span class="cur-icon ci-php"></span> <span itemprop="name">PHP</span></a></li>
                <li><a href="ngoai-te/pln/" itemprop="url" title="Tỷ giá ngoại tệ Polish Zloty Ba Lan" class="currency-icon"><span class="cur-icon ci-pln"></span> <span itemprop="name"class="icon-name">PLN</span></a></li>
                <li><a href="ngoai-te/rub/" itemprop="url" title="Tỷ giá ngoại tệ Rúp Nga" class="currency-icon"><span class="cur-icon ci-rub"></span> <span itemprop="name"class="icon-name">RUB</span></a></li>
                <li><a href="ngoai-te/sar/" itemprop="url" title="Tỷ giá ngoại tệ Rian Ả-Rập-Xê-Út - Tiền Ả Rập Saudi" class="currency-icon"><span class="cur-icon ci-sar"></span> <span itemprop="name"class="icon-name">SAR</span></a></li>
                <li><a href="ngoai-te/sek/" itemprop="url" title="Tỷ giá ngoại tệ Krona Thụy Điển" class="currency-icon"><span class="cur-icon ci-sek"></span> <span itemprop="name"class="icon-name">SEK</span></a></li>
                <li><a href="ngoai-te/sgd/" itemprop="url" title="Tỷ giá ngoại tệ Đô Singapore - Đô Sing" class="currency-icon"><span class="cur-icon ci-sgd"></span> <span itemprop="name"class="icon-name">SGD</span></a></li>
                <li><a href="ngoai-te/thb/" itemprop="url" title="Tỷ giá ngoại tệ Baht Thái Lan - Baht Thai" class="currency-icon"><span class="cur-icon ci-thb"></span> <span itemprop="name"class="icon-name">THB</span></a></li>
              </ul>
            </li>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="ngoai-te/twd/" itemprop="url" title="Tỷ giá ngoại tệ Đài Tệ - Tiền Đài Loan" class="currency-icon"><span class="cur-icon ci-twd"></span> <span itemprop="name"class="icon-name">TWD</span></a></li>
                <li><a href="ngoai-te/usd/" itemprop="url" title="Tỷ giá ngoại tệ USD - Đô Mỹ - Đô la Mỹ" class="currency-icon"><span class="cur-icon ci-usd"></span> <span itemprop="name"class="icon-name">USD</span></a></li>
                <li><a href="ngoai-te/zar/" itemprop="url" title="Tỷ giá ngoại tệ Rand Nam Phi" class="currency-icon"><span class="cur-icon ci-zar"></span> <span itemprop="name"class="icon-name">ZAR</span></a></li>
              </ul>
            </li>
          </ul>


        



         
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="lai-suat"   style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; "  id="title-laisuat">
            Lãi suất
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
          <li>
          <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
          <li><a href="lai-suat/" class="bank-icon" itemprop="url" title="So sánh lãi suất"><span class="bak-icon"></span><span itemprop="name" class="text-red"><strong style = "color:#fb0000; width:120px; display:flex;">So sánh lãi suất</strong></span></a></li>
          <li><a href="lai-suat/#cong-cu-tinh-lai-tiet-kiem" class="bank-icon" itemprop="url" title="Công cụ tính tiền lãi tiết kiệm"><span class="bak-icon"></span><span itemprop="name">Công cụ tính lãi</span></a></li>
          <li><a href="lai-suat/abbank/" class="bank-icon" itemprop="url" title="Lãi suất ABBank"><span class="bak-icon bi-abbank"></span><span itemprop="name">ABBank</span></a></li>
          <li><a href="lai-suat/agribank/" class="bank-icon" itemprop="url" title="Lãi suất Agribank"><span class="bak-icon bi-agribank"></span><span itemprop="name">Agribank</span></a></li>
          <li><a href="lai-suat/bacabank/" class="bank-icon" itemprop="url" title="Lãi suất Bắc Á Bank"><span class="bak-icon bi-bacabank"></span><span itemprop="name">Bắc Á Bank</span></a></li>
          <li><a href="lai-suat/vietcapitalbank/" class="bank-icon" itemprop="url" title="Lãi suất Bản Việt"><span class="bak-icon bi-vietcapitalbank"></span><span itemprop="name">Bản Việt</span></a></li>
          <li><a href="lai-suat/baovietbank/" class="bank-icon" itemprop="url" title="Lãi suất Bảo Việt Bank"><span class="bak-icon bi-baovietbank"></span><span itemprop="name">Bảo Việt Bank</span></a></li>
          <li><a href="lai-suat/bidv/" class="bank-icon" itemprop="url" title="Lãi suất BIDV"><span class="bak-icon bi-bidv"></span><span itemprop="name">BIDV</span></a></li>
          <li><a href="lai-suat/cbbank/" class="bank-icon" itemprop="url" title="Lãi suất CBBank"><span class="bak-icon bi-cbbank"></span><span itemprop="name">CBBank</span></a></li>
          <li><a href="lai-suat/dongabank/" class="bank-icon" itemprop="url" title="Lãi suất Đông Á"><span class="bak-icon bi-dongabank"></span><span itemprop="name">Đông Á</span></a></li>
          <li><a href="lai-suat/gpbank/" class="bank-icon" itemprop="url" title="Lãi suất GPBank"><span class="bak-icon bi-gpbank"></span><span itemprop="name">GPBank</span></a></li>
          </ul>
          </li>
          <li>
          <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
          <li><a href="lai-suat/hlbank/" class="bank-icon" itemprop="url" title="Lãi suất Hong Leong"><span class="bak-icon bi-hlbank"></span><span itemprop="name">Hong Leong</span></a></li>
          <li><a href="lai-suat/indovinabank/" class="bank-icon" itemprop="url" title="Lãi suất Indovina"><span class="bak-icon bi-indovinabank"></span><span itemprop="name">Indovina</span></a></li>
          <li><a href="lai-suat/kienlongbank/" class="bank-icon" itemprop="url" title="Lãi suất Kiên Long"><span class="bak-icon bi-kienlongbank"></span><span itemprop="name">Kiên Long</span></a></li>
          <li><a href="lai-suat/maritimebank/" class="bank-icon" itemprop="url" title="Lãi suất MSB"><span class="bak-icon bi-maritimebank"></span><span itemprop="name">MSB</span></a></li>
          <li><a href="lai-suat/mbbank/" class="bank-icon" itemprop="url" title="Lãi suất MB"><span class="bak-icon bi-mbbank"></span><span itemprop="name">MB</span></a></li>
          <li><a href="lai-suat/namabank/" class="bank-icon" itemprop="url" title="Lãi suất Nam Á Bank"><span class="bak-icon bi-namabank"></span><span itemprop="name">Nam Á</span></a></li>
          <li><a href="lai-suat/ncb/" class="bank-icon" itemprop="url" title="Lãi suất NCB"><span class="bak-icon bi-ncb"></span><span itemprop="name">NCB</span></a></li>
          <li><a href="lai-suat/ocb/" class="bank-icon" itemprop="url" title="Lãi suất OCB"><span class="bak-icon bi-ocb"></span><span itemprop="name">OCB</span></a></li>
          <li><a href="lai-suat/oceanbank/" class="bank-icon" itemprop="url" title="Lãi suất OceanBank"><span class="bak-icon bi-oceanbank"></span><span itemprop="name">OceanBank</span></a></li>
          <li><a href="lai-suat/pgbank/" class="bank-icon" itemprop="url" title="Lãi suất PGBank"><span class="bak-icon bi-pgbank"></span><span itemprop="name">PGBank</span></a></li>
          <li><a href="lai-suat/publicbank/" class="bank-icon" itemprop="url" title="Lãi suất PublicBank"><span class="bak-icon bi-publicbank"></span><span itemprop="name">PublicBank</span></a></li>
          </ul>
          </li>
          <li>
          <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
          <li><a href="lai-suat/pvcombank/" class="bank-icon" itemprop="url" title="Lãi suất PVcomBank"><span class="bak-icon bi-pvcombank"></span><span itemprop="name">PVcomBank</span></a></li>
          <li><a href="lai-suat/saigonbank/" class="bank-icon" itemprop="url" title="Lãi suất SaigonBank"><span class="bak-icon bi-saigonbank"></span><span itemprop="name">SaigonBank</span></a></li>
          <li><a href="lai-suat/scb/" class="bank-icon" itemprop="url" title="Lãi suất SCB"><span class="bak-icon bi-scb"></span><span itemprop="name">SCB</span></a></li>
          <li><a href="lai-suat/seabank/" class="bank-icon" itemprop="url" title="Lãi suất SeABank"><span class="bak-icon bi-seabank"></span><span itemprop="name">SeABank</span></a></li>
          <li><a href="lai-suat/shb/" class="bank-icon" itemprop="url" title="Lãi suất SHB"><span class="bak-icon bi-shb"></span><span itemprop="name">SHB</span></a></li>
          <li><a href="lai-suat/tpbank/" class="bank-icon" itemprop="url" title="Lãi suất TPBank"><span class="bak-icon bi-tpbank"></span><span itemprop="name">TPBank</span></a></li>
          <li><a href="lai-suat/vib/" class="bank-icon" itemprop="url" title="Lãi suất VIB"><span class="bak-icon bi-vib"></span><span itemprop="name">VIB</span></a></li>
          <li><a href="lai-suat/vietcombank/" class="bank-icon" itemprop="url" title="Lãi suất Vietcombank"><span class="bak-icon bi-vietcombank"></span><span itemprop="name">Vietcombank</span></a></li>
          <li><a href="lai-suat/vietinbank/" class="bank-icon" itemprop="url" title="Lãi suất VietinBank"><span class="bak-icon bi-vietinbank"></span><span itemprop="name">VietinBank</span></a></li>
          <li><a href="lai-suat/vpbank/" class="bank-icon" itemprop="url" title="Lãi suất VPBank"><span class="bak-icon bi-vpbank"></span><span itemprop="name">VPBank</span></a></li>
          <li><a href="lai-suat/vrbank/" class="bank-icon" itemprop="url" title="Lãi suất VRBank"><span class="bak-icon bi-vrbank"></span><span itemprop="name">VRBank</span></a></li>

          </ul>
          </li>
          </ul>
        </li>
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/tien-ao"   style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; " id="title-tienao">
            Tiền ảo
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="tien-ao/" itemprop="url" title="Bảng giá tiền ảo"><span itemprop="name" class="text-red"><strong>Xem tất cả</strong></span></a></li>
                <li><a href="tien-ao/bitcoin/" itemprop="url" title="Giá tiền Bitcoin"><span itemprop="name">BTC <small>(Bitcoin)</small></span></a></li>
                <li><a href="tien-ao/ethereum/" itemprop="url" title="Giá tiền Ethereum"><span itemprop="name">ETH <small>(Ethereum)</small></span></a></li>
                <li><a href="tien-ao/tether/" itemprop="url" title="Giá tiền Tether USDt"><span itemprop="name">USDT <small>(Tether USDt)</small></span></a></li>
                <li><a href="tien-ao/bnb/" itemprop="url" title="Giá tiền BNB"><span itemprop="name">BNB <small>(BNB)</small></span></a></li>
                <li><a href="tien-ao/solana/" itemprop="url" title="Giá tiền Solana"><span itemprop="name">SOL <small>(Solana)</small></span></a></li>
                <li><a href="tien-ao/xrp/" itemprop="url" title="Giá tiền XRP"><span itemprop="name">XRP <small>(XRP)</small></span></a></li>
                <li><a href="tien-ao/usd-coin/" itemprop="url" title="Giá tiền USDC"><span itemprop="name">USDC <small>(USDC)</small></span></a></li>
                <li><a href="tien-ao/dogecoin/" itemprop="url" title="Giá tiền Dogecoin"><span itemprop="name">DOGE <small>(Dogecoin)</small></span></a></li>
                <li><a href="tien-ao/cardano/" itemprop="url" title="Giá tiền Cardano"><span itemprop="name">ADA <small>(Cardano)</small></span></a></li>
                <li><a href="tien-ao/avalanche/" itemprop="url" title="Giá tiền Avalanche"><span itemprop="name">AVAX <small>(Avalanche)</small></span></a></li>
              </ul>
            </li>
            <li>
              <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
                <li><a href="tien-ao/toncoin/" itemprop="url" title="Giá tiền Toncoin"><span itemprop="name">TON <small>(Toncoin)</small></span></a></li>
                <li><a href="tien-ao/shiba-inu/" itemprop="url" title="Giá tiền Shiba Inu"><span itemprop="name">SHIB <small>(Shiba Inu)</small></span></a></li>
                <li><a href="tien-ao/polkadot-new/" itemprop="url" title="Giá tiền Polkadot"><span itemprop="name">DOT <small>(Polkadot)</small></span></a></li>
                <li><a href="tien-ao/bitcoin-cash/" itemprop="url" title="Giá tiền Bitcoin Cash"><span itemprop="name">BCH <small>(Bitcoin Cash)</small></span></a></li>
                <li><a href="tien-ao/chainlink/" itemprop="url" title="Giá tiền Chainlink"><span itemprop="name">LINK <small>(Chainlink)</small></span></a></li>
                <li><a href="tien-ao/tron/" itemprop="url" title="Giá tiền TRON"><span itemprop="name">TRX <small>(TRON)</small></span></a></li>
                <li><a href="tien-ao/polygon/" itemprop="url" title="Giá tiền Polygon"><span itemprop="name">MATIC <small>(Polygon)</small></span></a></li>
                <li><a href="tien-ao/internet-computer/" itemprop="url" title="Giá tiền Internet Computer"><span itemprop="name">ICP <small>(Internet Computer)</small></span></a></li>
                <li><a href="tien-ao/litecoin/" itemprop="url" title="Giá tiền Litecoin"><span itemprop="name">LTC <small>(Litecoin)</small></span></a></li>
                <li><a href="tien-ao/uniswap/" itemprop="url" title="Giá tiền Uniswap"><span itemprop="name">UNI <small>(Uniswap)</small></span></a></li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/xang-dau"   style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; "  id="title-xangdau">
            Xăng dầu
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
            <li>
            <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;" class = "item-header">
            <li class="dropdown-header" style = "padding-left:20px;">Giá xăng dầu trong nước</li>
            <li><a href="xang-dau/petrolimex/" itemprop="url" title="Giá bán lẻ xăng dầu Petrolimex"><span itemprop="name">Giá xăng dầu Petrolimex</span></a></li>
            <li class="dropdown-header" style = "padding-left:20px;">Giá xăng dầu thế giới</li>
            <li><a href="xang-dau/dau-tho/" itemprop="url" title="Giá dầu thô thế giới"><span itemprop="name">Giá dầu thô</span></a></li>
            </ul>
            </li>
            </ul>
        </li><li class="nav-item dropdown" style = "height:50px; border:none;">
          <a class="nav-link dropdown-toggle" href="/hang-hoa"   style = "color: #fff ;font-size: 16px;
    margin: 0; padding:13px 12px; "  id="title-hanghoa">
            Hàng hoá
          </a>
          <ul class="dropdown-menu" style = 'padding:0px;border-radius:0px;  width:auto;'>
            <li>
            <ul style = "list-style-type:none;text-decoration:none; padding-left:0px;"  class = "item-header">
            <li class="dropdown-header" style = "padding-left:20px;" >Giá cà phê</li>
            <li><a href="hang-hoa/ca-phe/" itemprop="url" title="Giá cà phê trong nước"><span itemprop="name">Giá cà phê trong nước</span></a></li>
            <li><a href="hang-hoa/ca-phe-the-gioi/" itemprop="url" title="Giá cà phê thế giới"><span itemprop="name">Giá cà phê thế giới</span></a></li>
            </ul>
            </li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/blog" aria-disabled="true"  style = "color: #fff ;font-size: 16px; margin: 0;padding:13px 12px; "
           id="title-blog">Blog</a>
        </li>
      </ul>
      <form class="d-flex" role="search"style = "align-items:center; padding-left:50px; cursor:pointer;">
        <input class="form-control hi-2" type="search" placeholder="🔍 Tìm Kiếm" aria-label="Search"  style = "width:220px;">

        
      </form>
    </div>
  </div>
</nav>

<br>
</div>
<div style = " width:100% ;  box-shadow:0px 5px 5px 0 rgba(152, 148, 148, 0.5);">
  <div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="giavang">
    <div class="container">
        <ul class="nav">
                <li><a href="gia-vang/sjc" itemprop="url" title="Giá vàng Công Ty Vàng Bạc Đá Quý Sài Gòn" id = "sjc"><span itemprop="name"><span class="hidden-xs">Giá vàng </span>SJC</span></a></li>
                <li><a href="gia-vang/sjc/bieu-do-1-thang" itemprop="url" title="Biểu đồ giá vàng SJC"><span itemprop="name">Biểu đồ<span class="hidden-xs"> giá vàng</span> SJC</span></a></li>
                <li><a href="gia-vang/doji/" itemprop="url" title="Giá vàng Tập đoàn Vàng Bạc Đá Quý DOJI" id = "doji"><span itemprop="name"><span class="hidden-xs">Giá vàng </span>DOJI</span></a></li>
                <li><a href="gia-vang/pnj/" itemprop="url" title="Giá vàng Công ty Cổ Phần Vàng Bạc Đá Quý Phú Nhuận" id = "PNJ"><span itemprop="name"><span class="hidden-xs">Giá vàng </span>PNJ</span></a></li>
                <li><a href="gia-vang/bao-tin-minh-chau/" itemprop="url" title="Giá vàng Công Ty Vàng Bạc Đá Quý Bảo Tín Minh Châu" id = "bao-tin-minh-chau"><span itemprop="name">Bảo Tín Minh Châu</span></a></li>
                <li><a href="gia-vang/bao-tin-manh-hai/" itemprop="url" title="Giá vàng Công Ty Cổ Phần Bảo Tín Mạnh Hải" id = "bao-tin-manh-hai"><span itemprop="name">Bảo Tín Mạnh Hải</span></a></li>
                <li><a href="gia-vang/phu-quy/" itemprop="url" title="Giá vàng Tập đoàn vàng bạc đá quý Phú Quý"><span itemprop="name">Phú Quý</span></a></li>
                <li><a href="gia-vang/mi-hong/" itemprop="url" title="Giá vàng Công Ty TNHH Mi Hồng"><span itemprop="name">Mi Hồng</span></a></li>
                <li><a href="gia-vang/ngoc-tham/" itemprop="url" title="Giá vàng Công Ty TNHH Vàng Bạc Đá Quý Ngọc Thẩm"><span itemprop="name">Ngọc Thẩm</span></a></li>
                <li><a href="gia-vang/the-gioi/" itemprop="url" title="Giá vàng Thế giới - XAU/USD"><span itemprop="name"><span class="hidden-xs">Giá vàng </span>Thế giới</span></a></li>
            </ul>
        </div>
    </div>



  <div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="tygia">
    <div class="container" >
        <ul class="nav">
          <li><a href="ty-gia/abbank/" itemprop="url" title="TMCP An Bình"><span itemprop="name">ABBank</span></a></li>
          <li><a href="ty-gia/acb/" itemprop="url" title="TMCP Á Châu"><span itemprop="name">ACB</span></a></li>
          <li><a href="ty-gia/agribank/" itemprop="url" title="Nông nghiệp và Phát triển Nông thôn Việt Nam"><span itemprop="name">Agribank</span></a></li>
          <li><a href="ty-gia/baovietbank/" itemprop="url" title="TMCP Bảo Việt - BAOVIET Bank"><span itemprop="name">Bảo Việt</span></a></li>
          <li><a href="ty-gia/bidv/" itemprop="url" title="Đầu tư và Phát triển Việt Nam"><span itemprop="name">BIDV</span></a></li>
          <li><a href="ty-gia/cbbank/" itemprop="url" title="TNHH MTV Xây dựng Việt Nam"><span itemprop="name">CBBank</span></a></li>
          <li><a href="ty-gia/dongabank/" itemprop="url" title="TMCP Đông Á - DongA Bank"><span itemprop="name">Đông Á</span></a></li>
          <li><a href="ty-gia/eximbank/" itemprop="url" title="TMCP Xuất Nhập khẩu Việt Nam"><span itemprop="name">Eximbank</span></a></li>
          <li><a href="ty-gia/gpbank/" itemprop="url" title="TM TNHH MTV Dầu Khí Toàn Cầu"><span itemprop="name">GPBank</span></a></li>
          <li><a href="ty-gia/hdbank/" itemprop="url" title="TMCP Phát triển Nhà TP. Hồ Chí Minh"><span itemprop="name">HDBank</span></a></li>
          <li><a href="ty-gia/hlbank/" itemprop="url" title="Hong Leong Việt Nam"><span itemprop="name">Hong Leong</span></a></li>
          <li><a href="ty-gia/hsbc/" itemprop="url" title="HSBC Việt Nam"><span itemprop="name">HSBC</span></a></li>
          <li><a href="ty-gia/indovinabank/" itemprop="url" title="TNHH Indovina"><span itemprop="name">Indovina</span></a></li>
          <li><a href="ty-gia/kienlongbank/" itemprop="url" title="TMCP Kiên Long"><span itemprop="name">Kiên Long</span></a></li>
          <li><a href="ty-gia/lienvietpostbank/" itemprop="url" title="TMCP Bưu điện Liên Việt"><span itemprop="name">Liên Việt</span></a></li>
          <li><a href="ty-gia/maritimebank/" itemprop="url" title="TMCP Hàng Hải Việt Nam"><span itemprop="name">MSB</span></a></li>
          <li><a href="ty-gia/mbbank/" itemprop="url" title="TMCP Quân Đội"><span itemprop="name">MB</span></a></li>
          <li><a href="ty-gia/namabank/" itemprop="url" title="TMCP Nam Á"><span itemprop="name">Nam Á</span></a></li>
          <li><a href="ty-gia/ncb/" itemprop="url" title="TMCP Quốc Dân"><span itemprop="name">NCB</span></a></li>
          <li><a href="ty-gia/ocb/" itemprop="url" title="TMCP Phương Đông"><span itemprop="name">OCB</span></a></li>
          <li><a href="ty-gia/oceanbank/" itemprop="url" title="TM TNHH MTV Đại Dương"><span itemprop="name">OceanBank</span></a></li>
          <li><a href="ty-gia/pgbank/" itemprop="url" title="TMCP Xăng dầu Petrolimex"><span itemprop="name">PGBank</span></a></li>
          <li><a href="ty-gia/publicbank/" itemprop="url" title="TNHH MTV Public Việt Nam"><span itemprop="name">PublicBank</span></a></li>
          <li><a href="ty-gia/pvcombank/" itemprop="url" title="TMCP Đại Chúng Việt Nam"><span itemprop="name">PVcomBank</span></a></li>
          <li><a href="ty-gia/sacombank/" itemprop="url" title="TMCP Sài Gòn Thương Tín"><span itemprop="name">Sacombank</span></a></li>
          <li><a href="ty-gia/saigonbank/" itemprop="url" title="TMCP Sài Gòn Công Thương"><span itemprop="name">Saigonbank</span></a></li>
          <li><a href="ty-gia/scb/" itemprop="url" title="TMCP Sài Gòn"><span itemprop="name">SCB</span></a></li>
          <li><a href="ty-gia/seabank/" itemprop="url" title="TMCP Đông Nam Á"><span itemprop="name">SeABank</span></a></li>
          <li><a href="ty-gia/shbbank/" itemprop="url" title="TMCP Sài Gòn - Hà Nội"><span itemprop="name">SHB</span></a></li>
          <li><a href="ty-gia/techcombank/" itemprop="url" title="TMCP Kỹ thương Việt Nam"><span itemprop="name">Techcombank</span></a></li>
          <li><a href="ty-gia/tpbank/" itemprop="url" title="TMCP Tiên Phong"><span itemprop="name">TPB</span></a></li>
          <li><a href="ty-gia/uob/" itemprop="url" title="UOB Việt Nam"><span itemprop="name">UOB</span></a></li>
          <li><a href="ty-gia/vib/" itemprop="url" title="TMCP Quốc tế Việt Nam"><span itemprop="name">VIB</span></a></li>
          <li><a href="ty-gia/vietabank/" itemprop="url" title="TMCP Việt Á"><span itemprop="name">VietABank</span></a></li>
          <li><a href="ty-gia/vietbank/" itemprop="url" title="TMCP Việt Nam Thương Tín"><span itemprop="name">VietBank</span></a></li>
          <li><a href="ty-gia/vietcapitalbank/" itemprop="url" title="TMCP Bản Việt"><span itemprop="name">VietCapitalBank</span></a></li>
          <li><a href="ty-gia/vietcombank/" itemprop="url" title="TMCP Ngoại thương Việt Nam"><span itemprop="name">Vietcombank</span></a></li>
          <li><a href="ty-gia/vietinbank/" itemprop="url" title="TMCP Công Thương Việt Nam"><span itemprop="name">VietinBank</span></a></li>
          <li><a href="ty-gia/vpbank/" itemprop="url" title="TMCP Việt Nam Thịnh Vượng"><span itemprop="name">VPBank</span></a></li>
          <li><a href="ty-gia/vrbank/" itemprop="url" title="Liên doanh Việt - Nga"><span itemprop="name">VRB</span></a></li>
      </ul>

          </div>
      </div>



      <div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="ngoaite">
    <div class="container">
        <ul class="nav">
                <li><a href="ngoai-te/aud/" itemprop="url" title="Tỷ giá ngoại tệ Đô Úc"><span itemprop="name">AUD</span></a></li>
                <li><a href="ngoai-te/cad/" itemprop="url" title="Tỷ giá ngoại tệ Đô Canada"><span itemprop="name">CAD</span></a></li>
                <li><a href="ngoai-te/chf/" itemprop="url" title="Tỷ giá ngoại tệ Franc Thụy Sĩ"><span itemprop="name">CHF</span></a></li>
                <li><a href="ngoai-te/cny/" itemprop="url" title="Tỷ giá ngoại tệ Nhân dân tệ - Yuan Trung Quốc - RMB - Ren Min Bi"><span itemprop="name">CNY</span></a></li>
                <li><a href="ngoai-te/czk/" itemprop="url" title="Tỷ giá ngoại tệ Koruna Séc"><span itemprop="name">CZK</span></a></li>
                <li><a href="ngoai-te/dkk/" itemprop="url" title="Tỷ giá ngoại tệ Krone Đan Mạch"><span itemprop="name">DKK</span></a></li>
                <li><a href="ngoai-te/eur/" itemprop="url" title="Tỷ giá ngoại tệ Euro"><span itemprop="name">EUR</span></a></li>
                <li><a href="ngoai-te/gbp/" itemprop="url" title="Tỷ giá ngoại tệ Bảng Anh"><span itemprop="name">GBP</span></a></li>
                <li><a href="ngoai-te/hkd/" itemprop="url" title="Tỷ giá ngoại tệ Đô Hồng Kông"><span itemprop="name">HKD</span></a></li>
                <li><a href="ngoai-te/huf/" itemprop="url" title="Tỷ giá ngoại tệ Forint Hungary"><span itemprop="name">HUF</span></a></li>
                <li><a href="ngoai-te/idr/" itemprop="url" title="Tỷ giá ngoại tệ Rupiah Indonesia"><span itemprop="name">IDR</span></a></li>
                <li><a href="ngoai-te/inr/" itemprop="url" title="Tỷ giá ngoại tệ Rupee Ấn Độ - Rupi Ấn Độ"><span itemprop="name">INR</span></a></li>
                <li><a href="ngoai-te/jpy/" itemprop="url" title="Tỷ giá ngoại tệ Yên Nhật"><span itemprop="name">JPY</span></a></li>
                <li><a href="ngoai-te/khr/" itemprop="url" title="Tỷ giá ngoại tệ Riel Campuchia"><span itemprop="name">KHR</span></a></li>
                <li><a href="ngoai-te/krw/" itemprop="url" title="Tỷ giá ngoại tệ Won Hàn Quốc"><span itemprop="name">KRW</span></a></li>
                <li><a href="ngoai-te/kwd/" itemprop="url" title="Tỷ giá ngoại tệ Đồng Dinar"><span itemprop="name">KWD</span></a></li>
                <li><a href="ngoai-te/lak/" itemprop="url" title="Tỷ giá ngoại tệ Kip Lào"><span itemprop="name">LAK</span></a></li>
                <li><a href="ngoai-te/myr/" itemprop="url" title="Tỷ giá ngoại tệ Ringgit Malaysia"><span itemprop="name">MYR</span></a></li>
                <li><a href="ngoai-te/nok/" itemprop="url" title="Tỷ giá ngoại tệ Krone Na Uy"><span itemprop="name">NOK</span></a></li>
                <li><a href="ngoai-te/nzd/" itemprop="url" title="Tỷ giá ngoại tệ Đô New Zealand"><span itemprop="name">NZD</span></a></li>
                <li><a href="ngoai-te/php/" itemprop="url" title="Tỷ giá ngoại tệ Peso Philippine"><span itemprop="name">PHP</span></a></li>
                <li><a href="ngoai-te/pln/" itemprop="url" title="Tỷ giá ngoại tệ Polish Zloty Ba Lan"><span itemprop="name">PLN</span></a></li>
                <li><a href="ngoai-te/rub/" itemprop="url" title="Tỷ giá ngoại tệ Rúp Nga"><span itemprop="name">RUB</span></a></li>
                <li><a href="ngoai-te/sar/" itemprop="url" title="Tỷ giá ngoại tệ Rian Ả-Rập-Xê-Út - Tiền Ả Rập Saudi"><span itemprop="name">SAR</span></a></li>
                <li><a href="ngoai-te/sek/" itemprop="url" title="Tỷ giá ngoại tệ Krona Thụy Điển"><span itemprop="name">SEK</span></a></li>
                <li><a href="ngoai-te/sgd/" itemprop="url" title="Tỷ giá ngoại tệ Đô Singapore - Đô Sing"><span itemprop="name">SGD</span></a></li>
                <li><a href="ngoai-te/thb/" itemprop="url" title="Tỷ giá ngoại tệ Baht Thái Lan - Baht Thai"><span itemprop="name">THB</span></a></li>
                <li><a href="ngoai-te/twd/" itemprop="url" title="Tỷ giá ngoại tệ Đài Tệ - Tiền Đài Loan"><span itemprop="name">TWD</span></a></li>
                <li><a href="ngoai-te/usd/" class="active" itemprop="url" title="Tỷ giá ngoại tệ USD - Đô Mỹ - Đô la Mỹ"><span itemprop="name">USD</span></a></li>
                <li><a href="ngoai-te/zar/" itemprop="url" title="Tỷ giá ngoại tệ Rand Nam Phi"><span itemprop="name">ZAR</span></a></li>
            </ul>
        </div>
    </div>

    <div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="laisuat">
        <div class="container">
            <ul class="nav">
                <li><a href="lai-suat/abbank/" itemprop="url" title="TMCP An Bình"><span itemprop="name">ABBank</span></a></li>
                <li><a href="lai-suat/agribank/" itemprop="url" title="Nông nghiệp và Phát triển Nông thôn Việt Nam"><span itemprop="name">Agribank</span></a></li>
                <li><a href="lai-suat/bacabank/" itemprop="url" title="TMCP Bắc Á"><span itemprop="name">Bắc Á</span></a></li>
                <li><a href="lai-suat/baovietbank/" itemprop="url" title="TMCP Bảo Việt - BAOVIET Bank"><span itemprop="name">Bảo Việt</span></a></li>
                <li><a href="lai-suat/bidv/" itemprop="url" title="Đầu tư và Phát triển Việt Nam"><span itemprop="name">BIDV</span></a></li>
                <li><a href="lai-suat/cbbank/" itemprop="url" title="TNHH MTV Xây dựng Việt Nam"><span itemprop="name">CBBank</span></a></li>
                <li><a href="lai-suat/dongabank/" itemprop="url" title="TMCP Đông Á - DongA Bank"><span itemprop="name">Đông Á</span></a></li>
                <li><a href="lai-suat/gpbank/" itemprop="url" title="TM TNHH MTV Dầu Khí Toàn Cầu"><span itemprop="name">GPBank</span></a></li>
                <li><a href="lai-suat/hlbank/" itemprop="url" title="Hong Leong Việt Nam"><span itemprop="name">Hong Leong</span></a></li>
                <li><a href="lai-suat/indovinabank/" itemprop="url" title="TNHH Indovina"><span itemprop="name">Indovina</span></a></li>
                <li><a href="lai-suat/kienlongbank/" itemprop="url" title="TMCP Kiên Long"><span itemprop="name">Kiên Long</span></a></li>
                <li><a href="lai-suat/maritimebank/" itemprop="url" title="TMCP Hàng Hải Việt Nam"><span itemprop="name">MSB</span></a></li>
                <li><a href="lai-suat/mbbank/" itemprop="url" title="TMCP Quân Đội"><span itemprop="name">MB</span></a></li>
                <li><a href="lai-suat/namabank/" itemprop="url" title="TMCP Nam Á"><span itemprop="name">Nam Á Bank</span></a></li>
                <li><a href="lai-suat/ncb/" itemprop="url" title="TMCP Quốc Dân"><span itemprop="name">NCB</span></a></li>
                <li><a href="lai-suat/ocb/" itemprop="url" title="TMCP Phương Đông"><span itemprop="name">OCB</span></a></li>
                <li><a href="lai-suat/oceanbank/" itemprop="url" title="TM TNHH một thành viên Đại Dương"><span itemprop="name">OceanBank</span></a></li>
                <li><a href="lai-suat/pgbank/" itemprop="url" title="TMCP Xăng dầu Petrolimex"><span itemprop="name">PGBank</span></a></li>
                <li><a href="lai-suat/publicbank/" itemprop="url" title="TNHH MTV Public Việt Nam"><span itemprop="name">PublicBank</span></a></li>
                <li><a href="lai-suat/pvcombank/" itemprop="url" title="TMCP Đại Chúng Việt Nam"><span itemprop="name">PVcomBank</span></a></li>
                <li><a href="lai-suat/saigonbank/" itemprop="url" title="TMCP Sài Gòn Công Thương"><span itemprop="name">Saigonbank</span></a></li>
                <li><a href="lai-suat/scb/" itemprop="url" title="TMCP Sài Gòn"><span itemprop="name">SCB</span></a></li>
                <li><a href="lai-suat/seabank/" itemprop="url" title="TMCP Đông Nam Á"><span itemprop="name">SeABank</span></a></li>
                <li><a href="lai-suat/shb/" itemprop="url" title="TMCP Sài Gòn - Hà Nội"><span itemprop="name">SHB</span></a></li>
                <li><a href="lai-suat/tpbank/" itemprop="url" title="TMCP Tiên Phong"><span itemprop="name">TPBank</span></a></li>
                <li><a href="lai-suat/vib/" itemprop="url" title="TMCP Quốc tế Việt Nam"><span itemprop="name">VIB</span></a></li>
                <li><a href="lai-suat/vietcapitalbank/" itemprop="url" title="TMCP Bản Việt"><span itemprop="name">VietCapitalBank</span></a></li>
                <li><a href="lai-suat/vietcombank/" itemprop="url" title="TMCP Ngoại thương Việt Nam"><span itemprop="name">Vietcombank</span></a></li>
                <li><a href="lai-suat/vietinbank/" itemprop="url" title="TMCP Công Thương Việt Nam"><span itemprop="name">VietinBank</span></a></li>
                <li><a href="lai-suat/vpbank/" itemprop="url" title="TMCP Việt Nam Thịnh Vượng"><span itemprop="name">VPBank</span></a></li>
                <li><a href="lai-suat/vrbank/" itemprop="url" title="Liên doanh Việt - Nga"><span itemprop="name">VRB</span></a></li>
            </ul>
        </div>
    </div>

    <div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="tienao">
    <div class="container">
        <ul class="nav">
            <li><a href="tien-ao/bitcoin/" itemprop="url" title="Giá tiền Bitcoin"><span itemprop="name">BTC</span></a></li>
            <li><a href="tien-ao/ethereum/" itemprop="url" title="Giá tiền Ethereum"><span itemprop="name">ETH</span></a></li>
            <li><a href="tien-ao/tether/" itemprop="url" title="Giá tiền Tether USDt"><span itemprop="name">USDT</span></a></li>
            <li><a href="tien-ao/bnb/" itemprop="url" title="Giá tiền BNB"><span itemprop="name">BNB</span></a></li>
            <li><a href="tien-ao/solana/" itemprop="url" title="Giá tiền Solana"><span itemprop="name">SOL</span></a></li>
            <li><a href="tien-ao/xrp/" itemprop="url" title="Giá tiền XRP"><span itemprop="name">XRP</span></a></li>
            <li><a href="tien-ao/usd-coin/" itemprop="url" title="Giá tiền USDC"><span itemprop="name">USDC</span></a></li>
            <li><a href="tien-ao/dogecoin/" itemprop="url" title="Giá tiền Dogecoin"><span itemprop="name">DOGE</span></a></li>
            <li><a href="tien-ao/cardano/" itemprop="url" title="Giá tiền Cardano"><span itemprop="name">ADA</span></a></li>
            <li><a href="tien-ao/avalanche/" itemprop="url" title="Giá tiền Avalanche"><span itemprop="name">AVAX</span></a></li>
            <li><a href="tien-ao/toncoin/" itemprop="url" title="Giá tiền Toncoin"><span itemprop="name">TON</span></a></li>
            <li><a href="tien-ao/shiba-inu/" itemprop="url" title="Giá tiền Shiba Inu"><span itemprop="name">SHIB</span></a></li>
            <li><a href="tien-ao/polkadot-new/" itemprop="url" title="Giá tiền Polkadot"><span itemprop="name">DOT</span></a></li>
            <li><a href="tien-ao/bitcoin-cash/" itemprop="url" title="Giá tiền Bitcoin Cash"><span itemprop="name">BCH</span></a></li>
            <li><a href="tien-ao/chainlink/" itemprop="url" title="Giá tiền Chainlink"><span itemprop="name">LINK</span></a></li>
            <li><a href="tien-ao/tron/" itemprop="url" title="Giá tiền TRON"><span itemprop="name">TRX</span></a></li>
            <li><a href="tien-ao/polygon/" itemprop="url" title="Giá tiền Polygon"><span itemprop="name">MATIC</span></a></li>
            <li><a href="tien-ao/internet-computer/" itemprop="url" title="Giá tiền Internet Computer"><span itemprop="name">ICP</span></a></li>
            <li><a href="tien-ao/litecoin/" itemprop="url" title="Giá tiền Litecoin"><span itemprop="name">LTC</span></a></li>
            <li><a href="tien-ao/uniswap/" itemprop="url" title="Giá tiền Uniswap"><span itemprop="name">UNI</span></a></li>
        </ul>
    </div>
</div>
<div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="xangdau">
<div class="container">
<ul class="nav"><li><a href="xang-dau/petrolimex/" class="active" itemprop="url" title="Petrolimex - Tập đoàn Xăng dầu Việt Nam"><span itemprop="name">Giá xăng dầu Petrolimex</span></a></li><li><a href="http://localhost:3000/xang-dau/dau-tho/" itemprop="url" title="Giá dầu thô UKOIL - USOIL"><span itemprop="name">Giá dầu thô</span></a></li></ul>
</div>
</div>

<div class="sub-nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="hanghoa">
<div class="container">
<ul class="nav"><li><a href="hang-hoa/ca-phe/" itemprop="url" title="Giá cà phê trong nước"><span itemprop="name">Cà phê trong nước</span></a></li><li><a href="http://localhost:3000/hang-hoa/ca-phe-the-gioi/" itemprop="url" title="Giá cà phê thế giới"><span itemprop="name">Cà phê thế giới</span></a></li></ul>
</div>
</div>


      <script>
          document.addEventListener("DOMContentLoaded", function() {
          var check = 0;
          var checkgia = 0;
          var currentUrl = window.location.href;
          var linkarray  = ["gia-vang" ,"ty-gia" ,"ngoai-te" ,"lai-suat" ,"tien-ao" ,"xang-dau" ,"hang-hoa"]
          for ( var ele of linkarray){
              if(currentUrl.includes(ele) ){
                  document.getElementById(ele.split('-').join('')).style.display = "block";
                  document.getElementById('title-' + ele.split('-').join('')).style.backgroundColor = '#002C94';
                  document.getElementById('title-' + ele.split('-').join('')).style.paddingBottom = '10px';
                  document.getElementById('title-' + ele.split('-').join('')).style.borderBottom = '2px solid #ffb935';
                  check+=1;
                  if(ele == "gia-vang"){
                    checkgia+=1;
                  }
              }
              else{
                  document.getElementById(ele.split('-').join('')).style.display = "none";
                  document.getElementById('title-' + ele.split('-').join('')).style.backgroundColor = '#061890';
                  document.getElementById('title-' + ele.split('-').join('')).style.textDecoration = 'none';
                  document.getElementById('title-' + ele.split('-').join('')).style.borderBottom = 'none';

              }
          }
          if(check == 0){
            
              document.getElementById('giavang').style.display = "block";
          
          }

          else{
            if(checkgia == 0)
            {
              document.getElementById('giavang').style.display = "none";
            }
            else{
              document.getElementById('giavang').style.display = "block";
            }
   
          }


              
});
      </script>


</div>
