<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm ABBank mới nhất hôm nay <small>- Cập nhật lúc 16:50:08 20/03/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại An Bình (ABBank) tháng 04/2024 dao động từ 0,1% đến 4,4%/năm. Lãi suất An Bình (ABBank) kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 2,65%/năm, 4,40%/năm, 4,10%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 4,4%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 6 tháng, 7 tháng, 8 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="6" class="text-center">Lãi suất: %/năm</th>
</tr>
<tr>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Lãi trả trước</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,10%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,65%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2,64%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">2,75%</td><td class="text-right">-</td><td class="text-right">2,75%</td><td class="text-right">2,74%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">2,99%</td><td class="text-right">2,98%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">2,99%</td><td class="text-right">2,97%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">2,99%</td><td class="text-right">2,96%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,38%</td><td class="text-right">4,36%</td><td class="text-right">4,31%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">-</td><td class="text-right">4,35%</td><td class="text-right">4,29%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">-</td><td class="text-right">4,34%</td><td class="text-right">4,27%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">4,10%</td><td class="text-right">4,06%</td><td class="text-right">4,05%</td><td class="text-right">3,98%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">4,10%</td><td class="text-right">-</td><td class="text-right">4,04%</td><td class="text-right">3,96%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">4,10%</td><td class="text-right">-</td><td class="text-right">4,03%</td><td class="text-right">3,95%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,10%</td><td class="text-right">4,04%</td><td class="text-right">4,02%</td><td class="text-right">3,94%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">-</td><td class="text-right">4,11%</td><td class="text-right">4,02%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,11%</td><td class="text-right">4,10%</td><td class="text-right">3,99%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,09%</td><td class="text-right">4,08%</td><td class="text-right">3,95%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,05%</td><td class="text-right">4,04%</td><td class="text-right">3,87%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">3,98%</td><td class="text-right">3,96%</td><td class="text-right">3,73%</td></tr>
<tr>
<td class="text-left">48 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">3,90%</td><td class="text-right">3,89%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">60 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">3,83%</td><td class="text-right">3,82%</td><td class="text-right">3,47%</td></tr>
</tbody>
</table>
</div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online) – Esaving và trên ứng dụng AB Ditizen – Msaving</strong> </h2>
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="6" class="text-center">Lãi suất: %/năm</th>
</tr>
<tr>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Lãi trả trước</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2,99%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">-</td><td class="text-right">3,10%</td><td class="text-right">3,08%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">-</td><td class="text-right">3,19%</td><td class="text-right">3,17%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">-</td><td class="text-right">3,19%</td><td class="text-right">3,17%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">-</td><td class="text-right">3,18%</td><td class="text-right">3,16%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">4,70%</td><td class="text-right">4,67%</td><td class="text-right">4,65%</td><td class="text-right">4,59%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">4,60%</td><td class="text-right">-</td><td class="text-right">4,55%</td><td class="text-right">4,48%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">4,60%</td><td class="text-right">-</td><td class="text-right">4,54%</td><td class="text-right">4,46%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,25%</td><td class="text-right">4,24%</td><td class="text-right">4,17%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">-</td><td class="text-right">4,23%</td><td class="text-right">4,15%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">-</td><td class="text-right">4,22%</td><td class="text-right">4,14%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,23%</td><td class="text-right">4,22%</td><td class="text-right">4,12%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">-</td><td class="text-right">4,31%</td><td class="text-right">4,20%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,31%</td><td class="text-right">4,29%</td><td class="text-right">4,17%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,28%</td><td class="text-right">4,27%</td><td class="text-right">4,13%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,24%</td><td class="text-right">4,22%</td><td class="text-right">4,04%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,15%</td><td class="text-right">4,14%</td><td class="text-right">3,89%</td></tr>
<tr>
<td class="text-left">48 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,07%</td><td class="text-right">4,06%</td><td class="text-right">3,74%</td></tr>
<tr>
<td class="text-left">60 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,00%</td><td class="text-right">3,98%</td><td class="text-right">3,61%</td></tr>
</tbody>
</table>
</section>
<p><strong class="text-red">Lưu ý:</strong><br>Lãi suất TGTT VND: 0.20 %/năm (áp dụng từ ngày 13/05/2020).</p>

<div class="source">Ngân hàng thương mại cổ phần An Bình - ABBANK.<br>https://abbank.vn/thong-tin/lai-suat-tiet-kiem-vnd.html</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t ABBank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m An B\u00ecnh Bank - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="ea126c6df5996b9fcacfba85cd68800a">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất ABBank - Lãi gửi tiết kiệm An Bình Bank - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm ABBank</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>

<section class="mtn">
<h2>Tiết kiệm có kỳ hạn lĩnh lãi cuối kỳ tại Ngân Hàng An Bình</h2>
<p>Xây dựng kế hoạch tích lũy của riêng bạn</p>

<h3>Lợi ích</h3>
<ul><li>Lựa chọn kỳ lĩnh lãi phù hợp với kế hoạch tài chính của mình</li>
<li>Được chuyển giao quyền sở hữu hoặc cầm cố vay vốn, ủy quyền cho người khác giao dịch</li>
<li>Thủ tục đơn giản, nhanh chóng, tiện lợi</li>
</ul>

<h3>Đặc tính</h3>
<ul><li>Loại tiền gửi: VND</li>
<li>Số tiền tối thiểu: 500.000 VND</li>
<li>Kỳ hạn: từ 1 tuần đến 36 tháng.</li>
<li>Hình thức lĩnh lãi: Lĩnh lãi cuối kỳ, lãi hàng tháng, lãi hàng quý.</li>
<li>Phương thức trả lãi: Khách hàng lựa chọn một trong hai phương thức trả lãi vào cuối kỳ;</li>
</ul>

<h3>Đối tượng tham gia</h3>
<p>Khách hàng là công dân Việt Nam hoặc người nước ngoài được phép cư trú tại Việt Nam với thời hạn từ 06 tháng trở lên</p>
<p>Mọi thắc mắc, góp ý của Quý khách, xin vui lòng liên hệ Trung tâm Dịch vụ Khách hàng của An Bình Bank, Hotline: <strong>18001159</strong>.</p>

<h2>Liên hệ ngân hàng An Bình - ABBANK</h2>
<p>Thông tin về chính sách sản phẩm, dịch vụ chỉ mang tính chất tham khảo và có thể thay đổi trong từng thời kỳ. Vui lòng liên hệ <a href="https://www.abbank.vn/chi-nhanh" title="điểm giao dịch An Bình Bank gần nhất" target="_blank">điểm giao dịch An Bình Bank gần nhất</a> hoặc Hotline 18001159 để được tư vấn</p>

<p>Ngân hàng An Bình còn nhiều gói gửi tiết kiệm khác nhau. Chi tiết xem thêm tại <a href="https://www.abbank.vn/tiet-kiem/tiet-kiem-ca-nhan" target="_blank" rel="nofollow" title="Tiết kiệm tại An Bình Bank">https://www.abbank.vn/tiet-kiem/tiet-kiem-ca-nhan</a> </p>

<p>Bảng tra cứu lãi suất An Bình Bank: <a href="https://www.abbank.vn/tin-co-dong/lai-suat" target="_blank" rel="nofollow" title="Lãi suất An Bình Bank">https://www.abbank.vn/tin-co-dong/lai-suat</a></p>

</section>
</article>
{{>aside-table}}
</div>
</div>
</main>