<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Agribank mới nhất hôm nay <small>- Cập nhật lúc 18:50:03 05/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Agribank tháng 04/2024 dao động từ 0,2% đến 4,7%/năm. Lãi suất Agribank kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 1,60%/năm, 3,00%/năm, 4,70%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 4,7%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 12 tháng, 13 tháng, 15 tháng, 18 tháng, 24 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi <span class="text-red">VND</span> dành cho khách hàng cá nhân</h2>
<table class="table table-radius table-hover">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất % / năm</th>
</tr>
</thead>
<tbody>
<tr>
<td>Không kỳ hạn</td>
<td class="text-right">0,20%</td></tr>
<tr>
<td>Tiền gửi thanh toán</td>
<td class="text-right">0,20%</td></tr>
<tr>
<td>1 tháng</td>
<td class="text-right">1,60%</td></tr>
<tr>
<td>2 tháng</td>
<td class="text-right">1,60%</td></tr>
<tr>
<td>3 tháng</td>
<td class="text-right">1,90%</td></tr>
<tr>
<td>4 tháng</td>
<td class="text-right">1,90%</td></tr>
<tr>
<td>5 tháng</td>
<td class="text-right">1,90%</td></tr>
<tr>
<td>6 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>7 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>8 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>9 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>10 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>11 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>12 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>13 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>15 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>18 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>24 tháng</td>
<td class="text-right">4,70%</td></tr>
</tbody>
</table>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi <span class="text-red">USD</span> dành cho khách hàng cá nhân</h2>
<table class="table table-radius table-hover">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất % / năm</th>
</tr>
</thead>
<tbody>
<tr>
<td>Không kỳ hạn</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>Tiền gửi thanh toán</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>1 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>2 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>3 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>4 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>5 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>6 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>7 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>8 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>9 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>10 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>11 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>12 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>13 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>15 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>18 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>24 tháng</td>
<td class="text-right">0,00%</td></tr>
</tbody>
</table>
</section>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi <span class="text-red">EUR</span> dành cho khách hàng cá nhân</h2>
<table class="table table-radius table-hover">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất % / năm</th>
</tr>
</thead>
<tbody>
<tr>
<td>Không kỳ hạn</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>1 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>2 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>3 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>4 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>5 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>6 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>7 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>8 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>9 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>10 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>11 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>12 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>13 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>15 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>18 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>24 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>Tiền gửi thanh toán</td>
<td class="text-right">0,00%</td></tr>
</tbody>
</table>
</section>
<div class="source">Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam - Agribank<br>
    https://www.agribank.com.vn/vn/lai-suat</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":865,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t Agribank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng N\u00f4ng nghi\u1ec7p v\u00e0 Ph\u00e1t tri\u1ec3n N\u00f4ng th\u00f4n Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="ce5e17ffdddd6ccb6dc6fa7376003e4f">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Agribank - Lãi gửi tiết kiệm Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam - Web giá</div>5 trên 865 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Agribank</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn Agribank</h2>
<p>Agribank cung cấp sản phẩm Tiết kiệm có kỳ hạn với đa dạng kỳ hạn gửi và hình thức lĩnh lãi cho khách hàng lựa chọn với thủ tục gửi tiền đơn giản, nhanh chóng.</p>
<h3>Tiện ích:</h3>
<p>-    Khách hàng được quyền lựa chọn kỳ hạn gửi tiền và hình thức lĩnh lãi;<br>
-    Giao dịch tại bất kỳ chi nhánh/phòng giao dịch nào của Agribank;<br>
-    Xác nhận số dư để chứng minh tài chính; sử dụng số dư để cầm cố vay vốn;<br>
-    Được chuyển quyền sở hữu khi sổ tiết kiệm chưa đến hạn thanh toán;<br>
-    Bảo hiểm theo quy định của Bảo hiểm tiền gửi; Bảo mật số dư tiền gửi;<br>
-    Được tham gia Dự thưởng theo chương trình dự thưởng của Agribank;<br>
-    Dịch vụ thông tin tài khoản qua Mobile Banking.</p>
<h3>Đặc tính sản phẩm:</h3>
<p>-    Kỳ hạn: có kỳ hạn theo tháng.<br>
-    Đồng tiền: VND, USD, EUR;<br>
-    Số tiền gửi tối thiểu: 1.000.000 VNĐ, 50 USD, 50 EUR (đối với hình thức lĩnh lãi sau toàn bộ) và 10.000 VND, 500 USD, 500 EUR (đối với hình thức lĩnh lãi trước toàn bộ/trước định kỳ/sau định kỳ);<br>
-    Gửi, rút: một lần từ TK tại quầy giao dịch, chi nhánh của Agribank;<br>
-    Lãi suất: Lãi suất cố định tương ứng với kỳ hạn gửi và hình thức lĩnh lãi;<br>
-    Trả lãi: trước/ sau toàn bộ hoặc trả theo định kỳ hàng tháng/ 3 tháng/ bội số của 3 tháng do khách hàng đăng ký;<br>
-    Gia hạn tài khoản: Theo đăng ký của khách hàng;<br>
-    Phí: Miễn phí mở tài khoản gửi tiền. Phí dịch vụ khác theo biểu phí hiện hành của Agribank.</p>
<h3>Điều kiện áp dụng</h3>
<p>- Tiền gửi VND: Cá nhân người Việt Nam và cá nhân nước ngoài đang sinh sống và hoạt động hợp pháp tại Việt Nam.<br>
-    Tiền gửi ngoại tệ: Cá nhân người cư trú tại Việt Nam.</p>
<h3>Hồ sơ thủ tục mở sổ tiết kiệm tại Agribank</h3>
<p>- CMTND/ Thẻ căn cước/ Hộ chiếu còn hiệu lực<br>
-    Giấy gửi tiền tiết kiệm</p>
<h3>Thông tin liên hệ:</h3>
<p>Nếu có thắc mắc về sản phẩm hoặc cần được hướng dẫn thêm, vui lòng liên hệ: <a href="https://www.agribank.com.vn/vn/atm-chi-nhanh" target="_blank" title="Chi nhánh/phòng giao dịch Agribank" rel="nofollow">Chi nhánh/phòng giao dịch Agribank gần nhất trên toàn quốc.</a><br>
Hotline: 1900558818
</p>
<p>Chi tiết xem thêm tại <a href="https://www.agribank.com.vn/vn/lai-suat" target="_blank" rel="nofollow">https://www.agribank.com.vn/vn/lai-suat</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>