<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Bắc Á Bank mới nhất hôm nay <small>- Cập nhật lúc 18:50:05 05/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Bắc Á tháng 04/2024 dao động từ 0,5% đến 5,1%/năm. Lãi suất Bắc Á kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 2,80%/năm, 4,20%/năm, 4,60%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 5,1%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 18 tháng, 24 tháng, 36 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->

<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;">Kỳ hạn</th>
<th colspan="3" class="text-center">Lãi suất: %/năm</th>
</tr>
<tr>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Hàng Quý</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,80%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">2,80%</td><td class="text-right">2,75%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,95%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">3,15%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,40%</td><td class="text-right">3,35%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,10%</td><td class="text-right">4,15%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,10%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">4,20%</td><td class="text-right">4,10%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,20%</td><td class="text-right">4,25%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,20%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,20%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,60%</td><td class="text-right">4,50%</td><td class="text-right">4,55%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,60%</td><td class="text-right">4,50%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,90%</td><td class="text-right">4,75%</td><td class="text-right">4,80%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">5,10%</td><td class="text-right">4,95%</td><td class="text-right">5,00%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">5,10%</td><td class="text-right">4,95%</td><td class="text-right">5,00%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">5,10%</td><td class="text-right">4,95%</td><td class="text-right">5,00%</td></tr>
</tbody>
</table>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong> </h2>
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Lãi suất: %/năm</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td>0,50%</td>
</tr>
<tr>
<td class="text-left">7 ngày</td>
<td>0,50%</td>
</tr>
<tr>
<td class="text-left">14 ngày</td>
<td>0,50%</td>
</tr>
<tr>
<td class="text-left">21 ngày</td>
<td>0,50%</td>
</tr>
<tr>
<td class="text-left">1 tháng</td>
<td>2,80%</td>
</tr>
<tr>
<td class="text-left">2 tháng</td>
<td>2,80%</td>
</tr>
<tr>
<td class="text-left">3 tháng</td>
<td>3,00%</td>
</tr>
<tr>
<td class="text-left">4 tháng</td>
<td>3,20%</td>
</tr>
<tr>
<td class="text-left">5 tháng</td>
<td>3,40%</td>
</tr>
<tr>
<td class="text-left">6 tháng</td>
<td>4,30%</td>
</tr>
<tr>
<td class="text-left">7 tháng</td>
<td>4,30%</td>
</tr>
<tr>
<td class="text-left">8 tháng</td>
<td>4,30%</td>
</tr>
<tr>
<td class="text-left">9 tháng</td>
<td>4,40%</td>
</tr>
<tr>
<td class="text-left">10 tháng</td>
<td>4,40%</td>
</tr>
<tr>
<td class="text-left">11 tháng</td>
<td>4,40%</td>
</tr>
<tr>
<td class="text-left">12 tháng</td>
<td>4,70%</td>
</tr>
<tr>
<td class="text-left">13 tháng</td>
<td>4,70%</td>
</tr>
<tr>
<td class="text-left">15 tháng</td>
<td>5,00%</td>
</tr>
<tr>
<td class="text-left">18 tháng</td>
<td>5,20%</td>
</tr>
<tr>
<td class="text-left">24 tháng</td>
<td>5,20%</td>
</tr>
<tr>
<td class="text-left">36 tháng</td>
<td>5,20%</td>
</tr>
</tbody>
</table>
<p><strong class="text-red">Ghi chú:</strong> Khách hàng rút trước hạn hưởng lãi suất không kỳ hạn.</p>
</section>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi USD dành cho khách hàng cá nhân</h2>
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Lãi suất cuối kỳ</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">7 ngày</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">14 ngày</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">21 ngày</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">1 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">2 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">3 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">4 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">5 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">6 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">7 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">8 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">9 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">10 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">11 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">12 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">13 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">15 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">18 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">24 tháng</td>
<td>0%</td>
</tr>
<tr>
<td class="text-left">36 tháng</td>
<td>0%</td>
</tr>
</tbody>
</table>
</section>
<div class="source">Ngân hàng Thương mại cổ phần Bắc Á<br>https://www.baca-bank.vn/SitePages/website/lai-xuat.aspx?ac=L%C3%A3i%20su%E1%BA%A5t&amp;s=LX</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":865,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t B\u1eafc \u00c1 Bank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng TMCP B\u1eafc \u00c1 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="1bc3f5adcfc0a6ab51b299598b02a487">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Bắc Á Bank - Lãi gửi tiết kiệm Ngân hàng TMCP Bắc Á - Web giá</div>5 trên 865 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Bắc Á</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn Bắc Á Bank dành cho khách hàng cá nhân</h2>
<p>Là một giải pháp tài chính tối ưu nhất cho những khoản tiền nhàn rỗi của khách hàng với lãi suất ưu đãi nhất và phương thức giao dịch tối ưu nhất.</p>

<h3>Đặc điểm sản phẩm</h3>
<ul>
<li>Hưởng lãi suất có kỳ hạn được BAC A BANK niêm yết tại thời điểm gửi tiền.</li>
<li>Khách hàng có thể gửi và rút tiền tại bất kỳ Đơn vị kinh doanh nào của BAC A BANK trên phạm vi toàn quốc.</li>
<li>Hình thức trả lãi: Khách hàng có thể chọn hình thức lĩnh lãi hàng tháng, hàng quý hoặc cuối kỳ.</li>
<li>Có các hình thức cầm cố, thế chấp Sổ Tiết kiệm để vay vốn tại BAC A BANK với lãi suất ưu đãi.</li>
<li>Kỳ hạn: Theo các kỳ hạn niêm yết của BAC A BANK.</li>
<li>Loại tiền tiết kiệm: VND, USD</li>
</ul>

<h3>Cách đăng ký mở tiết kiệm ngân hàng Bắc Á</h3>
<ul>
<li>Khách hàng lựa chọn loại kỳ hạn tiết kiệm, hình thức lĩnh lãi và điền vào giấy gửi tiền tiết kiệm và xuất trình CMT/hộ chiếu.</li>
<li>Sau khi hoàn thành các thủ tục, BAC A BANK sẽ cấp Sổ Tiết kiệm cho khách hàng</li>
</ul>

<h2>Các gói tiết kiệm khác tại ngân hàng Bắc Á</h2>
<p>BAC A BANK đưa ra các giải pháp tài chính tối ưu nhất cho những khoản tiền nhàn rỗi của khách hàng bằng các sản phẩm tiết kiệm với lãi suất ưu đãi nhất và phương thức giao dịch linh hoạt nhất.</p>
<ul>
<li>Tiết kiệm cao tuổi</li>
<li>Tiết kiệm sinh lời mỗi ngày</li>
<li>Tiền gửi trực tuyến</li>
<li>Người xây tổ ấm</li>
</ul>
<p>Chi tiết xem thêm tại <a href="https://www.baca-bank.vn/SitePages/website/loai-san-pham.aspx?lspid=145" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm Bắc Á Bank">https://www.baca-bank.vn/SitePages/website/loai-san-pham.aspx?lspid=145</a> </p>

<h2>Liên hệ Bắc Á Bank</h2>
<p>Nếu có thắc mắc hoặc cần được hướng dẫn thêm, Quý khách vui lòng liên hệ: <a href="https://www.baca-bank.vn/SitePages/website/mang-luoi.aspx" target="_blank" rel="nofollow" title="Chi nhánh/PGD Bắc Á Bank trên toàn quốc">Chi nhánh/PGD Bắc Á Bank trên toàn quốc</a>. Hoặc Hotline: 1800588828</p>

<p>Bảng tra cứu lãi suất Bắc Á Bank: <a href="https://www.baca-bank.vn/SitePages/website/lai-xuat.aspx?ac=L%C3%A3i%20su%E1%BA%A5t&amp;s=LX" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm Bắc Á Bank">https://www.baca-bank.vn/SitePages/website/lai-xuat.aspx?ac=L%C3%A3i%20su%E1%BA%A5t&amp;s=LX</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>