<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm BIDV mới nhất hôm nay <small>- Cập nhật lúc 18:50:03 05/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại BIDV tháng 04/2024 dao động từ 0,1% đến 4,7%/năm. Lãi suất BIDV kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 1,70%/năm, 3,00%/năm, 4,70%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 4,7%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 12 tháng, 13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân</h2>
<div class="table-responsive">
<table class="table table-radius table-hover">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất</th>
</tr>
</thead>
<tbody>
<tr>
<td>Không kỳ hạn</td>
<td class="text-right">0,10%</td></tr>
<tr>
<td>1 tháng</td>
<td class="text-right">1,70%</td></tr>
<tr>
<td>2 tháng</td>
<td class="text-right">1,70%</td></tr>
<tr>
<td>3 tháng</td>
<td class="text-right">2,00%</td></tr>
<tr>
<td>5 tháng</td>
<td class="text-right">2,00%</td></tr>
<tr>
<td>6 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>9 tháng</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td>12 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>13 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>15 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>18 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>24 tháng</td>
<td class="text-right">4,70%</td></tr>
<tr>
<td>36 tháng</td>
<td class="text-right">4,70%</td></tr>
</tbody>
</table>
</div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi USD dành cho khách hàng cá nhân</h2>
<div class="table-responsive">
<table class="table table-radius table-hover">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất</th>
</tr>
</thead>
<tbody>
<tr>
<td>Không kỳ hạn</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>1 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>2 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>3 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>5 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>6 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>9 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>12 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>13 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>15 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>18 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>24 tháng</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td>36 tháng</td>
<td class="text-right">0,00%</td></tr>
</tbody>
</table>
</div>
</section>

<div class="source">Ngân hàng Ngân hàng Đầu tư và Phát triển Việt Nam - BIDV<br>
    https://www.bidv.com.vn/vn/tra-cuu-lai-suat</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t BIDV - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng \u0110\u1ea7u t\u01b0 v\u00e0 Ph\u00e1t tri\u1ec3n Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="f83cacc7cd83d3514faa3018e8efab3a">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất BIDV - Lãi gửi tiết kiệm Ngân hàng Đầu tư và Phát triển Việt Nam - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm BIDV</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn BIDV dành cho khách hàng cá nhân</h2>
<p>Là khoản tiền của khách hàng cá nhân được gửi có kỳ hạn, được xác nhận trên Thẻ tiết kiệm, được hưởng lãi có kỳ hạn hấp dẫn.</p>

<h3>Đặc điểm sản phẩm:</h3>
<p>
- Đối tượng khách hàng:<br>
&nbsp;&nbsp;&nbsp;+ Tiết kiệm VND: Cá nhân Việt Nam và cá nhân nước ngoài<br>
&nbsp;&nbsp;&nbsp;+ Tiết kiệm bằng ngoại tệ: Cá nhân người Việt nam cư trú<br>
- Loại tiền gửi: VND,USD, EUR, JPY<br>
- Số dư tối thiểu: 500.000VND, 100 USD, 100 EUR,1.000.000 JPY<br>
- Kỳ hạn: từ 1 tuần đến 60 tháng<br>
- Phương thức trả lãi: Trả lãi cuối kỳ, trả lãi trước, trả lãi định kỳ hàng tháng, hàng quý<br>
- Lãi suất huy động: Có kỳ hạn cố định trong kỳ gửi (tham khảo biểu lãi suất)<br>
Quay vòng tiền gửi tiết kiệm: Tài khoản tự động quay vòng với lãi suất xác định tại ngày đến hạn đối với hình thức trả lãi cuối kỳ, trả lãi định kỳ.</p>

<h3>Lợi ích sản phẩm:</h3>
<p>- Cầm cố Thẻ tiết kiệm để vay vốn tại BIDV<br>
- Xác nhận khả năng tài chính cho các nhu cầu du lịch, học tập… ở nước ngoài<br>
- Được tất toán trước hạn toàn bộ khi có nhu cầu.<br>
- Được sử dụng tài khoản tiền gửi tiết kiệm có kỳ hạn để thanh toán tiền vay hoặc chuyển khoản sang tài khoản tại BIDV của chính chủ sở hữu hoặc đồng sở hữu<br>
- Được giao dịch tại tất cả các chi nhánh/ PGD của BIDV<br>
- Được chuyển quyền sở hữu Thẻ tiết kiệm khi có nhu cầu<br>
- Đa dạng phương thức nhận lãi:<br>
- Lãi nhập gốc cuối kỳ<br>
- Rút lãi bằng tiền mặt tại quầy giao dịch<br>
- Lãi tự động chuyển vào tài khoản tiền gửi thanh toán (thẻ ATM) của Chủ tài khoản.</p>

<h3>Hồ sơ đăng ký</h3>
<p>- Pháp lý khách hàng: CMND/thẻ căn cước công dân/ CMSQQĐND/Hộ chiếu còn hiệu lực<br>
- Giấy yêu cầu gửi tiền có kỳ hạn<br>
- Quý khách hàng có thể <a href="https://www.bidv.com.vn/vn/ca-nhan/san-pham-dich-vu/tien-gui/tien-gui-co-ky-han/" title="Đăng ký sử dụng sản phẩm tại đây" target="_blank" rel="nofollow">Đăng ký sử dụng sản phẩm tại đây.</a></p>

<h3>Mọi chi tiết của sản phẩm xin liên hệ:</h3>
<p>Nếu có thắc mắc về sản phẩm hoặc cần được hướng dẫn thêm, vui lòng liên hệ:<br>
Hotline: 19009247<br>
Điện thoại: (+84)24 22200588<br>
Fax: (+84-24)22200399
</p>

<h2>Thủ tục thực hiện một số giao dịch tại quầy khi Giao dịch gửi tiền – rút tiền </h2>
<h3>Địa điểm giao dịch</h3>
<p>Khách hàng đến trực tiếp bất kỳ chi nhánh nào BIDV để thực hiện giao dịch gửi – rút tiền (trừ trường hợp BIDV quy định khác tại từng sản phẩm).</p>
<h3>Hồ sơ giao dịch</h3>
<p>
- Giấy đề nghị gửi – rút tiền theo mẫu của BIDV<br>
- Bảng kê thu tiền mặt (nếu giao dịch tiền mặt).<br>
- Bản gốc Giấy tờ tùy thân (GTTT) còn hiệu lực.<br>
- Bản gốc chứng nhận tiền gửi (CNTG) nếu giao dịch rút tiền gửi có kỳ hạn.<br>
- Các giấy tờ liên quan khác (như văn bản ủy quyền trong giao dịch lần đầu).
</p>
<h3>Thủ tục giao dịch</h3>
<p>
- Khách hàng lập 1 liên Giấy đề nghị, ký chữ ký theo mẫu chữ ký đã đăng ký giao dịch tại ngân hàng và cung cấp hồ sơ cho cán bộ ngân hàng.<br>
- Căn cứ hồ sơ hợp lệ của khách hàng, bộ phận giao dịch thực hiện theo yêu cầu của khách hàng.<br>
- Sau khi giao dịch được hoàn tất, khách hàng nhận liên 2 chứng từ giao dịch, bảng kê chi tiền mặt (nếu giao dịch tiền mặt) và CNTG (đối với giao dịch gửi và rút từng phần tiền gửi có kỳ hạn). Khách hàng kiểm tra các thông tin trên chứng từ, trên CNTG so với nội dung đã yêu cầu. </p>
<p>Chi tiết xem thêm tại <a href="https://www.bidv.com.vn/vn/ca-nhan/san-pham-dich-vu/tien-gui/tien-gui-co-ky-han/" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm BIDV">https://www.bidv.com.vn/vn/ca-nhan/san-pham-dich-vu/tien-gui/tien-gui-co-ky-han/</a> </p>
<p>Bảng tra cứu lãi suất BIDV: <a href="https://www.bidv.com.vn/vn/tra-cuu-lai-suat" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm BIDV">https://www.bidv.com.vn/vn/tra-cuu-lai-suat</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>