<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm CBBank mới nhất hôm nay <small>- Cập nhật lúc 14:30:04 22/03/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại CBBank tháng 04/2024 dao động từ 0,5% đến 4,3%/năm. Lãi suất CBBank kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 3,00%/năm, 3,90%/năm, 4,05%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 4,3%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng, 48 tháng, 60 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Trả trước</th>
</tr></thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2,99%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">2,99%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">3,18%</td><td class="text-right">-</td><td class="text-right">3,17%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">3,18%</td><td class="text-right">-</td><td class="text-right">3,16%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,20%</td><td class="text-right">3,18%</td><td class="text-right">-</td><td class="text-right">3,15%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,90%</td><td class="text-right">3,87%</td><td class="text-right">3,88%</td><td class="text-right">3,83%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,80%</td><td class="text-right">-</td><td class="text-right">3,76%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,80%</td><td class="text-right">-</td><td class="text-right">3,74%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,79%</td><td class="text-right">3,80%</td><td class="text-right">3,73%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,79%</td><td class="text-right">-</td><td class="text-right">3,72%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,78%</td><td class="text-right">-</td><td class="text-right">3,71%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,05%</td><td class="text-right">3,97%</td><td class="text-right">3,98%</td><td class="text-right">3,89%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,21%</td><td class="text-right">-</td><td class="text-right">4,11%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,19%</td><td class="text-right">4,21%</td><td class="text-right">4,08%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,17%</td><td class="text-right">4,19%</td><td class="text-right">4,04%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,13%</td><td class="text-right">4,14%</td><td class="text-right">3,96%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,05%</td><td class="text-right">4,06%</td><td class="text-right">3,81%</td></tr>
<tr>
<td class="text-left">48 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">3,97%</td><td class="text-right">3,98%</td><td class="text-right">3,67%</td></tr>
<tr>
<td class="text-left">60 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">3,90%</td><td class="text-right">3,91%</td><td class="text-right">3,54%</td></tr>
</tbody>
</table>
</div>
</section>

<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong> </h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Cuối Kỳ</th>
</tr>
</thead>
<tbody>
<tr><td class="text-left">1 tháng</td><td class="text-right">3,10%</td></tr>
<tr><td class="text-left">2 tháng</td><td class="text-right">3,10%</td></tr>
<tr><td class="text-left">3 tháng</td><td class="text-right">3,30%</td></tr>
<tr><td class="text-left">4 tháng</td><td class="text-right">3,30%</td></tr>
<tr><td class="text-left">5 tháng</td><td class="text-right">3,30%</td></tr>
<tr><td class="text-left">6 tháng</td><td class="text-right">4,00%</td></tr>
<tr><td class="text-left">7 tháng</td><td class="text-right">3,95%</td></tr>
<tr><td class="text-left">8 tháng</td><td class="text-right">3,95%</td></tr>
<tr><td class="text-left">9 tháng</td><td class="text-right">3,95%</td></tr>
<tr><td class="text-left">10 tháng</td><td class="text-right">3,95%</td></tr>
<tr><td class="text-left">11 tháng</td><td class="text-right">3,95%</td></tr>
<tr><td class="text-left">12 tháng</td><td class="text-right">4,15%</td></tr>
<tr><td class="text-left">13 tháng</td><td class="text-right">4,40%</td></tr>
</tbody>
</table>
</div>
</section>
<div class="source">Ngân hàng Thương mại TNHH MTV Xây dựng Việt Nam - CBBank<br>
https://www.cbbank.vn/Pages/InterestRate.aspx</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t CBBank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng Th\u01b0\u01a1ng m\u1ea1i TNHH MTV X\u00e2y d\u1ef1ng Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="283afe3507f2e29581bbffc7527ab2e5">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất CBBank - Lãi gửi tiết kiệm Ngân hàng Thương mại TNHH MTV Xây dựng Việt Nam - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm CBBank</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn CBBank dành cho khách hàng cá nhân</h2>
<h3>Tiện ích sản phẩm</h3>
<ul>
    <li>Đảm bảo vay vốn, mở thẻ tín dụng hay bảo lãnh cho người thứ ba vay vốn tại Ngân hàng Xây dựng.</li>
<li>Dùng để xác nhận khả năng tài chính cho quý khách hoặc thân nhân đi du lịch, học tập, … ở nước ngoài.</li>
<li>Với hệ thống giao dịch trực tuyến, quý khách có thể giao dịch tại bất kỳ chi nhánh nào trong hệ thống Ngân hàng Xây dựng.</li>
<li>Là cơ sở để được xét cấp hạn mức thấu chi.</li>
<li>Dịch vụ hỗ trợ: Kiểm tra số dư tài khoản với SMS Banking,…</li>
</ul>

<h3>Đặc tính sản phẩm</h3>
<p>Đối tượng: Cá nhân người Việt Nam; Cá nhân người nước ngoài (cư trú, không cư trú).</p>
<p>Kỳ hạn gửi: 1 tuần – 36 tháng (Kỳ hạn gửi tiền thay đổi theo quy định của Ngân hàng Xây dựng từng thời kỳ).</p>
<p>Loại tiền gửi: VND.</p>
<p>Số tiền gửi tối thiểu ban đầu: 200.000 đồng (Số tiền gửi tối thiểu ban đầu thay đổi theo quy định của Ngân hàng Xây dựng từng thời kỳ).</p>

<h3>Hồ sơ đăng ký</h3>
<p>Phiếu gửi tiền tiết kiệm</p>
<p>Giấy tờ tùy thân:</p>
<ul>
<li>Người Việt Nam: CMND/Hộ chiếu (bản sao có công chứng hoặc bản chính để đối chiếu).</li>
<li>Người nước ngoài: Hộ chiếu/Thị thực nhập cảnh còn hiệu lực (bản chính để đối chiếu).</li>
</ul>
<p>Các giấy tờ khác theo yêu cầu của Ngân hàng Xây dựng.</p>


<h2>Liên hệ CBBank</h2>
<p>Nếu có thắc mắc hoặc cần được hướng dẫn thêm, Quý khách vui lòng liên hệ: <a href="https://www.cbbank.vn/Pages/OperationNetwork.aspx" target="_blank" rel="nofollow" title="Chi nhánh/PGD CBBank trên toàn quốc">Chi nhánh/PGD CBBank trên toàn quốc</a>. Hoặc Hotline: 19001816</p>

<p>Bảng tra cứu lãi suất CBBank: <a href="https://www.cbbank.vn/Pages/InterestRate.aspx" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm CBBank">https://www.cbbank.vn/Pages/InterestRate.aspx</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>