<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Đông Á mới nhất hôm nay <small>- Cập nhật lúc 17:00:25 12/12/2023</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Đông Á tháng 04/2024 dao động từ 0,5% đến 5,8%/năm. Lãi suất Đông Á kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 3,90%/năm, 4,90%/năm, 5,40%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 5,8%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 13 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân</h2>
<p>Lãi suất: %/năm (Một năm 365 ngày)</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="3" class="text-center">Lãi suất</th>
</tr>
<tr>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Cuối Kỳ</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">3,90%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,89%</td><td class="text-right">-</td><td class="text-right">3,90%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,89%</td><td class="text-right">-</td><td class="text-right">3,90%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,88%</td><td class="text-right">-</td><td class="text-right">3,90%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,87%</td><td class="text-right">-</td><td class="text-right">3,90%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">4,85%</td><td class="text-right">4,87%</td><td class="text-right">4,90%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">4,84%</td><td class="text-right">-</td><td class="text-right">4,90%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">4,83%</td><td class="text-right">-</td><td class="text-right">4,90%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">5,02%</td><td class="text-right">5,04%</td><td class="text-right">5,10%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">5,01%</td><td class="text-right">-</td><td class="text-right">5,10%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">4,99%</td><td class="text-right">-</td><td class="text-right">5,10%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">5,27%</td><td class="text-right">5,29%</td><td class="text-right">5,40%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">5,64%</td><td class="text-right">-</td><td class="text-right">5,80%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">5,39%</td><td class="text-right">5,41%</td><td class="text-right">5,60%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">5,32%</td><td class="text-right">5,34%</td><td class="text-right">5,60%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">5,19%</td><td class="text-right">5,21%</td><td class="text-right">5,60%</td></tr>
</tbody>
</table>
</div>
</section>

<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi Ngoại tệ (USD, EUR, CAD, AUD, GBP) dành cho khách hàng cá nhân</h2>
<p>Lãi suất: %/năm (Một năm 365 ngày)</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="5" class="text-center">Lãi suất cuối kỳ</th>
</tr>
<tr>
<th class="text-center">USD</th>
<th class="text-center">EUR</th>
<th class="text-center">CAD</th>
<th class="text-center">AUD</th>
<th class="text-center">GBP</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td><td class="text-right">0,10%</td></tr>
</tbody>
</table>
</div>
<p>Mọi thông tin chi tiết về lãi suất, Quý khách vui lòng liên hệ Chi nhánh Ngân hàng TMCP Đông Á gần nhất hoặc Trung tâm Dịch vụ khách hàng 1900545464. Hoặc xem tại đây: http://www.dongabank.com.vn/interest</p>
</section>
<div class="source">Ngân hàng thương mại cổ phần Đông Á - DongA Bank<br>
    http://www.dongabank.com.vn/interest</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.7","ratingCount":868,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t \u0110\u00f4ng \u00c1 - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng DongA Bank - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="c44bd9e40077387296d81c16a30b608a">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:94%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Đông Á - Lãi gửi tiết kiệm Ngân hàng DongA Bank - Web giá</div>4.7 trên 868 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Đông Á</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn VND tại Đông Á Bank</h2>
<p>Tiền vẫn sinh lời ngay cả khi bạn đang nghỉ ngơi</p>
<h3>1. Giới thiệu</h3>
<p>Với các mức kỳ hạn đa dạng và linh hoạt, lãi suất thật cạnh tranh, dịch vụ <strong><em>Tiết kiệm có kỳ hạn</em></strong>&nbsp;của DongA Bank đem đến cho bạn những nguồn thu nhập hấp dẫn vượt hơn cả sự mong đợi. </p>
<h3>2. Tính năng</h3>
<ul>
<li>Quản lý và bảo mật tài sản bằng VND của Khách hàng. </li>
<li>Tiết kiệm và sinh lợi với lãi suất hấp dẫn.</li>
</ul>
<h3>3. Tiện ích</h3>
<ul>
<li>Xác nhận khả năng tài chính cho Quý khách hoặc thân nhân đi du lịch, học tập,... ở nước ngoài. </li>
<li>Sử dụng sổ tiết kiệm để thực hiện các giao dịch khác như:
<ul>
<li>Đảm bảo cho các khoản vay, bảo lãnh, thấu chi thẻ tại DongA Bank. </li>
<li>Nhận tiền chuyển khoản (trong và ngoài nước) </li>
<li>Có thể nhận lãi qua Thẻ Đa năng Đông Á.</li>
</ul></li>
<li>Tra cứu số dư tài khoản qua Internet Banking. </li>
<li>Có thể ủy quyền cho người khác nhận tiền thay hoặc gửi hộ tiền vào sổ tiết kiệm đã mở (áp dụng từ lần gửi thứ hai trở đi). </li>
<li>Mở sổ tiết kiệm đồng sở hữu: sổ tiết kiệm đứng tên từ 02 cá nhân bất kỳ trở lên. </li>
<li>Gửi tiền một nơi, giao dịch nhiều nơi.</li>
</ul>
<h3>4. Biểu phí &amp; lãi suất</h3>
<p>Áp dụng <a href="http://www.dongabank.com.vn/service/1447/bieu-phi-tien-gui-tiet-kiem" target="_blank" title="Biểu phí Đông Á Bank">biểu phí</a> và <a href="http://www.dongabank.com.vn/interest/54" target="_blank" title="Lãi suất Đông Á Bank">biểu lãi suất</a> hiện hành của DongA Bank.</p>

<h3>5. Đối tượng khách hàng</h3>
<p>Công dân Việt Nam, Việt kiều hoặc người nước ngoài từ 18 tuổi trở lên, có thời gian cư trú tại Việt Nam từ 12 tháng trở lên, có đủ năng lực pháp luật năng lực hành vi dân sự các cá nhân khác theo quy định của DongA Bank.</p>
<h3>6. Đặc điểm sản phẩm</h3>
<ul>
<li>Loại tiền gửi: VNĐ </li>
<li>Kỳ hạn gửi: 01, 02, 03 tuần; 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 18, 24 và 36 tháng </li>
<li>Lãi suất không thay đổi trong suốt kỳ hạn gửi </li>
<li>Hình thức lĩnh lãi: Hàng tháng/ hàng quý/ cuối kỳ </li>
<li>Số dư tối thiểu duy trì tài khoản: 200.000 đồng </li>
<li>Quy định về rút trước hạn: Theo quy định hiện hành của DongA Bank<br></li>
<ul>
<li>Khách hàng có nhu cầu rút vốn trước hạn (kể cả rút một phần vốn/lãi
đã nhập vốn), toàn bộ số tiền gửi của khách hàng sẽ được hưởng theo lãi
suất không kỳ hạn thấp nhất tại thời điểm rút.</li>
<li><i>Với tiết kiệm có kỳ hạn lãnh lãi tháng:</i> phần chênh lệch giữa số tiền lãi khách hàng thực sự được hưởng vào thời điểm rút và số tiền lãi khách hàng đã lãnh hàng tháng trước đó sẽ được thu hồi lại bằng cách trừ vào vốn gốc.</li>
</ul>
<li>Quy định khác: </li>
<ul>
<li>Đối với loại tiết kiệm lãnh lãi hàng tháng, nếu khách hàng không đến nhận lãi hàng tháng thì số tiền lãi sẽ được treo cho đến khi đáo hạn. </li>
<li>Đến ngày đáo hạn, nếu khách hàng không đến nhận lãi thì tiền lãi sẽ được nhập vào vốn gốc và được chuyển tiếp như kỳ hạn đã đăng ký với lãi suất hiện hành. Nếu tại thời điểm đáo hạn, Ngân hàng không huy động loại kỳ hạn như khách hàng đã đăng ký thì toàn bộ số tiền vốn và lãi sẽ được hưởng lãi suất của kỳ hạn liền kề trước kỳ hạn đã đăng ký.</li>
</ul>
</ul>
<h3>7. Thủ tục đăng ký </h3>
<p>Điền thông tin vào “Giấy gửi tiết kiệm/ Giấy tờ có giá” (theo mẫu DongA Bank), kèm giấy tờ tùy thân (CMND, Passport).</p>
<h3>8. Liên hệ</h3>
<p>Nếu có thắc mắc hoặc cần được hướng dẫn thêm, Quý khách vui
lòng liên hệ: <a href="http://www.dongabank.com.vn/mang-luoi" title="Sở giao dịch, Chi nhánh, Phòng giao dịch của DongA Bank">Sở giao dịch/ Chi nhánh/ Phòng giao dịch của DongA Bank</a> gần nhất hoặc <a href="http://www.dongabank.com.vn/service/175" title="Trung tâm Dịch vụ khách hàng Đông Á Bank">Trung tâm Dịch vụ khách hàng</a><br>
&nbsp;&nbsp; Hotline: 1900545464<br>
&nbsp;&nbsp; Email: 1900545464@dongabank.com.vn</p>
<p>Chi tiết xem thêm tại <a href="http://www.dongabank.com.vn/service/93/tiet-kiem-co-ky-han-vnd" target="_blank" rel="nofollow" title="Tiết kiệm có kỳ hạn VND tại Đông Á Bank">http://www.dongabank.com.vn/service/93/tiet-kiem-co-ky-han-vnd</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>