<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm GPBank mới nhất hôm nay <small>- Cập nhật lúc 10:40:07 27/03/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Dầu Khí Toàn Cầu (GPBank) tháng 04/2024 dao động từ 0,5% đến 4,5%/năm. Lãi suất Dầu Khí Toàn Cầu (GPBank) kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 2,30%/năm, 3,70%/năm, 4,40%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 4,5%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="6" class="text-center">Lãi suất: %/năm</th>
</tr>
<tr>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Lãi trả trước</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Hàng 6 tháng</th>
<th class="text-center">Hàng Năm</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,30%</td><td class="text-right">2,30%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">2,80%</td><td class="text-right">2,79%</td><td class="text-right">2,80%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">2,82%</td><td class="text-right">2,80%</td><td class="text-right">2,81%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">2,84%</td><td class="text-right">2,81%</td><td class="text-right">2,83%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">2,85%</td><td class="text-right">2,82%</td><td class="text-right">2,84%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,70%</td><td class="text-right">3,63%</td><td class="text-right">3,67%</td><td class="text-right">3,68%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">3,80%</td><td class="text-right">3,72%</td><td class="text-right">3,76%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">3,85%</td><td class="text-right">3,75%</td><td class="text-right">3,81%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,95%</td><td class="text-right">3,84%</td><td class="text-right">3,90%</td><td class="text-right">3,91%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,40%</td><td class="text-right">4,21%</td><td class="text-right">4,31%</td><td class="text-right">4,33%</td><td class="text-right">4,35%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">4,29%</td><td class="text-right">4,40%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">4,26%</td><td class="text-right">4,39%</td><td class="text-right">4,40%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">4,22%</td><td class="text-right">4,36%</td><td class="text-right">4,38%</td><td class="text-right">4,40%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">4,13%</td><td class="text-right">4,32%</td><td class="text-right">4,33%</td><td class="text-right">4,36%</td><td class="text-right">4,41%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">3,96%</td><td class="text-right">4,23%</td><td class="text-right">4,24%</td><td class="text-right">4,27%</td><td class="text-right">4,31%</td></tr>
</tbody>
</table>
</div>
</section>

<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong> </h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Lãi cuối kỳ</th>
</tr></thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,50%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,30%</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">2,80%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">2,82%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">2,84%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">2,85%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,95%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">4,05%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">4,10%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">4,20%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,65%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,75%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,75%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,75%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,75%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,75%</td></tr>
</tbody>
</table>
</div>
</section>
<div class="source">Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu - GPBank.<br>https://www.gpbank.com.vn/InterestDetail</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t GPBank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng TM TNHH MTV D\u1ea7u Kh\u00ed To\u00e0n C\u1ea7u - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="80ff23b47b23d772118ce73896bbbd46">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất GPBank - Lãi gửi tiết kiệm Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm GPBank</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn tại ngân hàng GPBank</h2>
<p>Là sản phẩm tiền gửi tiết kiệm/tiền gửi có kỳ hạn, gốc và lãi của khoản tiền gửi được trả vào thời điểm kết thúc kỳ hạn gửi tiền của Khách hàng.</p>
<h3>Tiện ích</h3>
<ul>
    <li>Tiết kiệm an toàn và sinh lời với lãi suất hấp dẫn.</li>
    <li>Linh hoạt kỳ hạn gửi và hình thức nhận lãi.</li>
    <li>Thủ tục gửi tiền đơn giản, nhanh chóng.</li>
    <li>Được rút trước hạn toàn bộ số tiền gốc đã gửi.</li>
    <li>Gửi 1 nơi nhưng có thể rút tại bất kỳ PGD nào của GPBank trên toàn hệ thống.</li>
    <li>Sử dụng cầm cố Thẻ tiết kiệm/Hợp đồng tiền gửi có kỳ hạn để vay vốn hoặc chuyển quyền Thẻ tiết kiệm/Hợp đồng tiền gửi.</li>
    <li>Xác nhận khả năng tài chính đi học tập, du lịch,….ở nước ngoài.</li>
    <li>Dễ dàng tra cứu số dư &nbsp;khoản tiền gửi thông qua GP.mPlus và GP.IB.</li>
    <li>Được bảo hiểm tại Bảo hiểm tiền gửi Việt Nam.</li>
</ul>
<h3>Đặc tính sản phẩm</h3>
<ul>
    <li>Đối tượng: Khách hàng cá nhân.</li>
    <li>Kỳ hạn: Linh hoạt từ dưới 1 tuần &nbsp;đến 36 tháng.</li>
    <li>Loại tiền gửi: VND, USD.</li>
    <li>Mức gửi tối thiểu: 1.000.000VND/100 USD.</li>
    <li>Phương thức gửi tiền: Thẻ tiết kiệm (áp dụng cho Khách hàng là công dân Việt Nam)/Hợp đồng tiền gửi có kỳ hạn.</li>
    <li>Lãi suất: Cố định trong suốt thời gian gửi.</li>
    <li>Rút trước hạn: Toàn bộ số tiền gửi.</li>
</ul>
<h3>Thủ tục đăng ký đơn giản:</h3>
<ul>
    <li><strong>Gửi tiền: </strong>Khách hàng xuất trình: CMND/CCCD/Hộ chiếu và đăng ký mẫu chữ ký với GPBank.</li>
    <li><strong>Rút tiền: </strong>Khách hàng cần mang theo: Thẻ tiết kiệm/Hợp đồng tiền gửi, CMND/CCCD/Hộ chiếu và ký đúng mẫu chữ ký đã đăng ký với GPBank.</li>
</ul>

<h3>Liên hệ ngân hàng GPBank</h3>

<p>Thông tin về chính sách sản phẩm, dịch vụ chỉ mang tính chất tham khảo và có thể thay đổi trong từng thời kỳ. Vui lòng liên hệ <a href="https://www.gpbank.com.vn/Network" title="Điểm giao dịch GPBank gần nhất" target="_blank">điểm giao dịch GPBank gần nhất</a> hoặc Hotline 1800 5858 66 / (024) 3514 9094 để được tư vấn</p>

<p>Ngân hàng GPBank còn nhiều gói gửi tiết kiệm khác nhau. Chi tiết xem thêm tại <a href="https://www.gpbank.com.vn/Personal" target="_blank" rel="nofollow" title="Tiết kiệm tại GPBank">https://www.gpbank.com.vn/Personal</a> </p>

<p>Bảng tra cứu lãi suất GPBank: <a href="https://www.gpbank.com.vn/InterestDetail" target="_blank" rel="nofollow" title="Lãi suất GPBank">https://www.gpbank.com.vn/InterestDetail</a></p>

</section>





</article>
{{>aside-table}}
</div>
</div>
</main>