<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Hong Leong Bank mới nhất hôm nay <small>- Cập nhật lúc 18:50:06 05/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Hong Leong tháng 04/2024 dao động từ 2,3% đến 3,6%/năm. Lãi suất Hong Leong kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 2,30%/năm, 3,40%/năm, 3,60%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 3,6%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 12 tháng, 13 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Cuối Kỳ</th>
<th class="text-right">Hàng Tháng</th>
</tr></thead>
<tbody>
<tr>
<td class="text-left"> ngày</td>
<td class="text-right">0,00%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,30%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">2,70%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,40%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,40%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">2,50%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">2,50%</td><td class="text-right">-</td></tr>
</tbody>
</table>
</div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong> </h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover mw500">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi cuối kỳ</th>
</tr></thead>
<tbody>
<tr>
<td class="text-left"> ngày</td>
<td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,60%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">2,90%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">3,70%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">3,70%</td></tr>
</tbody>
</table>
</div>
</section>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi Ngoại tệ (USD, EUR, GBP, SGD, AUD, JPY) dành cho khách hàng cá nhân</h2>
<div class="table-responsive">
<table class="table table-radius table-hover mw500">
<thead>
<tr>
<th rowspan="2" style="vertical-align:middle">Kỳ hạn</th>
<th colspan="6" class="text-center">Lãi suất cuối kỳ</th>
</tr>
<tr>
<th class="text-center">USD</th>
<th class="text-center">EUR</th>
<th class="text-center">GBP</th>
<th class="text-center">SGD</th>
<th class="text-center">AUD</th>
<th class="text-center">JPY</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left"> ngày</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,70%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,01%</td><td class="text-right">0,02%</td><td class="text-right">1,00%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,01%</td><td class="text-right">0,05%</td><td class="text-right">1,30%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,02%</td><td class="text-right">0,10%</td><td class="text-right">1,30%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,02%</td><td class="text-right">0,20%</td><td class="text-right">1,30%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">0,00%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
</tbody>
</table>
</div>
</section>
<div class="source">Ngân hàng Hong Leong Việt Nam - Hong Leong Bank<br>https://www.hlbank.com.vn/vi/help-and-support/interest-rates/fixed-deposits.html</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.2","ratingCount":859,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t Hong Leong Bank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng Hong Leong Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="2e4e9ddd11bc066799c300d80bee015d">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:84%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Hong Leong Bank - Lãi gửi tiết kiệm Ngân hàng Hong Leong Việt Nam - Web giá</div>4.2 trên 859 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Hong Leong</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn Hong Leong Bank</h2>
<p>Ngân hàng Hong Leong mang đến cho khách hàng các gói tiết kiệm có kỳ hạn gửi tiền đa dạng, từ 1 tuần đến 36 tháng. Đặc biệt, Hong Leong Bank chấp nhận nhiều loại tiền tệ như VND, USD, EUR, GBP…với lãi suất gửi ngân hàng rất hấp dẫn sẽ mang đến cho Quý khách hàng lợi ích cao nhất và có nhiều sự lựa chọn phù hợp với nhu cầu.</p>

<h3>Lưu ý và một số câu hỏi thường gặp</h3>
<p>1) Lãi suất tính trên cơ sở 365 ngày.</p>
<p>2) Lãi suất trên chỉ có tính chất tham khảo và có thể thay đổi mà không cần thông báo trước.</p>
<p>3) Tùy thuộc vào thỏa thuận giữa Khách hàng và Hong Leong Bank Việt Nam, Hong Leong Bank Việt Nam có thể áp dụng mức lãi suất khác mức lãi suất trên nhưng không vượt quá trần lãi suất theo quy định của NHNN theo từng thời kỳ.</p>
<h3>1. Có quy định số tiền gửi tối thiểu đối với loại tiền tệ VND không?</h3>
<p>Số tiền gửi tối thiểu đối với loại tiền tệ VNĐ là 1.000.000 VND.</p>
<h3>2. Rút tiết kiệm trước hạn được không?</h3>
<p>Khách hàng có thể rút tiền gửi tiết kiệm trước hạn và ngân hàng Hong Leong sẽ hoàn lại toàn bộ số tiền gốc. Tuy nhiên, khi tất toán trước hạn, lãi suất tiền gửi tiết kiệm sẽ là 0.00% đối với tất cả các loại tiền tệ.</p>

<h3>3. Ngày đáo hạn và tất toán sổ tiết kiệm là gì?</h3>
<p>Mỗi sổ tiết kiệm đều có ngày đáo hạn hay còn gọi là ngày đến hạn được quy định khi bạn mở tài khoản tiết kiệm. Bạn có thể lựa chọn phương thức tự động tái tục số tiền gốc và/hoặc lãi hoặc tất toán số tiết kiệm vào ngày đáo hạn rồi thực hiện gửi thêm một kỳ hạn giống như kỳ hạn cũ. Lãi suất tiền gửi cho kỳ hạn mới sẽ được cập nhật tại thời điểm tái tục. Hoặc bạn đóng tài khoản tiết kiệm và nhận lại toàn bộ tiền gốc và lãi được sinh ra trong kỳ gửi tiết kiệm đó.</p>

<h3>4. Có nên chọn gửi tiết kiệm trực tuyến?</h3>
<p>Gửi tiết kiệm online được xem là một hình thức đầu tư an toàn và tiết kiệm nhiều thời gian, công sức. Theo đó, khách hàng có thể mở sổ tiết kiệm nhanh chóng qua ngân hàng điện tử trên máy tính, điện thoại mà không cần phải đến ngân hàng để làm thủ tục gửi hay rút tiền. Đặc biệt, gửi tiết kiệm trực tuyến, bạn có thể dễ dàng theo dõi các biến động, lãi suất tiết kiệm ngân hàng và số dư từ số tiền gửi qua ngân hàng điện tử. Toàn bộ quá trình gửi tiết kiệm không có sự can thiệp của nhân viên ngân hàng, bảo mật qua nhiều lớp xác thực, đảm bảo an toàn tuyệt đối.</p>

<h3>Thông tin liên hệ:</h3>
<p>Nếu có thắc mắc về sản phẩm hoặc cần được hướng dẫn thêm, vui lòng liên hệ: <a href="https://www.hlbank.com.vn/vi/help-and-support/branch-locator.html" target="_blank" title="Chi nhánh/phòng giao dịch Hong Leong Bank" rel="nofollow">Chi nhánh/phòng giao dịch Hong Leong Bank gần nhất trên toàn quốc.</a><br>
Hotline: 1900633068
</p>
<p>Chi tiết xem thêm tại <a href="https://www.hlbank.com.vn/vi/help-and-support/interest-rates/fixed-deposits.html" target="_blank" rel="nofollow">https://www.hlbank.com.vn/vi/help-and-support/interest-rates/fixed-deposits.html</a></p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>