<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Indovina Bank mới nhất hôm nay <small>- Cập nhật lúc 09:50:04 21/02/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Indovina tháng 04/2024 dao động từ 0,2% đến 5,5%/năm. Lãi suất Indovina kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là 2,90%/năm, 4,30%/năm, 5,10%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 5,5%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 24 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-center">Cuối Kỳ</th>
<th class="text-center">Hàng Tháng</th>
<th class="text-center">Hàng Quý</th>
<th class="text-center">Trả trước</th>
</tr></thead>
<tbody>
<tr>
<td class="text-left">7 ngày</td>
<td class="text-right">0,20%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">14 ngày</td>
<td class="text-right">0,20%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">21 ngày</td>
<td class="text-right">0,20%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">2,90%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">3,00%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,09%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">4,30%</td><td class="text-right">4,26%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">4,50%</td><td class="text-right">4,43%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">5,10%</td><td class="text-right">4,98%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">5,30%</td><td class="text-right">5,16%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">5,45%</td><td class="text-right">5,25%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">5,50%</td><td class="text-right">5,23%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
</tbody>
</table>
</div>
</section>
<div class="source">Ngân hàng TNHH MTV Indovina Bank Việt Nam - Indovina Bank<br>https://www.indovinabank.com.vn/vi/interest-rate</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":877,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t Indovina Bank - IVB - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng TNHH MTV Indovina Bank Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="ebfaeedf6ec5caa534861e7789a0d7a4">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Indovina Bank - IVB - Lãi gửi tiết kiệm Ngân hàng TNHH MTV Indovina Bank Việt Nam - Web giá</div>4.3 trên 877 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Indovina</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn Indovina Bank dành cho khách hàng cá nhân</h2>

<h3>Tiện ích:</h3>
<ul>
    <li>Kỳ hạn gửi đa dạng</li>
    <li>Lãi suất hấp dẫn, cạnh tranh.</li>
    <li>Thủ tục đơn giản</li>
    <li>Giao dịch nhanh chóng tại bất kỳ điểm giao dịch của IVB.</li>
</ul>
<h3>Đối tượng:</h3>
<p>Khách hàng cá nhân người Việt Nam.</p>

<h3>Đặc điểm:</h3>
<ul>
    <li>Kỳ hạn gửi: không kỳ hạn, kỳ hạn tuần, kỳ hạn từ 1 đến 24 tháng.</li>
    <li>Loại tiền huy động: VNĐ và USD.</li>
    <li>Lãi suất: cố định suốt kỳ hạn gửi tiền.</li>
    <li>Hình thức phát hành: thẻ tiết kiệm.</li>
</ul>

<h3>Quy định:</h3>
<ul>
    <li>Rút tiền trước hạn: theo lãi suất không kỳ hạn.</li>
    <li>Tiền gửi tiết kiệm sẽ được tự động tái tục vào ngày đến hạn.</li>
</ul>

<h3>Hồ sơ:</h3>
<ul>
    <li>Giấy Đề nghị mở tài khoản tiền gửi tiết kiệm.</li>
    <li>Giấy tờ cá nhân: CMND/CCCD/Hộ chiếu.</li>
</ul>

<h3>Thủ tục:</h3>

<p>Khách hàng đến bất kỳ điểm giao dịch của IVB để gửi tiền.</p>

<p>Chi tiết xem thêm tại <a href="https://www.indovinabank.com.vn/vi/personal/13" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm Indovina Bank">https://www.indovinabank.com.vn/vi/personal/13</a> </p>

<h2>Liên hệ Indovina Bank</h2>
<p>Nếu có thắc mắc hoặc cần được hướng dẫn thêm, Quý khách vui lòng liên hệ: <a href="https://www.indovinabank.com.vn/vi/gmap" target="_blank" rel="nofollow" title="Chi nhánh/PGD Indovina Bank trên toàn quốc">Chi nhánh/PGD Indovina Bank trên toàn quốc</a>. Hoặc Hotline: 1900 588 879</p>

<p>Bảng tra cứu lãi suất Indovina Bank: <a href="https://www.indovinabank.com.vn/vi/interest-rate" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm Indovina Bank">https://www.indovinabank.com.vn/vi/interest-rate</a> </p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>