<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm Kiên Long Bank mới nhất hôm nay <small>- Cập nhật lúc 08:40:12 27/03/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại Kiên Long tháng 04/2024 dao động từ 0,5% đến 5,2%/năm. Lãi suất Kiên Long kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là %/năm, %/năm, %/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 5,2%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 60 thÁ ngàyg.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi tại Quầy</strong> </h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th rowspan="2" style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th colspan="5" class="text-center">Lãi suất</th>
</tr>
<tr>
<th class="text-center">Cuối kỳ</th>
<th class="text-center">Trả trước</th>
<th class="text-center">Hàng tháng</th>
<th class="text-center">Hàng quý</th>
<th class="text-center">Hàng 6 tháng</th>
<th class="text-center">Hàng năm</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 tuẦ ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tuẦ ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tuẦ ngày</td>
<td class="text-right">0,50%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">1 thÁ ngàyg</td>
<td class="text-right">2,80%</td><td class="text-right">2,79%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 thÁ ngàyg</td>
<td class="text-right">2,80%</td><td class="text-right">2,79%</td><td class="text-right">2,80%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 thÁ ngàyg</td>
<td class="text-right">2,80%</td><td class="text-right">2,78%</td><td class="text-right">2,79%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">4 thÁ ngàyg</td>
<td class="text-right">2,80%</td><td class="text-right">2,77%</td><td class="text-right">2,79%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">5 thÁ ngàyg</td>
<td class="text-right">3,00%</td><td class="text-right">2,96%</td><td class="text-right">2,99%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">6 thÁ ngàyg</td>
<td class="text-right">4,00%</td><td class="text-right">3,92%</td><td class="text-right">3,97%</td><td class="text-right">3,98%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">7 thÁ ngàyg</td>
<td class="text-right">4,00%</td><td class="text-right">3,91%</td><td class="text-right">3,96%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">8 thÁ ngàyg</td>
<td class="text-right">4,00%</td><td class="text-right">3,90%</td><td class="text-right">3,95%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">9 thÁ ngàyg</td>
<td class="text-right">4,40%</td><td class="text-right">4,26%</td><td class="text-right">4,34%</td><td class="text-right">4,35%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">10 thÁ ngàyg</td>
<td class="text-right">4,60%</td><td class="text-right">4,43%</td><td class="text-right">4,52%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">11 thÁ ngàyg</td>
<td class="text-right">4,60%</td><td class="text-right">4,41%</td><td class="text-right">4,51%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">12 thÁ ngàyg</td>
<td class="text-right">4,60%</td><td class="text-right">4,40%</td><td class="text-right">4,51%</td><td class="text-right">4,52%</td><td class="text-right">4,55%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">13 thÁ ngàyg</td>
<td class="text-right">4,70%</td><td class="text-right">4,47%</td><td class="text-right">4,59%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">15 thÁ ngàyg</td>
<td class="text-right">4,80%</td><td class="text-right">4,53%</td><td class="text-right">4,67%</td><td class="text-right">4,69%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">17 thÁ ngàyg</td>
<td class="text-right">5,10%</td><td class="text-right">4,76%</td><td class="text-right">4,93%</td><td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">18 thÁ ngàyg</td>
<td class="text-right">5,10%</td><td class="text-right">4,74%</td><td class="text-right">4,92%</td><td class="text-right">4,94%</td><td class="text-right">4,98%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">24 thÁ ngàyg</td>
<td class="text-right">5,10%</td><td class="text-right">4,63%</td><td class="text-right">4,87%</td><td class="text-right">4,89%</td><td class="text-right">4,92%</td><td class="text-right">4,98%</td></tr>
<tr>
<td class="text-left">36 thÁ ngàyg</td>
<td class="text-right">5,10%</td><td class="text-right">4,42%</td><td class="text-right">4,75%</td><td class="text-right">4,77%</td><td class="text-right">4,80%</td><td class="text-right">4,86%</td></tr>
<tr>
<td class="text-left">60 thÁ ngàyg</td>
<td class="text-right">5,20%</td><td class="text-right">4,13%</td><td class="text-right">4,63%</td><td class="text-right">4,65%</td><td class="text-right">4,68%</td><td class="text-right">4,73%</td></tr>
</tbody>
</table>
</div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <strong class="text-red">gửi Trực tuyến (Online)</strong> </h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center mw500">
<thead>
<tr>
<th>Kỳ hạn</th>
<th class="text-right">Lãi suất</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">1 thÁ ngàyg</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">2 thÁ ngàyg</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">3 thÁ ngàyg</td>
<td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">6 thÁ ngàyg</td>
<td class="text-right">4,20%</td></tr>
<tr>
<td class="text-left">9 thÁ ngàyg</td>
<td class="text-right">4,60%</td></tr>
<tr>
<td class="text-left">12 thÁ ngàyg</td>
<td class="text-right">4,80%</td></tr>
<tr>
<td class="text-left">13 thÁ ngàyg</td>
<td class="text-right">4,90%</td></tr>
<tr>
<td class="text-left">15 thÁ ngàyg</td>
<td class="text-right">5,00%</td></tr>
<tr>
<td class="text-left">18 thÁ ngàyg</td>
<td class="text-right">5,30%</td></tr>
<tr>
<td class="text-left">24 thÁ ngàyg</td>
<td class="text-right">5,30%</td></tr>
<tr>
<td class="text-left">36 thÁ ngàyg</td>
<td class="text-right">5,30%</td></tr>
</tbody>
</table>
</div>
</section>
<div class="source">Ngân hàng thương mại cổ phần Kiên Long - Kiên Long Bank.<br>https://kienlongbank.com/lai-suat</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":877,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t Ki\u00ean Long Bank - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Ki\u00ean Long - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="00fa8380bc26bb0a55d409a6b6ec6a8d">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất Kiên Long Bank - Lãi gửi tiết kiệm Ngân hàng thương mại cổ phần Kiên Long - Web giá</div>4.3 trên 877 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm Kiên Long</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn VND tại Kiên Long Bank</h2>
<p> Tiết kiệm Có kỳ hạn là khoản tiền gửi vào tài khoản tiết kiệm, được Kienlongbank xác nhận trên thẻ tiết kiệm hoặc trên chứng từ điện tử hoặc các chứng từ tương đương khác (nếu có), được hưởng lãi và được bảo hiểm tiền gửi. Người gửi tiền thỏa thuận với Kienlongbank về kỳ hạn gửi nhất định.</p>

<h3>Đối tượng</h3>
<p>Công dân Việt Nam.</p>

<h3>Tiện ích</h3>
<ul>
<li>Được thanh toán đầy đủ tiền gốc và lãi theo thỏa thuận với Kienlongbank.</li>
<li>Bảo đảm an toàn, bảo mật thông tin liên quan đến tài khoản.</li>
<li>Gửi và rút tiền nhiều lần trên một thẻ tiết kiệm.</li>
<li>Gửi tiền một nơi, giao dịch nhiều nơi.</li>
<li>Mở thẻ tiết kiệm đồng sở hữu.</li>
<li>Chủ sở hữu/Đồng chủ sở hữu tài khoản được cầm cố, được chuyển quyền sở hữu, được để lại thừa kế, được ủy quyền cho người khác thực hiện các giao dịch theo quy định của pháp luật và của Kienlongbank</li>
</ul>

<h3>Đặc tính</h3>
<ul>
<li>Kỳ hạn gửi: Theo thỏa thuận giữa Kienlongbank và khách hàng.</li>
<li>Loại tiền gửi: VND, ngoại tệ.</li>
<li>Lãi suất: <a href="https://webgia.com/lai-suat/kienlongbank/" title="Lãi suất tiết kiệm Kiên Long Bank">Xem biểu lãi suất</a>.</li>
<li>Phí dịch vụ tài khoản: <a href="https://kienlongbank.com/bieu-phi" title="Biểu phí tiết kiệm Kiên Long Bank" target="_blank">Xem biểu phí</a>.</li>
<li>Rút trước hạn: Hưởng lãi suất rút trước hạn.</li>
</ul>

<h3>Hồ sơ gửi tiết kiệm</h3>
<ul>
<li>CMND/CCCD/Hộ chiếu (bản chính hoặc bản sao có công chứng).</li>
<li>Các giấy tờ cần thiết khác theo yêu cầu (nếu có).</li>
</ul>

<h2>Các gói sản phẩm tiết kiệm khác tại Kiên Long Bank</h2>
<p>Ngoài ra, Kiên Long Bank còn có rất nhiều gói tiết kiệm khác. Ví dụ như:</p>
<ul>
<li>Tiết Kiệm Không Kỳ Hạn</li>
<li>Tiết Kiệm Trực Tuyến</li>
<li>Tiết kiệm Tích Lũy</li>
<li>Tiết kiệm Ước Mơ</li>
</ul>
<p>Chi tiết xem thêm tại <a href="https://kienlongbank.com/tien-gui-tiet-kiem-ca-nhan" target="_blank" rel="nofollow" title="Sản phẩm tiền gửi tiết kiệm Kiên Long Bank">https://kienlongbank.com/tien-gui-tiet-kiem-ca-nhan</a> </p>

<h2>Liên hệ Kiên Long Bank</h2>
<p>Nếu có thắc mắc hoặc cần được hướng dẫn thêm, Quý khách vui
lòng liên hệ: <a href="https://kienlongbank.com/diem-giao-dich" title="Các điểm giao dịch của Kiên Long Bank" target="_blank" rel="nofollow">Các điểm giao dịch của Kiên Long Bank</a> trên toàn quốc. Hoặc Hotline: 1900 6929</p>

</section>

</article>
{{>aside-table}}
</div>
</div>
</main>