<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm MSB (Maritime Bank) mới nhất hôm nay <small>- Cập nhật lúc 18:10:05 04/04/2024</small></h1>

<p>Lãi suất tiền gửi tiết kiệm tại MSB (Maritime Bank) tháng 04/2024 dao động từ 3,1% đến 3,5%/năm. Lãi suất MSB (Maritime Bank) kỳ hạn 1 tháng, 6 tháng và 1 năm lần lượt là %/năm, 3,10%/năm, 3,50%/năm.</p>
<p>Theo bảng lãi suất, mức lãi suất cao nhất là 3,5%/năm, áp dụng cho khoản tiền gửi dưới hình thức tiết kiệm thường lĩnh lãi cuối kỳ tại kỳ hạn 12 tháng, 13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng.</p><p>Xem thêm <strong><a href="#cong-cu-tinh-lai-tiet-kiem" title="Công cụ tính lãi">Công cụ tính tiền lãi tiết kiệm</a></strong></p><!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <span class="text-red">gửi tại Quầy</span></h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th class="text-center">Lãi cuối kỳ</th>
<th class="text-center">Lãi hàng tháng</th>
<th class="text-center">Lãi trả trước</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,25%</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,25%</td><td class="text-right">3,25%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,25%</td><td class="text-right">3,25%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,25%</td><td class="text-right">3,25%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">3,10%</td><td class="text-right">3,60%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">3,50%</td><td class="text-right">4,00%</td><td class="text-right">4,00%</td></tr>
</tbody>
</table>
</div>
</section>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section class="bang-lai-suat">
<h2>Lãi suất tiền gửi VND dành cho khách hàng cá nhân <span class="text-red">gửi Online</span></h2>
<p>Lãi suất: %/năm</p>
<div class="table-responsive">
<table class="table table-radius table-hover text-center">
<thead>
<tr>
<th style="vertical-align: middle;" class="text-center">Kỳ hạn</th>
<th class="text-center">Lãi cuối kỳ</th>
<th class="text-center">Lãi hàng tháng</th>
<th class="text-center">Lãi trả trước</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left">Không kỳ hạn</td>
<td class="text-right">0,00%</td><td class="text-right">0,00%</td><td class="text-right">0,00%</td></tr>
<tr>
<td class="text-left">1 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,30%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">2 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,30%</td><td class="text-right">-</td></tr>
<tr>
<td class="text-left">3 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,50%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">4 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,50%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">5 tháng</td>
<td class="text-right">3,00%</td><td class="text-right">2,50%</td><td class="text-right">3,00%</td></tr>
<tr>
<td class="text-left">6 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">7 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">8 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">9 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">10 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">11 tháng</td>
<td class="text-right">3,60%</td><td class="text-right">2,85%</td><td class="text-right">3,60%</td></tr>
<tr>
<td class="text-left">12 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">13 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">15 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">18 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">24 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
<tr>
<td class="text-left">36 tháng</td>
<td class="text-right">4,00%</td><td class="text-right">2,55%</td><td class="text-right">4,00%</td></tr>
</tbody>
</table>
</div>
</section>
<p> <strong class="text-red">Lưu ý:</strong> Đối với các sổ tiết kiệm tự động gia hạn thêm 1 kỳ hạn mới thì tuân theo lãi suất ban hành của sản phẩm tại thời điểm gia hạn của kỳ hạn đó. Nếu MaritimeBank dừng huy động kỳ hạn đó sẽ tự động chuyển sang kỳ hạn ngắn hơn gần nhất. Maritime Bank được quyền áp dụng mức lãi suất thấp hơn các mức lãi suất nêu trên theo thỏa thuận cụ thể với Khách hàng trên nguyên tắc phù hợp với các quy định của Pháp luật và của Maritime Bank. </p>
<div class="source">Ngân hàng TMCP Hàng Hải Việt Nam - Maritime Bank<br>https://www.msb.com.vn/Bieu-phi-va-Lai-suat/1177/3/Lai-suat</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.3","ratingCount":877,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t MSB (Maritime Bank) - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng TMCP H\u00e0ng H\u1ea3i Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="097a9cc03993f8c85ff884694db1e632">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:86%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất MSB (Maritime Bank) - Lãi gửi tiết kiệm Ngân hàng TMCP Hàng Hải Việt Nam - Web giá</div>4.3 trên 877 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm MSB</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">
<h2>Tiết kiệm có kỳ hạn Maritime Bank</h2>
<p>Maritime Bank có nhiều gói tiết kiệm cá nhân. Một số gói nổi bật được nêu tại đây như:</p>
<h3>Tiết kiệm lãi suất cao nhất</h3>
<p>Sản phẩm tiết kiệm với mức lãi suất cao nhất so với các sản phẩm tiết kiệm khác cùng kỳ hạn </p>
<h4>Lợi ích:</h4>
<ul>
<li>Lãi suất cao nhất so với các sản phẩm gửi tiết kiệm khác;  </li>
<li>Kỳ hạn gửi đa dạng;  </li>
<li>Tham khảo thông tin lãi suất tại Biểu lãi suất (VND, USD);</li>
<li>Được sử dụng để xác nhận khả năng tài chính cho bản thân hoặc thân nhân đi du lịch, học tập… ở nước ngoài.  </li>
<li>Được chuyển nhượng, cầm cố… sổ tiết kiệm để vay vốn tại Maritime Bank với lãi suất ưu đãi;</li>
<li>Gửi và rút tiền tại bất cứ phòng giao dịch nào của Maritime Bank;</li>
</ul>
<h4>Tính năng:</h4>
<ul>
<li>Kỳ hạn linh hoạt: 1 -13, 15, 18, 24, 36 tháng.</li>
<li>Phương thức lĩnh lãi: Cuối kỳ.</li>
<li>Loại tiền gửi: VND/USD.</li>
<li>Số tiền gửi tối thiểu: 500.000 VNĐ/30 USD.</li>
<li>Khi đáo hạn: Nếu khách hàng không tất toán vào ngày đến hạn và không có thoả thuận nào khác thì Maritime Bank sẽ tự động chuyển cả gốc và lãi sang kỳ hạn mới tương ứng với lãi suất tại thời điểm chuyển kỳ hạn. (Ngày đến hạn thanh toán trùng với ngày nghỉ hoặc ngày lễ theo quy định của Maritime Bank thì việc chi trả gốc và lãi sẽ được chuyển sang ngày làm việc tiếp theo đầu tiên).</li>
<li>Rút trước hạn: Khách hàng được phép rút trước hạn và hưởng lãi suất không kỳ hạn.</li>
</ul>
<h3>Tiền gửi có kỳ hạn trực tuyến</h3>
<p>Cho phép khách hàng mở tài khoản tiền gửi có kỳ hạn trực tuyến mọi lúc mọi nơi </p>
<h4>Lợi ích:</h4>
<ul>
<li>Lãi suất cao hơn tới 0.6% so với tại quầy.</li>
<li>Lựa chọn phong phú với 5 dòng sản phẩm Tiết kiệm trực tuyến.</li>
<li>Công nghệ bảo mật hàng đầu thế giới.</li>
<li>Tiện dụng khi gửi góp định kỳ hoặc gửi thêm.</li>
</ul>
<h4>Tính năng:</h4>
<div class="table-responsive">
<table style="border-collapse: collapse" width="100%" cellspacing="0" cellpadding="0" class="table table-radius"> <tbody> <tr style="height: 15.75pt"> <td style="background: red" align="center">  <b><font color="#FFFFFF">Sản phẩm</font></b> </td> <td style="background: red" align="center">  <b><font color="#FFFFFF">Lãi suất cao nhất</font></b> </td> <td style="background: red" align="center">  <b><font color="#FFFFFF">Định kỳ sinh lời</font></b> </td> <td style="background: red" align="center">  <b><font color="#FFFFFF">Trả lãi ngay</font></b> </td> <td style="background: red" align="center">  <b><font color="#FFFFFF">Rút gốc từng phần</font></b> </td> <td style="background: red" align="center">  <b><font color="#FFFFFF">Ong Vàng</font></b> </td> </tr> <tr style="height: 15.0pt"> <td>  Loại tiền huy động </td> <td>  VND </td> <td>  &nbsp;VND </td> <td>  VND </td> <td>  VND </td> <td>  &nbsp;VND </td> </tr> <tr style="height: 15.0pt"> <td>  Kỳ hạn </td> <td>  &nbsp;1-13, 15, 18, 24, 36 tháng </td> <td>  2-13, 15, 18, 24, 36 tháng </td> <td>  1-13, 15, 18, 24, 36 tháng </td> <td>  1-13, 15, 18, 24, 36 tháng </td> <td>  3-13, 15, 18, 24, 36 tháng </td> </tr> <tr style="height: 15.0pt"> <td>  Số tiền gửi tối thiểu </td> <td>  1.000.000 VND </td> <td>  1.000.000 VND </td> <td>  1.000.000 VND </td> <td>  20.000.000VNĐ </td> <td>  1.000.000 VND </td> </tr> <tr style="height: 30.0pt"> <td>  Phương thức trả lãi </td> <td>  Cuối kỳ. </td> <td>  Định kỳ hàng tháng </td> <td>  Trả lãi 1 lần, ngay tại thời điểm gửi tiền. </td> <td>  Cuối kỳ </td> <td>  Cuối kỳ </td> </tr> <tr style="height: 85.0pt"> <td rowspan="2">  Đáo hạn  (Nếu ngày đến hạn thanh toán trùng với ngày nghỉ hoặc ngày lễ theo quy định của Maritime Bank thì việc chi trả gốc và lãi sẽ được chuyển sang ngày làm việc tiếp theo đầu tiên). </td> <td colspan="2">  Tự động chuyển cả gốc và lãi sang kỳ hạn mới tương ứng với lãi suất tại thời điểm chuyển kỳ hạn. (*) </td> <td>  Không tự động tái tục.  Khi đến hạn số dư gốc sẽ được chuyển vào tài khoản thanh toán do Khách hàng chỉ định tại thời điểm gửi tiền. </td> <td>  Tự động chuyển cả gốc và lãi sang kỳ hạn mới tương ứng. (*) </td> <td>  Tự động chuyển cả gốc và lãi sang kỳ hạn mới tương ứng (*) </td> </tr> <tr style="height: 22.0pt"> <td colspan="5">  &nbsp;(*)Nếu khách hàng không tất toán vào ngày đến hạn và không có thoả thuận nào khác </td> </tr> <tr style="height: 165.0pt"> <td>  Rút trước hạn </td> <td>  Khách hàng được phép rút trước hạn và hưởng lãi suất không kỳ hạn. </td> <td>  Khách hàng được phép rút trước hạn và hưởng lãi suất không kỳ hạn.<br> Đối với nhận lãi định kỳ hàng tháng, hệ thống sẽ tự động tính lại số lãi được hưởng và khấu trừ vào gốc toàn bộ tiền lãi đã chi vượt quá so với số tiền lãi được hưởng. </td> <td>  Khách hàng không được phép rút trước hạn. </td> <td>  - Khách hàng được phép rút trước hạn (một phần hoặc toàn bộ).  - Được rút gốc từng phần tối đa 5 lần trong suốt kỳ hạn gửi<br> - Phần gốc rút trước hạn sẽ hưởng lãi suất không kỳ hạn, phần tiền gốc còn lại vẫn được hưởng lãi suất theo kỳ hạn của thẻ tiết kiệm. </td> <td>  Khách hàng được phép rút trước hạn và hưởng lãi suất không kỳ hạn. </td> </tr> </tbody> </table>
</div>
<h2>So sánh các sản phẩm tiết kiệm của ngân hàng Maritime Bank</h2>
<div class="table-responsive">
<table style="border-collapse: collapse" width="100%" cellspacing="0" cellpadding="0" class="table table-radius"><tbody><tr><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>Loại tiền gửi</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Định kỳ sinh lời</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Gửi tiền trả lãi ngay</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Lãi suất cao nhất</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Phú An Thuận</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Rút gốc từng phần</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Ong Vàng</b></font></td><td bgcolor="#FF0000"><font style="font-size: 9pt" color="#FFFFFF"><b>TK Măng non</b></font></td><td bgcolor="#FF0000"><font color="#FFFFFF"><b><font style="font-size: 9pt">TK Trực tuyến</font></b></font></td></tr><tr><td><strong style="color:#ff0000"><b>Kỳ hạn</b></strong></td><td>2-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng</td><td>1-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng </td><td>1-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng </td><td>Không kỳ hạn</td><td>1-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng </td><td>3-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng </td><td>3-13 tháng, 15 tháng, 18 tháng, 24 tháng, 36 tháng 4-15 năm </td><td>1-36 tháng</td></tr><tr><td><strong style="color:#ff0000"><b>Loại tiền nhận gửi</b></strong></td><td>VND, USD</td><td>VND, USD</td><td>VND, USD</td><td>VND, USD</td><td>VND, USD</td><td>VND, USD</td><td>VND, USD</td><td>VND</td></tr><tr><td><strong style="color:#ff0000"><b>Số tiền gửi tối thiểu</b></strong></td><td>500.000 VND / 30 USD</td><td>500.000 VND / 30 USD</td><td>500.000 VND / 30 USD</td><td>500.000 VND / 30 USD</td><td>20.000.000 VND / 1.000 USD</td><td>1.000.000 VND / 100 USD</td><td>200.000 VND / 10 USD</td><td>1.000.000 VND</td></tr><tr><td><strong style="color:#ff0000"><b>Phương thức tính lãi</b></strong></td><td>Định kỳ hàng tháng</td><td>Trả lãi 1 lần, ngay tại thời điểm gửi tiền</td><td>Cuối kỳ</td><td>Định kỳ cuối tháng</td><td>Cuối kỳ</td><td>Cuối kỳ</td><td>Cuối kỳ</td><td>Lãi cộng dồn vào gốc hoặc chuyển vào tài khoản thanh toán</td></tr><tr><td><strong style="color:#ff0000"><b>Lưu ý khi rút tiền</b></strong></td><td>Được rút trước hạn, hưởng lãi suất KKH</td><td>Không được rút trước hạn</td><td>Được rút trước hạn, hưởng lãi suất KKH</td><td>Được rút trước hạn, hưởng lãi suất KKH</td><td>Hưởng lãi suất KKH. Phần gốc còn lại vẫn hưởng lãi suất trên sổ TK</td><td>Được rút trước hạn, hưởng lãi suất KKH</td><td>Được rút trước hạn, hưởng lãi suất KKH</td><td>Được rút trước hạn, hưởng lãi suất KKH (ngoại trừ sản phẩm TK Trả lãi ngay trực tuyến)</td></tr></tbody></table>
</div>

<p>Ngoài ra còn nhiều gói gửi tiết kiệm khác như Rút gốc từng phần, Tiết kiệm định kỳ sinh lời, Tiết kiệm trả lãi ngay, Tiết kiệm Măng Non, Tiết kiệm Ong Vàng... Chi tiết xem thêm tại <a href="https://www.msb.com.vn/Tien-gui-tiet-kiem/556" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm Maritime Bank">https://www.msb.com.vn/Tien-gui-tiet-kiem/556</a> </p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>