<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Lãi suất gửi tiết kiệm NCB mới nhất hôm nay <small>- Cập nhật lúc 18:50:08 27/02/2024</small></h1>
<!-- webgia - responsive n2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<section id="ban_lai_suat_pdf">
<h2>Bảng lãi suất ngân hàng NCB đầy đủ</h2>
<p>Bảng lãi suất đầy đủ, chi tiết nhất, cập nhật theo trang chính thức của NCB. Tải về <a href="https://www.ncb-bank.vn/InterestRates/2024/02/Bieu lai suat tai quay 15.02.pdf" target="_blank">tại đây</a></p>
<iframe src="https://drive.google.com/viewerng/viewer?embedded=true&amp;url=https%3A%2F%2Fwww.ncb-bank.vn%2FInterestRates%2F2024%2F02%2FBieu+lai+suat+tai+quay+15.02.pdf" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Đang tải...</iframe>
</section>
<div class="source">Ngân hàng thương mại cổ phần Quốc Dân - NCB.<br>https://www.ncb-bank.vn/vi/lai-suat-tien-gui</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":850,"itemReviewed":{"@type":"CreativeWorkSeries","name":"L\u00e3i su\u1ea5t NCB - L\u00e3i g\u1eedi ti\u1ebft ki\u1ec7m Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Qu\u1ed1c D\u00e2n - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="9e9ab4fede8d4bb8393135c660d8ab22">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Lãi suất NCB - Lãi gửi tiết kiệm Ngân hàng thương mại cổ phần Quốc Dân - Web giá</div>5 trên 850 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section id="cong-cu-tinh-lai-tiet-kiem">
<h2>Công cụ tính lãi tiết kiệm NCB</h2>
<p>Để tính tiền lãi tiết kiệm, quý khách vui lòng nhập thông tin vào 3 ô bên dưới, sau đó bấm nút "TÍNH LÃI". Tiền lãi hiển thị là tiền lời cuối kỳ.</p>
<style type="text/css">.ccls-num{display:inline-block;text-align:right;max-width:60%}</style>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <table class="table table-radius table-hover">
            <tbody class="form-inline">
                <tr>
                    <td align="left">Số tiền gửi (VND)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_money" type="text" value=""> VND</td>
                </tr>
                <tr>
                    <td align="left">Kỳ hạn gửi</td>
                    <td align="left">
                        <input class="form-control ccls-num" id="ccls_time" maxlength="3" type="text" value="">
                        <select class="form-control" id="ccls_time_type" style="width:90px;display:inline-block"><option value="2">Tháng</option><option value="1">Ngày</option></select>
                    </td>
                </tr>
                <tr>
                    <td align="left">Lãi suất (% năm)</td>
                    <td align="left"><input class="form-control ccls-num" id="ccls_percent" maxlength="4" type="text" value=""> % năm</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left"><a href="#" class="btn btn-danger" id="ccls_calc">TÍNH LÃI</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <h3 style="margin: 0;color: #222;">Tổng tiền cuối kỳ (VNĐ)</h3>
            <span class="h2 text-green" id="ccls_tlai" style="display: block;margin: 19px 0;">...</span>
        </div>
        <table class="table table-radius">
            <tbody>
                <tr>
                    <td style="color:#555">Tiền gửi</td>
                    <td align="right"><strong id="ccls_goc">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tiền lãi</td>
                    <td align="right"><strong id="ccls_lai">...</strong></td>
                </tr>
                <tr>
                    <td style="color:#555">Tổng tiền gốc lãi</td>
                    <td align="right"><strong id="ccls_glai">...</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</section>
<section class="mtn">

<h2>Tiết kiệm có kỳ hạn tại ngân hàng Quốc Dân</h2>
<p>Tại NCB, luôn mang đến cho khách hàng những sản phẩm tiện ích nhất. Bên cạnh những sản phẩm mới, NCB luôn sẵn sàng phục vụ nhu cầu gửi tiền tiết kiệm của khách hàng với sản phẩm "Tiết kiệm truyền thống" với kỳ hạn gửi và kỳ lĩnh lãi đa dạng phù hợp với nhu cầu của khách hàng</p>
<h3>Đặc điểm và lợi ích</h3>
<ul>
<li> Kỳ hạn gửi và kỳ lĩnh lãi đa dạng nhất, phù hợp với mọi nhu cầu của khách hàng </li>
<li> Được tham gia thường xuyên các chương trình khuyến mại với lãi suất hấp dẫn và nhiều quà tặng có giá trị </li>
<li> Được bảo hiểm tiền gửi </li>
<li> Được sử dụng Thẻ tiết kiệm để cầm cố, thế chấp, chuyển nhượng khi có nhu cầu </li>
</ul>
<h3>Tính năng</h3>
<ul>
<li>Kỳ hạn gửi: 01, 02 tuần đến 60 tháng</li>
<li>Loại tiền gửi: VNĐ/USD</li>
<li>Số tiền gửi tối thiểu: 1.000.000VND/100USD</li>
<li>Phương thức lĩnh lãi: Đầu kỳ, hàng tháng, cuối kỳ</li>
<li>Rút trước hạn: Khách hàng được phép rút trước hạn bất kỳ lúc nào và hưởng lãi suất không kỳ hạn</li>
</ul>
<h3>Hồ sơ và Biểu mẫu</h3>
<ul>
<li>CMND/ Hộ chiếu khách hàng</li>
<li>Giấy gửi tiền tiết kiệm theo mẫu của NCB</li>
</ul>

<h2>Tiết kiệm Điện tử (gửi Online) tại NCB</h2>
<p>Bạn là người yêu thích công nghệ. Bạn là người bận rộn không có thời gian đến Ngân hàng giao dịch, hãy lựa chọn sản phẩm "Tiết kiệm Điện tử" của NCB</p>
<h3>Đặc điểm và lợi ích</h3>
<ul>
<li> Giao dịch 24/7, được thực hiện trong cả ngày nghỉ, ngày lễ, tiết kiệm thời gian và chi phí giao dịch </li>
<li> Giao dịch bất cứ khi nào, bất cứ ở đâu </li>
<li> Lãi suất hấp dẫn cao hơn tiết kiệm truyền thống 0.1% </li>
<li> An toàn và bảo mật </li>
</ul>
<h3>Tính năng</h3>
<ul>
<li>Kỳ hạn gửi: 01, 02 tuần, 01 - 60 tháng</li>
<li>Loại tiền gửi: VND</li>
<li>Số tiền gửi tối thiểu: 1.000.000VND</li>
<li>Phương thức lĩnh lãi: Đầu kỳ, hàng tháng, hàng quý, cuối kỳ</li>
<li>Rút trước hạn: Khách hàng được phép rút trước hạn bất kỳ lúc nào và hưởng lãi suất không kỳ hạn</li>
</ul>
<h3>Hồ sơ và Biểu mẫu</h3>
<ul>
<li>Giấy đăng ký mở và sử dụng dịch vụ của NCB</li>
<li>Giấy đăng ký sử dụng dịch vụ Internet Banking theo mẫu của NCB</li>
</ul>

<h2>Tiết kiệm không kỳ hạn tại NCB</h2>
<p>Nếu bạn là cá nhân có nguồn tiền nhàn rỗi nhưng không cố định được thời gian gửi và có nhu cầu rút tiền vào bất kỳ ngày làm việc của NCB thì sản phẩm “Tiết kiệm không kỳ hạn” sẽ hỗ trợ bạn.</p>

<h3>Đặc điểm và lợi ích</h3>
<ul>
<li> Khách hàng được nộp, rút tiền bất cứ lúc nào và số lần giao dịch không bị hạn chế </li>
<li> Khách hàng được sử dụng thẻ tiết kiệm để cầm cố, thế chấp khi có nhu cầu </li>
<li> Được bảo hiểm tiền gửi </li>
</ul>
<h3>Tính năng</h3>
<ul>
<li>Kỳ hạn gửi: Không kỳ hạn</li>
<li>Loại tiền gửi: VNĐ/USD</li>
<li>Số tiền gửi tối thiểu: 1.000.000VNĐ/ 100 USD</li>
<li>Phương thức lĩnh lãi: Tiền lãi được trả vào ngày 26 hàng tháng và tự động ghi có vào tài khoản không kỳ hạn</li>
</ul>
<h3>Hồ sơ và Biểu mẫu</h3>
<ul>
<li>CMND/ Hộ chiếu khách hàng</li>
<li>Giấy gửi tiền tiết kiệm theo mẫu của NCB</li>
</ul>

<h2>Liên hệ ngân hàng NCB</h2>
<p>Ngân hàng NCB còn nhiều gói gửi tiết kiệm khác nhau. Chi tiết về các gói gửi tiết kiệm xem thêm tại <a href="https://www.ncb-bank.vn/vi/ca-nhan/tiet-kiem" target="_blank" rel="nofollow" title="Tiết kiệm có kỳ hạn tại NCB">https://www.ncb-bank.vn/vi/ca-nhan/tiet-kiem</a> </p>
<p>Nếu có thắc mắc về sản phẩm hoặc cần được hướng dẫn thêm, vui lòng liên hệ: <a href="https://www.ncb-bank.vn/vi/mang-luoi-ncb" target="_blank" title="Chi nhánh NCB">NCB gần nhất</a> trên toàn quốc. Hotline: 028 38216 216 – (Hỗ trợ 24/7)</p>
<p>Bảng tra cứu lãi suất NCB: <a href="https://www.ncb-bank.vn/vi/lai-suat-tien-gui" target="_blank" rel="nofollow" title="Tiền gửi tiết kiệm NCB">https://www.ncb-bank.vn/vi/lai-suat-tien-gui</a> </p>
</section>
</article>
{{>aside-table}}
</div>
</div>
</main>