<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ OceanBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:04 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng OceanBank được cập nhật mới nhất vào lúc 18:55:04 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.820</td><td class="text-right">24.830</td><td class="text-right">25.130</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.818</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.816</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">-</td><td class="text-right">26.677</td><td class="text-right">27.793</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">-</td><td class="text-right"><span class="vagfe"></span><span class="bngpy"></span>.2<span class="akqxt"></span>0</td><td class="text-right"><span class="vagfe"></span><span class="bngpy"></span>.<span class="bngpy"></span><span class="btfae"></span>9</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right"><span class="vagfe"></span>8.2<span class="cixqp"></span><span class="vagfe"></span></td><td class="text-right"><span class="vagfe"></span>8.<span class="btfae"></span><span class="akqxt"></span><span class="akqxt"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">-</td><td class="text-right"><span class="cixqp"></span><span class="vagfe"></span>.<span class="vagfe"></span><span class="btfae"></span><span class="btfae"></span></td><td class="text-right"><span class="cixqp"></span>2.0<span class="bngpy"></span>2</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">-</td><td class="text-right"><span class="vagfe"></span><span class="bngpy"></span><span class="vagfe"></span>,<span class="bngpy"></span>0</td><td class="text-right"><span class="vagfe"></span><span class="bngpy"></span><span class="btfae"></span>,<span class="bngpy"></span>8</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">16,92</td><td class="text-right">20,13</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">-</td><td class="text-right">18.262</td><td class="text-right">18.791</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:04 04/04/2024<br><a href="https://webgia.com/ty-gia/oceanbank/" title="Tỷ giá OceanBank - TM TNHH MTV Đại Dương">https://webgia.com/ty-gia/oceanbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Thương mại TNHH Một thành viên Đại Dương - OceanBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":862,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 OceanBank - Ng\u00e2n h\u00e0ng Th\u01b0\u01a1ng m\u1ea1i TNHH M\u1ed9t th\u00e0nh vi\u00ean \u0110\u1ea1i D\u01b0\u01a1ng - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="d8ed53bc27562314581ca42e45461c03">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá OceanBank - Ngân hàng Thương mại TNHH Một thành viên Đại Dương - Web giá</div>4.1 trên 862 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Thương mại TNHH Một thành viên Đại Dương</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Ocean Commercial one member limited Liability Bank</p>
    <p><strong>Tên viết tắt:</strong> OceanBank</p>
    <p><strong>Năm thành lập:</strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> Tòa nhà Daeha, 360 Kim Mã, phường Ngọc Khánh, quận Ba Đình, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> (024) 3772 6789</p>
    <p><strong>Số Fax:</strong> (024) 3772 6969</p>
    <p><strong>Hotline:</strong> 1800 58 88 15</p>
    <p><strong>Website:</strong> www.oceanbank.vn</p>
    <p><strong>Email:</strong> support@oceanbank.vn</p>
    <p><strong>Swift Code:</strong> OJBAVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng TM TNHH Một Thành Viên Đại Dương (tên gọi tắt là Oceanbank) cho đến năm 2015 đã thành lập được 22 năm hình thành và phát triển, ngân hàng Oceanbank đã và đang để lại dấu ấn thay đổi lớn trong mô hình hoạt động ngân hàng.</p>
    <p>Ngân hàng TM TNHH Một Thành Viên Đại Dương do nhà nước sở hữu có vốn điều lệ 4.000.059.560.000 đồng. Hệ thống kinh doanh gồm 101 chi nhánh và phòng giao dịch trên toàn quốc. Với mục tiêu trở thành một ngân hàng đa năng, hiện đại và hiệu quả, OceanBank chúng tôi luôn luôn cung cấp cho khách hàng các sản phẩm, dịch vụ tài chính ngân hàng đa năng, hiện đại và hiệu quả, phù hợp với nhu cầu dân cư và kinh tế địa phương.</p>
    <p>Với sự nỗ lực không ngừng, OceanBank đã giành được nhiều danh hiệu, giải thưởng và bằng khen của các tổ chức trong nước và quốc tế như: Giải thưởng ngân hàng bán lẻ tốt nhất Việt Nam, Ngân hàng bán lẻ có tốc độ tăng trưởng nhanh nhất Việt Nam do tạp chí Global Banking &amp; Finance Review trao tặng, Top 500 doanh nghiệp lớn nhất Việt Nam (VNR500),...</p>
    <p>Mặc dù trải qua những biến động lớn nhưng toàn thể CBNV Oceanbnak nỗ lực thực hiện kế hoạch hoạt động, nâng cao chất lượng dịch vụ nhằm tạo ra hài lòng cho khách hàng, xây dựng uy tín thương hiệu, niềm tin với khách hàng, niềm tin với xã hội, niềm tin với chính những nhân viên của mình.</p>
    <p>Cùng với sự hội nhập phát triển, OceanBank luôn luôn nhớ đến giá trị cốt lõi: Tạo môi trường nghề nghiệp tốt nhất cho CBNV, gia tăng giá trị đầu tư cho cổ đông, tôn trọng pháp luật.</p>
    <p>Mỗi năm nhân viên của OceanBank luôn được nhận đủ những chế độ phúc lợi như: được thưởng tháng 13, được nhận phụ cấp theo chế độ trách nhiệm, phụ cấp rủi ro tiền mặt, phụ cấp chuyên môn, thưởng nhân dịp lễ tết...</p>
    <p>Xem thêm tại <a href="https://www.oceanbank.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website OceanBank">https://www.oceanbank.vn/</a></p>
</section>










</article>
{{>aside-table}}
</div>
</div>
</main>