<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ PG Bank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng PG Bank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.800</td><td class="text-right">24.850</td><td class="text-right">25.150</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">-</td><td class="text-right">26.834</td><td class="text-right">27.384</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">-</td><td class="text-right">16.254</td><td class="text-right">16.659</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">-</td><td class="text-right">18.322</td><td class="text-right">18.724</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="tqmhb"></span><span class="rysli"></span>.<span class="tqmhb"></span>45</td><td class="text-right"><span class="tqmhb"></span><span class="pbaqj"></span>.<span class="xgcys"></span>4<span class="yrmau"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right"><span class="yrmau"></span>.5<span class="rysli"></span>6</td><td class="text-right"><span class="yrmau"></span>.<span class="rysli"></span>0<span class="pbaqj"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">-</td><td class="text-right"><span class="yrmau"></span><span class="xgcys"></span>.<span class="yrmau"></span><span class="xgcys"></span><span class="yrmau"></span></td><td class="text-right"><span class="yrmau"></span><span class="xgcys"></span>.96<span class="xgcys"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right"><span class="yrmau"></span>.<span class="xgcys"></span>4<span class="yrmau"></span></td><td class="text-right"><span class="yrmau"></span>.<span class="tqmhb"></span>59</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">-</td><td class="text-right">162,97</td><td class="text-right">167,21</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.298</td><td class="text-right">2.383</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">-</td><td class="text-right">18.350</td><td class="text-right">18.746</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">671</td><td class="text-right">696</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/pgbank/" title="Tỷ giá PGBank - TMCP Xăng dầu Petrolimex">https://webgia.com/ty-gia/pgbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Xăng dầu Petrolimex - PG Bank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 PG Bank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n X\u0103ng d\u1ea7u Petrolimex - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="bd15f2af29bd0831e5b93cd0652e029c">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá PG Bank - Ngân hàng thương mại cổ phần Xăng dầu Petrolimex - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Xăng dầu Petrolimex</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Petrolimex Group Commercial Joint Stock Bank</p>
    <p><strong>Tên viết tắt:</strong> PG Bank</p>
    <p><strong>Năm thành lập:</strong> 1993</p>
    <p><strong>Trụ sở chính:</strong> Tầng 16, 23 và 24, Tòa nhà Mipec, số 229 Tây Sơn, phường Ngã Tư Sở, quận Đống Đa, Hà Nội.</p>
    <p><strong>Số điện thoại:</strong> 024 6281 1298</p>
    <p><strong>Số Fax:</strong> 024 6281 1299</p>
    <p><strong>Hotline:</strong> +84(24) 62 555 999 - 1900 555 574</p>
    <p><strong>Website:</strong> www.pgbank.com.vn</p>
    <p><strong>Email:</strong> dvkh.pgbank@petrolimex.com.vn </p>
    <p><strong>Swift Code:</strong> PGBLVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Xăng dầu Petrolimex (PG Bank), tiền thân là Ngân hàng TMCP Nông thôn Đồng Tháp Mười, được thành lập ngày 13/11/1993 với số vốn điều lệ ban đầu là 700 triệu đồng. PG Bank đã không ngừng lớn mạnh và từng bước tạo dựng được niềm tin đối với khách hàng. Đặc biệt, cùng với sự tham gia của cổ đông chiến lược là Tập đoàn Xăng dầu Việt Nam (Petrolimex), PG Bank đã chứng kiến những bước phát triển vượt bậc về quy mô và hiệu quả hoạt động. Sự kiện chuyển đổi sang mô hình ngân hàng TMCP đô thị và đổi tên thành PG Bank là dấu mốc quan trọng, tạo tiền đề giúp PG Bank bắt kịp tốc độ phát triển nhanh của nền kinh tế, tiến từng bước vững chắc trên con đường trở thành một ngân hàng thương mại đa năng hàng đầu Việt Nam.</p>

    <h3>Sản phẩm dịch vụ chính</h3>
    <p>PG Bank cung cấp đầy đủ các sản phẩm dịch vụ ngân hàng truyền thống, bao gồm sản phẩm huy động vốn, tín dụng, thanh toán quốc tế, tài trợ thương mại, và sản phẩm thẻ (Flexicard). Hướng tới mục tiêu phục vụ tốt nhất các nhu cầu của khách hàng, đội ngũ nhân viên PG Bank luôn nỗ lực không ngừng nhằm đem đến cho khách hàng những sản phẩm dịch vụ tài chính mới, đa dạng, và hữu ích, tiêu biểu là dịch vụ tư vấn tài chính và phái sinh hàng hóa.</p>

    <h3>Nền tảng công nghệ thông tin</h3>
    <p>Dịch vụ ngân hàng trực tuyến của PG Bank đã được đẩy mạnh phát triển trong thời gian gần đây, cho phép các khách hàng dễ dàng thực hiện hầu hết các giao dịch ngân hàng thông qua Internet với độ an toàn thông tin cao. Hiện tại, PG Bank đang sử dụng hệ thống ngân hàng lõi Corebanking do FlexCube cung cấp, trong khi hệ thống bảo mật thông tin hiện đại và đồng bộ được xây dựng bởi hãng Checkpoint.</p>

    <h3>Mạng lưới hoạt động</h3>
    <p>Tính đến nay, PG Bank có tổng số 80 chi nhánh và phòng giao dịch tại các tỉnh và thành phố lớn trên toàn quốc với gần 1.600 nhân viên. Hội sở chính của Ngân hàng đặt tại thủ đô Hà Nội</p>

    <h3>Mạng lưới ngân hàng đại lý</h3>
    <p>Hiện tại PG Bank đã thiết lập mạng lưới ngân hàng đại lý với gần 400 ngân hàng và chi nhánh ngân hàng trên toàn thế giới, trong đó PG Bank luôn đặt quan hệ đại lý với với các ngân hàng hàng đầu tại từng quốc gia và vùng lãnh thổ đó.</p>
    <p>Tại Việt Nam, PG Bank có quan hệ với tất cả các định chế tài chính trong nước bao gồm: Ngân hàng Thương mại Nhà Nước, Ngân hàng Thương mại cổ phần, Ngân hàng liên doanh, Ngân hàng 100% vốn nước ngoài và các chi nhánh ngân hàng nước ngoài, các công ty tài chính và các định chế tài chính khác.</p>

    <h3>Thông tin tài chính</h3>
    <p>- Từ sau khi chuyển đổi mô hình hoạt động năm 2007, PG Bank đã có những bước phát triển mạnh mẽ. Tổng tài sản của Ngân hàng đạt gần 32.000 tỷ đồng tại thời điểm 31/12/2019.</p>
    <p>- Bên cạnh chú trọng mở rộng quy mô, nâng cao các chỉ tiêu về an toàn vốn, chất lượng tài sản và hiệu quả hoạt động của toàn bộ hệ thống tài chính luôn được coi là trọng tâm trong các kế hoạch hoạt động của PG Bank. Hệ số an toàn vốn tối thiểu (CAR) luôn đáp ứng quy định của NHNN và tiêu chuẩn quốc tế, đạt 13,89% năm 2019.</p>

    <p>Xem thêm tại <a href="https://www.pgbank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website PG Bank">https://www.pgbank.com.vn/</a></p>
</section>














</article>
{{>aside-table}}
</div>
</div>
</main>