<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ PVcomBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:05 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng PVcomBank được cập nhật mới nhất vào lúc 18:55:05 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">23.010</td><td class="text-right">23.000</td><td class="text-right">25.160</td><td class="text-right">25.160</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.636</td><td class="text-right">26.370</td><td class="text-right">27.755</td><td class="text-right">27.755</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.142</td><td class="text-right">15.981</td><td class="text-right">16.624</td><td class="text-right">16.624</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.087</td><td class="text-right">30.777</td><td class="text-right">32.017</td><td class="text-right">32.017</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right"><span class="srlxk"></span>.<span class="mrdvh"></span>48</td><td class="text-right"><span class="srlxk"></span>.<span class="mrdvh"></span><span class="mrdvh"></span><span class="qafjr"></span></td><td class="text-right"><span class="srlxk"></span>.<span class="dhsby"></span><span class="srlxk"></span><span class="srlxk"></span></td><td class="text-right"><span class="srlxk"></span>.<span class="dhsby"></span><span class="srlxk"></span><span class="srlxk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right"><span class="mrdvh"></span>6<span class="mrdvh"></span>,<span class="srlxk"></span>6</td><td class="text-right"><span class="mrdvh"></span><span class="ysjai"></span>9,<span class="qafjr"></span><span class="ysjai"></span></td><td class="text-right"><span class="mrdvh"></span>68,68</td><td class="text-right"><span class="mrdvh"></span>68,68</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right"><span class="mrdvh"></span>8.<span class="dhsby"></span><span class="srlxk"></span>6</td><td class="text-right"><span class="mrdvh"></span>8.0<span class="ysjai"></span>4</td><td class="text-right"><span class="mrdvh"></span>8.<span class="qafjr"></span>8<span class="dhsby"></span></td><td class="text-right"><span class="mrdvh"></span>8.<span class="qafjr"></span>8<span class="dhsby"></span></td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:05 04/04/2024<br><a href="https://webgia.com/ty-gia/pvcombank/" title="Tỷ giá PVcomBank - TMCP Đại Chúng Việt Nam">https://webgia.com/ty-gia/pvcombank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Đại Chúng Việt Nam - PVcomBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.1","ratingCount":862,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 PVcomBank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n \u0110\u1ea1i Ch\u00fang Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="4b8a0282a15973d1ca6a64a5253288e8">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:82%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá PVcomBank - Ngân hàng thương mại cổ phần Đại Chúng Việt Nam - Web giá</div>4.1 trên 862 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Đại Chúng Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Vietnam Public Joint Stock Commercial Bank</p>
    <p><strong>Năm thành lập:</strong> 2013</p>
    <p><strong>Trụ sở chính:</strong> 22 Ngô Quyền, Quận Hoàn Kiếm, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> (84) 024 3942 6800</p>
    <p><strong>Số Fax:</strong> (84) 024 3942 6796/97</p>
    <p><strong>Hotline:</strong> 1900 5555 92</p>
    <p><strong>Website:</strong> www.pvcombank.com.vn</p>
    <p><strong>Email:</strong> pvb@pvcombank.com.vn</p>
    <p><strong>Swift Code:</strong> WBVNVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng TMCP Đại Chúng Việt Nam (PVcomBank) được thành ngày 16/09/2013 trên cơ sở hợp nhất giữa Tổng công ty Tài chính cổ phần Dầu khí Việt Nam (PVFC) và Ngân hàng TMCP Phương Tây (WesternBank). Ngày 01/10/2013, PVcomBank chính thức hoạt động với vốn điều lệ 9000 tỷ đồng và tổng tài sản đạt hơn 100.000 tỷ đồng. Đến nay, PVcomBank đã phát triển mạng lưới lên đến 119 điểm giao dịch với đội ngũ hơn 4000 cán bộ nhân viên. </p>
    <p>Với nguồn nhân lực chất lượng cao và bề dày kinh nghiệm, PVcomBank đang cung cấp các sản phẩm dịch vụ tài chính đa dạng, đáp ứng đầy đủ nhu cầu của khách hàng tổ chức và cá nhân. Trong thời gian qua, PVcomBank đã và đang là một trong những ngân hàng đi đầu trong việc ứng dụng số hóa nhằm đẩy mạnh phát triển các sản phẩm dịch vụ ưu việt, hướng tới mục tiêu nâng cao trải nghiệm, mang đến cho khách hàng những dấu ấn khác biệt trong sử dụng dịch vụ. Mỗi sản phẩm tài chính của PVcomBank luôn đồng hành với hàng triệu cá nhân và doanh nghiệp trong từng giai đoạn của cuộc đời, nhân lên những giá trị về tài chính, đồng thời lan tỏa nhiều niềm vui cho khách hàng.</p>
    <p>Song song với đó, hệ thống quản trị nhân sự cốt lõi cũng đã được xây dựng và triển khai thành công tại PVcomBank. Đồng thời, Ngân hàng cũng không ngừng kiện toàn cơ cấu quản trị doanh nghiệp, hoàn thiện các chính sách dành cho người lao động, xây dựng môi trường văn hóa doanh nghiệp vững mạnh, hiệu quả.</p>
    <p>Bằng những cố gắng, nỗ lực không ngừng trong việc nâng cao chất lượng sản phẩm dịch vụ và đa dạng tiện ích cho khách hàng, PVcomBank đã được ghi nhận thông qua hàng loạt các giải thưởng uy tín trong nước và quốc tế như: Ngân hàng có giải pháp quản lý dòng tiền mặt doanh nghiệp hiệu quả 2019; Ngân hàng có sản phẩm cho vay doanh nghiệp vừa và nhỏ tốt nhất Việt Nam năm 2018, 2019; Ngân hàng có ứng dụng thanh toán di động phát triển nhanh nhất Việt Nam 2019, Ngân hàng có môi trường làm việc tốt nhất Việt Nam 2019; Ngân hàng có sản phẩm Tài trợ thương mại tốt nhất Việt Nam 2018; Ngân hàng có sản phẩm Online Banking sáng tạo hiệu quả nhất Việt Nam 2018; Ngân hàng bán lẻ đổi mới hiệu quả nhất Việt Nam 2017; Ngân hàng có sản phẩm Mobile Banking sáng tạo hiệu quả 2017; Top 500 Doanh nghiệp tăng trưởng nhanh nhất Việt Nam năm 2017, 2018 ..v.v..</p>
    <p>Những giải thưởng này một lần nữa khẳng định cho chất lượng sản phẩm, dịch vụ, uy tín và sức cạnh tranh nổi bật của PVcomBank trên thị trường tài chính, đồng thời khẳng định định hướng phát triển đúng đắn của Ngân hàng trong thời gian qua.</p>
    <p>Với khẩu hiệu hành động “Ngân hàng không khoảng cách”, PVcomBank luôn hướng tới việc xây dựng hình ảnh một Ngân hàng thân thiện, tận tụy, vì sự thành công của khách hàng. Chúng tôi cam kết sẽ trở thành Ngân hàng chuẩn mực trong cung cấp dịch vụ; với phong cách chuyên nghiệp, lấy lợi ích của khách hàng – đối tác làm mục tiêu hành động, đồng thời thực hiện tốt trách nhiệm xã hội của doanh nghiệp, mang lại lợi ích cho cộng đồng và gia tăng giá trị cho cổ đông.</p>
    <p>Xem thêm tại <a href="https://www.pvcombank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website PVcomBank">https://www.pvcombank.com.vn/</a></p>
</section>




</article>
{{>aside-table}}
</div>
</div>
</main>