<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ SeABank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
Bảng tỷ giá ngoại tệ ngân hàng SeABank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.770</td><td class="text-right">24.770</td><td class="text-right">25.150</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(5,10,20)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.750</td><td class="text-right">24.770</td><td class="text-right">25.150</td><td class="text-right">25.150</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(1,2)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.680</td><td class="text-right">24.770</td><td class="text-right">25.150</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.665</td><td class="text-right">26.715</td><td class="text-right">27.795</td><td class="text-right">27.795</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right"><span class="yomnl"></span><span class="injls"></span>.<span class="zirgb"></span>08</td><td class="text-right"><span class="yomnl"></span><span class="injls"></span>.<span class="zirgb"></span>08</td><td class="text-right"><span class="yomnl"></span><span class="injls"></span>.<span class="wcami"></span>08</td><td class="text-right"><span class="yomnl"></span><span class="injls"></span>.808</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right"><span class="yomnl"></span>8.<span class="yomnl"></span>5<span class="injls"></span></td><td class="text-right"><span class="yomnl"></span>8.<span class="zirgb"></span>3<span class="injls"></span></td><td class="text-right"><span class="yomnl"></span>8.<span class="wcami"></span>0<span class="injls"></span></td><td class="text-right"><span class="yomnl"></span>8.80<span class="injls"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="zirgb"></span>7.<span class="yomnl"></span><span class="yomnl"></span><span class="cjwbl"></span></td><td class="text-right"><span class="zirgb"></span>7.<span class="zirgb"></span><span class="yomnl"></span><span class="cjwbl"></span></td><td class="text-right"><span class="zirgb"></span>7.<span class="wcami"></span><span class="zirgb"></span><span class="cjwbl"></span></td><td class="text-right"><span class="zirgb"></span>7.8<span class="zirgb"></span><span class="cjwbl"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">3<span class="yomnl"></span>.0<span class="wcami"></span>5</td><td class="text-right">3<span class="yomnl"></span>.3<span class="cjwbl"></span>5</td><td class="text-right">3<span class="zirgb"></span>.<span class="zirgb"></span><span class="cjwbl"></span>5</td><td class="text-right">3<span class="zirgb"></span>.<span class="yomnl"></span><span class="cjwbl"></span>5</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">2.707</td><td class="text-right">3.007</td><td class="text-right">3.377</td><td class="text-right">3.367</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">159,38</td><td class="text-right">161,28</td><td class="text-right">168,88</td><td class="text-right">168,38</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">17,52</td><td class="text-right">-</td><td class="text-right">20,32</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.248</td><td class="text-right">18.248</td><td class="text-right">18.948</td><td class="text-right">18.848</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">628</td><td class="text-right">648</td><td class="text-right">715</td><td class="text-right">710</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/seabank/" title="Tỷ giá SeABank - TMCP Đông Nam Á">https://webgia.com/ty-gia/seabank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Đông Nam Á - SeABank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.8","ratingCount":856,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 SeABank - Ng\u00e2n h\u00e0ng TMCP \u0110\u00f4ng Nam \u00c1 - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="0d5d98135d6670290644e63726abafb4">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:96%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá SeABank - Ngân hàng TMCP Đông Nam Á - Web giá</div>4.8 trên 856 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Southeast Asia Commercial Joint Stock Bank</p>
    <p><strong>Trụ sở chính:</strong> 25 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> 024 3944 8688</p>
    <p><strong>Số Fax:</strong> 024 3944 8689</p>
    <p><strong>Hotline:</strong> 1900 555 587 (KH Cá nhân: Nhánh 1. KH Doanh nghiệp: Nhánh 2)</p>
    <p><strong>Hotline KH Ưu tiên:</strong> 1800 55 88 99</p>
    <p><strong>Website:</strong> seabank.com.vn</p>
    <p><strong>Email:</strong> contact@seabank.com.vn</p>
    <p><strong>Swift Code:</strong> SEAVVNVX</p>
    <p><strong>Năm thành lập:</strong> 1994</p>

    <h3>Giới thiệu về Ngân hàng TMCP Đông Nam Á (SeABank)</h3>
    <p>Ngân hàng TMCP Đông Nam Á (SeABank) có trụ sở chính tại 25 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội, SeABank được biết đến là một trong nhóm dẫn đầu các ngân hàng thương mại cổ phần lớn nhất Việt Nam về qui mô vốn điều lệ, mạng lưới hoạt động, mức độ nhận biết thương hiệu và tốc độ tăng trưởng ổn định.</p>

    <p>Thành lập từ năm 1994, SeABank trải qua chặng đường 25 năm phát triển để đạt được thành tựu hôm nay với vốn điều lệ 9.369 tỷ đồng, tổng tài sản đạt gần 160 nghìn tỷ đồng và một mạng lưới hoạt động trên khắp 3 miền đất nước với gần 170 chi nhánh và điểm giao dịch.</p>
    <h4>Sứ mệnh</h4>
    <p>Phục vụ với sự tận tâm, nhiệt huyết để mang đến cuộc sống hạnh phúc hơn và một tương lai thịnh vượng cho cộng đồng.</p>
    <h4>Tầm nhìn</h4>
    <p>Trở thành ngân hàng được yêu thích nhất tại Việt Nam, cung cấp đầy đủ, đa dạng các sản phẩm và dịch vụ tài chính với trải nghiệm tốt nhất cho mọi đối tượng khách hàng. SeABank cam kết minh bạch thông tin và mang tới dịch vụ hoàn hảo cùng lợi ích cao nhất cho khách hàng, nhà đầu tư, đảm bảo sự phát triển bền vững của Ngân hàng </p>
    <h4>Chiến lược phát triển</h4>
    <p>Xây dựng và phát triển SeABank trở thành ngân hàng bán lẻ tiêu biểu tại Việt Nam là chiến lược phát triển cốt lõi của SeABank trong thời gian tới. Trong chiến lược phát triển ngân hàng bán lẻ, SeABank sẽ tập trung đặc biệt vào khách hàng cá nhân, đồng thời phát triển mảng doanh nghiệp vừa và nhỏ cũng như doanh nghiệp lớn. Các sản phẩm, dịch vụ của SeABank được thiết kế đa dạng phù hợp với nhu cầu và năng lực tài chính của từng đối tượng và phân khúc khách hàng.</p>
    <h4>Phương châm hoạt động</h4>
    <p>Phát triển toàn diện, an toàn, hiệu quả và bền vững đóng góp vào sự phồn thịnh của nền kinh tế và xã hội đất nước.</p>
    <p>Xem thêm tại <a href="https://www.seabank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website SeABank">https://www.seabank.com.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>