<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ TPBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng Tiên Phong (TPBank) được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.750</td><td class="text-right">24.803</td><td class="text-right">25.210</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.591</td><td class="text-right">26.645</td><td class="text-right">27.954</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.036</td><td class="text-right">16.203</td><td class="text-right">16.957</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.063</td><td class="text-right">18.191</td><td class="text-right">18.964</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2<span class="zfvon"></span>.<span class="urpab"></span><span class="ebukj"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">3.<span class="vkhyr"></span><span class="vkhyr"></span>4</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/czk/" class="currency-icon" title="Tỷ giá CZK"><span class="cur-icon ci-czk"></span><span>CZK</span></a></td>
<td>Koruna Séc</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">1.2<span class="ebukj"></span>1</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">3.<span class="jytuv"></span>41</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.012</td><td class="text-right">31.073</td><td class="text-right">32.351</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">3.291</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/huf/" class="currency-icon" title="Tỷ giá HUF"><span class="cur-icon ci-huf"></span><span>HUF</span></a></td>
<td>Forint Hungary</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">81</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/inr/" class="currency-icon" title="Tỷ giá INR"><span class="cur-icon ci-inr"></span><span>INR</span></a></td>
<td>Rupee Ấn Độ</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">308</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">158,84</td><td class="text-right">161,11</td><td class="text-right">170,26</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">19,13</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/kwd/" class="currency-icon" title="Tỷ giá KWD"><span class="cur-icon ci-kwd"></span><span>KWD</span></a></td>
<td>Đồng Dinar</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">84.535</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">5.494</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2.401</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">15.528</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/pln/" class="currency-icon" title="Tỷ giá PLN"><span class="cur-icon ci-pln"></span><span>PLN</span></a></td>
<td>Polish Zloty Ba Lan</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">6.706</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/rub/" class="currency-icon" title="Tỷ giá RUB"><span class="cur-icon ci-rub"></span><span>RUB</span></a></td>
<td>Rúp Nga</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">316</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sar/" class="currency-icon" title="Tỷ giá SAR"><span class="cur-icon ci-sar"></span><span>SAR</span></a></td>
<td>Rian Ả-Rập-Xê-Út</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">6.872</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">2.420</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.008</td><td class="text-right">18.236</td><td class="text-right">18.909</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">703,66</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/twd/" class="currency-icon" title="Tỷ giá TWD"><span class="cur-icon ci-twd"></span><span>TWD</span></a></td>
<td>Đài Tệ</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">805</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/zar/" class="currency-icon" title="Tỷ giá ZAR"><span class="cur-icon ci-zar"></span><span>ZAR</span></a></td>
<td>Rand Nam Phi</td>
<td class="text-right">-</td><td class="text-right">-</td><td class="text-right">1.380</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/tpbank/" title="Tỷ giá TPB - TMCP Tiên Phong">https://webgia.com/ty-gia/tpbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Thương mại Cổ phần Tiên Phong - TPBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Ti\u00ean Phong Bank (TPBank) - Ng\u00e2n h\u00e0ng Th\u01b0\u01a1ng m\u1ea1i C\u1ed5 ph\u1ea7n Ti\u00ean Phong - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="0842c2319c6a576573720e08cecc5738">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Tiên Phong Bank (TPBank) - Ngân hàng Thương mại Cổ phần Tiên Phong - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Thương mại Cổ phần Tiên Phong</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> Tòa nhà TPBank, 57 Lý Thường Kiệt, Quận Hoàn Kiếm, Hà Nội.</p>
    <p><strong>Số điện thoại:</strong> 024 37688998</p>
    <p><strong>Số Fax:</strong> 024 37688979</p>
    <p><strong>Hotline:</strong> 1900585885 - (04)37683683</p>
    <p><strong>Website:</strong> https://tpb.vn/</p>
    <p><strong>Email:</strong> dichvu_khachhang@tpb.com.vn</p>
    <p><strong>Swift Code:</strong> TPBVVNVX</p>
    <h3>Giới thiệu</h3>
    <p><strong>Ngân hàng Thương mại Cổ phần Tiên Phong</strong> (gọi tắt là <strong>TPBank</strong>) được thành lập từ ngày 05/05/2008. TPBank có các cổ đông chiến lược bao gồm: Tập đoàn Vàng bạc Đá quý DOJI, Tập đoàn Công nghệ FPT, Công ty Tài chính quốc tế (IFC), Tổng công ty Tái bảo hiểm Việt Nam (Vinare) và Tập đoàn Tài chính SBI Ven Holding Pte. Ltd.,Singapore.
    </p>
    <h3>Hoạt động kinh doanh</h3>
    <p>
    - Cá nhân: Các sản phẩm thẻ, Tài khoản, Tiết kiệm, Các sản phẩm cho vay, Chuyển và nhận tiền<br>
    - Doanh nghiệp: Dịch vụ cho vay và tài trợ thương mại, Dịch vụ thanh toán trong nước, Dịch vụ bảo lãnh, Thanh toán quốc tế, Dịch vụ quản lý tiền gửi, Dịch vụ ngoại hối, Dịch vụ thẻ doanh nghiệp <br>
    - Ngân hàng điện tử: eBank cá nhân, eBank doanh nghiệp <br>
    - Ngân hàng số: Điểm giao dịch tự động 24/7 (LiveBank)
    </p>
    <p>Xem thêm tại <a href="https://tpb.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website TPBank">https://tpb.vn/</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>