<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ VIB mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng VIB được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th><th class="text-right">Bán<span> chuyển khoản</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.710</td><td class="text-right">24.770</td><td class="text-right">25.160</td><td class="text-right">25.110</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.667</td><td class="text-right">26.767</td><td class="text-right">27.519</td><td class="text-right">27.419</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.132</td><td class="text-right">16.262</td><td class="text-right">16.824</td><td class="text-right">16.724</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.106</td><td class="text-right">18.236</td><td class="text-right">18.839</td><td class="text-right">18.739</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right">-</td><td class="text-right"><span class="nrqbg"></span>7.<span class="jmahq"></span><span class="nrqbg"></span><span class="nrqbg"></span></td><td class="text-right">-</td><td class="text-right"><span class="nrqbg"></span><span class="nbqjv"></span>.337</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/czk/" class="currency-icon" title="Tỷ giá CZK"><span class="cur-icon ci-czk"></span><span>CZK</span></a></td>
<td>Koruna Séc</td>
<td class="text-right">-</td><td class="text-right"><span class="jmahq"></span>.<span class="dcowv"></span>53</td><td class="text-right">-</td><td class="text-right"><span class="jmahq"></span>.<span class="jmahq"></span>56</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">3.536</td><td class="text-right">-</td><td class="text-right">3.77<span class="kugqm"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">3<span class="dcowv"></span>.9<span class="nrqbg"></span>5</td><td class="text-right">3<span class="jmahq"></span>.<span class="jmahq"></span><span class="nbqjv"></span>5</td><td class="text-right">3<span class="nrqbg"></span>.<span class="dcowv"></span>96</td><td class="text-right">3<span class="jmahq"></span>.996</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">-</td><td class="text-right">3.107</td><td class="text-right">-</td><td class="text-right">3.329</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/idr/" class="currency-icon" title="Tỷ giá IDR"><span class="cur-icon ci-idr"></span><span>IDR</span></a></td>
<td>Rupiah Indonesia</td>
<td class="text-right">-</td><td class="text-right">1,54</td><td class="text-right">-</td><td class="text-right">1,70</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/inr/" class="currency-icon" title="Tỷ giá INR"><span class="cur-icon ci-inr"></span><span>INR</span></a></td>
<td>Rupee Ấn Độ</td>
<td class="text-right">-</td><td class="text-right">293,44</td><td class="text-right">-</td><td class="text-right">323,35</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,86</td><td class="text-right">162,26</td><td class="text-right">168,14</td><td class="text-right">167,14</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">-</td><td class="text-right">18,43</td><td class="text-right">-</td><td class="text-right">20,06</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">-</td><td class="text-right">5.222</td><td class="text-right">-</td><td class="text-right">5.754</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.215</td><td class="text-right">-</td><td class="text-right">2.471</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">-</td><td class="text-right">14.924</td><td class="text-right">-</td><td class="text-right">15.940</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/php/" class="currency-icon" title="Tỷ giá PHP"><span class="cur-icon ci-php"></span><span>PHP</span></a></td>
<td>Peso Philippine</td>
<td class="text-right">-</td><td class="text-right">434,72</td><td class="text-right">-</td><td class="text-right">479,04</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.302</td><td class="text-right">-</td><td class="text-right">2.537</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.103</td><td class="text-right">18.233</td><td class="text-right">18.897</td><td class="text-right">18.797</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">663,30</td><td class="text-right">-</td><td class="text-right">737</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/zar/" class="currency-icon" title="Tỷ giá ZAR"><span class="cur-icon ci-zar"></span><span>ZAR</span></a></td>
<td>Rand Nam Phi</td>
<td class="text-right">-</td><td class="text-right">1.312</td><td class="text-right">-</td><td class="text-right">1.446</td></tr>
<tr><td colspan="6" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vib/" title="Tỷ giá VIB - TMCP Quốc tế Việt Nam">https://webgia.com/ty-gia/vib/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Quốc tế Việt Nam - VIB</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.9","ratingCount":844,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 VIB - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Qu\u1ed1c t\u1ebf Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="60afbb533324a8c335447d9205761d5c">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:98%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá VIB - Ngân hàng thương mại cổ phần Quốc tế Việt Nam - Web giá</div>4.9 trên 844 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Quốc tế Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Vietnam International Commercial Joint Stock Bank</p>
    <p><strong>Năm thành lập:</strong> 1996</p>
    <p><strong>Trụ sở chính:</strong> Tầng 2 Tòa nhà Sailing Tower số 111A Pasteur, phường Bến Nghé, Quận 1, Tp.HCM</p>
    <p><strong>Số điện thoại:</strong> (+84 28) 6299 9039</p>
    <p><strong>Số Fax:</strong> (+84 28) 6299 9040</p>
    <p><strong>Hotline:</strong> 1800 8180 (Tổng đài chung) - 1800 8192 (Đăng ký sản phẩm) - 1800 8195 (Dịch vụ thẻ)</p>
    <p><strong>Website:</strong> www.vib.com.vn</p>
    <p><strong>Email:</strong> dvkh247@vib.com.vn</p>
    <p><strong>Swift Code:</strong> VNIBVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngân hàng Thương mại cổ phần (TMCP) Quốc Tế Việt Nam, tên viết tắt Ngân hàng Quốc Tế (VIB), là một trong những ngân hàng TMCP hàng đầu tại Việt Nam. Sau hơn 24 năm thành lập, VIB đã đạt được những bước phát triển vượt bậc</p>
    <p>Thành lập ngày 18/9/1996, VIB bắt đầu đi vào hoạt động với số vốn điều lệ ban đầu là 50 tỷ đồng và 23 cán bộ nhân viên.</p>
    <p>Đến ngày 31/12/2019, vốn điều lệ đã tăng gấp gần 185 lần so với ngày đầu thành lập, đạt 9.245 tỷ đồng. Vốn chủ sở hữu đạt hơn 13.000 tỷ đồng và tổng tài sản đạt 185 nghìn tỷ đồng.</p>
    <p>VIB hiện có hơn 8.000 cán bộ nhân viên, tăng gấp 348 lần so với thời gian đầu, phục vụ gần 2 triệu khách hàng tại 163 chi nhánh và phòng giao dịch ở 27 tỉnh/thành trọng điểm trong cả nước.</p>




    <p>Xem thêm tại <a href="https://www.vib.com.vn/wps/portal/vn/ca-nhan" target="_blank" rel="nofollow" title="Website VIB">https://www.vib.com.vn/</a></p>
</section>




</article>
{{>aside-table}}
</div>
</div>
</main>