<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ VietinBank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:10 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng VietinBank được cập nhật mới nhất vào lúc 18:55:10 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(50,100)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.695</td><td class="text-right">24.735</td><td class="text-right">25.155</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD <span>(&lt;50)</span></span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">23.845</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR <span>(50,100)</span></span></a></td>
<td>Euro</td>
<td class="text-right">26.229</td><td class="text-right">26.439</td><td class="text-right">27.729</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR <span>(&lt;50)</span></span></a></td>
<td>Euro</td>
<td class="text-right">26.219</td><td class="text-right">-</td><td class="text-right">-</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.1<span class="sigdz"></span><span class="rzahq"></span></td><td class="text-right">16.19<span class="rzahq"></span></td><td class="text-right">16.<span class="sigdz"></span>9<span class="rzahq"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.168</td><td class="text-right">18.1<span class="sigdz"></span>8</td><td class="text-right">18.8<span class="sigdz"></span>8</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="kyubo"></span><span class="sigdz"></span>.<span class="rzahq"></span><span class="rzahq"></span><span class="kyubo"></span></td><td class="text-right"><span class="kyubo"></span><span class="sigdz"></span>.<span class="rzahq"></span><span class="kyubo"></span><span class="kyubo"></span></td><td class="text-right"><span class="kyubo"></span><span class="sigdz"></span>.9<span class="sigdz"></span><span class="kyubo"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right">-</td><td class="text-right"><span class="jncrf"></span>.<span class="jncrf"></span><span class="sigdz"></span>8</td><td class="text-right"><span class="jncrf"></span>.<span class="lbzat"></span>18</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">3.542</td><td class="text-right">3.712</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">31.020</td><td class="text-right">31.030</td><td class="text-right">32.200</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.056</td><td class="text-right">3.066</td><td class="text-right">3.261</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,22</td><td class="text-right">160,37</td><td class="text-right">169,92</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">16,31</td><td class="text-right">16,51</td><td class="text-right">20,31</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/lak/" class="currency-icon" title="Tỷ giá LAK"><span class="cur-icon ci-lak"></span><span>LAK</span></a></td>
<td>Kip Lào</td>
<td class="text-right">-</td><td class="text-right">0,68</td><td class="text-right">1,38</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.257</td><td class="text-right">2.377</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nzd/" class="currency-icon" title="Tỷ giá NZD"><span class="cur-icon ci-nzd"></span><span>NZD</span></a></td>
<td>Đô New Zealand</td>
<td class="text-right">14.802</td><td class="text-right">14.812</td><td class="text-right">15.392</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.284</td><td class="text-right">2.419</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">17.957</td><td class="text-right">17.967</td><td class="text-right">18.767</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">626,70</td><td class="text-right">666,70</td><td class="text-right">694,70</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:10 04/04/2024<br><a href="https://webgia.com/ty-gia/vietinbank/" title="Tỷ giá VietinBank - TMCP Công Thương Việt Nam">https://webgia.com/ty-gia/vietinbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng TMCP Công Thương Việt Nam - VietinBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":5,"ratingCount":865,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 VietinBank - Ng\u00e2n h\u00e0ng TMCP C\u00f4ng Th\u01b0\u01a1ng Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="8a381e282f292ad68e55668fedd40762">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:100%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá VietinBank - Ngân hàng TMCP Công Thương Việt Nam - Web giá</div>5 trên 865 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng TMCP Công Thương Việt Nam</h2>
    <p>Ngân Hàng TMCP Công Thương Việt Nam (VietinBank) được thành lập từ năm 1988 sau khi tách ra từ Ngân hàng Nhà nước Việt Nam. Là Ngân hàng thương mại lớn, giữ vai trò quan trọng, trụ cột của ngành Ngân hàng Việt Nam.</p>
    <p>Có hệ thống mạng lưới trải rộng toàn quốc với 155 Chi nhánh và trên 1.000 Phòng giao dịch. Có 9 Công ty hạch toán độc lập là Công ty Cho thuê Tài chính, Công ty Chứng khoán Công thương, Công ty Quản lý Nợ và Khai thác Tài sản, Công ty Bảo hiểm VietinBank, Công ty Quản lý Quỹ, Công ty Vàng bạc đá quý, Công ty Công đoàn, Công ty Chuyển tiền toàn cầu, Công ty VietinAviva và 05 đơn vị sự nghiệp là Trung tâm Công nghệ Thông tin, Trung tâm Thẻ, Trường Đào tạo và phát triển nguồn nhân lực, nhà nghỉ Bank Star I và nhà nghỉ Bank Star II - Cửa Lò. Là thành viên sáng lập và là đối tác liên doanh của Ngân hàng INDOVINA.</p>
    <p>Có quan hệ đại lý với trên 900 ngân hàng, định chế tài chính tại hơn 90 quốc gia và vùng lãnh thổ trên toàn thế giới.</p>
    <p>Là thành viên của Hiệp hội Ngân hàng Việt Nam, Hiệp hội ngân hàng Châu Á, Hiệp hội Tài chính viễn thông Liên ngân hàng toàn cầu (SWIFT), Tổ chức Phát hành và Thanh toán thẻ VISA, MASTER quốc tế.</p>
    <p>Là ngân hàng tiên phong trong việc ứng dụng công nghệ hiện đại và thương mại điện tử tại Việt Nam, đáp ứng yêu cầu quản trị &amp; kinh doanh.</p>
    <p>Là ngân hàng đầu tiên tại Việt Nam mở chi nhánh tại Châu Âu, đánh dấu bước phát triển vượt bậc của nền tài chính Việt Nam trên thị trường khu vực và thế giới. Không ngừng nghiên cứu, cải tiến các sản phẩm, dịch vụ hiện có và phát triển các sản phẩm mới nhằm đáp ứng cao nhất nhu cầu của khách hàng.</p>
    <p><strong>Sứ mệnh</strong>: Là ngân hàng số 1 của hệ thống ngân hàng Việt Nam, cung cấp sản phẩm dịch vụ tài chính ngân hàng hiện đại, tiện ích, tiêu chuẩn quốc tế.</p>
    <p><strong>Tầm nhìn</strong>: Đến năm 2018, trở thành một tập đoàn tài chính ngân hàng hiện đại, đa năng, theo chuẩn quốc tế.</p>
    <p>Xem thêm tại <a href="https://www.vietinbank.vn/web/home/vn/index.html?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website VietinBank">https://www.vietinbank.vn</a></p>
</section></article>
{{>aside-table}}
</div>
</div>
</main>