<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ Vietcombank mới nhất ngày hôm nay <small>- Cập nhật lúc 18:55:03 04/04/2024</small></h1>

<p>Bảng tỷ giá ngoại tệ ngân hàng Vietcombank được cập nhật <strong>mới nhất</strong> tại <a href="http://www.vietcombank.com.vn/ExchangeRates/default.aspx" target="_blank" rel="nofollow" title="Hội Sở Chính Vietcombank"><strong>Hội Sở Chính</strong></a></p>
<p>Tra cứu thêm <strong>lịch sử tỷ giá Vietcombank</strong> <a id="den_tra_cuu" href="https://webgia.com/ty-gia/vietcombank/#" title="lịch sử tỷ giá Vietcombank">tại đây</a>.</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.740,00</td><td class="text-right">24.770,00</td><td class="text-right">25.110,00</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.368,73</td><td class="text-right">26.635,08</td><td class="text-right">27.815,37</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.019,05</td><td class="text-right">16.180,86</td><td class="text-right">16.700,44</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">17.999,26</td><td class="text-right">18.181,08</td><td class="text-right">18.764,89</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="rohqe"></span>6.<span class="csefk"></span>1<span class="ujdqy"></span>,<span class="rohqe"></span>5</td><td class="text-right"><span class="rohqe"></span><span class="miguo"></span>.0<span class="csefk"></span>4,0<span class="ihvyf"></span></td><td class="text-right"><span class="rohqe"></span><span class="miguo"></span>.<span class="ihvyf"></span>5<span class="ujdqy"></span>,<span class="miguo"></span><span class="csefk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cny/" class="currency-icon" title="Tỷ giá CNY"><span class="cur-icon ci-cny"></span><span>CNY</span></a></td>
<td>Nhân dân tệ</td>
<td class="text-right"><span class="ujdqy"></span>.<span class="ujdqy"></span><span class="miguo"></span><span class="miguo"></span>,10</td><td class="text-right"><span class="ujdqy"></span>.411,<span class="rohqe"></span>1</td><td class="text-right"><span class="ujdqy"></span>.5<span class="rohqe"></span>1,<span class="rohqe"></span><span class="csefk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right"><span class="ujdqy"></span>.561,<span class="ihvyf"></span><span class="csefk"></span></td><td class="text-right"><span class="ujdqy"></span>.6<span class="ihvyf"></span><span class="csefk"></span>,4<span class="ihvyf"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right"><span class="ujdqy"></span>0.<span class="miguo"></span>5<span class="rohqe"></span>,5<span class="csefk"></span></td><td class="text-right"><span class="ujdqy"></span>1.06<span class="ujdqy"></span>,<span class="rohqe"></span><span class="rohqe"></span></td><td class="text-right"><span class="ujdqy"></span><span class="rohqe"></span>.060,6<span class="csefk"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.104,92</td><td class="text-right">3.136,28</td><td class="text-right">3.236,99</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/inr/" class="currency-icon" title="Tỷ giá INR"><span class="cur-icon ci-inr"></span><span>INR</span></a></td>
<td>Rupee Ấn Độ</td>
<td class="text-right">-</td><td class="text-right">298,12</td><td class="text-right">310,05</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">159,45</td><td class="text-right">161,06</td><td class="text-right">168,77</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/krw/" class="currency-icon" title="Tỷ giá KRW"><span class="cur-icon ci-krw"></span><span>KRW</span></a></td>
<td>Won Hàn Quốc</td>
<td class="text-right">16,01</td><td class="text-right">17,79</td><td class="text-right">19,41</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/kwd/" class="currency-icon" title="Tỷ giá KWD"><span class="cur-icon ci-kwd"></span><span>KWD</span></a></td>
<td>Đồng Dinar</td>
<td class="text-right">-</td><td class="text-right">80.931,53</td><td class="text-right">84.169,49</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/myr/" class="currency-icon" title="Tỷ giá MYR"><span class="cur-icon ci-myr"></span><span>MYR</span></a></td>
<td>Ringgit Malaysia</td>
<td class="text-right">-</td><td class="text-right">5.208,63</td><td class="text-right">5.322,38</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.286,40</td><td class="text-right">2.383,55</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/rub/" class="currency-icon" title="Tỷ giá RUB"><span class="cur-icon ci-rub"></span><span>RUB</span></a></td>
<td>Rúp Nga</td>
<td class="text-right">-</td><td class="text-right">257,00</td><td class="text-right">284,51</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sar/" class="currency-icon" title="Tỷ giá SAR"><span class="cur-icon ci-sar"></span><span>SAR</span></a></td>
<td>Rian Ả-Rập-Xê-Út</td>
<td class="text-right">-</td><td class="text-right">6.630,65</td><td class="text-right">6.895,94</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.301,20</td><td class="text-right">2.398,97</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.043,36</td><td class="text-right">18.225,61</td><td class="text-right">18.810,85</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">600,80</td><td class="text-right">667,56</td><td class="text-right">693,14</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vietcombank/" title="Tỷ giá Vietcombank - TMCP Ngoại thương Việt Nam">https://webgia.com/ty-gia/vietcombank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Ngân hàng thương mại cổ phần Ngoại thương Việt Nam - Vietcombank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.7","ratingCount":868,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 Vietcombank - Ng\u00e2n h\u00e0ng th\u01b0\u01a1ng m\u1ea1i c\u1ed5 ph\u1ea7n Ngo\u1ea1i th\u01b0\u01a1ng Vi\u1ec7t Nam - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="5b318b79808d35d44d55d16d734b2dd3">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:94%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá Vietcombank - Ngân hàng thương mại cổ phần Ngoại thương Việt Nam - Web giá</div>4.7 trên 868 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section>
    <h2 class="h-head">Tra cứu lịch sử tỷ giá Vietcombank</h2>
    <div class="row" id="tracuu">
        <div class="col-xs-12">
            <p>Vui lòng điền ngày cần tra cứu tỷ giá vào ô bên dưới, sau đó bấm <strong>Tra cứu</strong>.<br><br></p>
            <form class="form-inline text-center" method="POST">
                <div class="form-group">
                    <label class="sr-only" for="hcalendar">Tra cứu tỷ giá ngoại tệ</label>
                    <div class="input-group">
                        <input type="text" name="date" class="form-control" value="04/04/2024" id="hcalendar" placeholder="04/04/2024">
                    <div class="input-group-addon bn-icon-calendar">ↆ</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Tra cứu</button>
                <br><br><br><br>
            </form>
        </div>
    </div>
</section>
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng thương mại cổ phần Ngoại thương Việt Nam</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Trụ sở chính:</strong> 198 Trần Quang Khải, Hoàn Kiếm, Hà Nội</p>
    <p><strong>Số điện thoại:</strong> 84-24-39343137</p>
    <p><strong>Số Fax:</strong> 84-24-38269067</p>
    <p><strong>Hotline:</strong> 02438243524 - 1900545413</p>
    <p><strong>Website:</strong> www.vietcombank.com.vn</p>
    <p><strong>Email:</strong> webmaster@vietcombank.com.vn</p>
    <p><strong>Telex:</strong> 411504/411229 VCB – VT</p>
    <p><strong>Swift Code:</strong> BFTVVNVX</p>
    <p><strong>Thông tin thêm:</strong> Mã citad: 01203001</p>
    <h3>Giới thiệu</h3>
    <p>Ngân hàng Ngoại thương Việt Nam trước đây, nay là Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank) được thành lập và chính thức đi vào hoạt động ngày 01/4/1963 với tổ chức tiền thân là Cục Ngoại hối (trực thuộc Ngân hàng Nhà nước Việt Nam). Là ngân hàng thương mại nhà nước đầu tiên được Chính phủ lựa chọn thực hiện thí điểm cổ phần hoá, Vietcombank chính thức hoạt động với tư cách là một ngân hàng thương mại cổ phần vào ngày 02/6/2008. Ngày 30/6/2009, cổ phiếu Vietcombank (mã chứng khoán VCB) chính thức được niêm yết tại Sở Giao dịch Chứng khoán TPHCM.</p>
    <p>Trải qua hơn 50 năm xây dựng và trưởng thành, Vietcombank đã có những đóng góp quan trọng cho sự ổn định và phát triển của kinh tế đất nước, phát huy tốt vai trò của một ngân hàng đối ngoại chủ lực, phục vụ hiệu quả cho phát triển kinh tế trong nước, đồng thời tạo những ảnh hưởng quan trọng đối với cộng đồng tài chính khu vực và toàn cầu.</p>
    <p>Vietcombank là một ngân hàng đa năng, hoạt động đa lĩnh vực, cung cấp cho khách hàng đầy đủ các dịch vụ tài chính hàng đầu trong lĩnh vực thương mại quốc tế; trong các hoạt động truyền thống như kinh doanh vốn, huy động vốn, tín dụng, tài trợ dự án... cũng như mảng dịch vụ ngân hàng hiện đại: kinh doanh ngoại tệ và các công vụ phái sinh, dịch vụ thẻ, ngân hàng điện tử...</p>
    <p>Sở hữu hạ tầng kỹ thuật ngân hàng hiện đại, Vietcombank có nhiều lợi thế trong việc ứng dụng công nghệ tiên tiến vào xử lý tự động các dịch vụ ngân hàng, phát triển các sản phẩm, dịch vụ ngân hàng điện tử dựa trên nền tảng công nghệ cao: VCB Internet Banking, VCB Money, SMS Banking, Phone Banking.</p>
    <p>Sau hơn nửa thế kỷ hoạt động trên thị trường, Vietcombank hiện là một trong những ngân hàng thương mại lớn nhất Việt Nam với trên 14.000 cán bộ nhân viên, hơn 460 Chi nhánh/Phòng Giao dịch/Văn phòng đại diện/Đơn vị thành viên trong và ngoài nước, gồm Trụ sở chính tại Hà Nội, 96 chi nhánh và 368 phòng giao dịch trên toàn quốc, 2 công ty con tại Việt Nam, 1 văn phòng đại diện và 2 công ty con tại nước ngoài, 5 công ty liên doanh, liên kết. Bên cạnh đó, Vietcombank còn phát triển một hệ thống Autobank với hơn 2.300 máy ATM và trên  69.000 điểm chấp nhận thanh toán thẻ (POS) trên toàn quốc. Hoạt động ngân hàng còn được hỗ trợ bởi mạng lưới hơn 1.856 ngân hàng đại lý tại 176 quốc gia và vùng lãnh thổ trên thế giới.</p>
    <p>Với bề dày hoạt động và đội ngũ cán bộ có năng lực, nhạy bén với môi trường kinh doanh hiện đại, mang tính hội nhập cao... Vietcombank luôn là sự lựa chọn hàng đầu của các tập đoàn, các doanh nghiệp lớn và của đông đảo khách hàng cá nhân.</p>
    <p>Luôn hướng đến các chuẩn mực quốc tế trong hoạt động, Vietcombank liên tục được các tổ chức uy tín trên thế giới bình chọn là “Ngân hàng tốt nhất Việt Nam”. Vietcombank cũng là ngân hàng đầu tiên và duy nhất của Việt Nam có mặt trong Top 500 Ngân hàng hàng đầu Thế giới theo kết quả bình chọn do Tạp chí The Banker công bố.</p>
    <p>Bằng trí tuệ và tâm huyết, các thế hệ cán bộ nhân viên Vietcombank đã, đang và sẽ luôn nỗ lực để xây dựng Vietcombank phát triển ngày một bền vững, với mục tiêu đến năm 2020 đưa Vietcombank trở thành Ngân hàng số 1 tại Việt Nam, 1 trong 300 tập đoàn ngân hàng tài chính lớn nhất thế giới và được quản trị theo các thông lệ quốc tế tốt nhất.</p>
    <p>Xem thêm tại <a href="https://www.vietcombank.com.vn/?utm_source=webgia.com" target="_blank" rel="nofollow" title="Website Vietcombank">https://www.vietcombank.com.vn</a></p>
</section>

</article>
{{>aside-table}}
</div>
</div>
</main>