<link rel="stylesheet" href="../../css/home.css">
<main id="page">
<div class="container">
<div class="row">
<article id="main" class="col-md-9">
<h1 class="h-head">Tỷ giá ngoại tệ VRBank mới nhất ngày hôm nay <small>Cập nhật lúc 18:55:03 04/04/2024</small></h1>
<p>Bảng tỷ giá ngoại tệ ngân hàng VRBank được cập nhật mới nhất vào lúc 18:55:03 04/04/2024</p>
<!-- webgia - responsive n1 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="donvi">Đơn vị: đồng </div><div class="table-ads-160"><div>
<table class="table table-radius table-hover table-exchanges">
<thead><tr><th>Ngoại tệ</th><th>Tên ngoại tệ</th>
<th class="text-right">Mua<span> tiền mặt</span></th><th class="text-right">Mua<span> chuyển khoản</span></th><th class="text-right">Bán<span> tiền mặt</span></th></tr></thead>
<tbody>
<tr>
<td><a href="https://webgia.com/ngoai-te/usd/" class="currency-icon" title="Tỷ giá USD"><span class="cur-icon ci-usd"></span><span>USD</span></a></td>
<td>Đô Mỹ</td>
<td class="text-right">24.720</td><td class="text-right">24.730</td><td class="text-right">25.140</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/eur/" class="currency-icon" title="Tỷ giá EUR"><span class="cur-icon ci-eur"></span><span>EUR</span></a></td>
<td>Euro</td>
<td class="text-right">26.583</td><td class="text-right">26.655</td><td class="text-right">27.821</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/aud/" class="currency-icon" title="Tỷ giá AUD"><span class="cur-icon ci-aud"></span><span>AUD</span></a></td>
<td>Đô Úc</td>
<td class="text-right">16.069</td><td class="text-right">16.166</td><td class="text-right">16.677</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/cad/" class="currency-icon" title="Tỷ giá CAD"><span class="cur-icon ci-cad"></span><span>CAD</span></a></td>
<td>Đô Canada</td>
<td class="text-right">18.086</td><td class="text-right">18.196</td><td class="text-right">18.766</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/chf/" class="currency-icon" title="Tỷ giá CHF"><span class="cur-icon ci-chf"></span><span>CHF</span></a></td>
<td>Franc Thụy Sĩ</td>
<td class="text-right"><span class="expwb"></span><span class="rbvoa"></span>.0<span class="rbvoa"></span><span class="khpom"></span></td><td class="text-right"><span class="expwb"></span><span class="rbvoa"></span>.<span class="expwb"></span>35</td><td class="text-right"><span class="expwb"></span>8.<span class="khpom"></span>00</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/dkk/" class="currency-icon" title="Tỷ giá DKK"><span class="cur-icon ci-dkk"></span><span>DKK</span></a></td>
<td>Krone Đan Mạch</td>
<td class="text-right">-</td><td class="text-right">3.5<span class="rbvoa"></span>3</td><td class="text-right">3.<span class="msloi"></span>90</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/gbp/" class="currency-icon" title="Tỷ giá GBP"><span class="cur-icon ci-gbp"></span><span>GBP</span></a></td>
<td>Bảng Anh</td>
<td class="text-right">30.9<span class="khpom"></span><span class="khpom"></span></td><td class="text-right">3<span class="khpom"></span>.09<span class="rbvoa"></span></td><td class="text-right">3<span class="expwb"></span>.<span class="expwb"></span><span class="expwb"></span>5</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/hkd/" class="currency-icon" title="Tỷ giá HKD"><span class="cur-icon ci-hkd"></span><span>HKD</span></a></td>
<td>Đô Hồng Kông</td>
<td class="text-right">3.<span class="khpom"></span><span class="expwb"></span><span class="snoif"></span></td><td class="text-right">3.<span class="khpom"></span><span class="snoif"></span><span class="msloi"></span></td><td class="text-right">3.<span class="expwb"></span>3<span class="rbvoa"></span></td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/jpy/" class="currency-icon" title="Tỷ giá JPY"><span class="cur-icon ci-jpy"></span><span>JPY</span></a></td>
<td>Yên Nhật</td>
<td class="text-right">160,45</td><td class="text-right">161,45</td><td class="text-right">168,99</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/lak/" class="currency-icon" title="Tỷ giá LAK"><span class="cur-icon ci-lak"></span><span>LAK</span></a></td>
<td>Kip Lào</td>
<td class="text-right">-</td><td class="text-right">0,91</td><td class="text-right">1,25</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/nok/" class="currency-icon" title="Tỷ giá NOK"><span class="cur-icon ci-nok"></span><span>NOK</span></a></td>
<td>Krone Na Uy</td>
<td class="text-right">-</td><td class="text-right">2.295</td><td class="text-right">2.372</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/rub/" class="currency-icon" title="Tỷ giá RUB"><span class="cur-icon ci-rub"></span><span>RUB</span></a></td>
<td>Rúp Nga</td>
<td class="text-right">221,88</td><td class="text-right">259,51</td><td class="text-right">281,25</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sek/" class="currency-icon" title="Tỷ giá SEK"><span class="cur-icon ci-sek"></span><span>SEK</span></a></td>
<td>Krona Thụy Điển</td>
<td class="text-right">-</td><td class="text-right">2.311</td><td class="text-right">2.388</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/sgd/" class="currency-icon" title="Tỷ giá SGD"><span class="cur-icon ci-sgd"></span><span>SGD</span></a></td>
<td>Đô Singapore</td>
<td class="text-right">18.138</td><td class="text-right">18.248</td><td class="text-right">18.788</td></tr>
<tr>
<td><a href="https://webgia.com/ngoai-te/thb/" class="currency-icon" title="Tỷ giá THB"><span class="cur-icon ci-thb"></span><span>THB</span></a></td>
<td>Baht Thái Lan</td>
<td class="text-right">-</td><td class="text-right">659,14</td><td class="text-right">704,14</td></tr>
<tr><td colspan="5" style="text-align:right; color:#757575;"><i>Cập nhật lúc 18:55:03 04/04/2024<br><a href="https://webgia.com/ty-gia/vrbank/" title="Tỷ giá VRB - Liên doanh Việt - Nga">https://webgia.com/ty-gia/vrbank/</a></i></td></tr>
</tbody>
</table>
</div></div>
<div class="source">Nguồn: Ngân hàng Liên doanh Việt Nga / VRB / VRBank</div>
<!-- webgia - responsive n3 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2859260740125600" data-ad-slot="3760002134" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"AggregateRating","ratingValue":"4.5","ratingCount":853,"itemReviewed":{"@type":"CreativeWorkSeries","name":"T\u1ef7 gi\u00e1 VRB Ng\u00e2n h\u00e0ng Li\u00ean doanh Vi\u1ec7t Nga VRBank - Web gi\u00e1"}}</script>
<div class="kk-star-wrap">
<div class="kk-star-ratings top-right lft" data-id="9a0afcd1845c653c537ec8e0cb53d651">
<div class="kksr-stars kksr-star gray">
<div class="kksr-fuel kksr-star orange" style="width:90%;"></div>
<!-- kksr-fuel --><a href="#1" title="Vote 1"></a><a href="#2" title="Vote 2"></a><a href="#3" title="Vote 3"></a><a href="#4" title="Vote 4"></a><a href="#5" title="Vote 5"></a>
</div>
<!-- kksr-stars -->
<div class="kksr-legend"><div><div class="kksr-title">Tỷ giá VRB Ngân hàng Liên doanh Việt Nga VRBank - Web giá</div>4.5 trên 853 đánh giá</div></div>
<!-- kksr-legend -->
</div>
</div>
<!-- kk-star-ratings -->
<section class="mtn">
    <h2>Giới thiệu về Ngân hàng Liên doanh Việt Nga</h2>
    <h3>Thông tin cơ bản</h3>
    <p><strong>Tên giao dịch quốc tế:</strong> Vietnam Russia Joint Venture Bank</p>
    <p><strong>Tên viết tắt:</strong> VRB / VRBank</p>
    <p><strong>Năm thành lập tại Việt Nam: </strong> 2006</p>
    <p><strong>Trụ sở chính:</strong> Tòa nhà số 75 Trần Hưng Đạo, phường Trần Hưng Đạo, quận Hoàn Kiếm, Hà Nội, Việt Nam</p>
    <p><strong>Số điện thoại:</strong>  (+84 24) 3942 6668</p>
    <p><strong>Số Fax:</strong> (+84 24) 3942 6669</p>
    <p><strong>Hotline:</strong> 1800 6656</p>
    <p><strong>Website:</strong> vrbank.com.vn</p>
    <p><strong>Email:</strong> contact_vrb@vrbank.com.vn</p>
    <p><strong>Swift Code:</strong> VRBAVNVX</p>

    <h3>Giới thiệu</h3>
    <p>Ngày 19/11/2006, Ngân hàng Liên doanh Việt Nga (VRB) chính thức tổ chức lễ khai trương và đi vào hoạt động. VRB ra đời là kết quả của sự hợp tác về mặt kinh tế giữa Chính Phủ và Ngân hàng Trung ương của hai nước, mở ra cơ hội hợp tác giữa hai nền kinh tế, hai hệ thống tài chính. VRB đã vinh dự được đón Chủ tịch nước Nguyễn Minh Triết và Tổng thống Liên bang Nga Vladimir V. Putin đến thăm nhân  ngày khai trương.</p>
    <p> VRB là liên doanh giữa hai Ngân hàng hàng đầu của hai nước là Ngân hàng Đầu tư và Phát triển Việt Nam (BIDV) và Ngân hàng VTB (trước là Ngân hàng Ngoại thương Nga Vneshtorgbank) với mức góp vốn điều lệ ngang nhau.</p>
    <h3>1. Mục tiêu hoạt động:</h3>
    <p>Là ngân hàng thương mại kinh doanh đa năng theo mô hình ngân hàng hiện đại với nguyên tắc phát triển bền vững, an toàn, hiệu quả và hội nhập. Đáp ứng đầy đủ các chỉ số an toàn trong hoạt động ngân hàng theo thông lệ quốc tế.</p>
    <p>Là ngân hàng hàng đầu trong việc cung cấp dịch vụ tài chính ngân hàng, tài trợ vốn và thanh toán cho các hoạt động trao đổi thương mại và đầu tư giữa hai nước Việt Nam – Liên Bang Nga.</p>
    <h3>2. Cam kết của VRB hướng tới khách hàng:</h3>
    <p>Đem lại sự tiện lợi để khách hàng tiếp cận với nguồn vốn, sản phẩm, dịch vụ của Ngân hàng; luôn hướng tới mục tiêu gia tăng giá trị, hiệu quả kinh doanh cho khách hàng và ngân hàng.</p>
    <p>Đảm bảo: “Kết nối thành công, đồng hành phát triển”.</p>
    <h3>3. Lĩnh vực hoạt động chính:</h3>
    <h4>a/ Đầu tư: </h4>
    <p>Tư vấn và cung cấp thông tin về cơ hội đầu tư.</p>
    <p>Thu xếp vốn đầu tư và trực tiếp cho vay hoặc đồng tài trợ cho các dự án.</p>
    <p>Cung cấp dịch vụ bảo lãnh thanh toán, bảo lãnh dự thầu và bảo lãnh thực hiện hợp đồng, tư vấn về thực hiện dự án.</p>
    <p>Đầu tư trực tiếp qua hình thức góp vốn mua cổ phần các doanh nghiệp hai nước hoặc đầu tư gián tiếp thông qua các hoạt động trên thị trường liên ngân hàng hoặc thị trường tài chính.</p>
    <h4>b/ Xúc tiến thương mại: </h4>
    <p>Tiến hành các hoạt động xúc tiến thương mại.</p>
    <p>Hỗ trợ chia sẻ thông tin về thị trường, khách hàng.</p>
    <p>Phối hợp thẩm định về đối tác và dự án đầu tư tại Việt Nam hoặc Liên bang Nga nhằm phát triển hoạt động giao thương giữa hai nước</p>
    <h3>4. Sản phẩm – Dịch vụ:</h3>
    <ul>
        <li>Sản phẩm tiền gửi dành cho cá nhân và doanh nghiệp</li>
        <li>Dịch vụ tài khoản dành cho cá nhân và doanh nghiệp</li>
        <li>Sản phẩm Thẻ dành cho cá nhân và doanh nghiệp</li>
        <li>Tín dụng cá nhân và doanh nghiệp</li>
        <li>Chuyển tiền trong nước và quốc tế: VRB thực hiện nghiệp vụ chuyển tiền trực tiếp giữa Việt Nam và LB Nga bằng 4 loại tiền: VND, RUB, EURO, USD. </li>
        <li>Dịch vụ Ngân hàng điện tử: Internet Banking, Mobile Banking, SMS Banking.   </li>
        <li>Nghiệp vụ bảo lãnh</li>
        <li>Tài trợ thương mại</li>
        <li>Kinh doanh ngoại tệ</li>
        <li>Các sản phẩm dịch vụ khác.</li>
    </ul>
    <p>Xem thêm tại <a href="https://vrbank.com.vn/" target="_blank" rel="nofollow" title="Website VRBank">https://vrbank.com.vn/</a></p>
</section>













</article>
{{>aside-table}}
</div>
</div>
</main>